<div class="rs-new-version">
  <div mat-dialog-title class="rs-new-version__title d-flex align-items-center">
    <mat-icon mat-dialog-close>close</mat-icon>
    <span>
      {{data.isDuplicate ? ('shared.duplicate-version' | translate) : ('shared.create-new-version' | translate)}}
    </span>
  </div>
  <form mat-dialog-content class="rs-new-version__content d-flex flex-column" (submit)="onSubmit()">
    <div class="rs-new-version__content__fields d-flex flex-column" [formGroup]="formGroup">
      <mat-form-field class="col-md-6" appearance="outline">
        <mat-label>{{'shared.version-name' | translate}}</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
        <mat-error *ngIf="formGroup.get('name').hasError('exists')">{{'forms.exists' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-12" appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <textarea matInput rows="4" formControlName="description"></textarea>
        <mat-error *ngIf="formGroup.get('description').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-new-version__content__actions d-flex flex-row">
      <button mat-raised-button type="submit">{{'shared.OK' | translate}}</button>
      <button mat-raised-button mat-dialog-close type="button">{{'shared.CANCEL' | translate}}</button>
    </div>
  </form>
</div>
