@import "../../../../../../shared/css/colors.scss";
@import "../../../../../../shared/css/mixins.scss";
@import "../../../../../../shared/css/breakpoints.scss";

.rs-new-version {
  &__title {
    @include font($white, 28px, bold);
    height: 70px;
    background-color: $text;

    mat-icon {
      @include size(28px, 28px);
      cursor: pointer;
      margin: 0 20px;
      font-size: 28px;
    }
  }

  &__content {
    padding: 50px;
    margin: 0;
    overflow: initial;

    &__fields {
      ::ng-deep {
        mat-form-field {
          padding-left: 0 !important;
          padding-right: 0 !important;

          &.mat-form-field-invalid {
            textarea, input {
              & + .mat-form-field-label-wrapper > .mat-form-field-label  {
                @include font($red, 18px);
              }
            }
          }

          textarea, input {
            @include font($light-black, 18px);

            & + .mat-form-field-label-wrapper > .mat-form-field-label  {
              @include font($placeholder, 18px);
            }
          }

          input {
            position: relative;
            top: -6px;
          }

          mat-error {
            margin-top: 20px;
          }

          &:first-child {
            .mat-form-field-flex {
              height: 50px;
              align-items: center;
              margin-top: 0;
            }
          }

          &:last-child {
            margin-top: 40px;
  
            .mat-form-field-flex {
              height: 150px;
            }
  
            textarea {
              resize: none;
            }
          }
        }
      }
    }

    &__actions {
      ::ng-deep {
        button {
          @include size(100px, 50px);
          margin: 40px 0;

          &:nth-child(1) {
            @include font($white, 16px, bold);
            background-color: $blue;
            border-radius: 8px;
          }

          &:nth-child(2) {
            @include font($blue, 16px, bold);
            margin-left: 10px;
            border: none;
            box-shadow: none;
          }
        }
      }
    }
  }
}