@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";


button {
  &.small{
    flex:0!important;
  }
}

.component-wrapper{
  // padding: 10px 0px 10px 0;
  width: 100%;
}