<app-popup [caption]="dialogData.caption">
  <div id="content">
    <div class="rs-take-photo">
      <video #video autoplay></video>
      <canvas #canvas></canvas>
      <div class="rs-take-photo__actions d-flex">
        <button mat-raised-button color="primary" (click)="takePhoto()">{{(isTaken ? 'take-photo.again' : 'add-staff.take-photo') | translate}}</button>
        <button mat-raised-button color="primary" (click)="use()" *ngIf="isTaken">{{'take-photo.use' | translate}}</button>
      </div>
    </div>
  </div>
</app-popup>