.rs-take-photo {
  video {
    width: 100%;
  }
  canvas {
    width: 100%;
  }
  &__actions {
    margin: 20px 0;
    justify-content: space-evenly;

    button {
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }
  }
}