<div class="picture-component" [formGroup]="childForm">
    <div class="row">
        <div class="col-4">
            <h2><b>{{ 'editors.picture' | translate }}</b></h2>
        </div>
        <div class="col-8">
            <div class="row d-flex justify-content-center">
                <div *ngFor="let picture of picturesPreview; let i = index;" class="col-4">
                    <mat-icon (click)="picturesPreview.splice(i,1)" color="primary">close</mat-icon>
                    <img [src]="picture"/>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button mat-button color="primary" (click)="picturesInput.click()">
                    {{'editors.new-picture' | translate}}
                    <input multiple #picturesInput type="file" accept="image/*" (change)="onSelectPicture(picturesInput)" style="display:none;" />
                </button>
            </div>
        </div>
    </div>
</div>