<div class="rs-support-request-payment">
  <div class="rs-support-request-payment__tabs">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="{{'support-requests.payment.transactions-tab' | translate}}">
        <ng-template matTabContent>
          <app-transactions></app-transactions>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{'support-requests.payment.batches-tab' | translate}}">
        <ng-template matTabContent>
          <app-batches></app-batches>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>