@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-support-request-payment {
  ::ng-deep mat-tab-group {
    mat-tab-header {
      margin-left: 140px;
      width: 500px;

      @media(max-width: $desktop) {
        margin-left: 20px;
      }
    }
    mat-tab-body {
      margin: 37px 140px 30px;

      @media(max-width: 1366px) {
        margin: 37px 50px 30px;
      }

      @media(max-width: $desktop) {
        margin: 37px 20px 30px;
      }
    }
    .mat-tab-labels > div {
      font-size: 20px;

      @media(max-width: $desktop) {
        padding-left: 0px;
      }
    }
  }
}
