$transparent-white: rgba(255, 255, 255, 0.85);
$dark: #333;
$border: #d8d8d8;
$shadow-border: #e9e9e9;
$placeholder: #9b9b9b;
$blue: #00a7ef;
$blue-2: rgba(0, 145, 255, 0.11);
$light-blue: #14adee;
$disabled: #bbbbbb;
$gray: #f1f5f7;
$gray-2: #979797;
$gray3: #9a9a9a;
$light-gray: #999999;
$hover-gray: #e7e8e9;
$menu-border: #e2e2e2;
$red: #fb1d09;
$red-2: #d40000;
$red-3: #e02020;
$shadow: rgba(0, 0, 0, 0.12);
$pink: #ff3877;
$scroll-bar-thumb: rgb(173, 173, 173);
$scroll-bar: #f4f4f4;
$background-darkness: rgba(0,0,0,.6);
$light-black: #454545;
$light-black-2: #485465;
$gray-border: #cdcdcd;
$light-gray-border: #eeeeee;
$label: #353535;
$label-border: #cdcdcd;
$gray-hover: rgba(128, 128, 128, 0.089);
$table-header: #808080;
$status: #eaeaea;
$table-hover: #f3f5f7;
$yellow: #feb439;
$table-row-hover: #f0f5f7;
$mobile-background: #f9f9fa;
$plus: #007aff;
$minus: #ff3b30;
$subtitle: #4a4a4a;
$term: #5d5d5d;
$no-owners: #c1c1c1;
$menu: #545454; 
$customer-support-green-1: #6dd400;
$customer-support-green-2: #92c16f;
$white: #ffffff;
$black: #000000;
$text: #333333;
$orange: #f7b500;
$light-orange: #fec9b8;