@mixin size($width, $height) {
  width: $width !important;
  height: $height !important;
}

@mixin customer-support-table {
  mat-header-cell,
  mat-header-cell:first-of-type,
  mat-cell,
  mat-cell:first-of-type {
    padding: 0;
  }
}

@mixin font($color, $size, $weight: normal) {
  color: $color !important;
  font-size: $size !important;
  font-weight: $weight !important;
}
