@import "../../css/mixins.scss";
@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-user-icon {
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  
  &__active {
    @include size(20px, 20px);
    background-color: $blue;
    position: absolute;
    border-radius: 50%;
    right: 0;
    bottom: 0;
  }
  &__wrapper {
    position: relative;
    height: 100%;
  }
}

@media(max-width: $mobile) {
  .rs-user-icon {
    &__active {
      @include size(10px, 10px);
    }
  }
}
