<div class="rs-user-icon__wrapper">
  <div class="rs-user-icon w-100 d-flex justify-content-center align-items-center">
    <img class="w-100" [src]="imgUrl">
  </div>
  <div class="rs-user-icon__active" *ngIf="active"></div>
</div>