@import "../../../shared/css/breakpoints.scss";

.rs-general-information {
  &__row {
    display: flex;
    margin-bottom: 40px;

    mat-radio-button {
      flex: 1;
    }
    mat-radio-group {
      flex-basis: 100%;
    }
    &_variation {
      mat-form-field {
        flex-basis: 90%;
      }
      mat-form-field + div {
        display: flex;
        justify-content: center;
        flex-basis: 10%;
      }
    }
    &_measure {
      mat-form-field:first-child {
        margin-right: 10px;
      }
      mat-form-field:last-child {
        margin-left: 10px;
      }
    }
    &_small-right {
      mat-form-field:first-child {
        flex-basis: 70%;
        margin-right: 10px;
      }
      mat-form-field:last-child {
        margin-left: 10px;
        flex-basis: 30%;
      }
    }
    &_three {
      mat-form-field {
        flex-basis: 33.3%;
      }
      mat-form-field:first-child {
        margin-right: 10px;
      }
      mat-form-field:last-child {
        margin-left: 10px;
      }
    }
    &_grape {
      mat-form-field:first-child {
        margin-right: 10px;
        flex-basis: 30%;
      }
      mat-form-field:last-child {
        margin-left: 10px;
        flex-basis: 70%;
      }
    }
  }
}

@media(max-width: $tablet) {
  .rs-general-information {
    &__row {
      margin-bottom: 0;
      flex-wrap: wrap;

      &>* {
        flex-basis: 100% !important;
        margin: 0 0 20px 0 !important;
        
        &::last-child {
          margin-bottom: 0 !important;
        }
      }
      &_variation {
        mat-form-field {
          flex-basis: 85% !important;

          & + div {
            margin-top: -10px;
            flex-basis: 15% !important;
          }
        }
      }
    }
  }
}
