<div class="rs-general-information" [formGroup]="generalInformationForm">
  <div class="rs-general-information__row">
    <mat-radio-group formControlName="packaged" color="primary" class="d-flex">
      <mat-radio-button [value]="true">{{'editors.packaged' | translate}}</mat-radio-button>
      <mat-radio-button [value]="false">{{'editors.unpackaged' | translate}}</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="rs-general-information__row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.product-name' | translate}}</mat-label>
      <input formControlName="productName" matInput type="text" placeholder="{{'placeholders.product-name' | translate}}">
    </mat-form-field>
  </div>
  <div class="rs-general-information__row rs-general-information__row_variation align-items-center" *ngFor="let variation of item.productNameVariations;let i = index;">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.product-name-variation' | translate}}</mat-label>
      <input [value]="variation" matInput type="text" placeholder="{{'placeholders.product-name-variation' | translate}}">
    </mat-form-field>
    <div class="d-flex justify-content-center">
      <button mat-icon-button (click)="deleteNameVariation(i)">
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="rs-general-information__row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.product-name-variation' | translate}}</mat-label>
      <input (blur)="reactOnAddNameVariation()" #newNameVariation matInput type="text" placeholder="{{'placeholders.product-name-variation' | translate}}">
    </mat-form-field>
    <div *ngIf="!resolutionService.mobileOnly()"></div>                                                                                   
  </div>
  <div 
    class="rs-general-information__row" 
    *ngIf="isWhisky() || isWine() || isVodka() || isTequila() || isBeer() || isGin() || isSake()"
  >
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.brand' | translate}}</mat-label>
      <input formControlName="brand" matInput type="text" placeholder="{{'placeholders.brand' | translate}}">
    </mat-form-field>
  </div>
  <div 
    class="rs-general-information__row" 
    [class.rs-general-information__row_small-right]="isBerries()"
    *ngIf="isWhisky() || isWine() || isVodka() || isTequila() || isBerries()"
  >
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.producer' | translate}}</mat-label>
      <input formControlName="producer" matInput type="text" placeholder="{{'placeholders.producer' | translate}}">
    </mat-form-field>
    <mat-form-field *ngIf="isBerries()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.sold-by' | translate}}</mat-label>
      <mat-select formControlName="soldBy">
        <mat-option *ngFor="let item of soldBy" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div 
    class="rs-general-information__row" 
    *ngIf="isBeer() || isGin() || isSake()"
  >
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.manufacturer' | translate}}</mat-label>
      <input formControlName="manufacturer" matInput type="text" placeholder="{{'placeholders.manufacturer' | translate}}">
    </mat-form-field>
  </div>
  <div class="rs-general-information__row rs-general-information__row_small-right" *ngIf="!isBerries()">
    <mat-form-field *ngIf="isBeer()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.beer-type' | translate}}</mat-label>
      <mat-select formControlName="beerType">
        <mat-option *ngFor="let type of beerTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isGin()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.gin-type' | translate}}</mat-label>
      <mat-select formControlName="ginType">
        <mat-option *ngFor="let type of ginTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isSake()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.sake-type' | translate}}</mat-label>
      <mat-select formControlName="sakeType">
        <mat-option *ngFor="let type of sakeTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isTequila()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.tequila-type' | translate}}</mat-label>
      <mat-select formControlName="tequilaType">
        <mat-option *ngFor="let type of tequilaTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isVodka()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.vodka-type' | translate}}</mat-label>
      <mat-select formControlName="vodkaType">
        <mat-option *ngFor="let type of vodkaTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isWhisky()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.whisky-subtype' | translate}}</mat-label>
      <mat-select formControlName="whiskyType">
        <mat-option *ngFor="let type of whiskyTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isWine()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.wine-type' | translate}}</mat-label>
      <mat-select formControlName="wineType">
        <mat-option *ngFor="let type of wineTypes" [value]="type">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.alcohol' | translate}}</mat-label>
      <input formControlName="alcohol" matInput type="text" placeholder="{{'placeholders.alcohol' | translate}}">
    </mat-form-field>
  </div>
  <div class="rs-general-information__row rs-general-information__row_measure" *ngIf="isWhisky() || isWine()">
    <mat-form-field *ngIf="isWhisky()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.whisky-subtype' | translate}}</mat-label>
      <mat-select formControlName="whiskySubtype">
        <mat-option *ngFor="let subtype of whiskySubtypes" [value]="subtype">{{subtype}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="isWine()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.wine-subtype' | translate}}</mat-label>
      <mat-select formControlName="wineSubtype">
        <mat-option *ngFor="let subtype of wineSubtypes" [value]="subtype">{{subtype}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.flavor-profile' | translate}}</mat-label>
      <mat-select formControlName="flavorProfile">
        <mat-option *ngFor="let profile of flavorProfiles" [value]="profile">{{profile}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngFor="let grape of generalInformationForm.controls.grapes?.value">
    <div class="rs-general-information__row rs-general-information__row_grape" *ngIf="isWine()">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{'placeholders.grape' | translate}}</mat-label>
        <input [value]="grape.grape" matInput type="text" placeholder="{{'placeholders.grape' | translate}}">
      </mat-form-field>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{'placeholders.grape-variety' | translate}}</mat-label>
        <mat-select [value]="grape.grapeVariety">
          <mat-option *ngFor="let variety of grapeVarieties" [value]="variety">{{variety}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-general-information__row rs-general-information__row_three" *ngIf="isWine()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.acidity-scale' | translate}}</mat-label>
      <mat-select formControlName="acidityScale">
        <mat-option *ngFor="let scale of acidityScales" [value]="scale">{{scale}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.body-scale' | translate}}</mat-label>
      <mat-select formControlName="bodyScale">
        <mat-option *ngFor="let scale of bodyScales" [value]="scale">{{scale}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.tannin-scale' | translate}}</mat-label>
      <mat-select formControlName="tanninScale">
        <mat-option *ngFor="let scale of tanninScales" [value]="scale">{{scale}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="rs-general-information__row rs-general-information__row_measure" *ngIf="isBeer()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.beer-subtype' | translate}}</mat-label>
      <mat-select formControlName="beerSubtype">
        <mat-option *ngFor="let subtype of beerSubtypes" [value]="subtype">{{subtype}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.stout-subtype' | translate}}</mat-label>
      <mat-select formControlName="stoutSubtype">
        <mat-option *ngFor="let subtype of stoutSubtypes" [value]="subtype">{{subtype}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="rs-general-information__row rs-general-information__row_small-right" *ngIf="!isBerries()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.country-region' | translate}}</mat-label>
      <input formControlName="countryOrRegion" matInput type="text" placeholder="{{'placeholders.country-region' | translate}}">
    </mat-form-field>
    <mat-form-field *ngIf="!isWine()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.aged' | translate}}</mat-label>
      <input formControlName="aged" matInput type="text" placeholder="{{'placeholders.aged' | translate}}">
    </mat-form-field>
    <mat-form-field *ngIf="isWine()" class="w-100" appearance="outline">
      <mat-label>{{'placeholders.vintage' | translate}}</mat-label>
      <input formControlName="vintage" matInput type="text" placeholder="{{'placeholders.vintage' | translate}}">
    </mat-form-field>
  </div>
  <div *ngIf="!isBerries()" class="rs-general-information__row rs-general-information__row_measure">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.quantity-per-unit' | translate}}</mat-label>
      <input appNumericControl formControlName="quantityPerUnit" matInput type="text" placeholder="{{'placeholders.quantity-per-unit' | translate}}">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.measure' | translate}}</mat-label>
      <mat-select formControlName="measure">
        <mat-option *ngFor="let measure of measures" [value]="measure">{{measure}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!isBerries()" class="rs-general-information__row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.barcode-number' | translate}}</mat-label>
      <input appNumericControl formControlName="barCodeNumber" matInput type="text" placeholder="{{'placeholders.barcode-number' | translate}}">
    </mat-form-field>
  </div>
</div>