<div class="rs-verification-history">
  <div class="rs-verification-history__header">
    <div class="rs-app__merchant-profile-title d-flex justify-content-between align-items-end">
      {{(isProvisioning ? 'provisioning.provisioning-history' : 'verifications.verification-history') | translate}}
      <div class="rs-verification-history__filter">
        <app-square-button (click)="openFilters()" icon="filter_alt" color="primary"></app-square-button>
      </div>
    </div>
  </div>
  <div class="rs-verification-history__content">
    <mat-table *ngIf="tableVisibility()" [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="date">
        <mat-header-cell class="rs-verification-history__date" *matHeaderCellDef><div class="rs-app__table-header">{{'merchants.date-and-time' | translate}}</div></mat-header-cell>
        <mat-cell class="rs-verification-history__date" *matCellDef="let verificationHistory">
          <div class="rs-app__table-bold">{{verificationHistory.date}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="company">
        <mat-header-cell class="rs-verification-history__company" *matHeaderCellDef><div class="rs-app__table-header">{{'placeholders.company' | translate}}</div></mat-header-cell>
        <mat-cell class="rs-verification-history__company" *matCellDef="let verificationHistory">{{verificationHistory.company}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell class="rs-verification-history__type" *matHeaderCellDef><div class="rs-app__table-header">{{'placeholders.type' | translate}}</div></mat-header-cell>
        <mat-cell class="rs-verification-history__type" *matCellDef="let verificationHistory">{{verificationHistory.type}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="reason">
        <mat-header-cell class="rs-verification-history__reason" *matHeaderCellDef><div class="rs-app__table-header">{{'placeholders.reason' | translate}}</div></mat-header-cell>
        <mat-cell class="rs-verification-history__reason" *matCellDef="let verificationHistory">{{verificationHistory.reason}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell class="rs-verification-history__status" *matHeaderCellDef><div class="rs-app__table-header">{{'placeholders.status' | translate}}</div></mat-header-cell>
        <mat-cell class="rs-verification-history__status" *matCellDef="let verificationHistory">{{verificationHistory.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell class="rs-verification-history__actions" *matHeaderCellDef><div class="rs-app__table-header"></div></mat-header-cell>
        <mat-cell class="rs-verification-history__actions d-flex justify-content-end" *matCellDef="let verificationHistory">
          <div class="rs-verification-history__details">
            <app-square-button appOpenHistoryResult [isProvisioning]="isProvisioning" color="primary" icon="launch"></app-square-button>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="rs-verification-history__mobile" *ngIf="mobileItemsVisibility()">
      <div class="rs-verification-history__mobile-item" *ngFor="let historyItem of historyItems">
        <app-history-mobile-item [historyItem]="historyItem" [isProvisioning]="isProvisioning"></app-history-mobile-item>
      </div>
    </div>
  </div>
</div>
