@import "../../../../css/breakpoints.scss";

.rs-verification-history {
  mat-row {
    height: 60px;
  }
  mat-cell {
    font-size: 18px;
    color: black;
  }
  &__details, &__filter {
    height: 40px;
    width: 40px;
  }
  &__date {
    flex-basis: 30%;
  }
  &__company {
    flex-basis: 10%;
  }
  &__type {
    flex-basis: 18%;
  }
  &__reason {
    flex-basis: 18%;    
  }
  &__status {
    flex-basis: 10%;
    
  }
  &__actions {
    flex-basis: 14%;
  }
  &__mobile {
    padding: 0 10px 30px 10px;
    
    &-item {
      margin-top: 10px;
    }
  }
}

@media(max-width: $laptop) {
  .rs-verification-history {
    mat-cell {
      font-size: 13px;
    }
  }
}

@media(max-width: $tablet) {
  .rs-verification-history {
    mat-cell {
      font-size: 12px;
    }
    ::ng-deep {
      .rs-app__table-header {
        font-size: 12px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-verification-history {
    &__details, &__filter {
      height: 25px;
      width: 25px;
      margin-right: 20px;
    }
  }
}
