@import "../../../../shared/css/breakpoints.scss";

.rs-merchant-mobile-item {
  &__content {
    font-size: 17px;

    &-right {
      height: 40px;
      width: 40px;
    }
    &-row {
      margin-top: 5px;
    }
    &-key {
      font-weight: 400;
    }
    &-value {
      margin-left: 5px;
      font-weight: 300;
    }
  }
  &::ng-deep .mat-card-header-text {
    width: 100%;
  }
  &__title {
    text-align: center;
  }
}

@media(max-width: $mobile) {
  .rs-merchant-mobile-item {
    &__content {
      font-size: 14px;
    }
    &__title {
      text-align: center;
      font-size: 17px;
    }
  }
}
