<div class="rs-merchant-mobile-item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="rs-merchant-mobile-item__title">{{item.name}}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rs-merchant-mobile-item__content d-flex align-items-center justify-content-between">
        <div class="rs-merchant-mobile-item__content-left">
          <div class="rs-merchant-mobile-item__content-row d-flex">
            <div class="rs-merchant-mobile-item__content-key">{{'merchants.merchant-id' | translate}}: </div>
            <div class="rs-merchant-mobile-item__content-value"> {{item.id}}</div>
          </div>
          <div class="rs-merchant-mobile-item__content-row d-flex">
            <div class="rs-merchant-mobile-item__content-key">{{'merchants.location' | translate}}: </div>
            <div class="rs-merchant-mobile-item__content-value"> {{item.location}}</div>
          </div>
          <div class="rs-merchant-mobile-item__content-row d-flex">
            <div class="rs-merchant-mobile-item__content-key">{{'merchants.merchant-status' | translate}}: </div>
            <div class="rs-merchant-mobile-item__content-value"> {{item.status}}</div>
          </div>
          <div class="rs-merchant-mobile-item__content-row d-flex">
            <div class="rs-merchant-mobile-item__content-key">{{'merchants.rockspoon-plan' | translate}}: </div>
            <div class="rs-merchant-mobile-item__content-value"> {{item.plan}}</div>
          </div>
        </div>
        <div class="rs-merchant-mobile-item__content-right">
          <app-square-button
            (click)="openPreview($event)"
            icon="visibility"
            color="primary"
          ></app-square-button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>