@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-compare-tenants-categories {
  margin: 50px 130px;

  app-icon-button {
    ::ng-deep & {
      .rs-filters {
        @include size(220px, 50px);
  
        button {
          background-color: $blue;
          @include font($white, 16px, bold);

          mat-icon {
            font-size: 23px !important;
            font-weight: bold;
          }
        }
      }
    }
  }

  &__content {
    margin-top: 30px;

    table {
      thead {
        th {
          flex: 1;
          word-break: break-word;

          &:nth-child(3) {
            flex: 2;
          }

          &.tenant-category {
            background-color: $gray;
            opacity: 1;
          }
        }
      }

      tbody {
        tr {
          border: none;

          th,
          td {
            flex: 1;
          }

          th {
            display: flex;
            align-items: center;

            @media(max-width: $tablet) {
              word-break: break-all;
            }
          }

          td {
            &:nth-child(3) {
              flex: 2;
            }

            ::ng-deep mat-form-field {
              width: 80%;
              background-color: $white;

              .mat-form-field-flex {
                height: 50px !important;

                .mat-form-field-infix {
                  width: 0 !important;
                  border-top: 0;

                  .mat-select-value-text {
                    @include font($text, 14px, bold);
                  }

                  .mat-select-arrow {
                    @include size(20px, 20px);
                    margin: 0 !important;
                    margin-top: 8px !important;
                  }
                }
              }

              @media(max-width: 1024px) {
                width: 100%;
              }
            }

            &.tenant-category {
              background-color: $gray;
              opacity: 1;
            }
          }
        }
      }

      table.catalog-write {
        tr {
          border-top: solid 1px $border;
          border-bottom: solid 1px $border;

          th {
            padding-left: 30px;
            padding-right: 0;
          }

          td {
            word-break: break-all;

            &.tenant-category {
              background-color: $gray;
              opacity: .7;
              padding-left: 14px;
            }

            &.catalog-write {
              &_api {
                flex: 2;

                .api-status {
                  @include size(10px, 10px);
                  border-radius: 50%;
                  margin-right: 10px;
                  background-color: $customer-support-green-2;
                }
              }
            }

            @media(max-width: $tablet) {
              display: flex;
              align-items: center;
            }
          }

          &:nth-child(2) {
            background-color: $white;
          }
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 50px 60px;
  }

  @media(max-width: $tablet) {
    margin: 50px 30px;
  }
}
