<div class="rs-compare-tenants-categories">
  <app-section-header [title]="'orchestrator-b2b.tenants-categories.compare-tenants-categories'">
    <app-icon-button [icon]="'add'" [caption]="('orchestrator-b2b.tenants-categories.add-tenant-category' | translate)"></app-icon-button>
  </app-section-header>
  <div class="rs-compare-tenants-categories__content">
    <table class="table">
      <thead>
        <tr class="d-flex">
          <th scope="col" *ngFor="let column of columns">{{column.header | translate}}</th>
          <th class="tenant-category" scope="col" *ngFor="let comparableTenantsCategory of comparableTenantsCategories">{{comparableTenantsCategory.name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex" *ngFor="let column of columns; let columnIndex = index">
          <th scope="row">{{column.title | translate}}</th>
          <td></td>
          <td></td>
          <ng-container *ngFor="let comparableTenantsCategory of comparableTenantsCategories">
            <td class="tenant-category">
              <mat-form-field appearance="outline">
                <mat-select [value]="getComparableTenantsCategoryData(comparableTenantsCategory, columnIndex)">
                  <mat-option [value]="getComparableTenantsCategoryData(comparableTenantsCategory, columnIndex)">{{getComparableTenantsCategoryData(comparableTenantsCategory, columnIndex)}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>
        </tr>
        <tr>
          <table class="table catalog-write">
            <tbody>
              <tr class="d-flex" *ngFor="let item of catalogWrite; let columnIndex = index">
                <th class="catalog-write_permission" scope="row">{{item.permissionResource}}</th>
                <td class="catalog-write_method">{{item.method}}</td>
                <td class="catalog-write_api d-flex justify-content-start align-items-center">
                  <div class="api-status"></div>
                  <span>{{item.api}}</span>
                </td>
                <ng-container *ngFor="let comparableTenantsCategory of comparableTenantsCategories">
                  <td class="tenant-category">{{getTenantsCategoryCatalogWriteData(comparableTenantsCategory, columnIndex)}}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </tr>
      </tbody>
    </table>
  </div>
</div>
