<div 
  class="rs-label d-flex align-items-center"
  (click)="toggleLabel()"
  [ngClass]="{
    'rs-label_active': active,
    'rs-label_big': isBig,
    'rs-label_deletable': isDeletable
  }"
>
  <div class="rs-label__delete" *ngIf="isDeletable">
    <button (click)="deleteLabel($event)" color="accent" mat-mini-fab>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="rs-label__title">{{caption}}</div>
  <div class="rs-label__icon" *ngIf="icon">
    <mat-icon>{{icon}}</mat-icon>
  </div>
</div>