@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-label {
  padding: 10px 20px;
  border-radius: 20px;
  border: solid 1px $label-border;
  font-size: 16px;
  color: $label;
  text-align: center;
  transition: .2s;
  cursor: pointer;
  position: relative;

  &__title {
    font-size: 16px;
    color: $label;
  }
  &_active {
    background-color: $blue;

    .rs-label__title {
      color: white;
    }
    button {
      background-color: white !important;

      mat-icon {
        color: $blue;
      }
    }
    .rs-label__icon {
      mat-icon {
        color: white;
      }
    }
  }
  &_big {
    height: 80px;
    width: fit-content;
    border-radius: 40px;
    padding: 26px 45px;
    .rs-label__title {
      font-size: 24px;
    }
  }
  &:active {
    box-shadow: inset 0 0 5px black;
  }
  &__delete {
    margin-right: 15px;

    button {
      background-color: $light-gray;
      height: 32px;
      width: 32px;
      line-height: inherit !important;

      &::ng-deep .mat-button-wrapper {
        padding: 0;
      }
    }
  }
  &_deletable {
    padding: 10px 20px 10px 15px !important;
  }
  &__icon {
    position: absolute;
    top: 18px;
    left: 11px;
  }
}

@media(max-width: $mobile) {
  .rs-label {
    &_big {
      height: 40px;
      padding: 0 7px;

      .rs-label__title {
        font-size: 17px;
        line-height: 40px;
      }
    }
    &__delete {
      margin-right: 7px;
  
      button {
        height: 25px;
        width: 25px;

        mat-icon {
          font-size: 21px;
          line-height: 24px;
        }
      }
    }
    &_deletable {
      padding: 10px 20px 10px 10px !important;
    }
  }
}
