<div class="rs-search" [class.rs-search_big]="isBig">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>{{placeholder | translate}}</mat-label>
    <i class="icon-search rs-search__icon" matPrefix></i>
    <input (paste)="reactOnInput($event)" (input)="reactOnInput(input.value)" matInput type="text" placeholder="{{'shared.search' | translate}}" #input>
  </mat-form-field>
</div>
