@import "../../css/breakpoints.scss";

.rs-search {
  &__icon {
    font-size: 24px;
    margin-right: 16px;
  }
  &_big {
    ::ng-deep {
      .mat-form-field-flex {
        height: 80px;
      }
      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.5em) scale(0.72);
      }
    }
  }
  &::ng-deep {
    .mat-form-field-infix {
      line-height: normal;
    }
  }
}

@media(max-width: $mobile) {
  .rs-search {
    &__icon {
      font-size: 18px;
      margin-right: 10px;
    }
    &::ng-deep {
      .mat-form-field-infix {
        line-height: 37px;
      }
    }
  }
}
