<div class="rs-button-filters d-flex">
  <div
    class="rs-button-filters-item"
    *ngFor="let filter of filters"
    (click)="activatedFilter = filter.key"
    appButtonFilter
    [activatedFilter]="activatedFilter"
    [currentFilter]="filter.key"
  >
    <ng-container *ngIf="filter.key !== 'chooseDates' else chooseDatesButton">
      <app-icon-button
        [icon]="filter.icon"
        [caption]="(filter.translationKey | translate)"
        (click)="onButtonClick(filter.key)"
      >
      </app-icon-button>
    </ng-container>

    <ng-template #chooseDatesButton>
      <form class="rs-dates-range d-flex align-items-center justify-content-center" [formGroup]="formGroup" (click)="picker.open()">
        <mat-form-field>
          <input matInput [satDatepicker]="picker" formControlName="chooseDates" placeholder="Choose Dates">
          <sat-datepicker-toggle matSuffix [for]="picker" (mouseup)="activatedFilter = filter.key"></sat-datepicker-toggle>
          <sat-datepicker disabled="false" #picker [rangeMode]="true" (closed)="handlePickerClosed(filter.key)"></sat-datepicker>
        </mat-form-field>
      </form>
    </ng-template>
  </div> 
</div>
