@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-button-filters {
  &-item {
    position: relative;
    width: 25%;
    margin: 5px 0;
    
    &:nth-child(2) {
      margin-left: 20px;
      margin-right: 10px;
    }

    &:nth-child(3) {
      margin-left: 10px;
      margin-right: 20px;
    }

    &:last-child {
      ::ng-deep {
        .rs-dates-range {
          @include size(100%, 60px);
          @include font($light-black, 20px, bold);
          cursor: pointer;
          position: relative;
          border-radius: 5px;
          border: solid 1px $shadow-border;
          box-shadow: 0 2px 4px 0 rgb(0 0 0 / 12%);
          transition: .2s;

          mat-form-field {
            .mat-form-field-wrapper {
              padding: 0;
            }
            .mat-form-field-flex {
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: center;
  
              .mat-form-field-infix {
                width: 160px;
                text-align: center;
                border-top: 0;
  
                input {
                  text-align: center;
                  @include font($light-black, 20px, bold);
                  cursor: pointer;

                  @media(max-width: $tablet) {
                    width: 160px;
                  }
                }
  
                .mat-form-field-label-wrapper {
                  text-align: center;

                  & > label {
                    @include font($light-black, 20px, bold);
                    top: 28px;
  
                    &:not(.mat-form-field-empty) {
                      display: none;
                    }
                  }
                }

                @media(max-width: $tablet) {
                  width: 160px !important;
                  flex: unset;
                }
              }
              .mat-form-field-suffix {
                .mat-datepicker-toggle {
                  color: $light-black;
                }
                .mat-button-wrapper svg {
                  width: 32px;
                }
              }
            }
            .mat-form-field-underline {
              height: 0;
            }

            @media(max-width: $tablet) {
              width: 100%;
            }
          }
        }
      }
    }

    ::ng-deep app-icon-button .rs-filters {
      button {
        @include font($light-black, 20px, bold);
        height: 60px !important;
        border-radius: 5px;

        mat-icon {
          font-size: 20px;
        }
      }
    }

    &.active {
      ::ng-deep {
        .rs-filters {
          button {
            background-color: $blue;
            color: $white !important;
          }
        }

        .rs-dates-range {
          background-color: $blue;
          
          mat-form-field {
            .mat-form-field-flex {
              .mat-form-field-infix {
                input, .mat-form-field-label-wrapper > label {
                  color: $white !important;
                }
              }

              .mat-form-field-suffix {
                .mat-datepicker-toggle {
                  color: $white !important;
                }
              }
            }
          }
        }
      }
    }

    @media(max-width: $tablet) {
      width: 200px;
    }

    @media(max-width: $mobile) {
      width: 210px;
    }
  }
}
