<div class="rs-ontology-list">
    <div class="rs-ontology-list__header">
      <rs-module-header
        caption="menu.descriptors"
        exportTitle="menu.descriptors"
        filtersEndpoint="ontologies-filter"
        placeholder="placeholders.search-descriptors"
        (search)="filterOntologies($event)"
      ></rs-module-header>
    </div>
    <div class="rs-ontology-list__content rs-app__table">
      <mat-table [dataSource]="dataSource" matSort *ngIf="tableVisibility()">
        <ng-container matColumnDef="name">
          <mat-header-cell class="rs-ontology-list__table-name" *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'editors.descriptor-name' | translate}}</div>
          </mat-header-cell>
          <mat-cell class="rs-ontology-list__table-name" *matCellDef="let ontology">
            <div class="rs-app__table-bold">{{ontology.name}}</div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="id">
          <mat-header-cell class="rs-ontology-list__table-id" *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'editors.descriptor-id' | translate}}</div>
          </mat-header-cell>
          <mat-cell class="rs-ontology-list__table-id" *matCellDef="let ontology">{{ontology.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell class="rs-ontology-list__table-actions" *matHeaderCellDef></mat-header-cell>
          <mat-cell class="rs-ontology-list__table-actions" *matCellDef="let ontology">
            <app-square-button
              icon="visibility"
              color="primary"
            ></app-square-button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row (click)="openOntology(ontology.id, ontology.name)" *matRowDef="let ontology; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="ontologiesTotal" [pageSize]="10"
                       [pageSizeOptions]="[10, 20, 50, 100]" #paginator></mat-paginator>
      <div class="rs-ontology-list__mobile" *ngIf="mobileItemsVisibility()">
        <div class="rs-ontology-list__mobile-item" *ngFor="let ontology of items;let i = index;">
          <app-ontology-mobile-item [ontology]="ontology" (openPreviewEvent)="openOntology(ontology.id, ontology.name)"></app-ontology-mobile-item>
        </div>
      </div>
      <div class="rs-ontology-list__add">
        <app-add-button (click)="openAddOntology()"></app-add-button>
      </div>
    </div>