@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-default-role-permissions {
  &__buttons {
    margin: 30px;

    &__group:nth-child(1) {
      .version-button {
        mat-form-field {
          width: 200px;
          margin-right: 30px;
    
          ::ng-deep & {
            .mat-form-field-flex {
              height: 50px;
              align-items: center;
            }
    
            .mat-form-field-infix {
              border-top: 0;

              .mat-select-trigger {
                @media(max-width: $mobile) {
                  top: 5px;
                }
              }
            }
    
            .mat-select-value {
              line-height: 1;
              
              .mat-select-value-text > span {
                @include font($light-black, 18px, bold);
              }
            }
    
            .mat-select-arrow-wrapper > div {
              height: 18px !important;
              width: 25px !important;
              margin-right: 0px !important;
            }
          }
    
          @media(max-width: $tablet) {
            margin: 20px 0;
          }
  
          @media(max-width: $mobile) {
            margin: 10px;
          }
        }
      }
    }

    &__group:nth-child(2) {
      ::ng-deep {
        app-icon-button {
          border-radius: 4px;
          height: 50px;
          margin: 20px 10px 20px 0;

          mat-icon {
            font-size: 20px;
            font-weight: bold;
          }

          &[aria-label="publish"],
          &[aria-label="duplicate"],
          &[aria-label="new-version"] {
            background-color: $blue;
            
            button {
              border: none;
              @include font($gray, 16px, bold);
            }
          }
    
          &[aria-label="status"] {
            background-color: $white;
            
            button {
              @include font($blue, 16px, bold);
            }
          }

          &:nth-child(4) {
            @media(max-width: $mobile) {
              margin-right: 0;
            }
          }

          &:nth-child(5) {
            mat-icon {
              width: 20px !important;
            }

            @media(max-width: $tablet) {
              margin-right: 0;
            }
            
            @media(max-width: $mobile) {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }

      @media(max-width: $tablet) {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
      }

      @media(max-width: $mobile) {
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    @media(max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start !important;
    }

    @media(max-width: $mobile) {
      margin: 30px 5px;
    }
  }

  &__version-info {
    margin: 40px 30px 20px;

    &__input-data {
      margin: 40px 0;

      mat-form-field {
        padding: 0;

        &:nth-child(1) {
          padding-right: 7px;
        }

        &:nth-child(2) {
          padding-left: 7px;
        }

        ::ng-deep & {
          .mat-form-field-flex {
            height: 65px;
            align-items: center;
          }
  
          .mat-form-field-infix {
            border-top: 0;
            line-height: 1;

            input {
              @include font($light-black, 18px);
            }

            mat-label {
              @include font($placeholder, 18px);
            }

            @media(max-width: $mobile) {
              line-height: normal;
            }
          }
        }

        mat-error {
          margin-top: 20px;
        }
      }

      @media(max-width: $mobile) {
        margin: 30px 0 20px;
      }
    }

    @media(max-width: $mobile) {
      margin: 30px 15px;
    }
  }
  &__tables {
    margin: 0 30px;

    &__item {
      margin-bottom: 50px;

      ::ng-deep {
        mat-cell {
          .rs-radio-buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;

            mat-radio-button {
              .mat-radio-outer-circle {
                border-color: $gray3;
                border-width: 4px;
              }

              .mat-radio-inner-circle {
                background-color: $gray3;
              }

              &.mat-radio-checked {
                .mat-radio-outer-circle {
                  border-color: $blue;
                }
  
                .mat-radio-inner-circle {
                  background-color: $blue;
                }
              }
            }
  
            &.rs-with-empty {
              mat-radio-button {
                &:first-child {
                  visibility: hidden;
                }
  
                &:last-child {
                  position: relative;
                  right: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
} 
