<div class="rs-default-role-permissions">
  <div class="rs-default-role-permissions__buttons d-flex align-items-center justify-content-between">
    <div class="rs-default-role-permissions__buttons__group d-flex justify-content-between">
      <div class="version-button">
          <mat-form-field appearance="outline">
            <mat-select [value]="(selectedVersion$ | async)?.version" (selectionChange)="onVersionChange($event)">
              <mat-option *ngFor="let version of (selectedItem$ | async)?.versions" [value]="version.version">{{version.version}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    <div class="rs-default-role-permissions__buttons__group d-flex">
      <app-icon-button
        *ngIf="isVersionExist"
        aria-label="duplicate"
        [caption]="'shared.DUPLICATE' | translate"
        [icon]="'content_copy'"
        (click)="onVersion(true)"
      >
      </app-icon-button>
      <app-icon-button
        aria-label="new-version"
        [caption]="'shared.NEW-VERSION' | translate"
        (click)="onVersion()"
      >
      </app-icon-button>
      <app-icon-button
        *ngIf="isVersionExist"
        aria-label="status"
        [caption]="(selectedVersion$ | async)?.isDisabled ? 'shared.ENABLE' : 'shared.DISABLE' | translate"
        (click)="onVersionState()"
      >
      </app-icon-button>
    </div>
  </div>
  <div class="rs-default-role-permissions__version-info d-flex flex-column">
    <app-section-header [title]="'shared.version-info'"></app-section-header>
    <div class="rs-default-role-permissions__version-info__input-data row" [formGroup]="formGroup">
      <mat-form-field class="col-4" appearance="outline">
        <mat-label>{{'shared.version-name' | translate}}</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
        <mat-error *ngIf="formGroup.get('name').hasError('exists')">{{'forms.exists' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-8" appearance="outline"> 
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="formGroup.get('description').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <!-- <div class="rs-default-role-permissions__tables">
    <div class="rs-default-role-permissions__tables__item" *ngFor="let tableData of tablesData; let index = index">
      <app-data-list
        [tableName]="'default-roles'"
        [headerTitle]="tableData.title"
        [tableData]="tableData.data"
        [filteredSource]="tableData.data"
        [tableColumns]="columns"
        [isAddButton]="false"
        [isSearch]="false"
      >
      </app-data-list>
    </div>
  </div> -->
</div>
