<div class="rs-tenants">
  <app-data-list headerTitle="menu.tenants"
                 searchPlaceholder="placeholders.search-by-name"
                 [isAddButton]="false"
                 [isPaginator]="false"
                 [isFilters]="true"
                 [isSearch]="false"
                 [isNotHeaderSearch]="true"
                 [tableData]="dataList$ | async"
                 [tableColumns]="displayedColumns"
                 [tableDataService]="tenantsService"
                 [tableDataServiceFilteringMethod]="'filterTenants'"
                 [tableDataFilteringColumnDataKey]="'name'"
                 [filtersEndpoint]="filtersEndpoint"
                 [filteredSource]="dataList$ | async"
                 (select)="onSelect($event)">
  </app-data-list>
</div>
