@import "../../../shared/css/colors.scss";
@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-staff-list {
  padding: 86px 80px;
  background-color: white;
  min-height: calc(100vh - 88px);

  &__header {
    margin-bottom: 70px;

    &-actions {
      height: 56px;

      &-filters {
        height: 100%;
        margin-right: 40px;
      }
      &-search {
        width: 280px;
      }
      ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-flex {
          margin: 0;
          height: 56px;
        }
        input {
          font-size: 22px;
          color: $dark;
        }
        .mat-form-field-label {
          color: #9b9b9b;
          font-size: 22px;
        }
        .mat-form-field-infix {
          border: none;
        }
        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
          transform: translateY(-1em) scale(0.65);
        }
      }
    }
  }
  &__table {     
    &-button {
      @include size(40px, 40px);

      &s {
        width: 90px;
      }
    }
    &-name {
      flex-basis: 25%;
    }
    &-role {
      flex-basis: 15%;
    }
    &-access-rights {
      flex-basis: 45%;
    }
    &-actions {
      flex-basis: 15%;
    }
  }
}

@media(max-width: $laptop) {
  .rs-staff-list {
    &__table {
      mat-table {
        mat-cell {
          font-size: 15px !important;
        }
      }
      &-header {
        font-size: 13px;
      }
      &-role {
        flex-basis: 10%;
      }
      &-actions {
        flex-basis: 20%;
      }
    }
  }
}

@media(max-width: $tablet) {
  .rs-staff-list {
    padding: 20px 10px;

    &__table {
      mat-table {
        mat-cell {
          font-size: 15px !important;
        }
        mat-cell:first-of-type, mat-header-cell:first-of-type {
          padding-left: 10px;
        }
        mat-cell:last-of-type, mat-header-cell:last-of-type {
          padding-right: 10px;
          justify-content: center;
        }
      }
      &-header {
        font-size: 13px;
      }
      &-name {
        flex-basis: 20%;
      }
      &-access-right {
        flex-basis: 50%;
      }
      &-role {
        flex-basis: 10%;
      }
      &-actions {
        flex-basis: 20%;
      }
    }
    &__header {
      flex-direction: column;
      margin-bottom: 10px;

      &-actions {
        margin-top: 30px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-staff-list {
    min-height: calc(100vh - 50px);

    &__table {
      mat-table {
        mat-cell {
          font-size: 12px !important;
          padding: 0 5px;
        }
        mat-header-cell {
          padding: 0 5px;
        }
        mat-cell:first-of-type, mat-header-cell:first-of-type {
          padding-left: 0;
        }
        mat-cell:last-of-type, mat-header-cell:last-of-type {
          padding-right: 0;
        }
      }
      &-header {
        font-size: 10px;
      }
      &-name {
        flex-basis: 15%;
      }
      &-role {
        flex-basis: 15%;
      }
      &-button {
        @include size(26px, 26px);

        &s {
          width: 58px;
        }
      }
    }
    &__header {
      &-actions {
        flex-direction: column;
        height: auto;

        &-filters {
          margin-right: 0;
          margin-bottom: 20px;
        }
        ::ng-deep {
          .mat-form-field-appearance-outline .mat-form-field-flex {
            height: 40px;
          }
        }
      }
    }
  }
}
