<div class="rs-staff-list">
  <div class="rs-staff-list__header d-flex align-items-center justify-content-between">
    <div class="rs-app__title">{{"menu.staff" | translate}}</div>
    <div class="rs-staff-list__header-actions d-flex align-items-center">
      <div class="rs-staff-list__header-actions-filters">
        <app-icon-button caption="shared.filters" iconClass="icon-filter"></app-icon-button>
      </div>
      <div class="rs-staff-list__header-actions-search">
        <app-search (search)="reactOnSearch($event)"></app-search>
      </div>
    </div>
  </div>
  <div class="rs-app__table">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell class="rs-staff-list__table-name" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{"shared.name" | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-staff-list__table-name" *matCellDef="let user">
          <div class="rs-app__table-bold">{{user | fullName}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell class="rs-staff-list__table-role" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{"shared.role" | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-staff-list__table-role" *matCellDef="let user">{{user.role}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="accessRights">
        <mat-header-cell class="rs-staff-list__table-access-rights" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{"shared.access-rights" | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-staff-list__table-access-rights" *matCellDef="let user">{{user.accessRights}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell class="rs-staff-list__table-actions" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="rs-staff-list__table-actions" *matCellDef="let user">
          <div class="rs-staff-list__table-buttons d-flex justify-content-between">
            <div class="rs-staff-list__table-button">
              <app-square-button
                icon="delete"
                color="warn"
                appOpenConfirmation
                (accept)="reactOnDeleteUser(user.id)"
                caption="Do you really want to delete {{user | fullName}} from app?"
              ></app-square-button>
            </div>
            <div class="rs-staff-list__table-button">
              <app-square-button appOpenAddStaff [user]="user" icon="edit" color="primary"></app-square-button>
            </div>
          </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="rs-staff-list__add">
    <app-add-button appOpenAddStaff></app-add-button>
  </div>
</div>
