<div class="rs-filter-section">
  <div class="rs-filter-section__title">{{filter.title}}</div>
  <div class="rs-filter-section__groups" *ngFor="let group of filter.group">
    <div class="rs-filter-section__groups-title" *ngIf="group.title">{{group.title}}</div>
    <div class="rs-filter-section__groups-items d-flex">
      <div class="rs-filter-section__groups-item" *ngFor="let filterValue of group.filters">
        <app-label [caption]="filterValue" (changeEvent)="selectFilter(filterValue, $event)"></app-label>
      </div>
    </div>
  </div>
</div>
