@import "../../../shared/css/colors.scss";

.rs-filter-section {
  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $label;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__groups {
    &-title {
      font-size: 14px;
      color: $label;
      margin-bottom: 20px;
      padding-top: 10px;
    }
    &-items {
      flex-wrap: wrap;
    }
    &-item {
      margin-right: 8px;
      margin-bottom: 10px;
    }
  }
}
