<app-popup caption="{{ 'dialogs.response_log' | translate }}">
  <div id="content">
    <div class="rs-last-response-popup">
      <div class="rs-last-response-popup__title">{{ 'dialogs.response_log' | translate }}</div>
      <div class="rs-last-response-popup__content d-flex">
        <div class="rs-last-response-popup__content-left">{{ 'dialogs.details' | translate }}</div>
        <div class="rs-last-response-popup__content-right" [formGroup]="lastTesponseForm">
          <div class="rs-merchants-general-info__section">
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.date' | translate}}</mat-label>
                <input formControlName="date" matInput type="text" placeholder="{{'placeholders.date' | translate}}">
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.time' | translate}}</mat-label>
                <input formControlName="time" matInput type="text" placeholder="{{'placeholders.time' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.company' | translate}}</mat-label>
                <input formControlName="company" matInput type="text" placeholder="{{'placeholders.company' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.status' | translate}}</mat-label>
                <input formControlName="status" matInput type="text" placeholder="{{'placeholders.status' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100 rs-app__textarea" appearance="outline">
                <mat-label>{{'placeholders.full-reason' | translate}}</mat-label>
                <textarea formControlName="fullReason" placeholder="{{'placeholders.full-reason' | translate}}" matInput></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-popup>
