<div class="rs-device-mobile-item">
  <div class="rs-transaction-mobile-item">
    <mat-card>
      <mat-card-content>
        <div class="rs-app__mobile-content d-flex">
          <div class="rs-app__mobile-content-left">
            <div class="rs-app__mobile-item-row">
              <div class="rs-app__mobile-item-row-key">{{'devices.terminal-id' | translate}}: </div>
              <div class="rs-app__mobile-item-row-value">{{device.terminalID}}</div>
            </div>
            <div class="rs-app__mobile-item-row">
              <div class="rs-app__mobile-item-row-key">{{'devices.location-addresses' | translate}}: </div>
              <div class="rs-app__mobile-item-row-value">{{device.locationAddresses}}</div>
            </div>
            <div class="rs-app__mobile-item-row">
              <div class="rs-app__mobile-item-row-key">{{'devices.venue' | translate}}: </div>
              <div class="rs-app__mobile-item-row-value">{{device.venue}}</div>
            </div>
          </div>
          <div class="rs-app__mobile-content-right">
            <div class="rs-app__mobile-item-row">
              <div class="rs-app__mobile-item-row-key">{{'devices.brand' | translate}}: </div>
              <div class="rs-app__mobile-item-row-value">{{device.brand}}</div>
            </div>
            <div class="rs-app__mobile-item-row">
              <div class="rs-app__mobile-item-row-key">{{'devices.model' | translate}}: </div>
              <div class="rs-app__mobile-item-row-value">{{device.model}}</div>
            </div>
            <div class="rs-app__mobile-item-row">
              <div class="rs-app__mobile-item-row-key">{{'devices.serial-number' | translate}}: </div>
              <div class="rs-app__mobile-item-row-value">{{device.serialNumber}}</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>