<div class="rs-transaction-mobile-item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="rs-transaction-mobile-item__header d-flex justify-content-between">
          <!-- <div class="rs-transaction-mobile-item__header-title">{{transaction.card}}({{transaction.cardType}})</div> -->
          <div class="rs-transaction-mobile-item__header-actions d-flex">
            <app-square-button color="primary" icon="list_alt" appOpenTransactionReport></app-square-button>
            <app-square-button color="primary" icon="attach_money" appOpenRefund></app-square-button>
          </div>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rs-app__mobile-content d-flex">
        <div class="rs-app__mobile-content-left">
          <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.transaction-type' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">Refunded</div>
          </div>
          <!-- <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.transaction-id' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">{{transaction.id}}</div>
          </div>
          <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.transaction-amount' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">{{transaction.amount}}</div>
          </div>
        </div>
        <div class="rs-app__mobile-content-right">
          <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.processing-cost' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">{{transaction.cost}}</div>
          </div>
          <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.net-amount' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">{{transaction.netAmount}}</div>
          </div>
          <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.batch-id' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">{{transaction.batchId}}</div>
          </div>
          <div class="rs-app__mobile-item-row">
            <div class="rs-app__mobile-item-row-key">{{'transactions.status' | translate}}: </div>
            <div class="rs-app__mobile-item-row-value">{{transaction.status}}</div>
          </div> -->
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!-- <div class="rs-transaction-mobile-item__footer">{{transaction.date}}</div> -->
    </mat-card-actions>
  </mat-card>
</div>