@import "../../../../../shared/css/colors.scss";

.rs-transaction-mobile-item {
  &__footer {
    color: $light-gray;
    font-size: 12px;
    text-align: left;
  }
  app-square-button {
    margin-left: 10px;
  }
}