@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-permission-apis {
  &__buttons {
    margin: 30px;

    &__group:nth-child(1) {
      .version-button {
        mat-form-field {
          width: 200px;
          margin-right: 30px;
    
          ::ng-deep & {
            .mat-form-field-flex {
              height: 50px;
              align-items: center;
            }
    
            .mat-form-field-infix {
              border-top: 0;

              .mat-select-trigger {
                @media(max-width: $mobile) {
                  top: 5px;
                }
              }
            }
    
            .mat-select-value {
              line-height: 1;
              
              .mat-select-value-text > span {
                @include font($light-black, 18px, bold);
              }
            }
    
            .mat-select-arrow-wrapper > div {
              height: 18px !important;
              width: 25px !important;
              margin-right: 0px !important;

              @media(max-width: $mobile) {
                margin-top: 5px !important;
              }
            }
          }
    
          @media(max-width: $tablet) {
            margin: 20px 0;
          }
  
          @media(max-width: $mobile) {
            margin: 10px;
          }
        }
      }

      .changed-version-label {
        @include font($yellow, 16px, bold);
      }
    }

    &__group:nth-child(2) {
      ::ng-deep {
        app-icon-button {
          border-radius: 4px;
          height: 50px;
          margin: 20px 10px 20px 0;

          mat-icon {
            font-size: 20px;
            font-weight: bold;
          }

          &:nth-child(1),
          &:nth-child(2) {
            background-color: $blue;
            
            button {
              border: none;
              @include font($gray, 16px, bold);
            }
          }
    
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            background-color: $white;
            
            button {
              @include font($blue, 16px, bold);
            }
          }


          &:nth-child(4) {
            @media(max-width: $mobile) {
              margin-right: 0;
            }
          }

          &:nth-child(5) {
            mat-icon {
              font-size: 24px;
              font-weight: bold;
            }

            @media(max-width: $tablet) {
              margin-right: 0;
            }
            
            @media(max-width: $mobile) {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }

      @media(max-width: $tablet) {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
      }

      @media(max-width: $mobile) {
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    @media(max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start !important;
    }

    @media(max-width: $mobile) {
      margin: 30px 5px;
    }
  }

  &__version-info {
    margin: 40px 30px 20px;

    &__input-data {
      margin: 40px 0;

      mat-form-field {
        ::ng-deep {
          padding: 0;

          mat-error {
            margin-top: 20px;
          }
        }

        &:nth-child(2) {
          padding-left: 20px;

          @media(max-width: $mobile) {
            padding: 20px 0;
          }
        }

        ::ng-deep & {
          .mat-form-field-flex {
            height: 65px;
            align-items: center;
          }
  
          .mat-form-field-infix {
            border-top: 0;
            line-height: 1;

            input {
              @include font($light-black, 18px);
            }

            mat-label {
              @include font($placeholder, 18px);
            }

            @media(max-width: $mobile) {
              line-height: normal;
            }
          }

          .mat-select-value {
            line-height: 1;
            
            .mat-select-value-text > span {
              @include font($light-black, 18px);
            }
          }
  
          .mat-select-arrow-wrapper > div {
            @include size(25px, 18px);
            margin-right: 0px !important;

            @media(max-width: $mobile) {
              margin-top: 5px !important;
            }
          }
        }
      }

      @media(max-width: $mobile) {
        margin: 30px 0 20px;
      }
    }

    @media(max-width: $mobile) {
      margin: 0px 15px;
    }
  }

  &__apis-list {
    margin: 40px 30px 20px;

    ::ng-deep {
      app-section-header {
        .rs-orchestrator-section-header {
          &__actions {
            .rs-search {
              width: 450px;
              background: $white;
    
              .mat-form-field-flex {
                height: 50px;
                align-items: center;
                margin-top: 0;
              }
        
              .mat-form-field-prefix > i {
                position: relative;
                top: 5px;
                
                @media(max-width: $mobile) {
                  top: 3px;
                }
              }
        
              .mat-form-field-infix {
                top: -2px;
                border-top: 0;
                line-height: 1 !important;
        
                input {
                  @include font($light-black, 18px);
                }
        
                .mat-form-field-label-wrapper {
                  mat-label {
                    @include font($placeholder, 18px);
                  }

                  @media(max-width: $mobile) {
                    top: -14px;
                  }
                }
        
                @media(max-width: $mobile) {
                  line-height: normal;
                }
              }
    
              @media(max-width: 1366px) {
                width: 400px;
              }

              @media(max-width: 1024px) {
                width: 350px;
              }
      
              @media(max-width: $tablet) {
                width: 230px;
              }

              @media(max-width: $mobile) {
                width: 255px;
              }
            }

            @media(max-width: $mobile) {
              margin-top: 20px;
            }
          }

          @media(max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start !important;
          }
        }
      }

      mat-table {
        .form-check {
          @include size(26px, 26px);
    
          input {
            @include size(26px, 26px);
            margin-top: 0;
          }
        }

        mat-row {
          &:nth-child(odd) {
            background-color: $border;
          }
        }

        mat-header-cell, mat-cell {
          &:first-child {
            padding-left: 15px !important;
          }

          &:nth-child(4) {
            @media(max-width: $mobile) {
              flex: 2;
            }
          }

          &:last-child {
            padding-right: 15px !important;
          }
        }

        mat-header-cell {
          @include font($light-black, 14px, bold);
        }

        mat-cell {
          @include font($light-black, 14px);

          &:nth-child(1),
          &:nth-child(3) {
            @include font($light-black, 14px, bold);
          }

          &:nth-child(3) {
            word-break: break-all;
          }

          &:nth-child(4) {
            .mat-form-field-flex {
              @include size(80px, 40px);

              .mat-form-field-infix {
                border: 0;
                padding: 0;
                top: 9px;

                .mat-select-value-text {
                  @include font($text, 14px, bold);

                  position: relative;
                  top: 2px;
                }

                .mat-select-arrow {
                  @include size(20px, 20px);
                  margin: 0;
                  margin-top: 0;
                  margin-right: 0;
                  position: relative;
                  left: 25px;

                  @media(max-width: $mobile) {
                    left: 10px;
                    top: 10px;
                  }
                }
              }
            }
          }

          &:last-child {
            button {
              background-color: $gray;
              background-image: url("/assets/images/trash.svg");
              background-repeat: no-repeat;
              background-position: center;
            }
          }

          @media(max-width: 1024px) {
            word-break: break-all;
          }

          @media(max-width: $tablet) {
            height: 70px !important;
          }
        }
      }
    }

    @media(max-width: $mobile) {
      margin: 0px 15px;
    }
  }
}

::ng-deep .sn-title {
  font-size: 15px !important;
  line-height: unset !important;
}
