@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

:host {
  height: 100%;
}

.rs-filters {
  @include size(100%, 100%);

  button {
    @include size(100%, 100%);  
    box-shadow: 0 2px 4px 0 $shadow;
    border: solid 1px $shadow-border;
    font-size: 22px;
    color: $dark;
    font-weight: normal;
  }
  mat-icon {
    line-height: 24px;
    font-size: 34px;
    margin-right: 5px;
    margin-left: -5px;
    margin-top: -3px;
  }
}

@media(max-width: $mobile) {
  .rs-filters {
    button {
      font-size: 16px;
      color: $dark;
    }
    mat-icon {
      font-size: 20px;
      margin-right: 0;
    }
  }
}
