@import "../../css/breakpoints.scss";
@import "../../css/colors.scss";

.rs-module-header {
  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 60px !important;
      padding-left: 22px !important;
      margin-top: 0;
    }
    .mat-form-field-infix {
      border-top: none;
    }
    .mat-form-field-label-wrapper {
      top: -5px;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
      margin-top: -8px;
    }
    input {
      font-size: 22px !important;
      color: $dark !important;
      transform: translateY(3px);
      padding-top: 1px;
    }
    .mat-form-field-label {
      color: #9b9b9b !important;
      font-size: 22px !important;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1em) scale(0.65) !important;
    }
    .rs-square-button button {
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
      background-color: $blue;

      mat-icon {
        color: white;
      }
    }
  }
  &__actions {
    &-item {
      margin-left: 20px;

      &_search {
        margin-left: 40px;
        width: 430px;
      }
    }
  }
}

@media(max-width: $tablet) {
  .rs-module-header {
    flex-direction: column;
    
    &__actions {
      // flex-wrap: wrap;
      width: 100%;
      
      &-item {
        margin-top: 20px;
        margin-left: 0;

        &:nth-child(1), &:nth-child(2) {
          margin-right: 20px;
        }
        &_search {
          padding-left: 0;
          flex-basis: 100%;
        }
      }
    }
  }
}
