<div class="rs-module-header d-flex justify-content-between align-items-center">
  <div class="rs-app__title">{{caption | translate}}</div>
  <div class="rs-module-header__actions d-flex align-items-center justify-content-between">
    <div class="rs-module-header__actions-item">
      <app-square-button (click)="openExport()" icon="launch"></app-square-button>
    </div>
    <div class="rs-module-header__actions-item">
      <app-square-button (click)="openFilters()" icon="filter_alt"></app-square-button>
    </div>
    <div *ngIf="!hideFilter" class="rs-module-header__actions-item rs-module-header__actions-item_search">
      <app-search (search)="reactOnSearch($event)" [placeholder]="placeholder"></app-search>
    </div>
  </div>
</div>
