<div class="rs-last-updates">
  <div class="rs-last-updates__title text-center">Last Updates</div>
  <div class="rs-last-updates__content">
    <div class="rs-last-updates__item" *ngFor="let lastUpdate of displayedLastUpdates">
      <div class="rs-last-updates__item-date">{{lastUpdate.date}}</div>
      <div class="rs-last-updates__item-content">
        <span class="rs-last-updates__item-content-id">#{{lastUpdate.id}}</span>
        <span class="rs-last-updates__item-content-separator">-</span>
        <span class="rs-last-updates__item-content-actor" *ngIf="lastUpdate.actor">{{lastUpdate.actor}}</span>
        <span class="rs-last-updates__item-content-value">{{lastUpdate.content}}</span>
      </div>
    </div>
  </div>
</div>