@import "../../../shared/css/colors.scss";
@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-last-updates {
  @include size(100%, 600px);
  padding: 35px 0;
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 $shadow;
  border: solid 1px $shadow-border;
  background-color: white;

  &__title {
    font-size: 26px;
    font-weight: bold;
    color: $dark;
    margin-bottom: 27px;
  }
  &__content {
    height: 498px;
    padding: 0 20px;
    overflow-y: auto;
  }
  &__item {
    padding: 15px 0;
    border-bottom: 1px solid $border;

    &-date {
      font-size: 14px;
      color: $disabled;
      margin-bottom: 7px;
    }
    &-content {
      color: $dark;

      &-id, &-actor {
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
      }
      &-separator {
        margin: 0px 3px;
      }
      &-value {
        font-size: 18px;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

@media(max-width: $mobile) {
  .rs-last-updates {
    @include size(100%, auto);
    padding: 20px 10px;
  
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__item {
      padding: 5px 0;
  
      &-date {
        font-size: 12px;
        color: $disabled;
        margin-bottom: 4px;
      }
      &-content {
        &-id, &-actor {
          font-size: 14px;
        }
        &-value {
          font-size: 14px;
        }
      }
    }
  }
}
