@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/breakpoints.scss";
@import "../../../../../../../shared/css/mixins.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-products {
  margin: 70px 120px;
  padding: 30px;
  background-color: $gray;

  ::ng-deep {
    mat-table {
      mat-header-row {
        background-color: $gray;
      }

      mat-row:nth-child(even) {
        background-color: $white;
      }

      mat-header-cell,
      mat-cell {
        &:nth-child(3) {
          flex: 2;
        }
      }

      mat-header-cell {
        @include font($light-black, 14px, bold);

        &:nth-child(1) {
          @media(max-width: 1024px) {
            padding-left: 20px !important;
          }
        }

        &:last-child {
          padding-right: 10px !important;
        }
      }

      mat-cell {
        &:nth-child(1) {
          @include font($light-black, 14px, bold);

          @media(max-width: 1024px) {
            padding-left: 20px !important;
          }

          @media(max-width: $tablet) {
            word-break: break-all;
          }
        }

        &:not(:nth-child(1)) {
          @include font($light-black, 14px);
        }

        &:nth-child(3) {
          @media(max-width: 1366px) {
            word-break: break-all;
          }
        }

        &:last-child {
          justify-content: flex-end;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 10px !important;
      
          .rs-pencil-icon {
            @include size(45px, 45px);
            display: inline-block;
            background-image: url('/assets/images/pencil.svg');
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }

        @media(max-width: 1366px) {
          height: 70px !important;
        }

        @media(max-width: 1024px) {
          height: 100px !important;
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 70px 60px;
  }

  @media(max-width: $tablet) {
    margin: 70px 30px;
  }
}
