<div class="rs-products">
  <app-data-list tableDataServiceFilteringMethod="filterProducts"
                 tableDataFilteringColumnDataKey="name"
                 [headerTitle]="'menu.products'"
                 [searchPlaceholder]="'placeholders.search-by-product-name'"
                 [isSearch]="true"
                 [tableData]="products$ | async"
                 [tableDataService]="productsService"
                 [tableColumns]="displayedColumns"
                 [isPaginator]="false"
                 [filteredSource]="products$ | async">
  </app-data-list>
</div>
