<form class="rs-tenant-info" [formGroup]="formGroup">
  <div class="rs-tenant-info__fields row">
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.name' | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">
          {{'forms.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.code' | translate}}</mat-label>
        <input matInput formControlName="code">
        <mat-error *ngIf="formGroup.get('code').hasError('required')">
          {{'forms.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-tenant-info__fields row">
    <div class="col-6">
      <mat-form-field class="rs-tenant-select-field"
                      appearance="outline">
        <mat-label>{{'orchestrator-b2b.tenants.category' | translate}}</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories$ | async"
                      [value]="category.id">
            {{ category.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('category').hasError('required')">
          {{'forms.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'orchestrator-b2b.tenants.tags' | translate}}</mat-label>
        <input matInput formControlName="tags">
        <mat-error *ngIf="formGroup.get('tags').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-tenant-info__fields row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'orchestrator-b2b.tenants.access-keys' | translate}}</mat-label>
        <app-input-with-chips formControlName="accessKeys"
                              [inputPlaceholder]="'orchestrator-b2b.tenants.add-key' | translate">
        </app-input-with-chips>
        <mat-error *ngIf="formGroup.get('accessKeys').hasError('required')">
          {{'forms.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-tenant-info__fields row">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <input matInput formControlName="description">
        <mat-error *ngIf="formGroup.get('description').hasError('required')">
          {{'forms.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="infoType === 'edit'"
       class="rs-tenant-info__delete-button">
    <button mat-raised-button
            type="button"
            appOpenConfirmation
            popupTitle="orchestrator-b2b.tenants.delete-tenant-title"
            caption="orchestrator-b2b.tenants.delete-tenant-caption"
            acceptTitle="shared.yes"
            (accept)="onDelete()">
      {{ 'orchestrator-b2b.tenants.delete' | translate | uppercase }}
    </button>
  </div>
  <div *ngIf="infoType === 'add'"
       class="rs-tenant-info__create-button">
    <button mat-raised-button type="submit">{{ 'orchestrator-b2b.tenants.create' | translate }}</button>
  </div>
</form>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
