<app-popup *ngIf="item">
  <div id="content">
    <div class="rs-editors-form d-flex justify-content-center">
      <div class="rs-editors-form__container">
        <div class="rs-editors-form__title">{{item.name}}</div>
        <div class="rs-editors-form__actions d-flex">
          <button
              class="rs-editors-form__actions-button"
              mat-raised-button
              appOpenConfirmation
              (accept)="delete()"
              caption="Do you really want to delete {{item.name}}?"
          >{{'notification-titles.delete-item' | translate}}
          </button>
          <button
              class="rs-editors-form__actions-button"
              mat-raised-button
              color="primary"
              (click)="save()"
          >{{'shared.save' | translate}}
          </button>
        </div>
        <!--<div class="rs-editors-form__info">-->
        <!--<app-item-info [item]="item"></app-item-info>-->
        <!--</div>-->
        <!--<div class="d-flex mb-5">-->
        <!--<div class="col-12">-->
        <!--<div class="rs-editors-form__section p-3" *ngIf="itemExternal.images && itemExternal.images.length > 0">-->
        <!--<div class="rs-editors-form__section-title" style="flex-basis: 17%">{{'editors.photos' | translate}}</div>-->
        <!--<div class="rs-editors-form__section-content">-->
        <!--<div class="rs-editors-form__images d-flex">-->
        <!--<div class="rs-editors-form__img-wrapper" *ngFor="let photo of itemExternal.images| slice:0:10;">-->
        <!--<img [src]="photo" style="height: 100%; cursor: zoom-in" class="thumbnail">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row mt-5">
          <div class="col-4">
            <h1 class="my-3 font-weight-bold">Internal Info:</h1>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <h1 class="my-3 font-weight-bold">UPC Info:</h1>
          </div>
          <div class="col-4">
            <h1 class="my-3 font-weight-bold">Barcode Lookup Info:</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Name <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(name)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{item.name || 'N/A'}}
              </div>
            </div>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Name <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(title)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{itemExternal.title || 'N/A'}}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Name <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(product_name)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{barcodeLookupItem.product_name || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Description <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(???)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                ???
              </div>
            </div>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Description <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(description)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{itemExternal.description || 'N/A'}}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Description <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(description)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{barcodeLookupItem.description || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Images <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(images)</i></div>
              <div class="rs-editors-form__section-content" style="font-size: 20px; line-height: 30px; height: 150px;">
                <div style="overflow-x: auto; white-space: nowrap; height: 100%; width:100%"
                     *ngIf="item.images && item.images.length > 0">
                  <div class="d-inline-block" style="margin-right:20px;" *ngFor="let photo of item.images | slice:0:3;">
                    <img [src]="photo" style="height: 130px; cursor: zoom-in" class="thumbnail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Images <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(images)</i></div>
              <div class="rs-editors-form__section-content" style="font-size: 20px; line-height: 30px; height: 150px;">
                <div style="overflow-x: auto; white-space: nowrap; height: 100%; width:100%"
                     *ngIf="itemExternal.images && itemExternal.images.length > 0">
                  <div class="d-inline-block" style="margin-right:20px;"
                       *ngFor="let photo of itemExternal.images | slice:0:3;">
                    <img [src]="'https://cors-anywhere.herokuapp.com/'+photo" crossorigin=""
                         style="height: 130px; cursor: zoom-in" class="thumbnail">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Images <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(images)</i></div>
              <div class="rs-editors-form__section-content" style="font-size: 20px; line-height: 30px; height: 150px;">
                <div style="overflow-x: auto; white-space: nowrap; height: 100%; width:100%"
                     *ngIf="barcodeLookupItem.images && barcodeLookupItem.images.length > 0">
                  <div class="d-inline-block" style="margin-right:20px;"
                       *ngFor="let photo of barcodeLookupItem.images | slice:0:3;">
                    <img [src]="'https://cors-anywhere.herokuapp.com/'+photo" crossorigin=""
                         style="height: 130px; cursor: zoom-in" class="thumbnail">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Barcode <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(barcode)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{item.barcode || 'N/A'}}
              </div>
            </div>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Barcode <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(ean)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{itemExternal.ean || 'N/A'}}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Barcode <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(barcode_number)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{barcodeLookupItem.barcode_number || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Ingredients <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(ingredients)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{item.ingredients || 'N/A'}}
              </div>
            </div>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Ingredients <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(???)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                ???
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Ingredients <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(ingredients)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px;">
                {{barcodeLookupItem.ingredients || 'N/A'}}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <ng-container *ngFor="let prop of item | keyvalue">
              <div class="rs-editors-form__section p-3 mb-3"
                   *ngIf="!([prop.key] | includes: ['name', 'description', 'barcode', 'images', 'ingredients', 'facets', 'id', 'genericNames', 'rockspoonID', 'venueID', 'menuIDs', 'sectionIDs', 'separatedAllergens', 'separatedIngredients', 'separatedModifiers', 'tags', 'courses'])">
                <div class="rs-editors-form__section-title p-0" style="color: #c3c3c3">{{prop.key | startCase }} <br><i
                    style="color: #999999; font-weight: normal; font-size: small">({{prop.key}})</i></div>
                <div class="rs-editors-form__section-content"
                     style="font-size: 20px; line-height: 30px; overflow: auto; color: #c3c3c3">
                  <ng-container *ngIf="!isObject(prop.value)">{{prop.value}}</ng-container>
                  <ng-container *ngIf="isObject(prop.value)">
                    <div class="rs-editors-form__section p-3" *ngFor="let p of prop.value | keyvalue">
                      <div class="rs-editors-form__section-content" style="font-size: 20px; line-height: 30px;">
                        <ng-container *ngIf="!isObject(p.value)">{{p.value}}</ng-container>
                        <ng-container *ngIf="isObject(p.value)">
                          <pre style="color: #c3c3c3">{{p.value | json}}</pre>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="col-4" style="border-left: 3px solid #eeeeee; border-right: 3px solid #eeeeee;">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Asin <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(asin)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.asin || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Brand <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(brand)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.brand || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Category <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(category)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.category || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Color <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(color)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.color || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Size <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(size)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.size || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Weight <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(weight)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.weight || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Model <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(model)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{itemExternal.model || 'N/A'}}
              </div>
              <div class="rs-editors-form__section p-3">
                <div class="rs-editors-form__section-title p-0">USDA original Data <br><i
                    style="color: #999999; font-weight: normal; font-size: small">(???)</i></div>
                <div class="rs-editors-form__section-content"
                     style="font-size: 20px; line-height: 30px; overflow: auto; color: #c3c3c3">
                  <pre>{{item && item.externalDBProperties && (item.externalDBProperties.usdaItems || item.externalDBProperties.rockspoonWineES) | json}}</pre>
                </div>
              </div>
            </div>
            <ng-container *ngFor="let prop of itemExternal | keyvalue">
              <div class="rs-editors-form__section p-3 mb-3"
                   *ngIf="!([prop.key] | includes: ['title', 'description', 'images', 'ean', 'asin', 'brand','category', 'color', 'size', 'weight', 'model'])">
                <ng-container *ngIf="prop.key !== 'offers'">
                  <div class="rs-editors-form__section-title p-0" style="color: #c3c3c3">{{prop.key | startCase }}
                    <br><i style="color: #999999; font-weight: normal; font-size: small">({{prop.key}})</i></div>
                  <div class="rs-editors-form__section-content"
                       style="font-size: 20px; line-height: 30px; overflow: auto; color: #c3c3c3">
                    <ng-container *ngIf="!isObject(prop.value)">{{prop.value}}</ng-container>
                    <ng-container *ngIf="isObject(prop.value)">
                      <div class="rs-editors-form__section p-3" *ngFor="let p of prop.value | keyvalue">
                        <div class="rs-editors-form__section-content" style="font-size: 20px; line-height: 30px;">
                          <ng-container *ngIf="!isObject(p.value)">{{p.value}}</ng-container>
                          <ng-container *ngIf="isObject(p.value)">
                            <pre style="color: #c3c3c3">{{p.value | json}}</pre>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <div class="w-100" *ngIf="prop.key === 'offers'">
                  <div class="w-100" style="font-size: 20px; font-weight: bold; color: #c3c3c3;">{{prop.key | startCase
                    }} <i style="color: #999999; font-weight: normal; font-size: small">({{prop.key}})</i></div>
                  <div class="w-100" style="overflow: auto; color: #c3c3c3">
                    <table class="table table-bordered mt-3 table-striped">
                      <thead class="thead-light">
                        <th *ngFor="let obj of prop.value[0] | keyvalue">{{obj.key | startCase}} <br> <i
                            style="color: #999999; font-weight: normal; font-size: small">({{obj.key}})</i></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of prop.value">
                          <td *ngFor="let obj of row | keyvalue">
                            {{obj.value}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
            <!--<br class="my-5">-->
            <!--<h1 class="mt-5 mb-3 font-weight-bold">Add Extra Info:</h1>-->
            <!--<form [formGroup]="itemForm" class="d-flex flex-column">-->
            <!--<div class="rs-editors-form__section p-3 flex-column">-->
            <!--<div class="rs-editors-form__section-title p-0 d-flex align-items-center justify-content-between">-->
            <!--{{'editors.ingredients' |-->
            <!--translate}}-->
            <!--<button mat-icon-button (click)="addItem('ingredient')" color="primary">-->
            <!--<mat-icon>add</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--<div class="rs-editors-form__section-content">-->
            <!--<div formArrayName="separatedIngredients"-->
            <!--*ngFor="let _ of separatedIngredients.controls; index as i"-->
            <!--class="d-flex align-items-center p-3">-->
            <!--<mat-form-field class="w-100" appearance="outline">-->
            <!--<mat-label>{{'placeholders.ingredient' | translate}} {{i +1}}</mat-label>-->
            <!--<input [formControlName]="i" matInput type="text"-->
            <!--placeholder="{{'placeholders.ingredient' | translate}} {{i +1}}" required>-->
            <!--</mat-form-field>-->
            <!--<button mat-icon-button (click)="removeItem('ingredient', i)" color="primary" class="flex-shrink-1">-->
            <!--<mat-icon>close</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="rs-editors-form__section p-3 flex-column">-->
            <!--<div class="rs-editors-form__section-title p-0 d-flex align-items-center justify-content-between">-->
            <!--{{'editors.modifiers' |-->
            <!--translate}}-->
            <!--<button mat-icon-button (click)="addItem('modifier')" color="primary">-->
            <!--<mat-icon>add</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--<div class="rs-editors-form__section-content">-->
            <!--<div formArrayName="separatedModifiers"-->
            <!--*ngFor="let _ of separatedModifiers.controls; index as i" class="d-flex align-items-center p-3">-->
            <!--<mat-form-field class="w-100" appearance="outline">-->
            <!--<mat-label>{{'placeholders.modifier' | translate}} {{i +1}}</mat-label>-->
            <!--<input [formControlName]="i" matInput type="text"-->
            <!--placeholder="{{'placeholders.modifier' | translate}} {{i +1}}" required>-->
            <!--</mat-form-field>-->
            <!--<button mat-icon-button (click)="removeItem('modifier', i)" color="primary" class="flex-shrink-1">-->
            <!--<mat-icon>close</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="rs-editors-form__section p-3 flex-column">-->
            <!--<div class="rs-editors-form__section-title p-0 d-flex align-items-center justify-content-between">-->
            <!--{{'editors.allergens' |-->
            <!--translate}}-->
            <!--<button mat-icon-button (click)="addItem('allergen')" color="primary">-->
            <!--<mat-icon>add</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--<div class="rs-editors-form__section-content">-->
            <!--<div formArrayName="separatedAllergens"-->
            <!--*ngFor="let _ of separatedAllergens.controls; index as i" class="d-flex align-items-center p-3">-->
            <!--<mat-form-field class="w-100" appearance="outline">-->
            <!--<mat-label>{{'placeholders.allergen' | translate}} {{i +1}}</mat-label>-->
            <!--<input [formControlName]="i" matInput type="text"-->
            <!--placeholder="{{'placeholders.allergen' | translate}} {{i +1}}" required>-->
            <!--</mat-form-field>-->
            <!--<button mat-icon-button (click)="removeItem('allergen', i)" color="primary" class="flex-shrink-1">-->
            <!--<mat-icon>close</mat-icon>-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->
          </div>
          <div class="col-4">
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Asin <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(asin)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.asin || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Brand <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(brand)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.brand || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Category <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(category)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.category || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Color <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(color)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.color || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Size <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(size)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.size || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Weight <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(weight)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.weight || 'N/A'}}
              </div>
            </div>
            <div class="rs-editors-form__section p-3">
              <div class="rs-editors-form__section-title p-0">Model <br><i
                  style="color: #999999; font-weight: normal; font-size: small">(model)</i></div>
              <div class="rs-editors-form__section-content"
                   style="font-size: 20px; line-height: 30px; height: 90px; overflow: auto;">
                {{barcodeLookupItem.model || 'N/A'}}
              </div>
            </div>
            <ng-container *ngFor="let prop of barcodeLookupItem | keyvalue">
              <div class="rs-editors-form__section p-3 mb-3"
                   *ngIf="!([prop.key] | includes: ['product_name', 'description', 'images', 'barcode_number', 'ingredients', 'asin', 'brand','category', 'color', 'size', 'weight', 'model'])">
                <ng-container *ngIf="prop.key !== 'stores'">
                  <div class="rs-editors-form__section-title p-0" style="color: #c3c3c3">{{prop.key | startCase }}
                    <br><i style="color: #999999; font-weight: normal; font-size: small">({{prop.key}})</i></div>
                  <div class="rs-editors-form__section-content"
                       style="font-size: 20px; line-height: 30px; overflow: auto; color: #c3c3c3">
                    <ng-container *ngIf="!isObject(prop.value)">{{prop.value}}</ng-container>
                    <ng-container *ngIf="isObject(prop.value)">
                      <div class="rs-editors-form__section p-3" *ngFor="let p of prop.value | keyvalue">
                        <div class="rs-editors-form__section-content" style="font-size: 20px; line-height: 30px;">
                          <ng-container *ngIf="!isObject(p.value)">{{p.value}}</ng-container>
                          <ng-container *ngIf="isObject(p.value)">
                            <pre style="color: #c3c3c3">{{p.value | json}}</pre>
                          </ng-container>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <div class="w-100" *ngIf="prop.key === 'stores'">
                  <div class="w-100" style="font-size: 20px; font-weight: bold; color: #c3c3c3;">{{prop.key | startCase
                    }} <i style="color: #999999; font-weight: normal; font-size: small">({{prop.key}})</i></div>
                  <div class="w-100" style="overflow: auto; color: #c3c3c3">
                    <table class="table table-bordered mt-3 table-striped">
                      <thead class="thead-light">
                        <th *ngFor="let obj of prop.value[0] | keyvalue">{{obj.key | startCase}} <br> <i
                            style="color: #999999; font-weight: normal; font-size: small">({{obj.key}})</i></th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of prop.value">
                          <td *ngFor="let obj of row | keyvalue">
                            {{obj.value}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
    </div>
    <div class="rs-editor-nav-button rs-fixed-left d-flex align-items-center justify-content-center" (click)="previous()"> < </div>
    <div class="rs-editor-nav-button rs-fixed-right d-flex align-items-center justify-content-center" (click)="next()"> > </div>
  </div>
</app-popup>
