<div class="rs-support-request-header d-flex justify-content-between align-items-center">
  <div class="rs-app__title rs-support-request-header_label">{{titleTranslationKey | translate}}</div>
  <div class="rs-support-request-header__actions d-flex align-items-center justify-content-between">
    <div *ngIf="filtersItem" class="rs-support-request-header__actions-item rs-support-request-header__actions-item_filter">
      <button mat-stroked-button class="filter-button" (click)="openFilters()">
        <i class="icon-filter"></i>
        <span>{{'support-requests.filters' | translate}}</span>
      </button>
    </div>
    <div class="rs-support-request-header__actions-item rs-support-request-header__actions-item_search">
      <app-search (search)="onSearch($event)" placeholder="{{searchPlaceholderTranslationKey | translate}}"></app-search>
    </div>
    <div class="rs-support-request-header__actions-item rs-support-request-header__actions-item_content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
