@import "../../../../../shared/css/breakpoints.scss";
@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";

.rs-support-request-header {
  padding: 30px 30px 15px 30px;

  &_label {
    color: $black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    flex: 2;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 60px !important;
      padding-left: 22px !important;
      margin-top: 0;
    }
    .mat-form-field-infix {
      border-top: none;
    }
    .mat-form-field-label-wrapper {
      top: -5px;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
      margin-top: -8px;
    }
    input {
      font-size: 22px !important;
      color: $dark !important;
      transform: translateY(3px);
      padding-top: 1px;
    }
    .mat-form-field-label {
      color: $placeholder !important;
      font-size: 22px !important;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1em) scale(0.65) !important;
    }
    app-icon-button .rs-filters {
      height: 60px !important;

      button {
        border-radius: 6px;
        background-color: white;

        mat-icon {
          color: $text;
        }
      }
    }
  }

  &__actions {
    flex: 2;
    max-width: 600px;

    &-item {
      &_filter {
        width: 180px;
        height: 60px;

        button {
          @include size(100%, 100%);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          color: $dark;
          font-weight: normal;
          border-radius: 5px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          border: solid 1px $shadow-border;
          background-color: $white;
          cursor: pointer;
        }

        i {
          line-height: 24px;
          font-size: 34px;
          margin-right: 5px;
          margin-left: -5px;
          margin-top: -3px;
        }
      }
      &_search {
        margin-left: 40px;
        max-width: 500px;
        width: 100%;
        background: $white;

        @media(max-width: $desktop) {
          margin-left: 15px
        }
      }

      &_content {
        ::ng-deep {
          button {
            font-size: 18px;
            width: 200px;
            margin-left: 10px;
            height: 60px;
          }
        }
      }
    }
  }
}
