<app-merchant-accordion-item caption="merchants.legal-entity-information">
  <div class="rs-merchants-general-info" [formGroup]="restaurantForm">
    <div class="rs-merchants-general-info__section">
      <div class="rs-merchants-general-info__section-title">{{'merchants.restaurant-information' | translate}}</div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.dba-name' | translate}}*</mat-label>
          <input formControlName="DBAName" matInput type="text" placeholder="{{'placeholders.dba-name' | translate}}*">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.legal-entity-name' | translate}}*</mat-label>
          <input formControlName="legalEntityName" matInput type="text" placeholder="{{'placeholders.legal-entity-name' | translate}}*">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.restaurant-url' | translate}}</mat-label>
          <input formControlName="restaurantURL" matInput type="text" placeholder="{{'placeholders.restaurant-url' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <rs-control-with-mask class="w-100" [rsFormControl]="restaurantForm.controls.SEIN" [placeholder]="'placeholders.sein'" mask="00-0000000"></rs-control-with-mask>
        <rs-control-with-mask class="w-100" [rsFormControl]="restaurantForm.controls.TIN" [placeholder]="'placeholders.tin'" mask="000000000"></rs-control-with-mask>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'merchants.business-category' | translate}}*</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of businessCategories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="rs-merchants-general-info__section">
      <div class="rs-merchants-general-info__section-title">{{'merchants.legal-address' | translate}}*</div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="rs-merchants-general-info__wide-control" appearance="outline">
          <mat-label>{{'placeholders.address' | translate}}</mat-label>
          <input formControlName="legalAddress" matInput type="text" placeholder="{{'placeholders.address' | translate}}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'placeholders.post-code' | translate}}</mat-label>
          <input appNumericControl formControlName="legalPostCode" matInput type="text" placeholder="{{'placeholders.post-code' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.country' | translate}}</mat-label>
          <input formControlName="legalCountry" matInput type="text" placeholder="{{'placeholders.country' | translate}}">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.state' | translate}}</mat-label>
          <input formControlName="legalState" matInput type="text" placeholder="{{'placeholders.state' | translate}}">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.city' | translate}}</mat-label>
          <input formControlName="legalCity" matInput type="text" placeholder="{{'placeholders.city' | translate}}">
        </mat-form-field>
      </div>
    </div>

    <div class="rs-merchants-general-info__section">
      <div class="rs-merchants-general-info__section-title">{{'merchants.business-address' | translate}}*</div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="rs-merchants-general-info__wide-control" appearance="outline">
          <mat-label>{{'placeholders.address' | translate}}</mat-label>
          <input formControlName="businessAddress" matInput type="text" placeholder="{{'placeholders.address' | translate}}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{'placeholders.post-code' | translate}}</mat-label>
          <input appNumericControl formControlName="businessPostCode" matInput type="text" placeholder="{{'placeholders.post-code' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.country' | translate}}</mat-label>
          <input formControlName="businessCountry" matInput type="text" placeholder="{{'placeholders.country' | translate}}">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.state' | translate}}</mat-label>
          <input formControlName="businessState" matInput type="text" placeholder="{{'placeholders.state' | translate}}">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.city' | translate}}</mat-label>
          <input formControlName="businessCity" matInput type="text" placeholder="{{'placeholders.city' | translate}}">
        </mat-form-field>
      </div>
    </div>

  </div>
</app-merchant-accordion-item>
