<div class="rs-side-nav" *ngIf="sideNavVisibility">
  <div class="rs-side-nav__title">{{menuItem.translationKey | translate}}</div>
  <div class="rs-side-nav__items">
    <div
      class="rs-side-nav__item"
      [routerLink]="menuItem.link + subMenuItem.link"
      *ngFor="let subMenuItem of menuItem.subMenu"
      routerLinkActive="rs-side-nav__item_active"
    >
      {{subMenuItem.translationKey | translate}}
    </div>
  </div>
</div>

<div
  class="rs-side-nav slider"
  *ngIf="isSliderSidenav"
  @fromLeftToRight
  (clickOutside)="hideSidenav()"
  [exclude]="'mat-icon'"
>
  <div class="rs-side-nav__header d-flex align-items-center justify-content-end">
    <div class="rs-side-nav__header__close">
      <button (click)="hideSidenav()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="rs-side-nav__content d-flex align-items-center flex-column">
    <div class="rs-side-nav__title">{{menuItem.translationKey | translate}}</div>
    <div class="rs-side-nav__items">
      <div
        class="rs-side-nav__item"
        [routerLink]="menuItem.link + subMenuItem.link"
        *ngFor="let subMenuItem of menuItem.subMenu"
        routerLinkActive="rs-side-nav__item_active"
        (click)="hideSidenav()"
      >
        {{subMenuItem.translationKey | translate}}
      </div>
    </div>
  </div>
</div>
