@import "../../../shared/css/colors.scss";
@import "../../../shared/css/mixins.scss";

.rs-side-nav {
  width: 300px;
  box-shadow: 0 2px 4px 0 $shadow;
  border: solid 1px $shadow-border;
  background-color: $white;
  min-height: calc(100vh - 88px);
  z-index: 0;
  position: relative;
  padding: 40px;

  &.slider {
    @include size(300px, 100vh);
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    z-index: 11;
    overflow: auto;

    .rs-side-nav__header {
      margin-bottom: 20px;
  
      &__close {
        width: 35px;
      }
    }
  }

  &__title {
    font-size: 26px;
    font-weight: bold;
    line-height: normal;
    color: $dark;
    margin-bottom: 60px;
  }
  &__item {
    font-size: 22px;
    font-weight: normal;
    line-height: normal;
    color: $dark;
    border-bottom: solid 1px $shadow-border;
    padding-bottom: 20px;
    padding-top: 20px;
    cursor: pointer;

    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border: none;
    }
    &_active {
      font-weight: bold;
      color: $blue;
    }
  }
}
