
.with-divisor {
    border-bottom: 2px solid #eeeeee;
    text-align: right;
    .title{
        margin-top: 45px;
        text-align: center;
    }
    .group-holder{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.tab-content{
    width: 100%;
    max-width: 960px;
}
.without-divisor {
    margin-top: 32px;
    .group-holder{
        margin-bottom: 10px;
        margin-top: 30px;
    }
}
.center {
    margin: auto;
}
.priority-99 > div{
    &:not(:last-child){
        margin-bottom: 20px;
    }
}