<app-global-generic-tab [data]="data" [key]="key" [onSelect]="onChangeTab" [fieldGroup]="fieldGroup">
    <span *ngFor="let group of getSortedGroupNames(); let i = index">
     <div *ngIf="mustShowSomeFieldOfTheGroup(group) && !isTabFreeForm()" class="with-divisor">
        <div class="tab-content row">
            <div class="col-4">
                <h2 class="title">{{group}}</h2>
            </div>
            <div class="col-8 group-holder">
                <span *ngFor="let recipient of getSortedFieldGroupedByPriority(group) | keyvalue; let j = index">
                    <span *ngIf="numberOfFieldsToShow(recipient.value); let fieldsToShow" >
                        <span  *ngIf="fieldsToShow>0" class="col-4">
                            <div [class]="(fieldsToShow > 1 && recipient.key !== '99' && 'row' || '') + ' priority-' + recipient.key + (recipient.key !== '99' && ' default-spacing' || '')">
                                <div *ngFor="let fg of recipient.value; let k = index" [class]="(showField(fg) && fieldsToShow!=1 && getKeyClass(fg.key) || '')">
                                    <app-global-property-wrapper  *ngIf="showField(fg)"
                                        [index]="k"
                                        [key]="fg.key"
                                        [fieldGroup]="fg"
                                        [data]="getData(fg)"
                                    ></app-global-property-wrapper>
                                </div>
                            </div>
                        </span>
                    </span>
                </span>
            </div>
        </div> 
    </div>
</span>
    <span *ngFor="let group of getSortedGroupNames(); let i = index" class="without-divisor">
        <!-- Sometimes groups can be formatted in free-form -->
        <div *ngIf="mustShowSomeFieldOfTheGroup(group) && isTabFreeForm()" class="tab-content">
            <div class="group-holder">
                <span *ngFor="let recipient of getSortedFieldGroupedByPriority(group) | keyvalue; let j = index">
                    <div [class]="(numberOfFieldsToShow(recipient.value) > 1 && recipient.key !== '99' && 'row' || '') + ' priority-' + recipient.key">
                        <div *ngFor="let fg of recipient.value; let k = index" [class]="showField(fg) && getKeyClass(fg.key) || ''">
                            <app-global-property-wrapper  *ngIf="showField(fg)"
                                [index]="k" 
                                [key]="fg.key" 
                                [fieldGroup]="fg"
                                [data]="getData(fg)"
                            ></app-global-property-wrapper>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </span>
</app-global-generic-tab>

