.row{
  margin-top: 20px;
}

.title-holder {
  >h2{
      flex: 1;
      padding-top: 13px;
      text-align: center;
  }
  >h3{
    flex: 1;
    padding-left: 100px;
    padding-top: 13px;
    text-align: left;
}
  :first-child{
      flex: 2;
  }
}
.value-row{
  padding-left:0px;
  .single-value{
    padding-right:8px;
  }
  
}

.mat-raised-button {
  height: 50px !important;
  width: 210px !important;
  font-size: 20px;
}

.new-row{
  padding-top: 20px;
  .button-add{
    display: flex;
  }
}

.mat-form-field{
  padding-left: 0px !important;
}