<div class="nutritional-component row" *ngIf="!isArray(key.type); else add_nutrient">
    <div class="title-holder col-4" *ngIf="isMainGroup(key); else sub_group">
        <h2>{{ !key.displaySettings? ('editors.'+key.name | translate) : (key.displaySettings.name) }}</h2>
    </div>
    <ng-template #sub_group>
    <div class="title-holder col-4">
        <h3>{{ !key.displaySettings? ('editors.'+key.name | translate) : (key.displaySettings.name) }}</h3>
    </div>
</ng-template>
    <div class="value-row col-8" *ngIf="containsDV(); else quantity_only">
        <mat-form-field class="value-row col-6" appearance="outline"  >
            <mat-label>{{ 'nutritional.quantity' | translate }}</mat-label>
            <input matInput type="number" min="0" placeholder="0" [formControl]="fieldGroup.form"/>
        </mat-form-field>
        <mat-form-field class="value-row col-6" appearance="outline" >
            <mat-label>{{ 'nutritional.daily-value-percent' | translate }}</mat-label>
            <input matInput [disabled]="true" [(ngModel)]="calculatedDV" />
        </mat-form-field>
    </div>
    <ng-template #quantity_only>
    <div class="value-row col-4">
        <div class = "single-value">
        <mat-form-field class="w-100" appearance="outline"  >
            <mat-label>{{ 'nutritional.quantity' | translate }}</mat-label>
            <input matInput type="number"  min="0" placeholder="0" [formControl]="fieldGroup.form"/>
        </mat-form-field>
    </div>
    </div>
</ng-template>
</div>
<ng-template #add_nutrient>
<div *ngFor="let nutrient of arrayInputStorer">
    <div class="new-row row">
    <div class="title-holder array col-6">
        <mat-form-field class="single value" appearance="outline"  >
            <mat-label>{{ 'nutritional.add-nutrient' | translate }}</mat-label>
            <input matInput [value]="nutrient.name" type="text" placeholder="Add Nutrient"/>
        </mat-form-field>
    </div>
    <div class="value-row col-3">
        <div class = "single-value">
        <mat-form-field class="w-100" appearance="outline"  >
            <mat-label>{{ 'nutritional.quantity' | translate }}</mat-label>
            <input matInput min="0" type="number" [value]="nutrient.value" placeholder="0"/>
        </mat-form-field>
        </div>
    </div>  
</div>
</div>
<div class="new-row row" >
    <div class="title-holder array col-6">
        <mat-form-field appearance="outline" >
            <mat-label>{{ 'nutritional.add-nutrient' | translate }}</mat-label>
            <input matInput [(ngModel)]="newNutritionalInfo.name" type="text" placeholder="Add Nutrient"/>
        </mat-form-field>
    </div>
    <div class="value-row col-3">
        <div class = "single-value">
        <mat-form-field class="w-100" appearance="outline"  >
            <mat-label>{{ 'nutritional.quantity' | translate }}</mat-label>
            <input matInput min="0" type="number" [(ngModel)]="newNutritionalInfo.value" placeholder="0"/>
        </mat-form-field>
        </div>  
    </div>
    <div class="col-3 button-add">
        <button mat-raised-button
        color="primary"
         (click)="addNewNutritionalInfo(newNutritionalInfo.name, newNutritionalInfo.value)" [disabled]="!isValidNutrient(newNutritionalInfo.value)" mat-button color="primary">Add</button>
    </div>
</div>
</ng-template>