<div class="rs-global-item-mobile-item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="rs-global-item-mobile-item__title">{{item.name}}</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rs-global-item-mobile-item__content d-flex align-items-center justify-content-between">
        <div class="rs-global-item-mobile-item__content-left">
          <div class="rs-global-item-mobile-item__content-row d-flex">
            <div class="rs-global-item-mobile-item__content-value"> {{item.name}}</div>
          </div>
        </div>
        <div class="rs-global-item-mobile-item__content-right">
          <app-square-button
            (click)="openPreview($event)"
            icon="visibility"
            color="primary"
          ></app-square-button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>