@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-confirm-edit-fee {
  padding-top: 30px;

  &__next {
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin-right: 15px;
  }
  &::ng-deep {
    .mat-horizontal-stepper-header-container {
      width: 200px;
    }
    .mat-stepper-horizontal {
      background-color: #fff;
    }
  }
  &__content {
    margin-bottom: 50px;
    padding: 0 100px;
    font-size: 20px;
    text-align: center;
    color: #333333;
    line-height: 30px;

    &_highlighted {
      font-weight: bold;
    }
  }
  &__actions {
    button {
      height: 60px;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
      width: 280px;
      margin-bottom: 50px;

      &:first-child {
        color: $blue;
        margin-right: 40px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-confirm-edit-fee {
    &__content {
      padding: 0 20px;
    }
    &__next {
      font-size: 13px;
    }
    &__actions {
      button {
        height: 60px;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
        width: 45%;
        margin-bottom: 50px;
  
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
}
