<app-popup caption="dialogs.confirm-edit-fee" [black]="true">
  <div id="header" *ngIf="nextVisibility">
    <button class="rs-confirm-edit-fee__next" (click)="stepper.next()" mat-button>{{'shared.next' | translate}}</button>
  </div>
  <div id="content">
    <div class="rs-confirm-edit-fee">
      <mat-horizontal-stepper (selectionChange)="reactOnChangeStep($event)" [linear]="true" labelPosition="bottom" #stepper>
        <ng-template matStepperIcon="done" let-index="index">
          {{index+1}}
        </ng-template>
        <ng-template matStepperIcon="edit" let-index="index">
          {{index+1}}
        </ng-template>

        <mat-step>
          <div class="rs-confirm-edit-fee__content" [innerHTML]="'fees.are-you-sure' | translate:getTranslationValue(fee.title)"></div>
        </mat-step>
        <mat-step>
          <div class="rs-confirm-edit-fee__content">{{'fees.confirmation-content' | translate}}?</div>
          <div class="rs-confirm-edit-fee__actions d-flex justify-content-center">
            <button mat-raised-button (click)="reactOnCanceled()">{{'shared.cancel' | translate}}</button>
            <button mat-raised-button color="primary" (click)="reactOnStarted()">{{'shared.start' | translate}}</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</app-popup>