<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="align-items-center">{{caption | translate}}</mat-panel-title>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>

