@import "../../css/breakpoints.scss";
@import "../../css/mixins.scss";

@media(max-width: $mobile) {
  .rs-merchants-general-info__actions {
    margin-right: 0;

    &-item {
      margin-left: 0;
      @include size(25px, 25px);

      &:last-child {
        margin-left: 10px;
      }
    }
  }
}
