<app-merchant-accordion-item caption="merchants.company-owners-information">
  <div class="rs-merchants-general-info">
    <div class="rs-merchants-general-info__sections" *ngFor="let companyOwnersForm of companyOwnersForms;let i = index;" [formGroup]="companyOwnersForm">
      <div class="rs-merchants-general-info__section">
        <div class="rs-merchants-general-info__section-title">{{'merchants.owner' | translate}} {{i + 1}} {{'merchants.information' | translate}}*</div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.legal-entity-name' | translate}}</mat-label>
            <input formControlName="legalEntityName" matInput type="text" placeholder="{{'placeholders.legal-entity-name' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.tin' | translate}}</mat-label>
            <input formControlName="tin" matInput type="text" placeholder="{{'placeholders.tin' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="rs-merchants-general-info__wide-control" appearance="outline">
            <mat-label>{{'authentication.email' | translate}}</mat-label>
            <input formControlName="email" matInput type="text" placeholder="{{'authentication.email' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'merchants.phone-number' | translate}}</mat-label>
            <input formControlName="phoneNumber" matInput type="text" placeholder="{{'merchants.phone-number' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.share' | translate}}</mat-label>
            <input formControlName="share" matInput type="text" placeholder="{{'placeholders.share' | translate}}">
          </mat-form-field>
          <div class="w-100"></div>
        </div>
        <div class="rs-merchants-general-info__section-title">{{'merchants.legal-address' | translate}}*</div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="rs-merchants-general-info__wide-control" appearance="outline">
            <mat-label>{{'placeholders.address' | translate}}</mat-label>
            <input formControlName="legalAddress" matInput type="text" placeholder="{{'placeholders.address' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.post-code' | translate}}</mat-label>
            <input formControlName="legalPostCode" matInput type="text" placeholder="{{'placeholders.post-code' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.country' | translate}}</mat-label>
            <input formControlName="legalCountry" matInput type="text" placeholder="{{'placeholders.country' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.state' | translate}}</mat-label>
            <input formControlName="legalState" matInput type="text" placeholder="{{'placeholders.state' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.city' | translate}}</mat-label>
            <input formControlName="legalCity" matInput type="text" placeholder="{{'placeholders.city' | translate}}">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</app-merchant-accordion-item>
