@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-support-request-transactions {
  background-color: $gray;

  ::ng-deep {
    app-section-header {
      .rs-support-request-header {
        padding-top: 40px;
        padding-left: 40px;

        @media(max-width: 1366px) {
          padding-left: 20px;
        }

        @media(max-width: $desktop) {
          padding-left: 30px;
        }
      }
    }

    app-data-table {
      @include customer-support-table;

      .rs-data-table {
        padding: 0 20px 35px 30px;
      }

      mat-header-row,
      mat-row {
        padding-left: 30px;
        padding-right: 21px;

        @media(max-width: 1366px) {
          padding-left: 10px;
          padding-right: 0;
        }

        @media(max-width: $desktop) {
          padding-left: 20px;
          padding-right: 10px;
        }
      }

      mat-footer-row {
        mat-footer-cell:not(:nth-child(1)) {
          display: none;
        }

        mat-footer-cell:nth-child(1) {
          display: flex;
          justify-content: center;
        }
      }

      mat-header-cell {
        display: flex;
        align-items: flex-start;

        &:nth-child(3),
        &:nth-child(6),
        &:last-child {
          @media(max-width: 1024px) {
            word-break: break-all;
          }
        }

        @media(max-width: $tablet) {
          word-break: break-all;
        }
      }

      mat-header-cell:nth-child(1),
      mat-cell:nth-child(1) {
        flex: 2;

        .rs-datetime-text {
          display: flex;
          flex-direction: column;
        }
      }

      mat-cell {
        word-break: break-all;
        height: 70px !important;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          font-weight: bold; 
        }

        &:nth-child(2),
        &:nth-child(3) {
          text-decoration: underline;
        }

        &:nth-child(3) span {
          cursor: pointer;
        }

        & span.rs-success-status {
          color: $customer-support-green-2;
        }

        & span.rs-fail-status {
          color: $red-3;
        }

        .bank-card {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            height: 23px;
            width: 29px;
          }

          span {
            margin-left: 5px;

            @media(max-width: 1366px) {
              margin-left: 0;
              margin-top: 5px;
            }
          }

          @media(max-width: 1366px) {
            flex-direction: column;
            justify-content: center;
          }
        }

        @media(max-width: 1024px) {
          height: 120px !important;
        }

        @media(max-width: $tablet) {
          height: 180px !important;
        }
      }
    }
  }
}