<div class="rs-support-request-transactions">
  <app-section-header
    [titleTranslationKey]="headerTitleKey"
    [searchPlaceholderTranslationKey]="headerSearchPlaceholderKey"
    [filtersEndpoint]="filtersEndpoint"
    (search)="onSearch($event)"
  >
  </app-section-header>
  <app-data-table
    [tableName]="'paymentTransactions'"
    [items]="filteredSource"
    [columns]="displayedColumns"
  >
  </app-data-table>
</div>
