@import "../../css/breakpoints.scss";

.rs-add-button {
  button {
    width: 88px;
    height: 88px;
    position: fixed;
    right: 33px;
    bottom: 33px;
    z-index: 2;
    
    mat-icon {
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 46px;
    }
  }
}

@media(max-width: $tablet) {
  .rs-add-button {
    button {
      width: 60px;
      height: 60px;
      position: fixed;
      right: 33px;
      bottom: 33px;
      
      mat-icon {
        font-size: 30px;
        height: auto;
        width: auto;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-add-button {
    button {
      width: 50px;
      height: 50px;
      position: fixed;
      right: 10px;
      bottom: 10px;
      
      mat-icon {
        font-size: 25px;
        height: auto;
        width: auto;
      }
      &::ng-deep {
        .mat-button-wrapper {
          padding: 0;
        }
      }
    }
  }
}
