<app-merchant-accordion-item caption="merchants.individual-owners-information">
  <div class="rs-merchants-general-info">
    <div class="rs-merchants-general-info__sections" *ngFor="let individualOwnersForm of individualOwnersForms;let i = index;" [formGroup]="individualOwnersForm">
      <div class="rs-merchants-general-info__section">
        <div class="rs-merchants-general-info__section-title">{{'merchants.owner' | translate}} {{i + 1}} {{'merchants.information' | translate}}*</div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'shared.first-name' | translate}}</mat-label>
            <input formControlName="firstName" matInput type="text" placeholder="{{'shared.first-name' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'shared.last-name' | translate}}</mat-label>
            <input formControlName="lastName" matInput type="text" placeholder="{{'shared.last-name' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="rs-merchants-general-info__wide-control" appearance="outline">
            <mat-label>{{'authentication.email' | translate}}</mat-label>
            <input formControlName="email" matInput type="text" placeholder="{{'authentication.email' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'merchants.cellphone-number' | translate}}</mat-label>
            <input formControlName="phoneNumber" matInput type="text" placeholder="{{'merchants.cellphone-number' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'merchants.nationality' | translate}}</mat-label>
            <input formControlName="nationality" matInput type="text" placeholder="{{'merchants.nationality' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'merchants.secondary-nationality' | translate}}</mat-label>
            <input formControlName="secondaryNationality" matInput type="text" placeholder="{{'merchants.secondary-nationality' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'merchants.residing-country' | translate}}</mat-label>
            <input formControlName="residingCountry" matInput type="text" placeholder="{{'merchants.residing-country' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'merchants.social-security-number' | translate}}</mat-label>
            <input formControlName="socialSecurityNumber" matInput type="text" placeholder="{{'merchants.social-security-number' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'shared.birth-date' | translate}}</mat-label>
            <input formControlName="birthDate" matInput type="text" placeholder="{{'shared.birth-date' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.share' | translate}}</mat-label>
            <input formControlName="share" matInput type="text" placeholder="{{'placeholders.share' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="rs-merchants-general-info__wide-control" appearance="outline">
            <mat-label>{{'placeholders.address' | translate}}</mat-label>
            <input formControlName="address" matInput type="text" placeholder="{{'placeholders.address' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.zip-code' | translate}}</mat-label>
            <input formControlName="zipcode" matInput type="text" placeholder="{{'placeholders.zip-code' | translate}}">
          </mat-form-field>
        </div>
        <div class="rs-merchants-general-info__section-row d-flex">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.city' | translate}}</mat-label>
            <input formControlName="city" matInput type="text" placeholder="{{'placeholders.city' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.state' | translate}}</mat-label>
            <input formControlName="state" matInput type="text" placeholder="{{'placeholders.state' | translate}}">
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{'placeholders.country' | translate}}</mat-label>
            <input formControlName="country" matInput type="text" placeholder="{{'placeholders.country' | translate}}">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</app-merchant-accordion-item>
