<div class="rs-tenant-products" style="margin-top: 20px;">
  <app-data-list [headerTitle]="'menu.products'"
                 [tableData]="selectedProductsNames$ | async"
                 [filteredSource]="selectedProductsNames$ | async"
                 [tableColumns]="columns"
                 [isPaginator]="false"
                 [isSearch]="false"
                 [isAddButton]="false"
                 [tableDataServiceFilteringMethod]="'filterPermissions'">
  </app-data-list>
  <app-add-button (click)="onSelectProductsData()"></app-add-button>
</div>
