@import "../../../../../../../../shared/css/colors.scss";
@import "../../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../../shared/css/breakpoints.scss";

.rs-tenant-products {
  margin: 70px 120px;

  ::ng-deep {
    app-section-header {
      .rs-orchestrator-section-header__title {
        margin-bottom: 20px;
      }
    }

    mat-table {
      .form-check {
        @include size(26px, 26px);

        input {
          @include size(26px, 26px);
          margin-top: 0;
        }
      }

      mat-row {
        background-color: $border;

        &:nth-child(1) {
          border-top: solid 1px $menu-border;
        }

        &:nth-child(even) {
          background-color: $white;
        }

        @media(max-width: 1024px) {
          padding: 0 15px;
        }

        @media(max-width: 1024px) {
          padding: 0 15px;
        }

        @media(max-width: $tablet) {
          padding: 0 7px;
        }
      }

      mat-header-cell,
      mat-cell {
        display: flex;

        &:first-of-type {
          @media(max-width: $desktop) {
            padding-left: 24px !important;
          }

          @media(max-width: 1024px) {
            padding-left: 0 !important;
          }
        }

        &:last-of-type {
          @media(max-width: $desktop) {
            padding-right: 24px !important;
          }

          @media(max-width: 1024px) {
            padding-right: 0 !important;
          }
        }

        &:not(:nth-child(1)) {
          flex: 3;

          @media(max-width: $mobile) {
            flex: 2;
          }
        }

        &:nth-child(5) {
          flex: 5;

          @media(max-width: 1024px) {
            flex: 4;
          }

          @media(max-width: $tablet) {
            flex: 5;
          }

          @media(max-width: $mobile) {
            flex: 4;
          }
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 70px 60px;
  }

  @media(max-width: $tablet) {
    margin: 70px 30px;
  }
}
