@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-provisioning-status {
  &__content {
    padding-left: 40px;
  }
  &__item {
    margin-right: 60px;

    &-key {
      font-size: 18px;
      color: $dark;
      margin-bottom: 10px;
    }
  }
  &__actions {
    margin-right: 260px;

    button {
      height: 40px;
      color: $white;
      width: 280px;
      margin-right: 40px;
      text-transform: uppercase;
      background-color: $blue;
    }
  }
}

@media(max-width: $laptop) {
  .rs-provisioning-status {
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      margin-bottom: 20px;
    }
    &__actions {
      justify-content: center;
      width: 100%;
    }
    &__item {
      flex: 1;
    }
  }
}

@media(max-width: $mobile) {
  .rs-provisioning-status {
    &__actions {
      padding-left: 40px;
      padding-right: 40px;
      flex-wrap: wrap;

      button {
        width: 100%;
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 10px;
      }
    }
  }
}
