<div class="rs-provisioning-status">
  <div class="rs-app__merchant-profile-title">{{'provisioning.provisioning-status' | translate}}</div>
  <div class="rs-provisioning-status__wrapper d-flex justify-content-between">
    <div class="rs-provisioning-status__content d-flex">
      <div class="rs-provisioning-status__item" *ngFor="let provisioningItem of provisioning">
        <div class="rs-provisioning-status__item-key">{{provisioningItem.title}}</div>
        <div class="rs-provisioning-status__item-value rs-app__pending">{{provisioningItem.status}}</div>
      </div>
    </div>
    <div class="rs-provisioning-status__actions d-flex">
      <button mat-raised-button (click)="showResponseLogPopup()">
        {{'dialogs.last_response_log' | translate  | uppercase}}
      </button>
    </div>
  </div>
</div>
