<div class="rs-product-edit">
  <mat-tab-group>
    <mat-tab [label]="('orchestrator-b2b.products.info' | translate)">
      <ng-template matTabContent>
        <app-product-info [infoType]="infoType"></app-product-info>
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="infoType === 'add' && !(isCreated$ | async)" [label]="('orchestrator-b2b.products.features' | translate)">
      <ng-template matTabContent>
        <app-product-features [infoType]="infoType"></app-product-features>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
