<div class="rs-devices-status-table">
  <div class="rs-items-table__content">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container *ngFor="let column of columns; let index = index" [matColumnDef]="column.title">
        <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.isSortableDisabled">
          <ng-container *ngIf="column.headerType === 'icon' else columnHeaderWithoutIcon">
            <span *ngIf="column.title === 'appVersion'" class="icon-app"><span class="path1"></span><span class="path2"></span></span>
            <span *ngIf="column.title === 'androidVersion'" class="icon-android"></span>
          </ng-container>
          <ng-template #columnHeaderWithoutIcon>
            <span>{{column.translationKey | translate}}</span>
          </ng-template>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">

          <ng-container *ngIf="column.title === 'deviceId'">
            <div class="device-id">
              <span>{{item[column.title]}}</span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'function'">
            <div class="function">
              <span>{{item[column.title]}}</span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'status'">
           <div class="status d-flex flex-column">
            <span
              appBehaviour
              [behaviourType]="'systems-health-status'"
              [value]="item[column.title]"
              *ngFor="let status of (item[column.title] | doubleStatus)"
            >
              {{status}}
            </span>
           </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'wifi'">
            <div class="wifi">
              <span
                appBehaviour
                [behaviourType]="'wifi-signal-icon'"
                [value]="item[column.title].signal"
              >
              </span>
              <span
                appBehaviour
                class="rs-wifi-network"
                [behaviourType]="'wifi-signal'"
                [value]="item[column.title].signal"
              >
                {{item[column.title].network}}
              </span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'battery'">
            <div class="battery">
              <span
                appBehaviour
                [behaviourType]="'battery-charging-icon'"
                [value]="item[column.title].chargingStatus"
              >
                {{item[column.title].level}}%
              </span>
              <mat-icon *ngIf="item[column.title].chargingStatus !== 'NOT_CHARGING'" class="flash-icon">flash_on</mat-icon>
              <app-battery-level [value]="item[column.title].level"></app-battery-level>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'appVersion'">
            <div class="app-version">
              <span>{{item['version'].app}}</span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'androidVersion'">
            <div class="android-version">
              <span>{{item['version'].android}}</span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'bluetooth'">
            <div class="bluetooth">
              <span appBehaviour [behaviourType]="'bluetooth'" [value]="item[column.title]"></span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.title === 'cellularSignal'">
            <div class="location">
              <span appBehaviour [behaviourType]="'cellular-signal'" [value]="item[column.title]"></span>
            </div>
          </ng-container>
        </mat-cell>

        <mat-footer-cell *matFooterCellDef>
          <span class="data-not-found">No data found</span>
        </mat-footer-cell>

      </ng-container>
      <mat-header-row *matHeaderRowDef="columnTitles"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnTitles;"></mat-row>
      <mat-footer-row [class.hidden]="(spinnerVisibility$ | async) || (items.length !== 0)" *matFooterRowDef="columnTitles"></mat-footer-row>
    </mat-table>
  </div>
</div>
