@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-devices-status-table {
  position: relative;

  mat-table {
    background-color: transparent;
    margin-top: 10px;
    padding: 0px 20px;
  }

  mat-row {
    height: 80px;

    @media(max-width: $tablet) {
      height: 115px;
    }
  }

  mat-footer-row {
    &.hidden {
      display: none;
    }
  }

  mat-header-cell:nth-child(1),
  mat-header-cell:nth-child(3),
  mat-header-cell:nth-child(4),
  mat-cell:nth-child(1),
  mat-cell:nth-child(3),
  mat-cell:nth-child(4) {
    flex: 4;
  }

  mat-header-cell:nth-child(1),
  mat-cell:nth-child(1) {
    flex: 6;
    padding-left: 15px;
    word-break: break-all;
  }

  mat-header-cell:nth-child(2),
  mat-cell:nth-child(2) {
    flex: 3;
  }

  mat-header-cell:nth-child(5),
  mat-cell:nth-child(5) {
    flex: 4;
  }

  mat-header-cell:nth-child(6),
  mat-cell:nth-child(6) {
    flex: 3;
  }

  mat-header-cell {
    display: flex;
    align-items: flex-start;
    padding-left: 30px;
    font-size: 18px;
    color: $table-header;

    &:nth-child(2) {
      padding-left: 20px;
    }
  
    &:nth-child(7) {
      @media(max-width: 1024px) {
        flex: 2;
      }
    }

    span {
      text-align: left;
    }

    @media(max-width: $tablet) {
      word-break: break-all;
    }
  }

  mat-cell {
    font-size: 18px;
    color: $black;
    height: 54px;
    padding-left: 30px;
    height: 100%;

    &:nth-child(1) {
      font-weight: bold;
      text-decoration: underline;
    }
  
    &:nth-child(2) {
      @media(max-width: 1024px) {
        word-break: break-all;
      }
    }
  
    &:nth-child(6) {
      word-break: break-all;
    }
  
    &:nth-child(7) {
      @media(max-width: 1024px) {
        padding-right: 10px;
      }
  
      @media(max-width: $tablet) {
        padding-right: 15px;
      }
    }
  
    &:nth-child(8),
    &:nth-child(9) {
      @media(max-width: $tablet) {
        padding: 0 10px;
      }
    }
    
    .datetime-text {
      .delimiter {
        font-size: 12px;
        margin: 0 5px;
      }
    }
  }

  mat-footer-cell {
    &:not(:nth-child(1)) {
      display: none;
    }

    &:nth-child(1) {
      padding: 0;
      font-size: 18px;
      display: flex;
      justify-content: center;
    }
  }

  .status {
    .rs-good {
      color: $customer-support-green-1;
    }

    .rs-warning {
      color: $orange;
    }

    .rs-bad {
      color: $red-3;
    }
  }
  
  .battery {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .rs-battery-level {
      &.rs-not-charging {
        margin-right: 28px;
      }
    }
    
    .flash-icon {
      font-size: 18px;
      height: 18px;
    }

    @media(max-width: 1024px) {
      flex-direction: column;
    }

    @media(max-width: $tablet) {
      height: 60px;
    }
  }
  
  .wifi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    span.rs-low-signal-icon, span.rs-high-signal-icon {
      background-repeat: no-repeat;
    }

    span.rs-low-signal-icon {
      height: 30px;
      width: 20px;
      background-image: url("/assets/images/wifi-low-signal.svg");

      @media(max-width: 1024px) {
        justify-content: center;
      }
    }

    span.rs-high-signal-icon {
      height: 30px;
      width: 30px;
      background-image: url("/assets/images/wifi-high-signal.svg");

      @media(max-width: 1024px) {
        justify-content: center;
        width: 25px;
      }
    }

    span.rs-wifi-network {
      color: $label;

      @media(max-width: 1024px) {
        word-break: break-all;
      }
    }

    span.rs-low-signal, span.rs-high-signal {
      color: $black;
      margin-left: 5px;
    }

    @media(max-width: 1400px) {
      justify-content: space-around;
    }
    
    @media(max-width: $tablet) {
      height: 70px;
    }
  }

  .location {
    span {
      display: block;
      background-repeat: no-repeat;
      height: 35px;
      width: 30px;
    }

    span.rs-high-signal-icon {
      background-image: url("/assets/images/location-on.svg");
    }

    span.rs-poor-signal-icon {
      background-image: url("/assets/images/location-warning.svg");
    }

    span.rs-no-signal-icon {
      background-image: url("/assets/images/location-off.svg");
    }
  }
  
  .orange {
    color: $orange;
  }

  .red {
    color: $red-3;
  }

  .green {
    color: $customer-support-green-1;
  }

  mat-icon.icon {
    color: $light-gray;
    font-size: 30px;

    &.bluetooth-active {
      color: $blue;
    }

    &.wifi {
      font-weight: bold;

      &.low-signal {
        font-size: 12px;
      }
    }
  }

  .action-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

app-spinner {
  ::ng-deep {
    .rs-spinner {
      padding-bottom: 20px;
    }
  }
}
