<div class="rs-tenant-category-permissions">
  <div class="rs-tenant-category-permissions__buttons d-flex align-items-center justify-content-between">
    <div class="rs-tenant-category-permissions__buttons__group d-flex justify-content-between align-items-center">
      <div class="version-button">
        <mat-form-field appearance="outline">
          <mat-select [value]="(selectedVersion$ | async)?.version" (selectionChange)="onVersionChange($event)">
            <mat-option *ngFor="let version of (selectedItem$ | async)?.versions" [value]="version.version">{{version.version}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="isVersionExist && !(isVersionPuplished$ | async)" class="changed-version-label">
        <span>{{'shared.not-applied-changes' | translate}}</span>
      </div>
    </div>
    <div class="rs-tenant-category-permissions__buttons__group d-flex">
      <app-icon-button
        *ngIf="false"
        aria-label="schedule-deployment"
        [caption]="'orchestrator-b2b.tenants-categories.schedule-deployment' | translate"
        [icon]="'schedule'"
      >
      </app-icon-button>
      <app-icon-button
        aria-label="publish"
        *ngIf="isVersionExist && !(isVersionPuplished$ | async)"
        [caption]="'shared.PUBLISH' | translate"
        (click)="onPublish()"
      >
      </app-icon-button>
      <app-icon-button
        *ngIf="isVersionExist"
        aria-label="duplicate"
        [caption]="'shared.DUPLICATE' | translate"
        [icon]="'content_copy'"
        (click)="onVersion(true)"
      >
      </app-icon-button>
      <app-icon-button
        aria-label="new-version"
        [caption]="'shared.NEW-VERSION' | translate"
        (click)="onVersion()"
      >
      </app-icon-button>
      <app-icon-button
        *ngIf="isVersionExist"
        aria-label="status"
        [caption]="(selectedVersion$ | async)?.isDisabled ? 'shared.ENABLE' : 'shared.DISABLE' | translate"
        (click)="onVersionState()"
      >
      </app-icon-button>
    </div>
  </div>
  <div class="rs-tenant-category-permissions__version-info d-flex flex-column">
    <app-section-header [title]="'shared.version-info'"></app-section-header>
    <div class="rs-tenant-category-permissions__version-info__input-data row" [formGroup]="formGroup">
      <mat-form-field class="col-4" appearance="outline">
        <mat-label>{{'shared.version-name' | translate}}</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
        <mat-error *ngIf="formGroup.get('name').hasError('exists')">{{'forms.exists' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-8" appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="formGroup.get('description').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="false" class="rs-tenant-category-permissions__deployment-progress">
    <app-section-header [title]="'orchestrator-b2b.tenants-categories.deployment-progress'"></app-section-header>
    <app-deployment-progress [deploymentStatus]=""></app-deployment-progress>
  </div>
  <div class="rs-tenant-category-permissions__permissions">
    <app-section-header
      [title]="'menu.permissions'"
      [isSearch]="true"
      [searchPlaceholder]="'placeholders.search-permissions'"
      (search)="onSearch($event)"
    >
    </app-section-header>
    <div *ngIf="false" class="rs-tenant-category-permissions__permissions__table">
      <table class="table">
        <thead>
          <tr class="d-flex">
            <th scope="col" *ngFor="let columnHeader of []">{{columnHeader.header | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="d-flex" *ngFor="let columnTitle of []; let columnTitleIndex = index">
            <th scope="row">{{columnTitle.title | translate}}</th>
            <td></td>
            <td></td>
            <td>
              <mat-form-field appearance="outline">
                <mat-select [value]="getPermissionsData([], columnTitleIndex)">
                  <mat-option [value]="getPermissionsData([], columnTitleIndex)">{{getPermissionsData([], columnTitleIndex)}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <table class="table catalog-white">
              <tbody>
                <tr class="d-flex" *ngFor="let item of []; let columnIndex = index">
                  <th class="catalog-white_permission" scope="row">{{item.permissionResource}}</th>
                  <td class="catalog-white_method">{{item.method}}</td>
                  <td class="catalog-white_api d-flex justify-content-start align-items-center">
                    <div class="api-status"></div>
                    <span>{{item.api}}</span>
                  </td>
                  <td class="permission">{{getPermissionCatalogWhiteData([], columnIndex)}}</td>
                </tr>
              </tbody>
            </table>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="rs-tenant-category-permissions__add">
    <app-add-button routerLink="/orchestrator-b2b/tenants-categories/add"></app-add-button>
  </div>
</div>
