@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-tenant-category-permissions {
  &__buttons {
    margin: 30px;

    &__group:nth-child(1) {
      .version-button {
        mat-form-field {
          width: 200px;
          margin-right: 30px;
    
          ::ng-deep & {
            .mat-form-field-flex {
              height: 50px;
              align-items: center;
            }
    
            .mat-form-field-infix {
              border-top: 0;

              .mat-select-trigger {
                @media(max-width: $mobile) {
                  top: 5px;
                }
              }
            }
    
            .mat-select-value {
              line-height: 1;
              
              .mat-select-value-text > span {
                @include font($light-black, 18px, bold);
              }
            }
    
            .mat-select-arrow-wrapper > div {
              height: 18px !important;
              width: 25px !important;
              margin-right: 0px !important;

              @media(max-width: $mobile) {
                margin-top: 5px !important;
              }
            }
          }

          @media(max-width: 1024px) {
            margin-right: 15px;
          }
    
          @media(max-width: $tablet) {
            margin: 20px 30px 20px 0;
          }
  
          @media(max-width: $mobile) {
            margin: 10px;
          }
        }
      }

      .changed-version-label {
        @include font($yellow, 16px, bold);
      }
    }

    &__group:nth-child(2) {
      ::ng-deep {
        app-icon-button {
          border-radius: 4px;
          height: 50px;
          margin: 20px 10px 20px 0;

          mat-icon {
            font-size: 20px;
            font-weight: bold;
          }

          &[aria-label="publish"],
          &[aria-label="duplicate"],
          &[aria-label="new-version"] {
            background-color: $blue;
            
            button {
              border: none;
              @include font($gray, 16px, bold);
            }
          }
    
          &[aria-label="status"] {
            background-color: $white;
            margin-right: 0;
            
            button {
              @include font($blue, 16px, bold);
            }
          }

          &:nth-child(4) {
            @media(max-width: $mobile) {
              margin-right: 0;
            }
          }

          &:nth-child(5) {
            mat-icon {
              width: 20px !important;
            }

            @media(max-width: $tablet) {
              margin-right: 0;
            }
            
            @media(max-width: $mobile) {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }

      @media(max-width: $tablet) {
        width: 100%;
        display: flex !important;
        justify-content: space-around;
      }
    }

    @media(max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start !important;
    }

    @media(max-width: $mobile) {
      margin: 30px 5px;
    }
  }

  &__version-info {
    margin: 40px 30px 20px;

    &__input-data {
      margin: 40px 0;

      mat-form-field {
        padding: 0;

        &:nth-child(1) {
          padding-right: 7px;
        }

        &:nth-child(2) {
          padding-left: 7px;
        }

        ::ng-deep & {
          .mat-form-field-flex {
            height: 65px;
            align-items: center;
          }

          .mat-form-field-prefix {
            @media(max-width: $mobile) {
              top: 4px;
            }
          }
  
          .mat-form-field-infix {
            border-top: 0;
            line-height: 1;

            input {
              @include font($light-black, 18px);
            }

            mat-label {
              @include font($placeholder, 18px);
            }

            @media(max-width: $mobile) {
              line-height: normal;
            }
          }
        }

        mat-error {
          margin-top: 20px;
        }
      }

      @media(max-width: $mobile) {
        margin: 30px 0 20px;
      }
    }

    @media(max-width: $mobile) {
      margin: 30px 15px;
    }
  }

  &__permissions {
    margin: 40px;

    
    ::ng-deep {
      app-section-header {
        .rs-orchestrator-section-header { 
          &__actions {
            .rs-search {
              width: 450px;
              background: $white;
      
              .mat-form-field-flex {
                height: 50px;
                align-items: center;
                margin-top: 0;
              }
        
              .mat-form-field-prefix > i {
                color: $blue;
              }
        
              .mat-form-field-infix {
                top: -2px;
                border-top: 0;
                line-height: 1 !important;
        
                input {
                  @include font($light-black, 18px);
                }
        
                mat-label {
                  @include font($placeholder, 18px);
                }
        
                .mat-form-field-label-wrapper {
                  @media(max-width: $mobile) {
                    top: -6px;
                  }
                }
        
                @media(max-width: $mobile) {
                  line-height: normal;
                }
              }
  
              @media(max-width: 1024px) {
                width: 400px;
              }
      
              @media(max-width: $tablet) {
                width: 230px;
              }

              @media(max-width: $mobile) {
                width: 255px;
              }
            }

            .import-export-buttons {
              .import-button, .export-button {
                @include size(130px, 50px);
  
                span {
                  @include font($blue, 16px, bold);
      
                  &:nth-child(1) {
                    margin-right: 5px;
                  }
                }
              }
      
              .import-button {
                margin: 0 15px;
              }
            }

            @media(max-width: $mobile) {
              margin-top: 20px;
            }
          }

          @media(max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start !important;
          }
        }
      }
    }

    &__table {
      margin-top: 20px;

      table {
        thead {
          th {
            flex: 1;
            word-break: break-word;

            &:nth-child(3) {
              @media(max-width: $tablet) {
                flex: 2;
              }
            }

            &:nth-child(4) {
              flex: 2;
            }
          }
        }
  
        tbody {
          tr {
            border: none;
  
            th,
            td {
              flex: 1;
            }
  
            th {
              display: flex;
              align-items: center;
            }

            td {
              &:nth-child(3) {
                @media(max-width: $tablet) {
                  flex: 2;
                }
              }

              &:nth-child(4) {
                flex: 2;
              }

              ::ng-deep mat-form-field {
                width: 100px;
                background-color: $white;
  
                .mat-form-field-flex {
                  height: 50px !important;
  
                  .mat-form-field-infix {
                    width: 0 !important;
                    border-top: 0;
  
                    .mat-select-value-text {
                      @include font($text, 14px, bold);
                    }
  
                    .mat-select-arrow {
                      @include size(20px, 20px);
                      margin: 0 !important;
                      margin-top: 8px !important;
                    }
                  }
                }
              }
            }
          }
        }
  
        table.catalog-white {
          tr {
            border-top: solid 1px $border;
            border-bottom: solid 1px $border;
  
            th {
              padding-left: 30px;
              padding-right: 0;
            }
  
            td {
              word-break: break-all;
  
              &.catalog-white {
                &_api {
                  .api-status {
                    @include size(10px, 10px);
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: $customer-support-green-2;
                  }
                }
              }

              &:nth-child(3) {
                @media(max-width: $tablet) {
                  flex: 2;
                }
              }
            }
          }
        }
      }
    }

    @media(max-width: $mobile) {
      margin: 40px 15px;
    }
  }
}
