<div>
  <div [class.rs-root-content_blur]="spinnerVisibility">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="spinnerVisibility">
    <app-spinner></app-spinner>
  </div>
</div>
<simple-notifications></simple-notifications>
<app-filters></app-filters>
<app-export></app-export>
