@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";
@import "../../../../../shared/css/mixins.scss";

:host {
  width: 100%;
}

.rs-customer-support-main {
  &__system-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 18px;
    color: $text;

    .system-label {
      margin: 0 15px;
    }

    mat-icon {
      font-weight: bold;

      &.active {
        color: $customer-support-green-2;
      }
    }

    .status.active {
      color: $customer-support-green-2;
    }
  }

  &__caller {
    background-color: $gray;
    margin: 12px 0 35px;
    padding: 12px 189px 21px 187px;

    .caller-col:nth-child(1) {
      width: 300px;

      .rs-user-icon {
        width: 72px;
        height: 72px;
        margin: 2px 17px 0 0;
        padding: 23px 17px 22px 18px;
        border: solid 4px $customer-support-green-1;
        background-color: $white;
        border-radius: 50%;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__caller-label {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.25);
        }

        &__caller-name {
          font-size: 26px;
          font-weight: bold;
          color: $black;
        }

        &__caller-position {
          font-size: 18px;
          font-weight: 500;
          color: $text;
        }
      }
    }
    .caller-col:nth-child(2) {
      color: $text;
      font-size: 18px;
      flex-grow: 4;

      span {
        width: 217px;
        font-weight: 500;
      }
    }
    .caller-col:nth-child(3) {
      button {
        width: 236px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 8px;
        border: solid 1px #7d7a77;
      }
    }

    @media(max-width: $desktop) {
      padding: 12px 60px 21px;
    }

    @media(max-width: $tablet) {
      padding: 12px 30px 21px;
    }

    @media(max-width: $mobile) {
      flex-wrap: wrap;
    }
  }

  &__caller-work-place {
    display: flex;
    flex-direction: column;
    margin: 0 45px 0 193px;
    background-color: $white;

    & > div {
      &:first-child {
        font-weight: bold;
        font-size: 26px;
        color: $black;
      }

      &:last-child {
        margin-top: 10px;
        display: flex;

        .info-col {
          &:nth-child(1) {
            font-size: 18px;
            color: $text;
            width: 300px;

            @media(max-width: $tablet) {
              width: 250px;
            }
          }
          &:nth-child(2) {
            font-size: 18px;
            color: $text;
            flex-grow: 1;

            & > div:first-child {
              span.closed, span.opened {
                margin-left: 10px;

                @media(max-width: $mobile) {
                  margin-left: 0;
                }
              }
              
              span.closed {
                color: $red-2;
              }
  
              span.opened {
                color: $customer-support-green-2;
              }

              @media(max-width: $mobile) {
                display: flex;
                flex-direction: column;
              }
            }

            & > div:last-child {
              margin-top: 10px;
              display: flex;
              flex-direction: column;

              .open-hours__item {
                margin: 3px 0;

                span {
                  font-weight: 500;

                  &.open-hours__time {
                    @media(max-width: $mobile) {
                     margin-top: 5px;
                    }
                  }
                }

                @media(max-width: $mobile) {
                  display: flex;
                  flex-direction: column;
                  margin: 5px 0;
                }
              }
            } 

            .open {
              color: $customer-support-green-2;
            }
          }

          &:nth-child(3) {
            button {
              @include size(60px, 60px);
              cursor: pointer;
              border-radius: 50%;
              background: $blue;
              border: none;
              color: $white;
            }
          }
        }
      }
    }

    @media(max-width: $desktop) {
      margin: 0 20px 0 60px;
    }

    @media(max-width: $tablet) {
      margin: 0 20px 0 30px;
    }
  }

  &__content {
    margin: 62px 0 0;
  }
}
