<div class="rs-customer-support-main" *ngIf="selectedSupportRequest$ | async as selectedSupportRequest">
  <!-- <div class="rs-customer-support-main__system-status">
    <ng-container>
      <mat-icon class="active">done</mat-icon>
      <span class="system-label">{{'support-requests.rockspoon-core-system' | translate}}</span>
      <span class="status active">{{systemStatus | translate}}</span>
    </ng-container>
  </div> -->
  <div class="rs-customer-support-main__caller d-flex">
    <div class="d-flex caller-col">
      <div class="rs-user-icon d-flex justify-content-center align-items-center">{{selectedSupportRequest.caller.letters}}</div>
      <div class="description">
        <div class="description__caller-label">{{'support-requests.caller' | translate}}</div>
        <div class="description__caller-name">{{selectedSupportRequest.caller.name}}</div>
        <div class="description__caller-position">{{selectedSupportRequest.caller.position}}</div>
      </div>
    </div>
    <div class="caller-col d-flex align-items-end ">
      <span>{{'support-requests.clocked-time' | translate}}: {{selectedSupportRequest.createdTime}}</span>
    </div>
    <div class="caller-col d-flex align-items-center">
      <button class="mat-stroked-button" (click)="reactOnCallerAccessRights()">{{'support-requests.caller-access-rights' | translate}}</button>
    </div>
  </div>
  <div class="rs-customer-support-main__caller-work-place">
    <div class="work-place-header">{{selectedSupportRequest.restaurant.name}} - {{selectedSupportRequest.restaurant.address}}</div>
    <div class="work-place-info">
      <div class="info-col">
        <div>{{selectedSupportRequest.restaurant.type}}</div>
      </div>
      <div class="info-col">
        <div class="local-time">
          <span class="local-time__time">{{'support-requests.time' | translate}}: {{selectedSupportRequest.restaurant.localTime | localTime}}</span>
          <span
            class="local-time_working-status working-status"
            appWorkingStatus
            [openningHours]="selectedSupportRequest.restaurant.openningHours"
            [timezone]="selectedSupportRequest.restaurant.timezone"
          ></span>
        </div>
        <div class="open-hours">
          <ng-container *ngFor="let openHoursItem of selectedSupportRequest.restaurant.openningHours">
            <ng-container *ngIf="openHoursItem.periods.length === 1">
              <div class="open-hours__item">
                <span class="open-hours__week-days">{{openHoursItem | openningHours : 'weekDays'}}: </span>
                <span class="open-hours__time">{{openHoursItem | openningHours : 'time'}}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="openHoursItem.periods.length > 1">
              <ng-container *ngFor="let daysOfWeek of openHoursItem.daysOfWeek; let index = index">
                <div class="open-hours__item">
                  <span class="open-hours__week-days">{{daysOfWeek | openningHours : 'weekDays' : openHoursItem.periods[index]}}: </span>
                  <span class="open-hours__time">{{daysOfWeek | openningHours : 'time' : openHoursItem.periods[index]}}</span>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <!-- <div class="info-col">
        <button class="phone-button d-flex justify-content-center align-items-center">
          <mat-icon>local_phone</mat-icon>
        </button>
      </div> -->
    </div>
  </div>
  <div class="rs-customer-support-main__content">
    <router-outlet></router-outlet>
  </div>
</div>