@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-product-features {
  &__buttons {
    margin: 30px;

    &__group:nth-child(1) {
      .version-button {
        mat-form-field {
          width: 200px;
          margin-right: 30px;
    
          ::ng-deep & {
            .mat-form-field-flex {
              height: 50px;
              align-items: center;
            }
    
            .mat-form-field-infix {
              border-top: 0;

              .mat-select-trigger {
                @media(max-width: $mobile) {
                  top: 5px;
                }
              }
            }
    
            .mat-select-value {
              line-height: 1;
              
              .mat-select-value-text > span {
                @include font($light-black, 18px, bold);
              }
            }
    
            .mat-select-arrow-wrapper > div {
              height: 18px !important;
              width: 25px !important;
              margin-right: 0px !important;
            }
          }
    
          @media(max-width: $tablet) {
            margin: 20px 0;
          }
  
          @media(max-width: $mobile) {
            margin: 10px;
          }
        }
      }

      .changed-version-label {
        @include font($yellow, 16px, bold);
      }
    }

    &__group:nth-child(2) {
      ::ng-deep {
        app-icon-button {
          border-radius: 4px;
          height: 50px;
          margin: 20px 10px 20px 0;

          mat-icon {
            font-size: 20px;
            font-weight: bold;
          }

          &[aria-label="publish"],
          &[aria-label="duplicate"],
          &[aria-label="new-version"] {
            background-color: $blue;
            
            button {
              border: none;
              @include font($gray, 16px, bold);
            }
          }
    
          &[aria-label="status"] {
            background-color: $white;
            
            button {
              @include font($blue, 16px, bold);
            }
          }

          &:nth-child(4) {
            @media(max-width: $mobile) {
              margin-right: 0;
            }
          }

          &:nth-child(5) {
            mat-icon {
              width: 20px !important;
            }

            @media(max-width: $tablet) {
              margin-right: 0;
            }
            
            @media(max-width: $mobile) {
              margin-top: 0;
              margin-bottom: 0;
            }
          }
        }
      }

      @media(max-width: $tablet) {
        width: 100%;
        display: flex !important;
        justify-content: space-between;
      }

      @media(max-width: $mobile) {
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }

    @media(max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start !important;
    }

    @media(max-width: $mobile) {
      margin: 30px 5px;
    }
  }

  &__version-info {
    margin: 40px 30px 20px;

    &__input-data {
      margin: 40px 0;

      mat-form-field {
        padding: 0;

        &:nth-child(1) {
          padding-right: 7px;
        }

        &:nth-child(2) {
          padding-left: 7px;
        }

        ::ng-deep & {
          .mat-form-field-flex {
            height: 65px;
            align-items: center;
          }
  
          .mat-form-field-infix {
            border-top: 0;
            line-height: 1;

            input {
              @include font($light-black, 18px);
            }

            mat-label {
              @include font($placeholder, 18px);
            }

            @media(max-width: $mobile) {
              line-height: normal;
            }
          }
        }

        mat-error {
          margin-top: 20px;
        }
      }

      @media(max-width: $mobile) {
        margin: 30px 0 20px;
      }
    }

    @media(max-width: $mobile) {
      margin: 30px 15px;
    }
  }

  &__features-list {
    margin: 40px 30px 20px;

    ::ng-deep {
      app-section-header {
        .rs-orchestrator-section-header {
          &__actions {
            .rs-search {
              width: 450px;
              background: $white;
      
              .mat-form-field-flex {
                height: 50px;
                align-items: center;
              }

              .mat-form-field-prefix {
                top: 1px;
              }
        
              .mat-form-field-infix {
                border-top: 0;
                line-height: 1 !important;
        
                input {
                  @include font($light-black, 18px);
                }
        
                mat-label {
                  @include font($placeholder, 18px);
                }
        
                .mat-form-field-label-wrapper {
                  label {
                    top: 31px;
    
                    @media(max-width: $tablet) {
                      top: 31px;
                    }
                  }
        
                  @media(max-width: $mobile) {
                    top: -15px;
                  }
                }
        
                @media(max-width: $mobile) {
                  line-height: normal;
                }
              }
      
              @media(max-width: $mobile) {
                width: 550px;
              }
            }  

            @media(max-width: $mobile) {
              margin-top: 20px;
            }
          }

          @media(max-width: $mobile) {
            flex-direction: column;
            align-items: flex-start !important;
          }
        }
      }

      mat-table {
        margin-top: 30px !important;

        .form-check {
          @include size(26px, 26px);
    
          input {
            @include size(26px, 26px);
            margin-top: 0;
          }
        }

        mat-header-row {
          border-top: 1px solid $shadow;
        }

        mat-row {
          border: none;

          &:nth-child(odd) {
            background-color: $border;
          }
        }

        mat-header-cell, mat-cell {
          &:first-child {
            flex: unset;
            padding-left: 15px !important;
          }

          &:last-child {
            flex: 2;
            padding-right: 15px !important;
          }
        }

        mat-header-cell {
          @include font($light-black, 14px, bold);
        }

        mat-cell {
          @include font($light-black, 14px);

          &:nth-child(2) {
            @include font($light-black, 14px, bold);
          }

          @media(max-width: 1024px) {
            word-break: break-all;
          }

          @media(max-width: $tablet) {
            height: 70px !important;
          }
        }
      }
    }
    
    @media(max-width: $mobile) {
      margin: 40px 15px 20px;
    }
  }
}

::ng-deep .sn-title {
  font-size: 15px !important;
  line-height: unset !important;
}
