<div class="rs-product-features">
  <div class="rs-product-features__buttons d-flex align-items-center justify-content-between">
    <div class="rs-product-features__buttons__group d-flex justify-content-between align-items-center">
      <div class="version-button">
        <mat-form-field appearance="outline">
          <mat-select [value]="(selectedVersion$ | async)?.version" (selectionChange)="onVersionChange($event)">
            <mat-option *ngFor="let version of (selectedItem$ | async)?.versions" [value]="version.version">{{version.version}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="isVersionExist && !(isVersionPuplished$ | async)" class="changed-version-label">
        <span>{{'shared.not-applied-changes' | translate}}</span>
      </div>
    </div>
    <div class="rs-product-features__buttons__group d-flex">
      <app-icon-button
        aria-label="publish"
        *ngIf="isVersionExist && !(isVersionPuplished$ | async)"
        [caption]="'shared.PUBLISH' | translate"
        (click)="onPublish()"
      >
      </app-icon-button>
      <app-icon-button
        *ngIf="isVersionExist"
        aria-label="duplicate"
        [caption]="'shared.DUPLICATE' | translate"
        [icon]="'content_copy'"
        (click)="onVersion(true)"
      >
      </app-icon-button>
      <app-icon-button
        aria-label="new-version"
        [caption]="'shared.NEW-VERSION' | translate"
        (click)="onVersion()"
      >
      </app-icon-button>
      <app-icon-button
        *ngIf="isVersionExist"
        aria-label="status"
        [caption]="(selectedVersion$ | async)?.isDisabled ? 'shared.ENABLE' : 'shared.DISABLE' | translate"
        (click)="onVersionState()"
      >
      </app-icon-button>
    </div>
  </div>
  <div class="rs-product-features__version-info d-flex flex-column">
    <app-section-header [title]="'shared.version-info'"></app-section-header>
    <div class="rs-product-features__version-info__input-data row" [formGroup]="formGroup">
      <mat-form-field class="col-4" appearance="outline">
        <mat-label>{{'shared.version-name' | translate}}</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
        <mat-error *ngIf="formGroup.get('name').hasError('exists')">{{'forms.exists' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="col-8" appearance="outline"> 
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="formGroup.get('description').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-product-features__features-list">
    <app-data-list
      [isTableDisabled]="(selectedVersion$ | async)?.isDisabled"
      [headerTitle]="'orchestrator-b2b.products.select-features'"
      [searchPlaceholder]="'placeholders.search-features'"
      [tableData]="tableData$ | async"
      [selectedTableData]="(formGroup && formGroup.get('features').value) || []"
      [filteredSource]="tableData$ | async"
      [tableColumns]="columns"
      [isPaginator]="false"
      [isSearch]="true"
      [isAddButton]="false"
      [tableDataService]="featuresService"
      [tableDataServiceFilteringMethod]="'filterFeatures'"
      [tableDataFilteringColumnDataKey]="'name'"
      (select)="onSelectTableData($event)"
    >
    </app-data-list>
  </div>
</div>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
