@import "../../../../shared/css/breakpoints.scss";

.rs-profitability {
  min-height: calc(100vh - 88px);
  background-color: white;
  padding: 60px 140px 0px 40px;


  &__filters {
    margin-top: 30px;
    margin-bottom: 33px;
  }
  &_merchant-profile {
    padding: 30px 0;

    .rs-profitability__header, .rs-profitability__filters {
      padding-left: 40px;
      padding-right: 50px;
    }
  }
}

@media(max-width: $tablet) {
  .rs-profitability {
    padding: 20px 10px;
  
    &__filters {
      margin-top: 30px;
      margin-bottom: 33px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-profitability {
    min-height: calc(100vh - 50px);

    &::ng-deep {
      .rs-square-button, .rs-profitability__header .rs-square-button button {
        height: 60px !important;
        width: 60px !important;
      }
    }
  }
}
