<div
  class="rs-profitability"
  [ngClass]="{
    'rs-profitability_merchant-profile': isMerchantProfile
  }"
>
  <div class="rs-profitability__header">
    <rs-module-header
      caption="menu.profitability"
      exportTitle="menu.merchants-list"
      filtersEndpoint="profitability-filters"
      placeholder="placeholders.merchants"
      [hideFilter]="isMerchantProfile"
    ></rs-module-header>
  </div>
  <div class="rs-profitability__filters">
    <rs-profitability-filters></rs-profitability-filters>
  </div>
  <div class="rs-profitability__table">
    <rs-total-table [items]="profits$ | async" [isMerchantProfile]="isMerchantProfile"></rs-total-table>
  </div>
</div>