<app-popup [caption]="isProvisioning ? 'dialogs.provisioning-result' : 'dialogs.verification-result'" [black]="true">
  <div id="content">
    <div class="rs-verification-result">
      <div class="rs-verification-result__title" *ngIf="!isProvisioning">Giact {{'verifications.verification' | translate}}</div>
      <div class="rs-verification-result__title" *ngIf="isProvisioning">Ingenico {{'provisioning.provisioning-result' | translate}}</div>
      <div class="rs-verification-result__content d-flex">
        <div class="rs-verification-result__content-left" *ngIf="!isProvisioning">{{'verifications.verification-details' | translate}}</div>
        <div class="rs-verification-result__content-left" *ngIf="isProvisioning">{{'provisioning.provisioning-details' | translate}}</div>
        <div class="rs-verification-result__content-right" [formGroup]="verificationForm">
          <div class="rs-merchants-general-info__section">
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.date' | translate}}</mat-label>
                <input formControlName="date" matInput type="text" placeholder="{{'placeholders.date' | translate}}">
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.time' | translate}}</mat-label>
                <input formControlName="time" matInput type="text" placeholder="{{'placeholders.time' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.company' | translate}}</mat-label>
                <input formControlName="company" matInput type="text" placeholder="{{'placeholders.company' | translate}}">
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.type' | translate}}</mat-label>
                <input formControlName="type" matInput type="text" placeholder="{{'placeholders.type' | translate}}">
              </mat-form-field>
            </div>
            <!-- <div class="rs-merchants-general-info__section-row d-flex" *ngIf="!isProvisioning">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.started-by' | translate}}</mat-label>
                <input formControlName="startedBy" matInput type="text" placeholder="{{'placeholders.started-by' | translate}}">
              </mat-form-field>
            </div> -->
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.reason' | translate}}</mat-label>
                <input formControlName="reason" matInput type="text" placeholder="{{'placeholders.reason' | translate}}">
              </mat-form-field>
            </div>
            <!-- <div class="rs-merchants-general-info__section-row d-flex" *ngIf="!isProvisioning">
              <mat-form-field class="w-100 rs-app__textarea" appearance="outline">
                <mat-label>{{'placeholders.reason-details' | translate}}</mat-label>
                <textarea formControlName="reasonDetails" placeholder="{{'placeholders.reason-details' | translate}}" matInput></textarea>
              </mat-form-field>
            </div> -->
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'placeholders.status' | translate}}</mat-label>
                <input formControlName="status" matInput type="text" placeholder="{{'placeholders.status' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-merchants-general-info__section-row d-flex">
              <mat-form-field class="w-100 rs-app__textarea" appearance="outline">
                <mat-label>{{'placeholders.full-reason' | translate}}</mat-label>
                <textarea formControlName="fullReason" placeholder="{{'placeholders.full-reason' | translate}}" matInput></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-popup>