@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-verification-result {
  padding: 60px 120px;

  .rs-merchants-general-info__section {
    padding: 0 !important;
  }
  &__title {
    font-size: 36px;
    font-weight: bold;
    color: $dark;
    margin-bottom: 60px;
  }
  &__content {
    &-left {
      font-size: 20px;
      font-weight: bold;
      color: $dark;
      flex-basis: 35%;
    }
    &-right {
      flex-basis: 65%;

      &::ng-deep {
        .mat-form-field-flex {
          height: 60px;
        }
        .mat-form-field-label {
          font-size: 18px !important;
        }
        input {
          font-size: 18px !important;
        }
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-verification-result {
    &__content {
      flex-direction: column;
    }
  }
}

@media(max-width: $tablet) {
  .rs-verification-result {
    padding: 20px 10px;
  }
}

@media(max-width: $mobile) {
  .rs-verification-result {
    &__title {
      font-size: 20px;
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &__content {
      &-left {
        font-size: 16px;
        padding-left: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

