@import "../../../../../shared/css/colors.scss";

.rs-battery-level {
  height: 100%;
  display: flex;

  mat-progress-bar {
    width: 50px;
    height: 15px;
    border-radius: 3px;

    ::ng-deep .mat-progress-bar-buffer {
      background-color: $disabled;
    }
  }

  mat-progress-bar.low {
    ::ng-deep .mat-progress-bar-fill {
      &::after {
        background-color: $red-2;
      }
    }
  }
  mat-progress-bar.medium {
    ::ng-deep .mat-progress-bar-fill {
      &::after {
        background-color: $orange;
      }
    }
  }
  mat-progress-bar.high {
    ::ng-deep .mat-progress-bar-fill {
      &::after {
        background-color: $customer-support-green-1;
      }
    }
  }
}
