<app-merchant-accordion-item caption="merchants.bank-information">
  <div class="rs-merchants-general-info" [formGroup]="bankInformationForm">
    <div class="rs-merchants-general-info__section">
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'bank-information.bank' | translate}}</mat-label>
          <input formControlName="bank" matInput type="text" placeholder="{{'bank-information.bank' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.account-type' | translate}}</mat-label>
          <input formControlName="accountType" matInput type="text" placeholder="{{'placeholders.account-type' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.routing-number' | translate}}</mat-label>
          <input formControlName="routingNumber" matInput type="text" placeholder="{{'placeholders.routing-number' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.account-number' | translate}}</mat-label>
          <input formControlName="accountNumber" matInput type="text" placeholder="{{'placeholders.account-number' | translate}}">
        </mat-form-field>
      </div>
    </div>
  </div>
</app-merchant-accordion-item>
