@import "../../../shared/css/colors.scss";
@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-add-staff {
  padding: 70px 130px;

  &__title {
    font-size: 40px;
    color: black;
    margin-bottom: 60px;
  }
  &__actions {
    margin-bottom: 90px;

    &-button {
      flex: 1;
      margin-right: 40px;
      height: 70px;
      box-shadow: none;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
      &_stroked {
        border-radius: 0;
        box-shadow: 0 2px 4px 0 $shadow;
        border: solid 1px $shadow-border;
        color: $blue;
      }
      &_delete {
        color: $red;
      }
    }
  }
  &__content {
    border-bottom: 2px solid $light-gray-border;

    &-subtitle {
      font-size: 24px;
      font-weight: bold;
      color: $light-black;
    }
    &-info {
      width: 610px;

      &-photo {
        @include size(160px, 160px);

        &-wrapper {
          width: 100%;
          height: 182px;
          border-radius: 8px;
          background-image: url("../../../../assets/images/photo-back.png");
          margin-bottom: 15px;
          background-size: cover;
        }
      }
      &-actions {
        margin-bottom: 68px;

        &-button {
          height: 70px;
          flex: 1;
          margin-right: 20px;
          font-size: 24px;
          font-weight: bold;
          text-transform: uppercase;
          border-radius: 8px;
    
          &:last-child {
            margin-right: 0;
          }
          &:first-child {
            color: $blue;
            border: 1px solid $gray-border;
          }
        }
      }
      &-control {
        margin-bottom: 50px;

        &::ng-deep {
          .mat-form-field-flex {
            height: 80px;
          }
        }
      }
      &-controls {
        margin-bottom: 80px;
      }
    }
  }
  &__access-rights {
    padding-top: 60px;

    &-row {
      font-size: 24px;
      color: $light-black;
      margin-bottom: 35px;

      &-title {
        font-weight: bold;
      }
      &-value {
        justify-content: flex-end;
      }
      div {
        flex: 1;
      }
    }
  }
}

@media(max-width: $desktop) {
  .rs-add-staff {
    padding: 30px;

    &__access-rights {
      padding-top: 30px;

      &-row {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    &__actions {
      &-button {
        margin-right: 10px;
      }
    }
    &__title {
      font-size: 30px;
      margin-bottom: 30px;
      text-align: center;
    }
    &__content {
      flex-direction: column;
      align-items: center;

      &-subtitle {
        margin-bottom: 20px;
      }
      &-info-controls {
        margin-bottom: 30px;
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-add-staff {
    &__access-rights {
      &-title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
      }
    }
    &__content {
      &-info {
        width: 100%;

        &-control {
          margin-bottom: 20px;
        }
        &-actions {
          margin-bottom: 30px;
          flex-wrap: wrap;

          &-button {
            margin-right: 0;
            flex-basis: 100%;
            margin-bottom: 10px;  
          }
        }
      }
    }
    &__actions {
      margin-bottom: 30px;
      flex-wrap: wrap;

      &-button {
        flex-basis: 100%;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
  }
}
