<app-popup caption="dialogs.add-staff-member">
  <div id="content">
    <div class="rs-add-staff" [formGroup]="addStaffForm">
      <div class="rs-add-staff__title" *ngIf="nameVisibility()">
        {{addStaffForm.value.firstName}}
        {{addStaffForm.value.middleName[0]}}<span *ngIf="addStaffForm.value.middleName">.</span>
        {{addStaffForm.value.lastName}}
      </div>
      <div class="rs-add-staff__actions d-flex">
        <button 
          class="rs-add-staff__actions-button rs-add-staff__actions-button_stroked rs-add-staff__actions-button_delete"
          mat-stroked-button
          *ngIf="user"
          (click)="deleteUser()"
        >{{"add-staff.delete-user" | translate}}</button>
        <button
          class="rs-add-staff__actions-button rs-add-staff__actions-button_stroked"
          mat-stroked-button
          (click)="disableUser()"
          *ngIf="user">{{"add-staff.disable-user" | translate}}</button>
        <button 
          class="rs-add-staff__actions-button rs-add-staff__actions-button_stroked"
          mat-stroked-button
          (click)="close()"
          *ngIf="!user">{{"add-staff.discard" | translate}}</button>
        <button
          class="rs-add-staff__actions-button"
          mat-raised-button
          color="primary"
          [disabled]="addStaffForm.invalid"
          (click)="save()">{{"shared.save" | translate}}</button>
      </div>
      <div class="rs-add-staff__content d-flex justify-content-between">
        <div class="rs-add-staff__content-subtitle">{{"add-staff.basic-info" | translate}}</div>
        <div class="rs-add-staff__content-info">
          <div *ngIf="imgUrl" class="rs-add-staff__content-info-photo-wrapper d-flex justify-content-center align-items-center">
            <div class="rs-add-staff__content-info-photo">
              <app-user-icon [imgUrl]="imgUrl"></app-user-icon>
            </div>
          </div>
          <div class="rs-add-staff__content-info-actions d-flex">
            <button
              class="rs-add-staff__content-info-actions-button"
              mat-raised-button
              (click)="inputFile.click()">{{"add-staff.photo-library" | translate}}</button>
            <button 
              class="rs-add-staff__content-info-actions-button"
              mat-raised-button
              (click)="openTakePhoto()"
              color="primary">{{"add-staff.take-photo" | translate}}</button>
            <input [hidden]="true" #inputFile type="file" (change)="reactOnFileSelection($event)">
          </div>
          <div class="rs-add-staff__content-info-controls">
            <div class="rs-add-staff__content-info-control">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"shared.first-name" | translate}}</mat-label>
                <input formControlName="firstName" matInput type="text" placeholder="{{'shared.first-name' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-add-staff__content-info-control">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"shared.middle-name" | translate}}</mat-label>
                <input formControlName="middleName" matInput type="text" placeholder="{{'shared.first-name' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-add-staff__content-info-control">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"shared.last-name" | translate}}</mat-label>
                <input formControlName="lastName" matInput type="text" placeholder="{{'shared.first-name' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-add-staff__content-info-control">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"shared.birth-date" | translate}}</mat-label>
                <input formControlName="birthDate" matInput type="date" placeholder="{{'shared.birth-date' | translate}}">
              </mat-form-field>
            </div>
            <div class="rs-add-staff__content-info-control">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"shared.role" | translate}}</mat-label>
                <mat-select formControlName="role">
                  <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="rs-add-staff__access-rights">
        <div class="rs-add-staff__access-rights-title" *ngIf="resolutionService.mobileOnly()">{{"shared.access-rights" | translate}}</div>
        <div class="rs-add-staff__access-rights-row d-flex">
          <div class="rs-add-staff__access-rights-row-title" *ngIf="!resolutionService.mobileOnly()">{{"shared.access-rights" | translate}}</div>
          <div class="rs-add-staff__access-rights-row-key">Sales Portal</div>
          <div class="rs-add-staff__access-rights-row-value d-flex">
            <mat-slide-toggle color="primary"></mat-slide-toggle>
          </div>
        </div>
        <div class="rs-add-staff__access-rights-row d-flex">
          <div class="rs-add-staff__access-rights-row-title" *ngIf="!resolutionService.mobileOnly()"></div>
          <div class="rs-add-staff__access-rights-row-key">Staff Management</div>
          <div class="rs-add-staff__access-rights-row-value d-flex">
            <mat-slide-toggle color="primary"></mat-slide-toggle>
          </div>
        </div>
        <div class="rs-add-staff__access-rights-row d-flex">
          <div class="rs-add-staff__access-rights-row-title" *ngIf="!resolutionService.mobileOnly()"></div>
          <div class="rs-add-staff__access-rights-row-key">Merchants</div>
          <div class="rs-add-staff__access-rights-row-value d-flex">
            <mat-slide-toggle color="primary"></mat-slide-toggle>
          </div>
        </div>
        <div class="rs-add-staff__access-rights-row d-flex">
          <div class="rs-add-staff__access-rights-row-title" *ngIf="!resolutionService.mobileOnly()"></div>
          <div class="rs-add-staff__access-rights-row-key">Editor’s Portal</div>
          <div class="rs-add-staff__access-rights-row-value d-flex">
            <mat-slide-toggle color="primary"></mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-popup>