@import "../../../../shared/css/breakpoints.scss";
@import "../../../../shared/css/colors.scss";

.rs-fees {
  padding: 75px 180px 40px 40px;
  background-color: #fff;
  min-height: calc(100vh - 88px);

  &__title {
    font-size: 26px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 60px;
  }
  &__content {
    &-item {
      margin-bottom: 48px;
    }
  }
}

@media(max-width: $laptop) {
  .rs-fees {
    padding: 30px;
  }
}

@media(max-width: $mobile) {
  .rs-fees {
    padding: 0px;
    background-color: $table-hover;

    &__title {
      padding: 30px 0 0 30px;
      margin-bottom: 20px;
    }
    &__mobile-content-item {
      margin-bottom: 15px;
    }
  }
}
