<div class="rs-fees">
  <div class="rs-fees__title">{{'menu.rockspoon-fees' | translate}}</div>
  <div class="rs-fees__content" *ngIf="!mobileItemsVisibility()">
    <div class="rs-fees__content-item" *ngFor="let fee of fees$ | async">
      <rs-fee [fee]="fee"></rs-fee>
    </div>
  </div>
  <div class="rs-fees__mobile-content" *ngIf="mobileItemsVisibility()">
    <div class="rs-fees__mobile-content-item" *ngFor="let fee of fees$ | async">
      <rs-fee-mobile-item [fee]="fee"></rs-fee-mobile-item>
    </div>
  </div>
  <div class="rs-fees__changelog">
    <app-changelog-table [changelogItems]="changelog$ | async"></app-changelog-table>
  </div>
</div>
