<div class="rs-verification-mobile-item" appOpenHistoryResult [isProvisioning]="isProvisioning">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="rs-verification-mobile-item__header d-flex justify-content-between">
          <div class="rs-verification-mobile-item__title">{{historyItem.company}}</div>
          <div 
            class="rs-verification-mobile-item__status"
            [ngClass]="{
              'rs-app__pending': historyItem.status === 'Pending',
              'rs-app__denied': historyItem.status === 'Denied'
            }"
          >{{historyItem.status}}</div>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rs-verification-mobile-item__content">
        <div class="rs-verification-mobile-item__row d-flex">
          <div class="rs-verification-mobile-item__key">{{'placeholders.type' | translate}}:</div>
          <div class="rs-verification-mobile-item__value">{{historyItem.type}}</div>
        </div>
        <div class="rs-verification-mobile-item__row d-flex">
          <div class="rs-verification-mobile-item__key">{{'placeholders.reason' | translate}}:</div>
          <div class="rs-verification-mobile-item__value">{{historyItem.reason}}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="rs-verification-mobile-item__footer">{{historyItem.date}}</div>
    </mat-card-actions>
  </mat-card>
</div>