@import "../../../../css/colors.scss";

.rs-verification-mobile-item {
  &__footer {
    color: $light-gray;
    font-size: 12px;
    text-align: left;
  }
  &__status {
    margin-left: 20px;
  }
  &__row {
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__value {
    font-weight: 300;
    margin-left: 15px;
  }
}