@import "../../../../../shared/css/breakpoints.scss";

.rs-devices-status-chart {
  dx-chart {
    height: 280px;
    margin: auto;

    ::ng-deep {
      rect {
        cursor: pointer;
      }
    }
  }
}
