<div class="rs-devices-status-chart">
  <dx-chart
    id="chart"
    [dataSource]="chart?.devicesAvailability"
    [rotated]="true"
    (onPointClick)="onPointClick($event)"
  >
    <dxo-margin
      [top]="40"
      [bottom]="40"
      [left]="40"
      [right]="40">
    </dxo-margin>
    <dxo-argument-axis [visible]="false">
      <dxo-tick [visible]="false"></dxo-tick>
      <dxo-label>  
        <dxo-font weight="700"></dxo-font>  
      </dxo-label>  
    </dxo-argument-axis>

    <ng-container *ngIf="interval === 'now'">
      <dxi-value-axis name="timeAxis" valueType="datetime" [visualRange]="chart?.valuesRange">
        <dxo-tick-interval [hours]="1"></dxo-tick-interval>
        <dxo-label>
          <dxo-format [formatter]="formatter"></dxo-format>
        </dxo-label>
      </dxi-value-axis>
    </ng-container>

    <ng-container *ngIf="interval === 'day'">
      <dxi-value-axis name="dateAxis" valueType="datetime" [visualRange]="chart?.valuesRange">
        <dxo-tick-interval [days]="1"></dxo-tick-interval>
        <dxo-label>
          <dxo-format [formatter]="formatter"></dxo-format>
        </dxo-label>
      </dxi-value-axis>
    </ng-container>

    <ng-container *ngIf="interval === 'week'">
      <dxi-value-axis name="weekAxis" valueType="datetime" [visualRange]="chart?.valuesRange">
        <dxo-tick-interval [weeks]="1"></dxo-tick-interval>
        <dxo-label>
          <dxo-format [formatter]="formatter"></dxo-format>
        </dxo-label>
        <dxi-constant-line
          [width]="1"
          [value]="constantLine"
          color="#454545"
          dashStyle="dash"
          paddingLeftRight="-40"
          paddingTopBottom="-30"
        >
          <dxo-label
            [visible]="true"
            [text]="constantLineLabel"
            verticalAlignment="bottom"
          >
            <dxo-font color="#000000" [size]="14"></dxo-font>
          </dxo-label>
        </dxi-constant-line>
      </dxi-value-axis>
    </ng-container>

    <dxo-common-axis-settings>
      <dxo-grid [visible]="false"></dxo-grid>
      <dxo-label>
        <dxo-font color="rgb(72, 84, 101)" [size]="14"></dxo-font>  
      </dxo-label>  
    </dxo-common-axis-settings>
    <dxo-crosshair
      [enabled]="true"
      [horizontalLine]="false"
      color="#454545"
      [width]="1"
      dashStyle="dash"
    >
      <dxo-label [visible]="true" backgroundColor="#454545" >
        <dxo-font color="#ffffff" [size]="14"></dxo-font>
      </dxo-label>
    </dxo-crosshair>
    <dxo-animation [enabled]="false"></dxo-animation>
    <dxo-series-template nameField="availability" [customizeSeries]="customizeSeries"></dxo-series-template>
    <dxo-common-series-settings
      [barWidth]="15"
      [showInLegend]="false"
      argumentField="type"
      type="rangeBar"
      rangeValue1Field="start"
      rangeValue2Field="end"
      barOverlapGroup="devicesAvailability"
    >
    </dxo-common-series-settings>
  </dx-chart>
</div>
