<div class="origin-component" [formGroup]="fieldGroup.form">
    <div class="origin-space">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>{{ 'editors.country' | translate }}</mat-label>
            <mat-select formControlName="country" required>
                <mat-option *ngFor="let country of countries" [value]="country.value">{{country.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div> 
    <div *ngIf="shouldShowKey('region')">
        <div class="origin-space">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{ 'editors.region' | translate }}</mat-label>
                <input matInput autocomplete="off" formControlName="region" />
            </mat-form-field>
        </div>
    </div>
    <div *ngIf="shouldShowKey('subregions')">
        <app-global-item-generic-input [data]="getArrayData()" [fieldGroup]="getArrayFieldForm()" [key]="getArrayKey()"></app-global-item-generic-input>
    </div>   
</div>
