@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-item-info {
  padding-bottom: 60px;

  &__row {
    font-size: 21px;
    margin-bottom: 30px;
    display: flex;

    &:first-child {
      font-weight: bold;
      color: $light-black;
      font-size: 24px;
    }
    &:last-child {
      color: $placeholder;
      line-height: 1.48;
    }
    &>div {
      flex: 1;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
      display: flex;
      justify-content: flex-end;
    }
  }
  &_highlighted {
    font-weight: bold;
  }
}

@media(max-width: $mobile) {
  .rs-item-info {
    padding-bottom: 15px;
  
    &__row {
      font-size: 14px;
      margin-bottom: 10px;
  
      &:first-child {
        font-size: 17px;
      }
      &:last-child {
        div {
          display: none;
        }
        div:first-child {
          display: block;
        }
      }
    }
  }
}
