<div class="rs-item-info">
  <div class="rs-item-info__row">
    <div class="rs-item-info__row-left">{{'editors.added-by' | translate}}</div>
    <div class="rs-item-info__row-center">{{'editors.created' | translate}}</div>
    <div class="rs-item-info__row-right">{{'editors.status' | translate}}</div>
  </div>
  <div class="rs-item-info__row">
    <div class="rs-item-info__row-left">{{item.addedBy.name}} <span class="rs-item-info_highlighted">+{{item.addedBy.number}}</span></div>
    <div class="rs-item-info__row-center">{{item.created}}</div>
    <div class="rs-item-info__row-right">
      <app-status [value]="item.status"></app-status>
    </div>
  </div>
  <div class="rs-item-info__row">
    <div class="rs-item-info__row-left">{{item.addedBy.contacts}}</div>
    <div class="rs-item-info__row-center"></div>
    <div class="rs-item-info__row-right"></div>
  </div>
</div>