@import "../../../../../shared/css/breakpoints.scss";
@import "../../../../../shared/css/colors.scss";

.rs-merchant-profile-navigation {
  font-size: 16px;
  color: $placeholder;
  margin-bottom: 24px;

  &__item {
    margin-right: 10px;

    &-value {
      margin-left: 10px;
    }
    &_bold {
      font-weight: bold;
    }
    &:first-child {
      margin-left: 0;

      .rs-merchant-profile-navigation__item-value {
        margin-left: 0;
      }
    }
    &:hover:not(.rs-merchant-profile-navigation__item_bold) &-value {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

@media(max-width: $mobile) {
  .rs-merchant-profile-navigation {
    padding: 10px 10px 0 10px;
    font-size: 15px;
    margin-bottom: 15px;
    flex-wrap: wrap;

    &__item {
      margin-right: 5px;

      &-value {
        margin-left: 5px;
      }
    }
  }
}
