<div class="rs-merchant-profile-navigation d-flex">
  <div class="rs-merchant-profile-navigation__item d-flex" routerLink="/home">
    <div class="rs-merchant-profile-navigation__item-value">{{'merchants.home' | translate}}</div>
  </div>
  <div class="rs-merchant-profile-navigation__item d-flex" routerLink="/merchants">
    >
    <div class="rs-merchant-profile-navigation__item-value">{{'menu.merchants-list' | translate}}</div></div>
  <div class="rs-merchant-profile-navigation__item d-flex" routerLink="/merchants">
    >
    <div class="rs-merchant-profile-navigation__item-value">{{merchantProfileName}}</div></div>
  <div class="rs-merchant-profile-navigation__item d-flex rs-merchant-profile-navigation__item_bold">
    >
    <div class="rs-merchant-profile-navigation__item-value">{{selectedTab}}</div>
  </div>
</div>
