@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-profitability-filters {
  &__item {
    flex: 1;
    margin-right: 23px;

    &::ng-deep {
      .rs-label {
        height: 60px;
        border-color: $placeholder;
        border-radius: 10px;
  
        &__title {
          font-size: 20px;
          font-weight: bold;
          color: $dark;
          text-align: center;
          width: 100%;
        }
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media(max-width: $tablet) {
  .rs-profitability-filters {
    &__item {
      margin-right: 10px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-profitability-filters {
    flex-direction: column;

    &__item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}
