<div class="rs-profitability-filters d-flex">
  <div class="rs-profitability-filters__item">
    <app-label (changeEvent)="reactOnChangeValue($event)" caption="{{'profitability.last-day' | translate}}" [unselectSubject]="unselectSubject"></app-label>
  </div>
  <div class="rs-profitability-filters__item">
    <app-label (changeEvent)="reactOnChangeValue($event)" caption="{{'profitability.last-7-day' | translate}}" [unselectSubject]="unselectSubject"></app-label>
  </div>
  <div class="rs-profitability-filters__item">
    <app-label (changeEvent)="reactOnChangeValue($event)" caption="{{'profitability.last-month' | translate}}" [unselectSubject]="unselectSubject"></app-label>
  </div>
  <div class="rs-profitability-filters__item">
    <app-label icon="event" (changeEvent)="reactOnChangeValue($event)" caption="{{'profitability.choose-dates' | translate}}" [unselectSubject]="unselectSubject"></app-label>
  </div>
</div>
