<div class="rs-feature-edit">
  <mat-tab-group>
    <mat-tab [label]="('orchestrator-b2b.features.info' | translate)">
      <ng-template matTabContent>
        <app-feature-info [infoType]="infoType"></app-feature-info>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="('shared.PERMISSIONS' | translate)" [disabled]="infoType === 'add' && !(isFeatureCreated$ | async)">
      <ng-template matTabContent>
        <app-feature-permissions [infoType]="infoType"></app-feature-permissions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
