@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-merchant-statuses {
  &__item {
    width: 120px;
  
    &-title {
      font-size: 16px;
      color: $dark;
      text-align: center;
      margin-bottom: 7px;
    }
  }
  .rs-app__status {
    width: 100% !important;
  }
}

@media(max-width: $mobile) {
  .rs-merchant-statuses {
    &__item {
      width: auto;
  
      &-title {
        font-size: 14px;
      }
      &-value {
        padding: 0 15px;
        font-size: 13px;
      }
    }
  }
}
