<div class="rs-merchant-statuses d-flex justify-content-between">
  <div class="rs-merchant-statuses__item">
    <div class="rs-merchant-statuses__item-title">{{'editors.restaurant' | translate}}</div>
    <div class="rs-app__status rs-app__status_active d-flex justify-content-center align-items-center">ACTIVE</div>
  </div>  
  <div class="rs-merchant-statuses__item">
    <div class="rs-merchant-statuses__item-title">{{'merchants.payment' | translate}}</div>
    <div class="rs-app__status rs-app__status_blocked d-flex justify-content-center align-items-center">BLOCKED</div>
  </div> 
</div>
