@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-deployment-progress {
  margin: 20px 0;

  &__progress-bar {
    mat-progress-bar {
      height: 16px;
      border-radius: 8px;
      margin: 20px 0;

      ::ng-deep & {
        svg {
          display: none;
        }
        
        .mat-progress-bar-buffer {
          background-color: $gray;
        }

        .mat-progress-bar-primary {
          background-color: $blue;
        }
      }
    }

    span {
      @include font($blue, 16px, bold);
      margin-left: 10px;
    }
  }

  &__tiles {
    justify-content: space-around;
    margin: 0;

    &__tile {
      width: 300px;
      height: 150px;
      padding: 20px 0;
      margin: 10px 0;
      border-radius: 8px;
      background-color: $gray;

      &_title {
        @include font($placeholder, 24px);
      }

      &_value {
        @include font($black, 24px);

        .status-icon {
          @include size(12px, 12px);
          border-radius: 50%;
          background-color: $orange;
          margin-right: 10px;
        }

        .processed {
          color: $customer-support-green-1;
        }

        .remaning {
          color: $orange;
        }
      }

      &_button {
        width: 90%;

        button {
          @include font($blue, 18px, bold);
          width: 100%;
          border-radius: 8px;
          background-color: $white;

          mat-icon {
            margin-right: 10px;;
          }
        }

        @media(max-width: $tablet) {
          width: 70%;
        }
      }

      @media(max-width: $mobile) {
        width: 400px;
      }
    }
  }

  @media(max-width: $mobile) {
    margin: 10px 0;
  }
}
