<div class="rs-deployment-progress">
  <div class="rs-deployment-progress__progress-bar d-flex align-items-center justify-content-between">
    <mat-progress-bar mode="determinate" value="62"></mat-progress-bar>
    <span>62%</span>
  </div>
  <div class="rs-deployment-progress__tiles d-flex flex-wrap">
    <div class="rs-deployment-progress__tiles__tile d-flex flex-column justify-content-between align-items-center" *ngFor="let tile of tiles; let index = index">
      <div class="rs-deployment-progress__tiles__tile_title">{{tile.title | translate}}</div>
      <div class="rs-deployment-progress__tiles__tile_value d-flex align-items-center">
        <div *ngIf="(tile.title | translate) === 'STATUS'" class="status-icon"></div>
        <span *ngIf="(tile.title | translate) === 'PROCESSED'" class="processed">{{deploymentProcessedCount}}</span>
        <span *ngIf="(tile.title | translate) === 'REMANING' else simpleTileText" class="remaning">{{deploymentRemaningCount}}</span>

        <ng-template #simpleTileText>
          <span>{{data[index]}}</span>
        </ng-template>
      </div>
      <div class="rs-deployment-progress__tiles__tile_button">
        <button mat-raised-button class="d-flex align-items-center justify-content-center" (click)="onTileButtonClick(tile.buttonTitle)">
          <mat-icon *ngIf="(tile.buttonTitle | translate) === 'RE-SCHEDULE'">watch_later</mat-icon>
          <span>{{tile.buttonTitle | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
