<div class="rs-edit-ontology-form d-flex justify-content-center">
  <div class="rs-edit-ontology-form__container">
    <div class="rs-edit-ontology-form__title">{{ 'editors.ontology' | translate }}</div>
      <form [formGroup]="updatedOntologyForm">
        <json-editor #editor [options]="options" formControlName="json"></json-editor>
        <div class="rs-edit-ontology-form__section">
          <button
          class="rs-edit-ontology-form__actions-button"
          mat-raised-button
          color="primary"
          (click)="save()"
          [disabled] = "!updatedOntologyForm.valid"
        >{{'editors.save' | translate}}</button>
          </div>
    </form>
   </div>
</div>
