<div class="rs-total-table" [ngClass]="{'rs-total-table_merchant-profile': isMerchantProfile}">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="merchant" *ngIf="!isMerchantProfile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.merchant' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit"><b>{{profit.merchant}}</b></mat-cell>
      <mat-footer-cell *matFooterCellDef><b>Total</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="transactionID" *ngIf="isMerchantProfile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.transaction-id' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit"><b>{{profit.transactionID}}</b></mat-cell>
      <mat-footer-cell *matFooterCellDef><b>Total</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="date" *ngIf="isMerchantProfile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.date' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.date}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="card" *ngIf="isMerchantProfile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.card' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">
        <div class="rs-total-table__card d-flex">
          <div class="rs-total-table__card-img">
            <img [src]="profit.card.type === 'Maestro' ? 'assets/images/maestro.jpg' : 'assets/images/visa.jpg'">
          </div>
          <div class="rs-total-table__card-value">{{profit.card.number}}</div>
        </div>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="transactionType" *ngIf="isMerchantProfile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.transaction-type' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.transactionType}}</mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="transactionAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.transaction-amount' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.transactionAmount | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('transactionAmount') | currency}}</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="processingCoast">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.processing-cost' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.processingCoast | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('processingCoast') | currency}}</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="rockSpoonRevenue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.rockspoon-revenue' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.rockSpoonRevenue | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('rockSpoonRevenue') | currency}}</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="bonusFeeMGM">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.bonus-fee-mgm' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.bonusFeeMGM | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('bonusFeeMGM') | currency}}</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="loyaltyGrant">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.loyalty-grant' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.loyaltyGrant | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('loyaltyGrant') | currency}}</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="chargeBacks">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.charge-backs' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.chargeBacks | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('chargeBacks') | currency}}</b></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="grossProfit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{'profitability.gross-profit' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let profit">{{profit.grossProfit | currency}}</mat-cell>
      <mat-footer-cell *matFooterCellDef><b>{{getTotal('grossProfit') | currency}}</b></mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
  </mat-table>
</div>
