@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-total-table {
  &::ng-deep {
    .mat-table {
      max-height: 600px;
      overflow: auto;
    }
    mat-header-cell {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.31;
      color: #999999;
      border-top: solid 1px #e2e2e2;
      height: 85px;
      
      button {
        text-align: left;
      }
      &:nth-child(4), &:nth-child(8) {
        color: black;
      }
    }
    mat-cell {
      font-size: 18px;
      line-height: 1.17;
      color: #000000;
      height: 60px;
      text-align: left;
    }
    mat-footer-row {
      border: solid 1px #979797;
      box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.5);
    }
    mat-cell, mat-header-cell, mat-footer-cell {
      padding-left: 20px;

      &:nth-child(1) {
        flex-basis: 40%;
        padding-left: 0;
      }
      &:nth-child(2) {
        flex-basis: 10%;
      }
      &:nth-child(3) {
        flex-basis: 10%;
      }
      &:nth-child(4) {
        flex-basis: 10%;
        background-color: $table-hover;
      }
      &:nth-child(5) {
        flex-basis: 10%;
      }
      &:nth-child(6) {
        flex-basis: 10%;
      }
      &:nth-child(7) {
        flex-basis: 10%;
      }
      &:nth-child(8) {
        flex-basis: 10%;
        background-color: $table-hover;
      }
    }
  }
  &_merchant-profile {
    &::ng-deep {
      mat-header-cell {
        &:nth-child(4), &:nth-child(8) {
          color: $light-gray;
        }
        &:nth-child(7), &:nth-child(11) {
          color: black;
        }
      }
      mat-cell, mat-header-cell, mat-footer-cell {
        &:nth-child(1) {
          flex-basis: 9%;
        }
        &:nth-child(2) {
          flex-basis: 16%;
        }
        &:nth-child(3) {
          flex-basis: 10%;
        }
        &:nth-child(4) {
          flex-basis: 9%;
          background-color: transparent;
        }
        &:nth-child(5) {
          flex-basis: 9%;
        }
        &:nth-child(6) {
          flex-basis: 8%;
        }
        &:nth-child(7) {
          flex-basis: 8%;
          background-color: $table-hover;
        }
        &:nth-child(8) {
          flex-basis: 8%;
          background-color: transparent;
        }
        &:nth-child(9) {
          flex-basis: 8%;
        }
        &:nth-child(10) {
          flex-basis: 8%;
        }
        &:nth-child(11) {
          flex-basis: 7%;
          background-color: $table-hover;
        }
      }
    }
  }
  &__card {
    width: 100%;

    &-img {
      width: 22px;
      height: 19px;
      margin-right: 9px;

      img {
        width: 100%;
      }
    }
  }
}

@media(max-width: 1400px) {
  .rs-total-table:not(.rs-total-table_merchant-profile) {
    &::ng-deep {
      mat-cell, mat-header-cell, mat-footer-cell {
        &:nth-child(1) {
          flex-basis: 20%;
        }
        &:nth-child(2) {
          flex-basis: 11.42%;
        }
        &:nth-child(3) {
          flex-basis: 11.42%;
        }
        &:nth-child(4) {
          flex-basis: 11.42%;
        }
        &:nth-child(5) {
          flex-basis: 11.42%;
        }
        &:nth-child(6) {
          flex-basis: 11.42%;
        }
        &:nth-child(7) {
          flex-basis: 11.42%;
        }
        &:nth-child(8) {
          flex-basis: 11.42%;
        }
      }
    }
  }
  .rs-total-table_merchant-profile {
    &::ng-deep {
      mat-cell, mat-header-cell, mat-footer-cell {
        font-size: 12px;
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-total-table:not(.rs-total-table_merchant-profile) {
    &::ng-deep {
      mat-cell, mat-header-cell, mat-footer-cell {
        font-size: 12px;

        button {
          font-size: 12px;
        }
        &:nth-child(1) {
          flex-basis: 20%;
        }
        &:nth-child(2) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
        &:nth-child(3) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
        &:nth-child(4) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
        &:nth-child(5) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
        &:nth-child(6) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
        &:nth-child(7) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
        &:nth-child(8) {
          flex-basis: 11.42%;
          padding-left: 5px;
        }
      }
    }
  }
}

@media(max-width: $tablet) {
  .rs-total-table:not(.rs-total-table_merchant-profile) {
    width: 100%;
    overflow: auto;

    mat-table {
      width: 700px;
    }
  }
  .rs-total-table_merchant-profile {
    width: 100%;
    overflow: auto;

    mat-table {
      width: 900px;
    }
  }
}
