<div class="rs-support-requests">
  <div class="rs-support-requests__data">
    <div class="rs-support-requests__data-header d-flex justify-content-between align-items-center">
      <div class="rs-app__title rs-support-requests__data-header_label">{{'support-requests.support-requests' | translate}}</div>
      <div class="rs-support-requests__data-header__actions d-flex align-items-center justify-content-between">
        <div class="rs-support-requests__data-header__actions-item rs-support-requests__data-header__actions-item_search">
          <app-search (search)="onSearch($event)" placeholder="{{'placeholders.search-merchants' | translate}}"></app-search>
        </div>
      </div>
    </div>
    <div class="rs-support-requests__data__table">
      <app-data-table
        [items]="filteredSource"
        [columns]="displayedColumns"
        [totalItems]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (action)="onAction($event)"
      >
      </app-data-table>
    </div>
  </div>
</div>
