@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

:host {
  width: 100%;
}

.rs-support-requests {
  mat-paginator {
    display: flex;
    justify-content: center;
  }

  ::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-flex {
      height: 60px !important;
      padding-left: 22px !important;
      margin-top: 0;
    }
    .mat-form-field-infix {
      border-top: none;
    }
    .mat-form-field-label-wrapper {
      top: -5px;
    }
    .mat-form-field-appearance-outline .mat-form-field-label {
      margin-top: -8px;
    }
    input {
      font-size: 22px !important;
      color: $dark !important;
      transform: translateY(3px);
      padding-top: 1px;
    }
    .mat-form-field-label {
      color: #9b9b9b !important;
      font-size: 22px !important;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-1em) scale(0.65) !important;
    }
    app-icon-button .rs-filters {
      height: 60px !important;

      button {
        border-radius: 6px;
        background-color: white;

        mat-icon {
          color: black;
        }
      }
    }
    .mat-paginator-page-size-select .mat-form-field-flex {
      height: 25px !important;
    }
  }

  &__data {
    margin: 40px 150px;
    background-color: $gray;

    &-header {
      padding: 44px 40px 74px 80px;
      background-color: $gray;

      &_label {
        flex: 2;
      }

      &__actions {
        justify-content: flex-end !important; //Remove when export button works
        flex: 2;
        max-width: 600px;

        &-item {
          &_search {
            margin-left: 40px;
            background: $white;
            max-width: 500px;
            width: 100%;

            ::ng-deep mat-form-field {
              .mat-form-field-prefix {
                @media(max-width: $mobile) {
                  top: 13px;
                }
              }

              .mat-form-field-infix {
                @media(max-width: $mobile) {
                  line-height: 30px;
                }
              }
            }

            @media(max-width: $desktop) {
              margin-left: 15px
            }
          }
        }
      }

      @media(max-width: $desktop) {
        padding: 40px 40px 74px;
      }

      @media(max-width: $mobile) {
        padding: 40px 20px;
      }
    }

    &__table {
      padding: 0 34px 25px;

      ::ng-deep app-data-table {
        @include customer-support-table;

        mat-header-row,
        mat-row,
        mat-footer-row {
          padding-left: 46px;
          padding-right: 10px;

          @media(max-width: $desktop) {
            padding-left: 20px;
            padding-right: 10px;
          }

          @media(max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
          }
        }

        mat-header-cell,
        mat-cell {
          word-break: break-word;

          @media(max-width: $tablet) {
            padding-left: 15px !important;
          }

          @media(max-width: $mobile) {
            padding-left: 10px !important;
            padding-right: 0 !important;
          }
        }
        
        mat-cell:nth-child(1),
        mat-header-cell:nth-child(1) {
          flex: 3;

          @media(max-width: 1024px) {
            flex: 2;
          }
        }

        mat-header-cell {
          display: flex;
          align-items: flex-start;
        }

        mat-cell {
          line-height: 1.17;
          height: 70px !important;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            font-weight: bold;
          }

          &:nth-child(2),
          &:nth-child(3) {
            text-decoration: underline;
          }

          &:nth-child(1) {
            .rs-datetime-text {
              mat-icon {
                @media(max-width: 1024px) {
                  display: none;
                }
              }

              span:last-child {
                @media(max-width: 1024px) {
                  margin-top: 5px;
                }
              }

              @media(max-width: 1024px) {
                display: flex;
                flex-direction: column;
              }
            }
          }

          &:nth-child(4) {
            @media(max-width: 1366px) {
              margin: 5px 0;
            }
          }

          &:last-child {
            ::ng-deep app-square-button {
              @include size(35px, 35px);

              button {
                @include size(35px, 35px);
              }
            }
          }

          @media(max-width: 1400px) {
            height: 65px !important;
          }

          @media(max-width: $desktop) {
            height: 70px !important;
          }

          @media(max-width: $tablet) {
            height: 90px !important;
            padding-left: 15px !important;
          }

          @media(max-width: $mobile) {
            height: 110px !important;
          }
        }

        mat-footer-cell:nth-child(1) {
          display: flex;
          justify-content: center;
          width: 100%;
        }

        mat-footer-cell:not(:nth-child(1)) {
          display: none;
        }
      }

      @media(max-width: $desktop) {
        padding: 0 25px 25px;
      }
    }

    @media(max-width: $desktop) {
      margin: 40px 20px;
    }

    @media(max-width: $mobile) {
      margin: 40px 10px;
    }
  }
}
