<div class="string-selector-component">
    <mat-form-field class="w-100" appearance="outline" required="key.required">
        <mat-label>{{ (key.displaySettings.name || key.name) | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedString" >
            <mat-option (click)="onClick(s)" *ngFor="let s of strings" [value]="s">{{s | translate}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
