@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-menu {
  padding: 40px;

  &__close {
    margin-bottom: 60px;

    button {
      height: 60px;
      width: 60px;

      mat-icon {
        color: $red;
        font-size: 60px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
  &__item {
    font-size: 34px;
    font-weight: 500;
    color: $menu;
    line-height: normal;
    margin-bottom: 27px;
    width: fit-content;
    min-width: 300px;
    cursor: pointer;

    &-sub-menu {
      padding-left: 50px;
      font-size: 25px;

      &-item {
        padding-top: 10px;
      }
    }
    &_last {
      margin-bottom: 12px;

      &:last-of-type {
        margin-bottom: 37px !important;
        padding-bottom: 0 !important;
        border-bottom: none !important;
      }
    }
    &:last-child {
      margin-bottom: 35px;
      padding-bottom: 35px;
      border-bottom: 3px solid $red;
    }
  }
  &__user {
    &-icon {
      width: 56px;
      height: 56px;
    }
    &-name {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.6;
      letter-spacing: normal;
      color: $menu;
      margin-left: 17px;
    }
  }
}

@media(max-width: $tablet) {
  .rs-menu {
    padding: 20px;
    
    &__close {
      margin-bottom: 15px;

      button {
        height: 30px;
        width: 30px;

        mat-icon {
          color: $red;
          font-size: 30px;
          height: 25px;
          line-height: 14px;
        }
      }
    }
    &__item {
      font-size: 25px;
      margin-bottom: 27px;
      min-width: 300px;
  
      &-sub-menu {
        padding-left: 30px;
        font-size: 17px;
  
        &-item {
          padding-top: 10px;
        }
      }
    }
  }
}
