<div class="rs-menu">
  <div class="rs-menu__close" mat-dialog-close>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="rs-menu__items">
    <div class="rs-menu__item" routerLink="/home" mat-dialog-close *ngIf="subMenuVisibility()">{{'merchants.home' | translate}}</div>
    <div class="rs-menu__item" *ngFor="let item of menuItems" [routerLink]="item.link" mat-dialog-close>
      {{item.translationKey | translate}}
      <div class="rs-menu__item-sub-menu" *ngIf="subMenuVisibility()">
        <div
          class="rs-menu__item-sub-menu-item"
          *ngFor="let subMenuItem of item.subMenu"
          (click)="catchSubMenuClick($event)"
          [routerLink]="item.link + '/' + subMenuItem.link" 
          mat-dialog-close
        >{{subMenuItem.translationKey | translate}}</div>
      </div>
    </div>
  </div>
  <div class="rs-menu__items">
    <div class="rs-menu__item rs-menu__item_last">Configurations</div>
    <div class="rs-menu__item rs-menu__item_last">Help</div>
  </div>
  <div class="rs-menu__user d-flex align-items-center">
    <div class="rs-menu__user-icon">
      <app-user-icon [imgUrl]="userProfileData.employeePicture.hiResolution.url"></app-user-icon>
    </div>
    <div class="rs-menu__user-name">{{userProfileData | fullName}}</div>
  </div>
</div>