@import "src/modules/shared/css/colors.scss";
@import "src/modules/shared/css/mixins.scss";
@import "src/modules/shared/css/breakpoints.scss";

.rs-orchestrator-section-header {
  &__title {
    @include font($black, 24px, bold);
  }

  &__actions {
    flex: 2;
    max-width: 600px;

    &-item {
      &_filter {
        @include size(180px, 60px);

        button {
          @include size(100%, 100%);
          padding: 20px;
          font-size: 22px;
          color: $dark;
          font-weight: normal;
          border-radius: 5px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          border: solid 1px $shadow-border;
          background-color: $white;
          cursor: pointer;
        }

        i {
          line-height: 24px;
          font-size: 34px;
          margin-right: 5px;
          margin-left: -5px;
          margin-top: -3px;
        }
      }

      &_search {
        margin-left: 40px;
        max-width: 500px;
        background: $white;

        @media(max-width: $desktop) {
          margin-left: 15px
        }
      }

      @media (max-width: $mobile) {
        margin-left: 0;
      }
    }
  }
}
