<div class="rs-orchestrator-section-header d-flex justify-content-between align-items-center">
  <div class="rs-orchestrator-section-header__title">{{title | translate}}</div>
  <div class="rs-orchestrator-section-header__actions d-flex align-items-center justify-content-end">
    <div *ngIf="isFilters" class="rs-orchestrator-section-header__actions-item rs-orchestrator-section-header__actions-item_filter">
      <button mat-stroked-button class="filter-button d-flex justify-content-center align-items-center" (click)="openFilters()">
        <i class="icon-filter"></i>
        <span>{{'shared.filters' | translate}}</span>
      </button>
    </div>
    <div *ngIf="isSearch" class="rs-orchestrator-section-header__actions-item rs-orchestrator-section-header__actions-item_search">
      <app-search (search)="onSearch($event)" placeholder="{{searchPlaceholder | translate}}"></app-search>
    </div>
    <div class="rs-orchestrator-section-header__actions-item rs-orchestrator-section-header__actions-item_content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
