<div class="rs-tenant-category-add-edit">
  <mat-tab-group>
    <mat-tab [label]="('orchestrator-b2b.tenants-categories.info' | translate)">
      <ng-template matTabContent>
        <app-tenant-category-info [infoType]="infoType"></app-tenant-category-info>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="('shared.PERMISSIONS' | translate)">
      <ng-template matTabContent>
        <app-tenant-category-permissions></app-tenant-category-permissions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
