@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-tenants-categories {
  margin: 70px 120px;
  padding: 30px;
  background-color: $gray;

  ::ng-deep {
    app-section-header {
      .rs-orchestrator-section-header {
        &__actions {
          max-width: 700px;
          
          &-item_filter {
            @include size(145px, 50px);
            margin-right: 10px;

            button {
              @include font($blue, 16px, bold);
              font-size: 22px;
              color: $dark;
              font-weight: normal;
              border-radius: 5px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
              border: solid 1px $shadow-border;
              background-color: $white;
              cursor: pointer;
            }
    
            i {
              line-height: 24px;
              font-size: 25px;
              margin-right: 5px;
              margin-left: -5px;
              margin-top: -3px;
            }
          }

          @media(max-width: $mobile) {
            margin: 20px;
          }
        }
      }

      app-icon-button {
        .rs-filters {
          @include size(145px, 50px);
          background-color: $white;
  
          button {
            @include font($blue, 16px, bold);
  
            mat-icon {
              font-weight: bold;
            }
          }
        }
      }
    }

    app-search {
      .rs-search {
        width: 100%;
        margin: 30px 0 50px;

        .mat-form-field-prefix {
          @media(max-width: $mobile) {
            top: 3px;
          }
        }
  
        input {
          @media(max-width: $mobile) {
            position: relative;
            top: -3px;
          }
        }
  
        .mat-form-field-label {
          @media(max-width: $mobile) {
            margin-top: -13px !important;
          }
        }

        @media(max-width: $mobile) {
          margin: 30px 0;
        }
      }
    }

    mat-table {
      .form-check {
        @include size(26px, 26px);
  
        input {
          @include size(26px, 26px);
          margin-top: 0;
        }
      }

      mat-header-row {
        background-color: $gray;
      }
  
      mat-row {
        &:nth-child(1) {
          border-top: solid 1px $menu-border;
        }
        
        &:nth-child(even) {
          background-color: $white;
        }
  
        @media(max-width: 1024px) {
          padding: 0 15px;
        }
  
        @media(max-width: 1024px) {
          padding: 0 15px;
        }
  
        @media(max-width: $tablet) {
          padding: 0 7px;
        }
      }
  
      mat-header-cell,
      mat-cell {
        display: flex;
  
        &:first-of-type {
          flex: unset;

          @media(max-width: $desktop) {
            padding-left: 24px !important;
          }
  
          @media(max-width: 1024px) {
            padding-left: 0 !important;
          }
        }
  
        &:last-of-type {
          @media(max-width: $desktop) {
            padding-right: 24px !important;
          }
  
          @media(max-width: 1024px) {
            padding-right: 0 !important;
          }
        }
  
        &:not(:nth-child(1)) {
          flex: 3;
  
          @media(max-width: $mobile) {
            flex: 2;
          }
        }
  
        &:nth-child(5) {
          flex: 5;
  
          @media(max-width: 1024px) {
            flex: 4;
          }
          
          @media(max-width: $tablet) {
            flex: 5;
          }
  
          @media(max-width: $mobile) {
            flex: 4;
          }
        }
      }
  
      mat-header-cell {
        @include font($light-black, 14px, bold);

        &:first-of-type  {
          @media(max-width: 1024px) {
            padding-left: 15px !important;
          }

          @media(max-width: $tablet) {
            padding-left: 7px !important;
          }
        }
      }
  
      mat-cell {
        &:nth-child(2) {
          @include font($text, 14px, bold);
        }
  
        &:not(:nth-child(2)) {
          @include font($text, 14px);
        }

        &:last-child {
          justify-content: flex-end;
          padding-top: 10px;
          padding-bottom: 10px;
      
          .rs-pencil-icon {
            @include size(45px, 45px);
            display: inline-block;
            background-image: url('/assets/images/pencil.svg');
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 70px 60px;
  }

  @media(max-width: $tablet) {
    margin: 70px 30px;
  }
}
