<div class="rs-tenants-categories">
  <app-data-list
    [headerTitle]="'menu.tenants-categories'"
    [searchPlaceholder]="'placeholders.search-by-name'"
    [isFilters]="true"
    [isSearch]="false"
    [isNotHeaderSearch]="true"
    [tableData]="tenantsCategories$ | async"
    [tableColumns]="displayedColumns"
    [isPaginator]="false"
    [filtersEndpoint]="filtersEndpoint"
    [filteredSource]="tenantsCategories$ | async"
    [tableDataService]="tenantsCategoriesService"
    [tableDataServiceFilteringMethod]="'filterTenantsCategories'"
    [tableDataFilteringColumnDataKey]="'name'"
    (select)="onSelect($event)"
  >
    <div class="rs-section-header-content">
      <app-icon-button
        [icon]="'compare_arrows'"
        [caption]="('shared.COMPARE' | translate)"
        routerLink="compare"
      >
      </app-icon-button>
    </div>
  </app-data-list>
</div>
