@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-tag-popup {
  &__header {
    margin-bottom: 40px;
    margin-top: 88px;
    width: 1200px;
  }
  &__apply {
    button {
      height: 80px;
      font-size: 24px;
      font-weight: bold;
      padding: 26px 30px;
      text-transform: uppercase;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    color: $light-black;
    text-align: center;

    button {
      font-size: 24px;
      padding: 4px;
      margin-left: 5px;
    }
  }
  &__tags {
    width: 900px;
    flex-wrap: wrap;
  }
  &__tag {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  &__empty {
    width: 130px;
  }
  &__adding {
    margin-bottom: 20px;

    &-wrapper {
      height: 80px;
      border-radius: 40px;
      border: solid 1px $gray-border;
      background-color: white;
      padding: 0 24px;
    }
    &-close {
      margin-right: 15px;

      button {
        background-color: $light-gray;
        height: 32px;
        width: 32px;
        line-height: inherit !important;

        &::ng-deep .mat-button-wrapper {
          padding: 0;
        }
      }
    }
    &-input {
      input {
        border: none;
      }
    }
  }
}

@media(max-width: $desktop) {
  .rs-tag-popup {
    &__header {
      width: 90%;
    }
    &__tags {
      width: 90%;
    }
    &__content {
      width: 90%;
    }
  }
}


@media(max-width: $desktop) {
  .rs-tag-popup {
    &__title {
      font-size: 18px;

      button {
        font-size: 18px;
      }
    }
    &__header {
      flex-direction: column;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    &__apply {
      button {
        font-size: 17px;
        padding: 0 10px;
        margin-top: 5px;
      }
    }
    &__tags {
      width: 100%;
    }
    &__tag {
      margin-right: 3px;
      margin-bottom: 7px;
    }
    &__content {
      width: 100%;
    }
    &__adding {
      &-wrapper {
        height: 40px;
        padding: 0 8px;
      }
      &-close {
        margin-right: 15px;
  
        button {
          background-color: $light-gray;
          height: 32px;
          width: 32px;
          line-height: inherit !important;
  
          &::ng-deep .mat-button-wrapper {
            padding: 0;
          }
        }
      }
      &-input {
        input {
          border: none;
        }
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-tag-popup {
    &__adding {
      &-close {
        button {
          height: 25px;
          width: 25px;

          mat-icon {
            line-height: 24px;
            font-size: 21px;
          }
        }
      }
    }
  }
}
