<app-popup [caption]="dialogData.caption">
  <div id="content">
    <div class="rs-tag-popup d-flex align-items-center flex-column">
      <div class="rs-tag-popup__header d-flex justify-content-between align-items-center">
        <div class="rs-tag-popup__empty"></div>
        <div class="rs-tag-popup__title">{{translationService.translate(dialogData.title) | async}}<button (click)="openAdding()" mat-button color="primary">{{'editors.add-new-one' | translate}}</button></div>
        <div class="rs-tag-popup__apply">
          <button (click)="apply()" [disabled]="applyIsDisabled" mat-raised-button color="primary">Apply</button>
        </div>
      </div>
      <div class="rs-tag-popup__adding" *ngIf="isAdding">
        <div class="rs-tag-popup__adding-wrapper d-flex align-items-center">
          <div class="rs-tag-popup__adding-close">
            <button (click)="closeAdding()" color="accent" mat-mini-fab>
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="rs-tag-popup__adding-input">
            <input #newTagInput type="text" (keydown.enter)="addNewTag()" [(ngModel)]="newTag">
          </div>
        </div>
      </div>
      <div class="rs-tag-popup__content">
        <div class="rs-tag-popup__tags d-flex justify-content-center">
          <div class="rs-tag-popup__tag" *ngFor="let tag of tags">
            <app-label
              [isDeletable]="tag.addedByMe"
              (changeEvent)="reactOnSelectTag($event, tag)"
              [default]="tagIsSelected(tag)"
              [isBig]="true"
              [caption]="tag.name"
              (delete)="reactOnDeleteMyTag(tag)"
              [unselectSubject]="unselectSubject"
            ></app-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-popup>