<div class="rs-changelog">
  <div class="rs-changelog__title">{{'merchants.changelog' | translate}}</div>
  <div class="rs-changelog__table" *ngIf="tableVisibility()">
    <mat-table [dataSource]="sourceData" matSort>
      <ng-container matColumnDef="date">
        <mat-header-cell class="rs-changelog__table-date" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.date-and-time' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-changelog__table-date" *matCellDef="let changelog">
          <div class="rs-app__table-bold">{{changelog.date}} at {{changelog.time}}</div>
        </mat-cell> 
      </ng-container>
      <ng-container matColumnDef="madeBy">
        <mat-header-cell class="rs-changelog__table-made-by" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.made-by' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-changelog__table-made-by" *matCellDef="let changelog">{{changelog.madeBy}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="field">
        <mat-header-cell class="rs-changelog__table-field" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'shared.change' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-changelog__table-field" *matCellDef="let changelog">{{changelog.change}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="action">
        <mat-header-cell class="rs-changelog__table-action" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.action' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-changelog__table-action" *matCellDef="let changelog">{{changelog.action}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="details">
        <mat-header-cell class="rs-changelog__table-from" *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell class="rs-changelog__table-from" *matCellDef="let changelog">
          <app-square-button color="primary" icon="list_alt" rsOpenChangelogDetails [changelog]="changelog"></app-square-button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="rs-changelog__mobile" *ngIf="mobileItemsVisibility()">
    <div class="rs-changelog__mobile-item" *ngFor="let changelog of changelogItems">
      <app-changelog-mobile-item [changelog]="changelog"></app-changelog-mobile-item>
    </div>
  </div>
</div>