@import "../../../../css/colors.scss";
@import "../../../../css/breakpoints.scss";

.rs-changelog {
  border-radius: 4px;
  background-color: $gray;
  padding: 30px 10px;

  &__title {
    padding-left: 25px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
  }
  mat-table {
    background-color: transparent;
  }
  mat-cell {
    &:last-child {
      justify-content: flex-end !important;
    }
  }
}

@media(max-width: $tablet) {
  .rs-changelog {
    .rs-app__table-header {
      font-size: 13px;
    }
    mat-cell {
      font-size: 12px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-changelog {
    background-color: transparent;
    border: none;
    padding: 10px;
  
    &__title {
      padding-left: 0;
      font-size: 16px;
    }
    &__mobile-item {
      margin-bottom: 10px;
    }
  }
}
