<div class="tab-component">
    <mat-tab-group #globalTabs mat-align-tabs="center" (selectedTabChange)="onClick($event)" dynamicHeight animationDuration="0ms">
        <mat-tab
        *ngFor="let tab of tabs;" [label]="tab">
            <div *ngIf="selectedTab === tab">
                <ng-content></ng-content>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>