
.tab-component {
    .tab-content{
        margin-top: 20px;
    }
    display: block;
    /*Fixs angular material bug for tab changing*/
    min-height: 200px;
    .hidden{
        height: 0px;
        overflow: hidden;
    }
}  