<div class="rs-popup" [class.rs-popup_black]="black">
  <div class="rs-popup__header d-flex align-items-center" mat-dialog-title>
    <div class="rs-popup__header-close">
      <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="rs-popup__header-title" *ngIf="caption">{{translationService.translate(caption) | async}}</div>
    <div class="rs-popup__header-actions">
      <ng-content select="#header"></ng-content>
    </div>
  </div>
  <div class="rs-popup__content" mat-dialog-content>
    <ng-content select="#content"></ng-content>
  </div>
</div>