@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-popup {
  &__header {
    background-color: $dark;
    margin: 0 !important;
    height: 68px;
    padding-left: 19px;
    color: white;

    &-title {
      font-size: 28px;
      font-weight: bold;
      margin-left: 14px;
      text-transform: uppercase;
    }
    &-actions {
      margin-left: auto;
    }
  }
  &__content {
    margin: 0 !important;
    padding: 0 !important;
    max-height: none !important;
  }
  &_black {
    .rs-popup__header {
      background-color: black;
    }
  }
}

@media(max-width: $mobile) {
  .rs-popup {
    &__header {
      height: 50px;
      padding-left: 5px;

      &-title {
        font-size: 16px;
        margin-left: 0;
      }
    }
    &__content {
      max-height: none !important;
    }
  }
}
