@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-items-filter {
  &__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__number {
    font-size: 60px;
    font-weight: bold;
    color: $light-black;
    line-height: 60px;
    margin: 10px 0 20px 0;
  }
  &__actions {
    app-label::ng-deep .rs-label {
      margin-bottom: 10px;
    }
  }
  &__content-item {
    padding-top: 10px;
  }
}

@media(max-width: $mobile) {
  .rs-items-filters {
    padding: 10px;

    &__title {
      font-size: 15px;
    }
    &__number {
      font-size: 40px;
      line-height: 40px;
    }
  }
}
