<div class="rs-items-filters">
  <div class="rs-items-filter__title">{{'editors.items-to-review' | translate}}</div>
  <div class="rs-items-filter__number">66666</div>
  <div class="rs-items-filter__actions">
    <app-label caption="Items to Review"></app-label>
    <app-label caption="Reviewed Items"></app-label>
  </div>
  <div class="rs-items-filter__content">
    <div class="rs-items-filter__content-item" *ngFor="let filter of filters">
      <app-filter-section [filter]="filter"></app-filter-section>
    </div>
  </div>
</div>