<div class="rs-home d-flex justify-content-center">
  <div class="rs-home__wrapper">
    <div class="rs-home__title">{{'menu.editors' | translate}}</div>
    <div class="rs-home__content d-flex">
      <div class="rs-home__content-item" *ngFor="let item of menuItems">
        <app-nav-item [navItem]="item"></app-nav-item>
      </div>
    </div>
  </div>
</div>
