@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-home {
  width: 100%;
  padding: 90px 50px;

  &__wrapper {
    max-width: 1200px;
  }
  &__title {
    font-size: 40px;
    color: $light-black;
    margin-bottom: 60px;
  }
  &__content {
    flex-wrap: wrap;
    justify-content: space-evenly;

    &-item {
      margin: 10px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-home {
    padding: 20px 10px;

    &__title {
      font-size: 30px;
      color: $light-black;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
