<div class="rs-select-apis">
  <div mat-dialog-title class="rs-select-apis__title d-flex align-items-center">
    <mat-icon mat-dialog-close>close</mat-icon>
    <span>{{'orchestrator-b2b.permissions.add-apis' | translate}}</span>
  </div>
  <div mat-dialog-content class="rs-select-apis__content d-flex flex-column">
    <div class="rs-select-apis__content__header d-flex flex-row">
      <mat-form-field class="col-md-3" appearance="outline">
        <mat-label>{{'orchestrator-b2b.permissions.all-services' | translate}}</mat-label>
        <mat-select>
          <mat-option *ngFor="let option of apisServicesOptions" [value]="option.value">{{option.label}}</mat-option>
        </mat-select>
      </mat-form-field>
      <app-search
        class="col-md-9"
        [placeholder]="'placeholders.search-api' | translate"
        (search)="onSearch($event)"
      >
      </app-search>
    </div>
    <div class="rs-select-apis__content__apis-list">
      <app-data-table
        [isTableDisabled]="(selectedVersion$ | async)?.isDisabled"
        [items]="filteredApis"
        [selectedItems]="data.apis"
        [columns]="columns"
        [isPaginator]="false"
        (select)="selectedItems = $event"
      >
      </app-data-table>
    </div>
    <div class="rs-select-apis__content__save">
      <app-icon-button [caption]="'shared.save' | translate" (click)="onSave()" mat-dialog-close></app-icon-button>
    </div>
  </div>
</div>
