@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-select-apis {
  &__title {
    @include font($white, 28px, bold);
    height: 70px;
    background-color: $text;

    mat-icon {
      @include size(28px, 28px);
      cursor: pointer;
      margin: 0 20px;
      font-size: 28px;
    }
  }

  &__content {
    padding: 50px;
    margin: 0;
    overflow: initial;

    &__header {
      ::ng-deep {
        mat-form-field {
          padding-left: 0;
          padding-right: 0;

          .mat-form-field-flex {
            height: 50px;
            align-items: center;
            margin-top: 0;
          }
    
          .mat-form-field-prefix > i {
            color: $blue;

            @media(max-width: $mobile) {
              top: -2px;
              position: relative;
            }
          }
    
          .mat-form-field-infix {
            top: -2px;
            border-top: 0;
            line-height: 1 !important;
    
            input {
              @include font($light-black, 18px);
            }
    
            mat-label {
              @include font($placeholder, 18px);
            }
    
            .mat-form-field-label-wrapper {
              @media(max-width: $mobile) {
                top: -6px;
              }
            }
    
            @media(max-width: $mobile) {
              line-height: normal;
            }
          }
  
          mat-select + .mat-form-field-label-wrapper > label {
            top: 33px;

            @media(max-width: $mobile) {
              top: 20px;
            }
          }
  
          .mat-select-value {
            .mat-select-value-text > span {
              @include font($light-black, 18px);
            }
          }
    
          .mat-select-arrow-wrapper > div {
            @include size(25px, 18px);
            margin-right: 0px !important;
            position: relative;
            top: 2px;
    
            @media(max-width: $mobile) {
              top: 8px !important;
            }
          }
  
          @media(max-width: $tablet) {
            width: 250px;
          }
        }

        app-search {
          padding-right: 0;
        }
      }
    }

    &__apis-list {
      ::ng-deep {
        mat-table {
          .form-check {
            @include size(26px, 26px);
      
            input {
              @include size(26px, 26px);
              margin-top: 0;
            }
          }
  
          mat-row {
            &:nth-child(odd) {
              background-color: $border;
            }
          }
  
          mat-header-cell, mat-cell {
            &:first-child {
              flex: unset;
              padding-left: 15px !important;
            }

            &:last-child {
              flex: 2;
            }
          }
  
          mat-header-cell {
            @include font($light-black, 14px, bold);
          }
  
          mat-cell {
            @include font($light-black, 14px);
  
            &:nth-child(2),
            &:nth-child(4) {
              @include font($light-black, 14px, bold);
            }

            &:nth-child(2),
            &:last-child {
              @media(max-width: $tablet) {
                word-break: break-all;
              }
            }
          }
        }
      }
    }

    &__save {
      ::ng-deep {
        app-icon-button .rs-filters {
          @include size(130px, 50px);

          button {
            @include font($white, 24px, bold);
            margin: 30px 0;
            background: $blue;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
