@import "../../../shared/css/colors.scss";

.rs-items-table {
  mat-table {
    background-color: transparent;
    margin-top: 30px;
  }
  mat-header-cell {
    font-size: 18px;
    font-weight: 500;
    color: $table-header;
    justify-content: center;
    
    &:first-child {
      justify-content: flex-start;
    }
  }
  mat-cell {
    font-size: 16px;
    color: $light-black;
    height: 80px;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }
  }
  mat-row:hover {
    cursor: pointer;

    mat-cell {
      background-color: $table-hover !important;
      font-weight: bold;
    }
  }
}