<div class="rs-items-table">
  <div class="rs-items-table__content">
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'editors.item-name' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'editors.category' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.category}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="frequency">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'editors.frequency' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.frequency}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="modified">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'editors.modified' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.modified}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastEditedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'editors.last-edited-by' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{item.lastEditedBy}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'editors.status' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <app-status [value]="item.status"></app-status>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="openItem(row.id)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>