<div
  class="rs-filters"
  *ngIf="filtersVisibility"
  @fromRightToLeft
  filtersClickOutside
>
  <div class="rs-filters__header d-flex justify-content-between align-items-center">
    <div class="rs-filters__header-title">{{"shared.filters" | translate}}</div>
    <div class="rs-filters__header-close">
      <button (click)="hideFilters()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="rs-filters__content">
    <div class="rs-filters__content-section" *ngFor="let filterGroup of displayedFilters">
      <div *ngIf="!filterGroup.parent || isParentSelected(filterGroup)" @fromRightToLeft>
        <div class="rs-filters__content-section-title">{{filterGroup.title | translate}}</div>
        <div class="rs-filters__content-section-search" *ngIf="filterGroup.searchPlaceholder">
          <app-search (search)="searchFilters(filterGroup.title, $event)" [placeholder]="filterGroup.searchPlaceholder"></app-search>
        </div>
        <div class="rs-filters__content-section-filters" *ngIf="!filterGroup.searchPlaceholder && !isSlider(filterGroup) && !isDates(filterGroup)">
          <div class="rs-filters__content-section-filters-item" *ngIf="filterGroup.filters[0]">
            <app-label
              [default]="isFilterEnabled(filterGroup.title, filterGroup.filters[0])"
              (changeEvent)="handleChange(filterGroup, filterGroup.filters[0], $event)"
              [caption]="filterGroup.filters[0] | translate"
            >
            </app-label>
          </div>
          <div class="rs-filters__content-section-filters-item" *ngIf="filterGroup.filters[1]">
            <app-label
              [default]="isFilterEnabled(filterGroup.title, filterGroup.filters[1])"
              (changeEvent)="handleChange(filterGroup, filterGroup.filters[1], $event)"
              [caption]="filterGroup.filters[1] | translate"
            >
            </app-label>
          </div>
          <div class="rs-filters__content-section-filters-item" *ngIf="filterGroup.filters[2]">
            <app-label
              [default]="isFilterEnabled(filterGroup.title, filterGroup.filters[2])"
              (changeEvent)="handleChange(filterGroup, filterGroup.filters[2], $event)"
              [caption]="filterGroup.filters[2] | translate"
            >
            </app-label>
          </div>
          <div class="rs-filters__content-section-filters-hidden" *ngIf="filterGroup.more" @height>
            <div class="rs-filters__content-section-filters-item" *ngFor="let hiddenFilter of filtersRemainder(filterGroup.title, 3)">
              <app-label
                [default]="isFilterEnabled(filterGroup.title, hiddenFilter)"
                (changeEvent)="handleChange(filterGroup, hiddenFilter, $event)"
                [caption]="hiddenFilter | translate"
              >
              </app-label>
            </div>
          </div>
          <div class="rs-filters__content-section-filters-more" *ngIf="filterGroup.filters.length > 3">
            <button (click)="setFilterGroupMore(filterGroup.title, filterGroup.more ? false : true)" mat-button color="primary">
              {{filterGroup.more ? 'less' : 'more'}}
            </button>
          </div>
        </div>
        <div class="rs-filters__content-section-filters" *ngIf="filterGroup.searchPlaceholder && !isSlider(filterGroup) && !isDates(filterGroup)">
          <div class="rs-filters__content-section-filters-item" *ngIf="filterGroup.filters[0]">
            <app-label
              [default]="isFilterEnabled(filterGroup.title, filterGroup.filters[0])"
              (changeEvent)="handleChange(filterGroup, filterGroup.filters[0], $event)"
              [caption]="filterGroup.filters[0] | translate"
            >
            </app-label>
          </div>
          <div class="rs-filters__content-section-filters-item" *ngIf="filterGroup.filters[1]">
            <app-label
              [default]="isFilterEnabled(filterGroup.title, filterGroup.filters[1])"
              (changeEvent)="handleChange(filterGroup, filterGroup.filters[1], $event)"
              [caption]="filterGroup.filters[1] | translate"
            >
            </app-label>
          </div>
          <div class="rs-filters__content-section-filters-hidden" *ngIf="filterGroup.more" @height>
            <div class="rs-filters__content-section-filters-item" *ngFor="let hiddenFilter of filtersRemainder(filterGroup.title, 2)">
              <app-label
                [default]="isFilterEnabled(filterGroup.title, hiddenFilter)"
                (changeEvent)="handleChange(filterGroup, hiddenFilter, $event)"
                [caption]="hiddenFilter | translate"
              >
              </app-label>
            </div>
          </div>
          <div class="rs-filters__content-section-filters-more" *ngIf="filterGroup.filters.length > 2">
            <button (click)="setFilterGroupMore(filterGroup.title, filterGroup.more ? false : true)" mat-button color="primary">
              {{filterGroup.more ? 'less' : 'more'}}
            </button>
          </div>
        </div>
        <div class="rs-filters__content-section-slider" *ngIf="isSlider(filterGroup) && !isDates(filterGroup)">
          <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="sliderOptions"></ng5-slider>
        </div>
        <div class="rs-filters__content-section-dates" *ngIf="isDates(filterGroup)">
          <mat-button-toggle-group class="d-flex flex-column" [value]="activatedDatesFilter | translate">
            <mat-button-toggle
              class="rs-label d-flex align-items-center justify-content-center"
              *ngFor="let filter of filterGroup.filters"
              [value]="filter | translate"
              (click)="handleChange(filterGroup, filter, true)"
            >
              <span *ngIf="!isChooseDatesFilter(filter)">{{filter | translate}}</span>
              <form *ngIf="isChooseDatesFilter(filter)" class="rs-dates-range" [formGroup]="formGroup" (click)="picker.open()">
                <mat-form-field>
                  <input matInput [satDatepicker]="picker" placeholder="Choose Dates" formControlName="datesRange" (dateChange)="handleChangeDatesRange(filterGroup, filter)">
                  <sat-datepicker-toggle matSuffix [for]="picker" (mouseup)="handleDatepickerToggle()"></sat-datepicker-toggle>
                  <sat-datepicker disabled="false" #picker [rangeMode]="true"></sat-datepicker>
                </mat-form-field>
              </form>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rs-app__cover" *ngIf="filtersVisibility" @darkness></div>
