@import "../../../css/colors.scss";
@import "../../../css/mixins.scss";
@import "../../../css/breakpoints.scss";

.rs-filters {
  padding: 40px;
  position: fixed;
  top: 0;
  right: 0;
  @include size(460px, 100vh);
  background-color: white;
  z-index: 11;
  overflow: auto;

  &__header {
    &-title {
      font-size: 36px;
      font-weight: bold;
      color: $dark;
    }
  }
  &__content {
    &-section {
      margin-top: 40px;

      &-slider {
        margin-top: 40px;
      }
      &-title {
        font-size: 18px;
        font-weight: 500;
        color: $dark;
        margin-bottom: 16px;
      }
      &-search {
        margin-bottom: 10px;

        &::ng-deep {
          .mat-form-field-flex {
            height: 60px !important;
          }
          .mat-form-field-infix {
            border-top: none !important;
          }
          .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
            transform: translateY(-1em) scale(0.65) !important;
          }
          .mat-form-field-appearance-outline .mat-form-field-flex {
            padding-left: 16px;
          }
          .mat-form-field-label {
            color: $placeholder !important;
            font-size: 22px !important;
            margin-top: -8px;
          }
          .mat-form-field-label-wrapper {
            top: -5px;
          }
          input {
            font-size: 22px !important;
            color: $dark !important;
            transform: translateY(3px);
            padding-top: 1px;
          }
        }
      }
      &-filters {
        &-hidden {
          overflow: hidden;
        }
        &-more {
          button {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            width: 100%;
            height: 50px;
          }
        }
        &-item {
          margin-bottom: 10px;

          &::ng-deep {
            .rs-label {
              height: 60px;
              border-color: $placeholder;
              border-radius: 10px;

              &__title {
                font-size: 20px;
                font-weight: bold;
                color: $dark;
                text-align: center;
                width: 100%;
              }
            }
          }
        }
      }
      &-dates {
        mat-button-toggle-group {
          border: none;

          mat-button-toggle {
            @include size(100%, 60px);
            @include font($text, 20px, bold);
            position: relative;
            margin: 5px 0;
            border-color: $placeholder;
            border-radius: 10px;
            border: solid 1px $gray-border;
            text-align: center;
            transition: 0.2s;

            ::ng-deep {
              .mat-button-toggle-focus-overlay, .mat-button-toggle-ripple {
                display: none;
              }
            }

            &.mat-button-toggle-checked {
              color: $white !important;

              ::ng-deep {
                .rs-dates-range {
                  .mat-form-field-flex {
                    .mat-form-field-infix {
                      input {
                        @include font($white, 20px, bold);
                      }

                      .mat-form-field-label-wrapper {
                        & > label {
                          @include font($white, 20px, bold);
                        }
                      }
                    }
                    .mat-form-field-suffix {
                      .mat-datepicker-toggle {
                        color: $white;
                      }
                    }
                  }
                }
              }
            }

            &:active {
              box-shadow: inset 0 0 5px $black;
            }

            ::ng-deep {
              .rs-dates-range {
                .mat-form-field-wrapper {
                  padding: 0;
                }
                .mat-form-field-flex {
                  display: flex;
                  flex-direction: row-reverse;
                  align-items: center;

                  .mat-form-field-infix {
                    text-align: center;
                    width: 160px;
                    border-top: 0;

                    input {
                      cursor: pointer;
                      margin-top: -3px;
                      @include font($black, 20px, bold);
                    }

                    .mat-form-field-label-wrapper {
                      top: -15px;

                      & > label {
                        @include font($light-black, 20px, bold);

                        &:not(.mat-form-field-empty) {
                          display: none;
                        }
                      }
                    }
                  }
                  .mat-form-field-suffix {
                    .mat-datepicker-toggle {
                      color: $black;
                    }
                    .mat-button-wrapper svg {
                      width: 32px;
                    }
                  }
                }
                .mat-form-field-underline {
                  height: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-filters {
    padding: 40px 20px;
    width: 100vw !important;

    &__content-section-filters-item {
      &::ng-deep {
        .rs-label {
          height: 50px;

          &__title {
            font-size: 18px;
          }
        }
      }
    }
    &__content-section-search {
      &::ng-deep {
        .mat-form-field-flex {
          height: 50px !important;
        }
      }
    }
  }
}
