@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-items {
  color: $label;
  width: 100%;
  background-color: white;

  &__filters {
    min-width: 288px;
    max-width: 288px;
    border-right: 2px solid $border;
    padding: 40px;
  }
  &__content {
    padding: 60px;

    &-tabs {
      margin-top: 30px;

      &-mobile {
        margin-top: 20px;

        &-item {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-items__content {
    background-color: $table-hover;
  }
}

@media(max-width: $mobile) {
  .rs-items {
    &__content {
      padding: 20px 10px;

      &-filter {
        margin-bottom: 20px;

        button {
          width: 100%;
          font-size: 20px;
          text-transform: uppercase;
        }
      }
    }
    &::ng-deep {
      .mat-form-field-infix {
        line-height: normal !important;
      }
    }
  }
}
