<div class="rs-items d-flex">
  <div class="rs-items__filters" *ngIf="filtersVisibility()">
    <app-items-filter></app-items-filter>
  </div>
  <div class="rs-items__content w-100">
    <div class="rs-items__content-filter" *ngIf="mobileFilterVisibility()">
      <button mat-raised-button appOpenMobileItemsFilter color="primary">{{'editors.open-filters' | translate}}</button>
    </div>
    <div class="rs-items__content-search">
      <app-search [isBig]="true" placeholder="{{'placeholders.editors' | translate}}"></app-search>
    </div>
    <div class="rs-items__content-tabs">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="{{'editors.packaged-items' | translate}} ({{packagedItems.length}})">
          <div class="rs-items__content-tabs-mobile" *ngIf="cardsVisibility()">
            <div class="rs-items__content-tabs-mobile-item" *ngFor="let item of packagedItems">
              <app-mobile-item (click)="openItem(item.id)" [item]="item"></app-mobile-item>
            </div>
          </div>
          <app-items-table *ngIf="tablesVisibility()" [items]="packagedItems"></app-items-table>
        </mat-tab>
        <mat-tab label="{{'editors.unpackaged-items' | translate}} ({{unpackagedItems.length}})">
          <div class="rs-items__content-tabs-mobile" *ngIf="cardsVisibility()">
            <div class="rs-items__content-tabs-mobile-item" *ngFor="let item of unpackagedItems">
              <app-mobile-item (click)="openItem(item.id)" [item]="item"></app-mobile-item>
            </div>
          </div>
          <app-items-table *ngIf="tablesVisibility()" [items]="unpackagedItems"></app-items-table>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="rs-items__add">
    <app-add-button></app-add-button>
  </div>
</div>
