@import "../../css/colors.scss";

.rs-plus-minus {
  height: 22px;
  width: 22px;
  background-color: $minus;
  border-radius: 50%;
  color: white;

  mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
  }

  &_plus {
    background-color: $plus;
  }
}
