<div class="rs-plus-minus d-flex justify-content-center align-items-center" [class.rs-plus-minus_plus]="value">
  <mat-icon *ngIf="value">done</mat-icon>
  <mat-icon *ngIf="!value">remove</mat-icon>
</div>