<div class="rs-nav-item d-flex justify-content-center align-items-center flex-column" [routerLink]="navItem.link"
  [ngClass]="{'rs-nav-item_disabled': navItem.disabled}">
  <div class="rs-nav-item__icon">
    <i [class]="navItem.iconClass"></i>
  </div>
  <div class="rs-nav-item__title">{{translationService.translate(navItem.translationKey) | async}}</div>
  <div class="rs-nav-item__quantity" *ngIf="navItem.quantity">{{navItem.quantity !== 'N/A' ? ((navItem.quantity | shortNumber) + ' ' + ('shared.itemsLowerCase' | translate)) :
    'N/A'}}
  </div>
  <div class="rs-nav-item__blank-quantity" *ngIf="!navItem.quantity">{{' '}}</div>
  <div class="rs-nav-item__has-notification" *ngIf="navItem.hasNotification"></div>
</div>
