@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-nav-item {
  @include size(280px, 280px);
  border-radius: 25px;
  box-shadow: 0 2px 4px 0 $shadow;
  border: solid 1px $shadow-border;
  background-color: white;
  position: relative;
  cursor: pointer;

  &.rs-nav-item_disabled {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.5;
    pointer-events: none;
  }

  &__icon {
    font-size: 80px;
  }
  &__title {
    font-size: 26px;
    font-weight: bold;
    color: $dark;
    margin-top: 37px;
    text-align: center;
    line-height: 26px;
  }
  &__quantity {
    font-size: 20px;
    color: $disabled;
    margin-top: 40px;
  }
  &__blank-quantity {
    margin-top: 60px;
  }
  &__has-notification {
    @include size(30px, 30px);
    border-radius: 50%;
    background-color: $pink;
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

@media(max-width: $tablet) {
  .rs-nav-item {
    @include size(150px, 150px);

    &__icon {
      font-size: 40px;
    }
    &__title {
      font-size: 15px;
      margin-top: 15px;
      text-align: center;
    }
    &__has-notification {
      @include size(15px, 15px);
      right: 10px;
      top: 10px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-nav-item {
    @include size(125px, 125px);

    &__icon {
      font-size: 40px;
    }
    &__title {
      font-size: 15px;
      margin-top: 15px;
      text-align: center;
      max-width: 100px;
      line-height: 17px;
    }
    &__quantity {
      font-size: 16px;
      color: $disabled;
      margin-top: 5px;
    }
    &__blank-quantity {
      margin-top: 25px;
    }
    &__has-notification {
      @include size(15px, 15px);
      right: 10px;
      top: 10px;
    }
  }
}
