@import "../breakpoints.scss";
@import "../colors.scss";
@import "../mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}
*::-webkit-scrollbar {
  background-color: $scroll-bar;
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-thumb;
  border-radius: 10px;
}
input {
  font-size: 24px !important;
}
img {
  max-width: 100% !important;
}
.rs-cropper_circle {
  .cropper-crop-box, .cropper-view-box {
    border-radius: 50% !important;
  }

  .cropper-view-box {
    box-shadow: 0 0 0 1px #39f !important;
    outline: 0 !important;
  }
}
.rs-app__cover {
  @include size(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: $background-darkness;
}
.rs-app__title {
  font-size: 26px;
  font-weight: bold;
  color: $dark;
}
.rs-app__table {
  mat-table {
    background-color: transparent;

    mat-cell {
      font-size: 18px !important;
      height: 60px !important;
    }
    mat-row:hover {
      cursor: pointer;

      mat-cell {
        background-color: $table-row-hover !important;
      }
      .rs-app__table-bold {
        color: $blue;
      }
    }
  }
  &-header {
    font-size: 16px;
    font-weight: bold;
    color: $light-gray;
  }
  &-bold {
    font-weight: bold;
    color: black;
  }
}
.rs-app__merchant-add-title {
  font-size: 40px;
  font-weight: bold;
  color: $dark;
  text-align: center;
  margin-bottom: 40px;
}
.rs-app__merchant-add-subtitle {
  font-size: 18px;
  font-weight: bold;
  color: $subtitle;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

  & + .rs-app__merchant-add-subtitle {
    margin-top: -35px;
  }
}
.rs-app__merchant-add-result {
  &-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.38;
    color: $dark;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 662px;
  }
  &-subtitle {
    width: 662px;
    font-size: 22px;
    line-height: 1.59;
    text-align: center;
    color: $placeholder;
    margin-bottom: 98px;
  }
  &-actions {
    button {
      width: 435px;
      font-size: 20px;
      font-weight: bold;
      color: white;
      height: 50px;
      text-transform: uppercase;
    }
  }
  &-link {
    font-weight: bold;
    text-decoration: underline;

    a {
      color: $placeholder !important;
    }
  }
}
button a {
  color: inherit !important;
  text-decoration: none !important;
}
a:hover {
  color: inherit !important;
}
.rs-app__merchant-profile-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-left: 40px;
  padding-bottom: 18px;
  border-bottom: 1px solid $menu-border;
  margin-bottom: 30px;
  padding-right: 24px;
}

.rs-app__denied {
  font-size: 16px;
  font-weight: bold;
  color: $red;
  text-transform: uppercase;
}
.rs-app__pending {
  font-size: 16px;
  font-weight: bold;
  color: $yellow;
  text-transform: uppercase;
}
.rs-app__status {
  font-size: 16px;
  color: white;
  height: 40px;
  background-color: red;
  border-radius: 20px;
  text-transform: uppercase;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_active {
    background-color: $blue;
  }
  &_blocked {
    background-color: $red;
  }
  &_pending {
    background-color: $yellow;
  }
}
#my-postfix {
  position: absolute;
  left: 0;
  top: 22px;
  font-size: 18px;
}

@media(max-width: $tablet) {
  .rs-app__merchant-add-result {
    padding: 0 10px;

    &-title {
      font-size: 30px;
      margin-top: 40px;
      margin-bottom: 20px;
      width: 100%;
    }
    &-subtitle {
      width: 100%;
      font-size: 17px;
      margin-bottom: 20px;
    }
    &-actions {
      button {
        width: 435px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        height: 50px;
        text-transform: uppercase;
      }
    }
    &-link {
      font-weight: bold;
      text-decoration: underline;

      a {
        color: $placeholder !important;
      }
    }
  }
  .rs-app__mobile-content {
    &-left {
      padding-right: 10px;
      flex-basis: 50%;
    }
    &-right {
      padding-left: 10px;
      flex-basis: 50%;
    }
  }
  .rs-app__mobile-item-row {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
    border-bottom: 1px solid $placeholder;

    &-key {
      font-weight: bold;
    }
  }
}

@media(max-width: $mobile) {
  input {
    font-size: 16px !important;
  }
  .rs-app__merchant-add-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .rs-app__merchant-add-subtitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;

    & + .rs-app__merchant-add-subtitle {
      margin-top: 0;
    }
  }
  .rs-app__merchant-add-result {
    &-title {
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      line-height: 1;
    }
    &-subtitle {
      line-height: 1.2;
      font-size: 15px;
      margin-bottom: 10px;
    }
    &-actions {
      button {
        width: 100%;
        font-size: 15px;
        height: 40px;
      }
    }
  }
  .rs-app__denied {
    font-size: 14px;
    font-weight: bold;
    color: $red;
    text-transform: uppercase;
  }
  .rs-app__pending {
    font-size: 14px;
    font-weight: bold;
    color: $yellow;
    text-transform: uppercase;
  }
  .rs-app__mobile-content {
    flex-direction: column;

    &-left, &-right {
      padding: 0;
    }
  }
  .rs-app__status {
    padding: 5px 10px;
  }
}

.timepicker-overlay {
  z-index: 1000 !important;
}

.cdk-overlay-container {
  .cdk-global-overlay-wrapper {
    .cdk-overlay-pane {
      @media screen and (max-width: 1024px) and (max-height: 1366px) {
        @include size(900px, 1000px);
      }

      @media screen and (max-width: 1024px) and (max-height: $tablet) {
        @include size(900px, 700px);
      }

      @media screen and (max-width: $tablet) {
        @include size(900px, auto);
      }
    }
  }
}
