@import "../colors.scss";
@import "../extensions.scss";
@import "../breakpoints.scss";

.mat-form-field-flex {
  height: 70px;
  line-height: 20px;
}
.mat-form-field.rs-app__textarea {
  .mat-form-field-flex {
    height: inherit !important;

    textarea {
      min-height: 120px !important;
    }
  }
}
mat-icon {
  width: fit-content !important;
}

.mat-paginator-page-size-select .mat-form-field-flex {
  height: 40px !important;
  line-height: 13.5px !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.3em) scale(0.65);
}

.mat-form-field-label {
  font-size: 24px !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.34375em;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  top: 0 !important;
}

.mat-form-field-label-wrapper {
  overflow: visible !important;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}

.mat-select-value-text {
  font-size: 24px !important;
}

.mat-select-arrow {
  border: none !important;
  background-image: url("/assets/images/arrow.svg");
  height: 20px !important;
  width: 32px !important;
  background-position: 0 -5px;
  background-repeat: no-repeat;
  margin-top: 9px !important;
  background-size: 70%;
  margin-right: 20px !important;
}

.mat-paginator-page-size-select .mat-select-value-text {
  font-size: 14px !important;
}

.mat-paginator-page-size-select .mat-select-arrow {
  margin-top: 0 !important;
  background-size: 80% !important;
  margin-right: 0 !important;
  background-position: 0 0 !important;
  width: 20px !important;
}

.mat-form-field-prefix .mat-icon {
  font-size: 190%;
  margin-right: 16px;
}

.mat-dialog-container {
  padding: 0 !important;
}

.simple-notification-wrapper {
  z-index: 1001 !important;
}

.mat-button-toggle-checked {
  background-color: $light-blue;
  color: white !important;
}

.mat-button-toggle {
  color: $light-black;
}

.cdk-overlay-pane {
  max-width: none !important;
}

.mat-dialog-container {
  border-radius: 0 !important;
}

.cdk-global-scrollblock {
  overflow: auto;
}

.mat-radio-group {
  font-size: 24px;
}

.mat-radio-inner-circle, .mat-radio-outer-circle, .mat-radio-container {
  @include size(40px, 40px);
}

.mat-radio-label-content {
  padding-left: 20px !important;
}

.mat-card-actions {
  padding: 0 !important;
  margin-left: 0 !important;
}

.mat-card-header-text {
  margin-left: 0 !important;
  width: 100% !important;
  margin-right: 0 !important;
}

.mat-tab-label-content {
  font-size: 18px;
  color: $dark;
  text-transform: uppercase;
}

.mat-tab-label-active .mat-tab-label-content {
  color: $blue;
}

.mat-tab-nav-bar, .mat-tab-header {
  border: none;
}

.mat-ink-bar {
  height: 4px !important;
}

mat-expansion-panel {
  background-color: $gray !important;
  border-radius: 4px !important;
  margin-bottom: 5px !important;
  box-shadow: none !important;
}

.mat-expansion-indicator {
  background-image: url("/assets/images/arrow.svg");
  @include size(31px, 21px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mat-expansion-indicator::after {
  display: none !important;
}

.mat-expansion-panel-header-title {
  font-size: 18px;
  font-weight: 500;
  color: $dark;
  text-transform: uppercase;
}

.mat-expansion-panel-body {
  background-color: white;
  padding: 0 !important;
}

.mat-checkbox-inner-container {
  @include size(30px, 30px);
  margin-right: 21px !important;
}

.mat-checkbox-frame {
  border-width: 1px;
}

.mat-checkbox-label {
  font-size: 16px;
  color: $dark;
  margin-top: 3px;
}

button[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

.mat-step-label {
  visibility: hidden !important;
  font-size: 20px;
  font-weight: 300;
  color: $dark;
  line-height: normal;
}

.mat-step-label-selected {
  visibility: visible !important;
}

[ng-reflect-state="done"] {
  & + .mat-stepper-horizontal-line {
    border-top: 3px solid $dark;
  }

  &:not(:last-child)::after, & + .mat-stepper-horizontal-line + .mat-step-header::before  {
    background-color: $dark;
    height: 3px !important;
  }
  & .mat-step-text-label {
    opacity: .3;
    visibility: visible !important;
  }
} 
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: $dark;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after, .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before {
  width: calc(50% - 11px) !important;
}

.mat-step-text-label {
  text-overflow: clip !important;
  overflow: visible !important;
  white-space: break-spaces;
  text-align: center;
}

.mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label {
  width: 110% !important;
}

.mat-horizontal-stepper-header-container {
  width: 1200px;
  margin: 0 auto;
}

.mat-step-label {
  overflow: visible !important;
}
.ng5-slider .ng5-slider-selection {
  background-color: $dark !important;
}
.ng5-slider .ng5-slider-pointer:after {
  height: 21px !important;
  width: 21px !important;
  border-radius: 50% !important;
  left: 9.75px !important;
  top: 10px !important;
  background-color: $border !important;
}
.ng5-slider .ng5-slider-pointer {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: $dark;
  top: -16px !important;
  background-color: $dark !important;
}
.ng5-slider .ng5-slider-bar {
  height: 10px !important;
  border-radius: 9px !important;
  background-color: $border !important;
}
.ng5-slider .ng5-slider-bubble {
  bottom: 35px !important;
  background-color: $dark; 
  color: white !important;
  padding: 5px 15px !important;
  border-radius: 50px;
  min-width: 66px !important;
  text-align: center !important;
  position: relative;
  z-index: 999;
}
.ng5-slider .ng5-slider-bubble::before {
  display: block;
  content: '';
  height: 25px;
  width: 25px;
  background: red;
  position: absolute;
  border-radius: 4px;
  transform: rotate(45deg);
  z-index: -1;
  top: 9px;
  left: calc(50% - 12px);
  background-color: $dark;
}
.ng5-slider.animate .ng5-slider-selection {
  background-color: $dark !important;
}
.intl-tel-input {
  width: 100%;
  height: 100%;

  input {
    height: 100%;
    width: 100%;
    font-size: 18px !important;
  }
  .form-control:disabled {
    color: rgba(0, 0, 0, 0.38);
    background-color: inherit !important;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
  .form-control:focus {
    border: 2px solid $blue;
    box-shadow: none;
  }
  .flag-container.disabled {
    color: rgba(0, 0, 0, 0.38);
    
    .selected-flag {
      border-right: 1px solid rgba(0, 0, 0, 0.06);
    }
  }
}
ngx-intl-tel-input {
  height: 60px;
  transform: translateY(-3px);
  z-index: 2;
}
.intl-tel-input.separate-dial-code .selected-flag {
  background-color: transparent !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

@media(max-width: $desktop) {
  .mat-horizontal-stepper-header-container {
    width: 100%;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }
  mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }
}

@media(max-width: 815px) {
  .mat-dialog-container {
    height: 100vh !important;
    width: 100vw !important;
    max-height: none !important;
    max-width: none !important;
  }
}

@media(max-width: $tablet) {
  .mat-form-field-infix {
    width: 128px !important;
  }
  .mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: $mobile-background;
  }
}

@media(max-width: $mobile) {
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    padding: 22px !important;
  }
  .mat-horizontal-content-container {
    padding: 0 !important;
  }
  .mat-step-text-label {
    font-size: 12px !important;
  }
  .mat-form-field-flex {
    height: 50px !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0;
  }
  .mat-form-field-label, .mat-select-value-text {
    font-size: 16px !important;
  }
  .mat-raised-button, .mat-stroked-button {
    height: 50px !important;
  }
  .mat-select-arrow {
    margin: 0 !important;
    background-size: 60%;
  }
  .mat-radio-group {
    font-size: 17px;
  }
  .mat-radio-inner-circle, .mat-radio-outer-circle, .mat-radio-container {
    @include size(20px, 20px);
  }
  .mat-radio-label-content {
    padding-left: 10px !important;
  }
  .mat-ink-bar {
    height: 3px !important;
  }
  .mat-tab-label-content {
    font-size: 14px;
  }
  .mat-expansion-panel-header-title {
    font-size: 13px;
  }
  .mat-tab-header-pagination {
    z-index: 0 !important;
  }
  .mat-content {
    align-items: center;
  }
  .mat-checkbox-inner-container {
    @include size(20px, 20px);
    margin-right: 10px !important;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    font-size: 14px;
    white-space: normal;
  }
  .mat-checkbox label {
    margin-bottom: 0 !important;
  }
  .mat-expansion-panel-body {
    background-color: $mobile-background !important;
  }
  .mat-expansion-indicator {
    @include size(21px, 11px);
  }
  .rs-select-plan-mobile-item {
    .mat-card-header {
      .mat-card-header-text {
        width: 100%;
      }
    }
  }
}
