@import "../colors.scss";
@import "../breakpoints.scss";
@import "../mixins.scss";

.rs-merchants-general-info {
  position: relative;

  &__action {
    position: absolute;
    right: 50px;
    top: 20px;
    z-index: 100;
  }
  &__section {
    padding: 40px 0px 20px 0px;
    position: relative;

    &_owner {
      padding: 90px 210px 20px 210px;
    }
    &-title {
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      margin-bottom: 40px;
      margin-left: 30px;
      position: relative;
      text-transform: capitalize;
    }
    &-row {
      margin-bottom: 40px;

      mat-form-field, rs-control-with-mask {
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      .mat-form-field {
        input {
          font-size: 18px !important;
          transform: translateY(5px) !important;
          padding-top: 1px;
        }
      }
      .mat-form-field-label {
        font-size: 18px !important;
        margin-top: 0 !important;
      }
      .mat-form-field-flex {
        height: 60px !important;
      }
      .mat-form-field-infix {
        border-top: none !important;
      }
      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.35em) scale(0.65) !important;
      }
      .mat-form-field-appearance-outline .mat-form-field-flex {
        padding-left: 16px;
      }
      .mat-form-field-label-wrapper {
        top: -5px;
      }
      .mat-select-value-text {
        font-size: 18px !important;
      }
      .mat-select-value {
        padding-top: 6px !important;
      }
    }
  }
  &__wide-control {
    width: 66.6% !important;

    & + mat-form-field, & + ngx-intl-tel-input {
      width: calc(33.3% - 20px) !important;
    }
  }
  &__singleton-control {
    width: calc(33.3% - 26px);
  }
  &__different {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  &__mandatory {
    font-size: 14px;
    color: $placeholder;
    margin-bottom: 10px;
    padding-left: 210px;
  }
  &__actions {
    margin-right: 124px;

    &-item {
      @include size(40px, 40px);
      margin-left: 20px;
    }
  }
  &__delete {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }
  &__sections {
    position: relative;
  }
  &__add {
    button {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
.mat-stepper-horizontal {
  .rs-merchants-general-info__section {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media(max-width: $mobile) {
  .rs-merchants-general-info {
    &__action {
      right: 11px;
      top: 13px;
    }
    &__section {
      padding: 15px 0 0 0;
      margin-bottom: 10px;

      &-title {
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 10px;
      }
      &-row {
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 0 10px;

        mat-form-field {
          flex-basis: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
        &:last-child {
          mat-form-field {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &__different {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    &__mandatory {
      padding-left: 10px;
    }
    &__delete {
      @include size(25px, 25px);
      top: 15px;
      right: 10px;
    }
    &__add {
      button {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
