@import "../../css/mixins.scss";
@import "../../css/breakpoints.scss";

.rs-square-button {
  @include size(40px, 40px);

  button {
    @include size(40px, 40px);
    min-width: auto;
    box-shadow: none;
    font-size: 20px;
    padding: 0;
  }
}

@media(max-width: $mobile) {
  .rs-square-button {
    @include size(25px, 25px);

    button {
      @include size(25px, 25px);
      font-size: 12px;
      line-height: inherit;
    }
  }
}
