<div class="rs-home d-flex justify-content-center">
  <div class="rs-home__navigation">
    <div class="rs-home__navigation-greeting">
      <div class="rs-home__navigation-greeting-title">{{"home.welcome-back" | translate}},</div>
      <div class="rs-home__navigation-greeting-username">{{userProfileData | fullName}}!</div>
    </div>
    <div class="rs-home__navigation-items">
      <div class="rs-home__navigation-item" *ngFor="let navItem of navItems">
        <app-nav-item [navItem]="navItem"></app-nav-item>
      </div>
    </div>
  </div>
  <!-- <div class="rs-home__updates">
    <div class="rs-home__updates-search">
      <app-search (search)="reactOnSearch($event)"></app-search>
    </div>
    <div class="rs-home__updated-items">
      <app-last-updates></app-last-updates>
    </div>
  </div> -->
</div>