@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

:host {
  width: 100%;
}

.rs-home {
  margin-top: 90px;

  &__navigation {
    &-greeting {
      &-title {
        font-size: 18px;
        color: $light-gray;
      }
      &-username {
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
        color: $dark;
      }
    }
    &-items {
      width: 960px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 45px;
    }
    &-item {
      margin-right: 40px;
      margin-bottom: 40px;
    }
  }
  &__updates {
    width: 600px;

    &-search {
      margin-bottom: 50px;
    }
  }
}

@media(max-width: 1700px) {
  .rs-home {
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;  
    padding-bottom: 50px;
  
    &__navigation {
      &-greeting {
        &-title {
          text-align: center;
        }
        &-username {
          text-align: center;
        }
      }
      &-items {
        padding: 0 20px;
        justify-content: space-evenly;
      }
      &-item {
        margin-right: 0;
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-home {
    margin-top: 20px;

    &__navigation {
      &-items {
        width: 100%;
        margin-top: 20px;
      }
      &-item {
        margin-bottom: 10px;
      }
      &-greeting {
        &-title {
          font-size: 14px;
        }
        &-username {
          font-size: 25px;
          line-height: 30px;
        }
      }
    }
    &__updates {
      width: 90%;
      padding: 0 20px;
      margin-top: 20px;

      &-search {
        margin-bottom: 15px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-home {
    &__updates {
      padding: 0;
    }
  }
}
