<form *ngIf="isArrayBasic(key.type) || isBasicType(key.type) || isBoolType(key.type)">
    <div class="rs-add-item-form w-100" *ngIf="isBasicType(key.type)">
        <mat-form-field  appearance="outline" class="w-100">
            <mat-label>{{ !key.displaySettings? ('editors.'+key.name | translate) : (key.displaySettings.name) }}</mat-label>
            <input name="{{key.name}}{{index}}" [formControl]="fieldGroup.form" matInput autocomplete="off" required="fieldGroup.key.mandatory"/>
        </mat-form-field>
    </div>
    <mat-checkbox class="check-box" labelPosition="before" name="{{key.name}}{{index}}" *ngIf="isBoolType(key.type)" class="w-100" appearance="outline" [formControl]="fieldGroup.form">{{ !key.displaySettings? ('editors.'+key.name | translate) : (key.displaySettings.name) }}</mat-checkbox>
    <mat-form-field *ngIf="isArrayBasic(key.type)" class="w-100" appearance="outline">
        <mat-label>{{ !key.displaySettings? ('editors.'+key.name | translate) : (key.displaySettings.name) }}</mat-label>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let value of arrayInputStorer" removable="true" (removed)="remove(value)">
                {{value}}
            </mat-chip>
            <input matInput name="{{key.name}}{{index}}" [formControl]="currentForm" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true" (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>
    </mat-form-field>
</form>
