@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

::-webkit-scrollbar {
  height: 5px;
}

.rs-add-item-form {
  width: 100%;

  &__general-packaged {
    margin-bottom: 28px;
  }

  .check-box{
    padding: 10px;
  }
  
  form {
    width: 100%;
  }
  &__title {
    margin: 40px 0;
    font-size: 26px;
    color: $light-black;
    line-height: initial;
    font-weight: bold;
  }
  &__container {
    width: 95%;
  }
  &__array {
    margin: 10px 20px 0 0;
  }
  &__actions {
    margin-bottom: 80px;

    &-button {
      height: 80px;
      flex: 1;
      margin-right: 20px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 8px;
    }
    &-button-small {
      height: 65px;
      flex: unset;
      margin-right: 0px;
      margin-left: 10px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 8px;
      margin-top: 28px;
    }
    &-button-super-small {
      height: 20px;
      flex: unset;
      margin-right: 0px;
      margin-left: 4px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 8px;
      position: absolute;
      right: 0;
      bottom: 10px;
      .mat-icon{
        margin-top:-17px;
      }
    }
  }
  &__section {
    padding: 60px 0;
    display: flex;
    border-top: 2px solid $light-gray-border;

    &-title {
      font-size: 20px;
      font-weight: bold;
      color: $light-black;
      flex-basis: 35%;
      padding-top: 20px;
      line-height: 30px;
    }
    &-content {
      flex-basis: 65%;
    }
  }
  &__control {
    margin-bottom: 40px;
  }
  &__img-wrapper {
    height: 130px;
    margin-right: 40px;
  }
  mat-radio-button {
    flex: 1;
  }
  &__attributes {
    margin-bottom: 10px;
    flex-wrap: wrap;

    &-item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    & + button {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
  &__category {
    margin-bottom: 20px;

    & + button {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
}

@media(max-width: $desktop) {
  .rs-add-item-form {
    &__container {
      width: 90%;
    }
  }
}

@media(max-width: $laptop) {
  .rs-add-item-form {
    &__title {
      font-size: 30px;
      margin: 40px 0;
    }
    &__section {
      &-title {
        font-size: 18px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-add-item-form {
    &__control {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 20px;
      margin: 20px 0;
    }
    &__section {
      // padding: 20px 0;
      padding: 10px 0px 10px 0;

      flex-direction: column;

      &-title {
        padding-top: 0;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &__actions {
      margin-bottom: 30px;

      button {
        font-size: 17px;
      }
    }
    &__img-wrapper {
      margin-right: 15px;
      height: auto;

      &:last-child {
        margin-right: 0;
      }
    }
    &__attributes {
      & + button {
        font-size: 17px;
      }
    }
  }
}

