@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-fee {
  &__header {
    padding: 0 10px 10px 40px;
    border-bottom: 1px solid $menu-border;

    &-title {
      font-size: 20px;
      font-weight: bold;
      color: black;
    }
  }
  &__content {
    padding-top: 30px;

    &-row {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $menu-border;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 18px;
      color: black;
      padding-left: 40px;

      &_header {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.31;
        color: #999999;
        padding-bottom: 13px;
        padding-left: 40px;

        .rs-fee__content-col {
          &:nth-child(1) {
            padding-left: 0;
          }
          &:nth-child(3) {
            padding-left: 25px;
          }
          &:nth-child(4) {
            padding-left: 20px;
          }
        }
      }
      &_selected {
        font-weight: bold;

        &::ng-deep {
          input {
            font-weight: bold;
          }
          .mat-form-field-prefix {
            font-weight: bold;
          }
        }
        #my-postfix {
          font-weight: bold;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
    &-col {
      &:nth-child(1) {
        flex-basis: 10%;
        padding-left: 10px;
      }
      &:nth-child(2) {
        flex-basis: 20%;
      }
      &:nth-child(3) {
        flex-basis: 15%;
      }
      &:nth-child(4) {
        flex-basis: 10%;
      }
    }
  }
  &::ng-deep {
    .mat-radio-inner-circle, .mat-radio-outer-circle, .mat-radio-container {
      height: 30px !important;
      width: 30px !important;
    }
    .mat-radio-checked .mat-radio-inner-circle {
      transform: scale(.7);
    }
    .mat-radio-label {
      margin-bottom: 0;
    }
    .mat-form-field-flex {
      height: 60px;
      width: 104px;
    }
    input {
      font-size: 18px !important;
    }
    .mat-form-field-infix {
      border-top: none;
      padding-top: 1.2em;
    }
    .mat-form-field-prefix {
      font-size: 18px !important;
    }
    .mat-form-field-disabled {
      .mat-form-field-prefix, #my-postfix {
        color: #999999;
      }
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
      border-radius: 8px 0 0 8px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0 8px 8px 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
      min-width: 8px;
    }
    .mat-form-field-appearance-outline .mat-form-field-prefix {
      top: 0;
      margin-right: -7px;
    }
  }
}

@media(max-width: $desktop) {
  .rs-fee {
    &__content {
      &-col {
        &:nth-child(1) {
          flex-basis: 20%;
        }
        &:nth-child(2) {
          flex-basis: 30%;
        }
        &:nth-child(3) {
          flex-basis: 25%;
        }
        &:nth-child(4) {
          flex-basis: 20%;
        }
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-fee {
    &__header, &__content-row_header, &__content-row {
      padding-left: 10px;
    }
  }
}
  