<div class="rs-fee">
  <div class="rs-fee__header d-flex align-items-center justify-content-between">
    <div class="rs-fee__header-title">{{fee.title}}</div>
    <div class="rs-fee__header-actions">
      <app-square-button
        icon="edit"
        color="primary"
        *ngIf="!isEdit"
        (click)="toggleIsEdit()"
      ></app-square-button>
      <app-square-button
        icon="save"
        color="primary"
        *ngIf="isEdit"
        rsOpenConfirmEditFee
        [fee]="fee"
        (close)="toggleIsEdit()"
        [disabled]="disabledSaveButton()"
      ></app-square-button>
    </div>
  </div>
  <div class="rs-fee__content">
    <div class="rs-fee__content-row rs-fee__content-row_header">
      <div class="rs-fee__content-col">{{'fees.selected' | translate}}</div>
      <div class="rs-fee__content-col">{{'fees.fee-type' | translate}}</div>
      <div class="rs-fee__content-col">{{'fees.fee' | translate}} (%)</div>
      <div class="rs-fee__content-col">{{'fees.fee' | translate}} ($)</div>
    </div>
    <div
      class="rs-fee__content-row"
      [class.rs-fee__content-row_selected]="item.selected"
      *ngFor="let item of fee.items;let i = index;"
      [formGroup]="feeItemsForms[i]"
    >
      <div class="rs-fee__content-col">
        <mat-radio-group formControlName="selected" (change)="changeSelected($event, i)">
          <mat-radio-button color="primary" [value]="true"></mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="rs-fee__content-col">{{item.type}}</div>
      <div class="rs-fee__content-col">
        <mat-form-field rsPercent appearance="outline">
          <input appNumericControl formControlName="percent" matInput>
          <div id="my-postfix">%</div>
        </mat-form-field>
      </div>
      <div class="rs-fee__content-col">
        <mat-form-field appearance="outline">
          <span matPrefix>$ &nbsp;</span>
          <input rsPrice formControlName="price" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>