@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/mixins.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-input-with-chips {

  ::ng-deep mat-chip-list {
    .mat-chip-list-wrapper {
      position: relative;
      top: -10px;

      mat-chip {
        @include font($light-black, 14px);
      }

      .rs-input-with-chips__input {
        top: unset;
        font-size: 18px !important;

        @media(max-width: $mobile) {
          top: 3px;
        }
      }
    }

    &.empty {
      .mat-chip-list-wrapper {
        margin: 0 !important;
      }
    }
  }
}
