<div class="rs-input-with-chips">
  <mat-chip-list #chipsList
                 [class.empty]="!(this.value && this.value.length)">
    <mat-chip *ngFor="let chip of value"
              [removable]="!disabled && isRemovableChips"
              (removed)="onRemoveTag(chip)">
      <span>{{ chip.name }}</span>
      <mat-icon *ngIf="!disabled && isRemovableChips" matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input #addChipsInput
           class="rs-input-with-chips__input"
           [formControl]="addChipsControl"
           [attr.placeholder]="(inputPlaceholder && value && value.length) ? inputPlaceholder : null"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipsList"
           [matChipInputAddOnBlur]="(autocompleteOptions && autocompleteOptions.length) ? false : isMatChipInputAddOnBlur"
           [matChipInputSeparatorKeyCodes]="matChipInputSeparatorKeyCodes"
           (matChipInputTokenEnd)="onAddTag($event.input, $event.value)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedAutocompleteOption(addChipsInput, $event.option.value)">
      <mat-option *ngFor="let autocompleteValue of autocompleteData" [value]="autocompleteValue">
        {{ autocompleteValue[autocompleteShowPropertyName] }}
      </mat-option>
  </mat-autocomplete>
</div>
