@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-support-request-batch {
  margin: 60px 140px;
  background-color: $gray;

  ::ng-deep {
    app-section-header {
      .rs-support-request-header {
        padding-top: 40px;
        padding-left: 40px;

        @media(max-width: $desktop) {
          padding-left: 30px;
        }
      }
    }

    app-data-table {
      @include customer-support-table;

      .rs-data-table {
        padding: 0 20px 35px 30px;
      }

      mat-header-row,
      mat-row {
        padding-left: 30px;
        padding-right: 21px;

        @media(max-width: $desktop) {
          padding-left: 20px;
          padding-right: 10px;
        }
      }

      mat-footer-row {
        mat-footer-cell:not(:nth-child(1)) {
          display: none;
        }

        mat-footer-cell:nth-child(1) {
          display: flex;
          justify-content: center;
        }
      }

      mat-header-cell:nth-child(1),
      mat-cell:nth-child(1) {
        flex: 3;
      }

      mat-header-cell {
        display: flex;
        align-items: flex-start;

        @media(max-width: $tablet) {
          word-break: break-all;
        }
      }

      mat-cell {
        word-break: break-all;
        color: $black;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          font-weight: bold;
        }
  
        &:nth-child(2),
        &:nth-child(3) {
          text-decoration: underline;
          color: $black;
        }

        &:nth-child(1) {
          .rs-datetime-text {
            mat-icon {
              @media(max-width: $tablet) {
               display: none;
              }
            }

            @media(max-width: $tablet) {
              display: flex;
              flex-direction: column;
            }
          }
        }

        .bank-card {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            height: 23px;
            width: 29px;
          }

          span {
            margin-left: 5px;
          }
        }

        @media(max-width: $tablet) {
          height: 70px !important;
        }
      }
    }
  }

  @media(max-width: $desktop) {
    margin: 60px 20px;
  }
}
