<div class="rs-support-request-batch">
  <app-section-header
    [titleTranslationKey]="headerTitleKey"
    [searchPlaceholderTranslationKey]="headerSearchPlaceholderKey"
    [filtersEndpoint]="filtersEndpoint"
  ></app-section-header>
  <app-data-table
    [items]="selectedBatchPayments"
    [columns]="displayedColumns"
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [isPaginator]="true"
  >
  </app-data-table>
</div>
