@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-product-info {
  margin: 50px 0;

  &__fields {
    & > div {
      margin: 20px 0;

      mat-form-field {
        width: 100%;

        mat-error {
          margin-top: 20px;
        }

        &:last-child {
          margin-top: 10px;
        }
      }
    }

    ::ng-deep mat-form-field {
      textarea, input {
        @include font($light-black, 18px);
        position: relative;
      }

      textarea {
        top: -13px;
        overflow: hidden;

        @media(max-width: 1024px) {
          top: -11px !important;
        }

        @media(max-width: $mobile) {
          top: -15px !important;
        }
      }

      input {
        top: -8px;

        @media(max-width: $mobile) {
          top: -10px !important;
        }
      }

      .mat-form-field-flex {
        height: fit-content;
        line-height: 30px;

        .mat-form-field-label-wrapper {
          top: -17px;
        }
      }
    }
  }

  &__action-button {
    button {
      @include size(250px, 50px);
      @include font($blue, 24px, bold);
      padding: 5px;
    }
  }

  @media(max-width: 1024px) {
    margin: 50px;
  }

  @media(max-width: $tablet) {
    margin: 50px 30px;
  }
}

::ng-deep .sn-content {
  font-size: 15px !important;
  line-height: unset !important;
}

::ng-deep .mat-dialog-container .rs-confirmation {
  &__title {
    @include font($black, 18px, bold);
    text-align: left !important;
    line-height: 1.44;
  }

  &__actions {
    margin-top: 50px !important;

    button:first-child {
      display: none;
    }
    button:last-child {
      @include size(130px, 50px);
    }
  }
}
