<form class="rs-product-info" [formGroup]="formGroup" (ngSubmit)="onCreate()">
  <div class="rs-product-info__fields row">
    <div class="rs-product-info__fields__name col-9"
         [ngClass]="{ 'col-9': (isCreated$ | async) || infoType === 'edit', 'col-12': !((isCreated$ | async) || infoType === 'edit') }">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.name' | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="(isCreated$ | async) || infoType === 'edit'"
         class="rs-product-info__fields__code col-3">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.code' | translate}}</mat-label>
        <input matInput formControlName="code">
        <mat-error *ngIf="formGroup.get('code').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-product-info__fields__description col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-product-info__action-button">
    <button *ngIf="isEdit"
            type="button"
            mat-raised-button
            appOpenConfirmation
            popupTitle="orchestrator-b2b.products.delete"
            caption="orchestrator-b2b.products.delete-confirmation"
            acceptTitle="shared.Yes"
            (accept)="onDelete()">
      {{'orchestrator-b2b.products.delete' | translate}}
    </button>
    <button *ngIf="!isEdit && !(isCreated$ | async)" mat-raised-button type="submit">
      {{ 'orchestrator-b2b.products.create' | translate }}
    </button>
  </div>
</form>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
