<div class="rs-items-list">
  <div class="rs-items-list__header">
    <rs-module-header
      caption="menu.items"
      exportTitle="menu.items"
      filtersEndpoint="global-items-filter"
      placeholder="placeholders.search-items"
      (search)="filterGlobalItems($event)"
    ></rs-module-header>
    <mat-paginator class="paginator" [length]="itemsTotal" [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50, 100]" #paginator></mat-paginator>
  </div>
  <div class="rs-items-list__content rs-app__table">
      <mat-table [dataSource]="dataSource" matSort *ngIf="tableVisibility()">
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <ng-container matColumnDef="name">
          <mat-header-cell class="rs-items-list__table-name" *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'editors.item-name' | translate}}</div>
          </mat-header-cell>
          <mat-cell class="rs-items-list__table-name" *matCellDef="let globalItem">
            <div class="rs-app__table-bold">{{globalItem.name}}</div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell class="rs-items-list__table-id" *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'editors.category' | translate}}</div>
          </mat-header-cell>
          <mat-cell class="rs-items-list__table-id" *matCellDef="let globalItem">{{getCategory(globalItem)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
          <mat-header-cell class="rs-items-list__table-actions" *matHeaderCellDef></mat-header-cell>
          <mat-cell class="rs-items-list__table-actions" *matCellDef="let globalItem">
            <app-square-button
              icon="visibility"
              color="primary"
            ></app-square-button>
          </mat-cell>
        </ng-container>
        <mat-row (click)="openItem(globalItem.id, globalItem.barcode)" *matRowDef="let globalItem; columns: displayedColumns;"></mat-row>
      </mat-table>
    <div class="rs-items-list__mobile" *ngIf="mobileItemsVisibility()">
      <div class="rs-items-list__mobile-item" *ngFor="let globalItem of items;let i = index;">
        <app-global-item-mobile-item [item]="globalItem" (openPreviewEvent)="openItem(globalItem.id, globalItem.barcode)"></app-global-item-mobile-item>
      </div>
    </div>
    <div class="rs-items-list__add">
      <app-add-button (click)="openAddItem()"></app-add-button>
    </div>
  </div>
