@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/breakpoints.scss";
@import "../../../../../../../shared/css/mixins.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-permissions {
  margin: 70px 120px;
  padding: 30px;
  background-color: $gray;

  ::ng-deep {
    app-section-header {
      .rs-orchestrator-section-header {
        &__actions {
          max-width: 700px;
          
          &-item_filter {
            @include size(145px, 50px);
            margin-right: -20px;

            button {
              @include font($blue, 16px, bold);
              font-size: 22px;
              color: $dark;
              font-weight: normal;
              border-radius: 5px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
              border: solid 1px $shadow-border;
              background-color: $white;
              cursor: pointer;
            }
    
            i {
              line-height: 24px;
              font-size: 25px;
              margin-right: 5px;
              margin-left: -5px;
              margin-top: -3px;
            }

            @media(max-width: 1024px) {
              margin-right: 0;
            }
          }

          @media(max-width: $mobile) {
            margin: 20px;
          }
        }
      }
    }

    app-search .rs-search {
      @media(max-width: $tablet) {
        width: 250px !important;
      }
    }

    mat-table {
      margin-top: 50px !important;

      mat-header-row {
        background-color: $gray;
        border-top: 1px solid $shadow;
      }

      mat-row {
        border: none;

        &:nth-child(even) {
          background-color: $white;
        }
      }

      mat-header-cell,
      mat-cell {
        &:nth-child(3) {
          flex: 2;
        }
      }

      mat-header-cell {
        @include font($light-black, 14px, bold);

        &:nth-child(1) {
          @media(max-width: 1024px) {
            padding-left: 20px !important;
          }
        }

        &:last-child {
          padding-right: 10px !important;
        }

        @media(max-width: $tablet) {
          display: flex;
          align-items: flex-start;
        }
      }

      mat-cell {
        height: 90px !important;
        word-break: break-all;

        &:nth-child(1) {
          @include font($light-black, 14px, bold);

          @media(max-width: 1024px) {
            padding-left: 20px !important;
          }
        }

        &:not(:nth-child(1)) {
          @include font($light-black, 14px);
        }

        &:last-child {
          justify-content: flex-end;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-right: 10px !important;
      
          .rs-pencil-icon {
            @include size(45px, 45px);
            display: inline-block;
            background-image: url('/assets/images/pencil.svg');
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 70px 60px;
  }

  @media(max-width: $tablet) {
    margin: 70px 30px;
  }
}
