<div class="rs-merchant-preview"
  *ngIf="merchantPreviewVisibility"
  @fromRightToLeft
  (clickOutside)="closePreview()"
  [exclude]="'.rs-square-button'"
>
  <div class="rs-merchant-preview__header d-flex align-merchantPreviews-center justify-content-between">
    <div class="rs-merchant-preview__title">{{'merchants.preview' | translate}}</div>
    <div class="rs-merchant-preview__close">
      <button (click)="closePreview()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="rs-merchant-preview__name d-flex">
    <div class="rs-merchant-preview__name-value">{{merchantPreview.name}}</div>
    <div class="rs-merchant-preview__name-plan">({{merchantPreview.servicePackage.name}})</div>
  </div>
  <div class="rs-merchant-preview__section">
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.business-category' | translate}}: </div>
      <div class="rs-merchant-preview__section-row-value">{{merchantPreview.businessInformation.category}}</div>
    </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.location' | translate}}: </div>
      <div class="rs-merchant-preview__section-row-value">{{merchantPreview.businessInformation.businessAddress.city}}, {{merchantPreview.businessInformation.businessAddress.country}}</div>
    </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.merchant-id' | translate}}: </div>
      <div class="rs-merchant-preview__section-row-value">{{merchantPreviewId}}</div>
  </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.pci-expiration' | translate}}: </div>
      <div class="rs-merchant-preview__section-row-value">mm/dd/yyyy</div>
    </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.last-digits' | translate}}: </div>
      <div class="rs-merchant-preview__section-row-value">9012</div>
    </div>
  </div>
  <div class="rs-merchant-preview__statuses">
    <app-merchant-statuses [merchant]="merchantPreview"></app-merchant-statuses>
  </div>
  <div class="rs-merchant-preview__section">
    <div class="rs-merchant-preview__section-title">{{'merchants.contact-info' | translate}}</div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'shared.name' | translate}} </div>
      <!-- <div class="rs-merchant-preview__section-row-value">{{merchantPreview.contact | fullName}}</div> -->
      <div class="rs-merchant-preview__section-row-value">Oprah Winfrey</div>
    </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'authentication.email' | translate}} </div>
      <!-- <div class="rs-merchant-preview__section-row-value">{{merchantPreview.contact.email}}</div> -->
      <div class="rs-merchant-preview__section-row-value rs-merchant-preview__section-row-value_clickable" (click)="copyValue('oprah@merchant001.com')">oprah@merchant001.com</div>
    </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.cellphone-number' | translate}}: </div>
      <!-- <div class="rs-merchant-preview__section-row-value">{{merchantPreview.contact.phone}}</div> -->
      <div class="rs-merchant-preview__section-row-value rs-merchant-preview__section-row-value_clickable" (click)="copyValue('123-456-5500')">123-456-5500</div>
    </div>
  </div>
  <div class="rs-merchant-preview__section">
    <div class="rs-merchant-preview__section-title">{{'merchants.rockspoon-plan-and-fees' | translate}}</div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.rockspoon-plan' | translate}}: </div>
      <div class="rs-merchant-preview__section-row-value">{{merchantPreview.servicePackage.name}}</div>
    </div>
    <div class="rs-merchant-preview__section-row d-flex">
      <div class="rs-merchant-preview__section-row-key">{{'merchants.card-present' | translate}}: </div>
      <!-- <div class="rs-merchant-preview__section-row-value">{{merchantPreview.cardPresent}}%</div> -->
      <div class="rs-merchant-preview__section-row-value">1.5%</div>
    </div>
  </div>
</div>
<div class="rs-app__cover" *ngIf="merchantPreviewVisibility" @darkness></div>