@import "../../../../shared/css/mixins.scss";
@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-merchant-preview {
  position: fixed;
  top: 0;
  right: 0;
  @include size(460px, 100vh);
  background-color: white;
  z-index: 4;
  padding: 40px;
  overflow-y: auto;

  &__header {
    margin-bottom: 40px;
  }
  &__title {
    font-size: 36px;
    font-weight: bold;
    color: $dark;
  }
  &__name {
    margin-bottom: 20px;

    &-value {
      font-size: 26px;
      color: $dark;
      margin-right: 10px;
      font-weight: bold;
    }
    &-plan {
      font-size: 16px;
      font-weight: bold;
      color: $placeholder;
    }
  }
  &__section {
    margin-bottom: 40px;

    &-row {
      margin-bottom: 10px;

      &-key {
        font-size: 16px;
        font-weight: bold;
        color: $light-gray;
        margin-right: 10px;
      }
      &-value {
        font-size: 18px;
        color: $dark;

        &_clickable {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    &-title {
      font-size: 18px;
      font-weight: 500;
      color: $dark;
      margin-bottom: 20px;
    }
  }
  &__statuses {
    margin: 40px 0;
  }
}

@media(max-width: $mobile) {
  .rs-merchant-preview {
    width: 100vw !important;
    overflow: auto;
    padding: 40px 20px;

    &__statuses {
      margin: 20px 0;
    }
    &__name-value {
      font-size: 20px;
    }
    &__header {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 28px;
    }
    &__section {
      margin-bottom: 20px;

      &-row {
        &-key {
          font-size: 13px;
        }
        &-value {
          font-size: 14px;
        }
      }
    }
  }
}
