@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-access-rights-details {
  &__caller {
    margin: 20px 140px;
    font-weight: bold;

    &-label {
      font-size: 20px;
      color: $light-black;
    }

    &-arrow {
      margin: 0 10px;
      font-size: 16px;
      color: $light-black;
    }

    &-name {
      font-size: 18px;
      border-radius: 8px;
      background-color: $blue-2;
      width: 191px;
      height: 39px;
      padding: 7px 13px;
      color: $blue;
    }

    @media(max-width: $desktop) {
      margin: 20px 60px;
    }
  }

  &__filters {
    &_row:nth-child(1) {
      height: 88px;
      display: flex;
      padding: 13px 140px;
      background-color: $gray;

      ::ng-deep {
        .mat-form-field-appearance-outline .mat-form-field-flex {
          background-color: $white;
          height: 60px !important;
          padding-left: 22px !important;
          margin-top: 0;
        }
        .mat-select-value {
          vertical-align: middle;
          font-size: 20px;
          color: $black;
        }
        .mat-select-value-text {
          font-size: 20px !important;
          font-weight: bold;
        }
        .mat-select-value-text {
          font-size: 20px !important;
          font-weight: bold;
        }
        .mat-form-field-infix {
          border-top: none;
        }
        .mat-form-field-label-wrapper {
          top: -5px;
        }
        .mat-form-field-appearance-outline .mat-form-field-label {
          margin-top: -8px;
        }
        input {
          font-size: 22px !important;
          color: $dark !important;
          transform: translateY(3px);
          padding-top: 1px;
        }
        .mat-form-field-label {
          color: #9b9b9b !important;
          font-size: 22px !important;
        }
        .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
          transform: translateY(-1em) scale(0.65) !important;
        }
      }

      app-search {
        flex: 1;
        margin-left: 15px;

        ::ng-deep {
          .mat-form-field-appearance-outline .mat-form-field-flex {
            max-width: 500px;
          }
        }
      }

      button {
        max-width: 180px;
        height: 60px;
        border-radius: 8px;
        background-color: $blue;
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
        color: $white;
        flex: 1;
      }

      .rs-filters-button {
        flex: 3;
        display: flex;
        justify-content: flex-end;

        button {
          @include size(180px, 60px);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          color: $dark;
          font-weight: normal;
          border-radius: 5px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          border: solid 1px $shadow-border;
          background-color: $white;
          cursor: pointer;
        }

        i {
          line-height: 24px;
          font-size: 34px;
          margin-right: 5px;
          margin-left: -5px;
          margin-top: -3px;
        }
      }

      ::ng-deep app-icon-button > div {
        background-color: $white;
      }

      @media(max-width: $desktop) {
        padding: 13px 60px;
      }

      @media(max-width: $tablet) {
        padding: 13px 40px;
      }
    }
    &_row-button-filters {
      margin: 40px 140px;

      @media(max-width: $desktop) {
        margin: 40px 60px;
      }
    }
  }

  &__columns {
    border-bottom: 2px solid $light-gray;
    border-top: 2px solid $light-gray;
    padding: 10px 150px;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;

    &-column {
      font-size: 18px;
      font-weight: bold;
      color: $light-gray;
    }

    @media(max-width: $desktop) {
      padding: 10px 50px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 40px 140px;

    &-category-title {
      padding: 10px 25px;
      background-color: $gray;
      color: $black;
      font-size: 18px;
      font-weight: bold;
    }

    &-row {
      padding: 10px;
      border-bottom: 1px solid $menu-border;
      font-size: 18px;
      color: $subtitle;
      margin-left: 5px;
      width: 100%;

      &-column {
        &:nth-child(2) {
          display: flex;
          align-items: center;

          mat-icon {
            margin-right: 5px;
          }

          .done-icon {
            height: 19px;
            font-size: 16px;
            color: $customer-support-green-2;
          }

          .close-icon {
            height: 19px;
            font-size: 19px;
            color: $red-3;
          }
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
          font-size: 16px;
          color: $black;
          font-weight: bold;
        }
      }
    }

    @media(max-width: $desktop) {
      margin: 40px;
    }
  }

  &__data-not-found {
    margin: 20px 0;
    font-size: 18px;
  }
}
