<div class="rs-access-rights-details">
  <div class="rs-access-rights-details__caller">
    <span class="rs-access-rights-details__caller-label">{{'support-requests.access-rights.access-rights' | translate}}</span>
    <span class="rs-access-rights-details__caller-arrow">></span>
    <span class="rs-access-rights-details__caller-name">{{employeeName}}</span>
  </div>
  <div class="rs-access-rights-details__filters">
    <div class="rs-access-rights-details__filters_row">
      <mat-form-field appearance="outline">
        <mat-select [value]="dropdownFilterOptions[0]">
          <mat-option *ngFor="let option of dropdownFilterOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
      <app-search placeholder="{{'support-requests.access-rights.search-access-rights-placeholder-key' | translate}}" (search)="onSearch($event)"></app-search>
      <button mat-raised-button color="primary" (click)="onApply()">{{'support-requests.access-rights.apply' | translate}}</button>
      <div class="rs-filters-button">
        <button mat-stroked-button (click)="openFilters()">
          <i class="icon-filter"></i>
          <span>{{'support-requests.filters' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
  <div class="rs-access-rights-details__columns row">
    <div class="rs-access-rights-details__columns-column col-6" *ngFor="let column of detailsColumns; let index = index">
      {{column.translationKey | translate}}
    </div>
  </div>
  <ng-container *ngIf="filteredSource.length else dataNotFound">
    <div class="rs-access-rights-details__group" *ngFor="let accessRights of filteredSource">
      <div class="rs-access-rights-details__group-category-title">{{accessRights.categoryTitle}}</div>
      <div class="rs-access-rights-details__group-row row align-items-center" *ngFor="let accessRightsItem of accessRights.items">
        <div class="rs-access-rights-details__group-row-column col-6">{{accessRightsItem.name}}</div>
        <div class="rs-access-rights-details__group-row-column col-6">{{accessRightsItem.status}}</div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #dataNotFound>
  <ng-container *ngIf="!filteredSource.length">
    <div class="rs-access-rights-details__data-not-found d-flex justify-content-center">Data Not Found</div>
  </ng-container>
</ng-template>
