@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-editors-form {
  padding-bottom: 60px;

  &__general-packaged {
    margin-bottom: 28px;
  }
  &__title {
    margin: 80px 0;
    font-size: 40px;
    color: $light-black;
  }
  &__container {
    width: 960px;
  }
  &__actions {
    margin-bottom: 80px;

    &-button {
      height: 80px;
      flex: 1;
      margin-right: 20px;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 8px;

      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        color: $blue;
        border: 1px solid $gray-border;
      }
    }
  }
  &__section {
    padding: 60px 0;
    display: flex;
    border-top: 2px solid $light-gray-border;

    &-title {
      font-size: 24px;
      font-weight: bold;
      color: $light-black;
      flex-basis: 35%;
      padding-top: 20px;
      line-height: 30px;
    }
    &-content {
      flex-basis: 65%;
    }
  }
  &__control {
    margin-bottom: 40px;
  }
  &__img-wrapper {
    height: 130px;
    margin-right: 40px;
  }
  mat-radio-button {
    flex: 1;
  }
  &__attributes {
    margin-bottom: 10px;
    flex-wrap: wrap;

    &-item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    & + button {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
  &__category {
    margin-bottom: 20px;

    & + button {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
}

@media(max-width: $desktop) {
  .rs-editors-form {
    &__container {
      width: 90%;
    }
  }
}

@media(max-width: $laptop) {
  .rs-editors-form {
    &__title {
      font-size: 30px;
      margin: 40px 0;
    }
    &__section {
      &-title {
        font-size: 18px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-editors-form {
    &__control {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 25px;
      margin: 20px 0;
    }
    &__section {
      padding: 20px 0;
      flex-direction: column;

      &-title {
        padding-top: 0;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &__actions {
      margin-bottom: 30px;

      button {
        font-size: 17px;
      }
    }
    &__img-wrapper {
      margin-right: 15px;
      height: auto;

      &:last-child {
        margin-right: 0;
      }
    }
    &__attributes {
      & + button {
        font-size: 17px;
      }
    }
  }
}
