<app-popup [caption]="item.name" *ngIf="item">
  <div id="content">
    <div class="rs-editors-form d-flex justify-content-center" [formGroup]="itemForm">
      <div class="rs-editors-form__container">
        <div class="rs-editors-form__title">{{item.name}}</div>
        <div class="rs-editors-form__actions d-flex">
          <button
            class="rs-editors-form__actions-button"
            mat-raised-button
            appOpenConfirmation
            (accept)="delete()"
            caption="Do you really want to delete {{item.name}}?"
          >{{'notification-titles.delete-item' | translate}}</button>
          <button 
            class="rs-editors-form__actions-button"
            mat-raised-button
            color="primary"
            (click)="save()"
          >{{'shared.save' | translate}}</button>
        </div>
        <div class="rs-editors-form__info">
          <app-item-info [item]="item"></app-item-info>
        </div>
        <div class="rs-editors-form__section">
          <div class="rs-editors-form__section-title">{{'editors.category' | translate}}*</div>
          <div class="rs-editors-form__section-content">
            <div class="rs-editors-form__control">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{'editors.main-category' | translate}}</mat-label>
                <mat-select formControlName="mainCategory">
                  <mat-option *ngFor="let category of mainCategories" [value]="category">{{category.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="rs-editors-form__category">
              <app-label [caption]="item.category.name" [isBig]="true" [default]="true" [disabled]="true"></app-label>
            </div>
            <button mat-button color="primary" (click)="openCategoryPopup()">{{'editors.change-category' | translate}}</button>
          </div>
        </div>
        <div class="rs-editors-form__section">
          <div class="rs-editors-form__section-title">{{'editors.barcode-photos' | translate}}</div>
          <div class="rs-editors-form__section-content">
            <div class="rs-editors-form__images d-flex">
              <div class="rs-editors-form__img-wrapper" *ngFor="let photo of item.barCodePhotos">
                <img [src]="photo">
              </div>
            </div>
          </div>
        </div>
        <div class="rs-editors-form__section">
          <div class="rs-editors-form__section-title">{{'editors.general-information' | translate}}*</div>
          <div class="rs-editors-form__section-content">
            <app-general-information
              *ngIf="itemForm?.controls?.generalInformation"
              [item]="item"
              [generalInformationForm]="itemForm.controls.generalInformation"
              [productCategory]="productCategory"
              ></app-general-information>
          </div>
        </div>
        <div class="rs-editors-form__section">
          <div class="rs-editors-form__section-title">{{'dialogs.attributes' | translate}}</div>
          <div class="rs-editors-form__section-content">
            <div class="rs-editors-form__attributes d-flex">
              <div class="rs-editors-form__attributes-item" *ngFor="let attribute of item.attributes">
                <app-label (delete)="reactOnDeleteAttribute(attribute)" [isDeletable]="true" [caption]="attribute.name" [isBig]="true" [default]="true" [disabled]="true"></app-label>
              </div>
            </div>
            <button mat-button color="primary" (click)="openAttributesPopup()">{{'editors.add-new-one' | translate}}</button>
          </div>
        </div>
        <div class="rs-editors-form__section">
          <div class="rs-editors-form__section-title">{{'editors.additional-information' | translate}}</div>
          <div class="rs-editors-form__section-content">
            <app-additional-information
              [productCategory]="productCategory"
              [additionalInformationForm]="itemForm.controls.additionalInformation"
            ></app-additional-information>
          </div>
        </div>
        <div class="rs-editors-form__section" *ngIf="isWine()">
          <div class="rs-editors-form__section-title">{{'editors.ratings' | translate}}</div>
          <div class="rs-editors-form__section-content">
            <app-ratings [ratings]="itemForm.controls.ratings"></app-ratings>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-popup>
