<div [formGroup]="fieldGroup.form">
    <mat-radio-group [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}" class="radio-group" required>
        <mat-radio-button (click)="onClick(option)" labelPosition="before" class="radio-option" *ngFor="let option of options" [value]="option">{{option | translate}}</mat-radio-button>
    </mat-radio-group>
</div>
