
.cat-form {
    width: 100%;
    padding-bottom: 15px;
}

.object-delimiter {
    border-bottom: 2px solid #eeeeee;
    width: 100%;
    height: 1px;
  }
  .radio-group {
      width: 100%;
      display: flex;
      .radio-option{
          flex: 1;
      }
  }