    <mat-form-field class="string-selector-component w-100" appearance="outline" required>
        <mat-label>{{ key.displaySettings.name || ('editors.category' | translate) }}</mat-label>
        <mat-select [(value)]="selectedCategory" required>
            <mat-option (click)="onClick(category)" *ngFor="let category of categories" [value]="category">{{category | translate}}</mat-option>
        </mat-select>
    </mat-form-field>