@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

::-webkit-scrollbar {
  height: 5px;
}

.rs-add-item-form {
  padding-bottom: 60px;

  .thumbnail:hover {
    transform: scale(2);
    position: absolute;
    z-index: 100;
  }

  &__general-packaged {
    margin-bottom: 28px;
  }

  form {
    width: 100%;
  }

  &__title {
    margin: 40px 0;
    font-size: 26px;
    color: $light-black;
    line-height: initial;
    font-weight: bold;
  }
  &__container {
    width: 95%;
  }
  &__actions {
    margin-bottom: 80px;

    &-button {
      height: 80px;
      flex: 1;
      margin-right: 20px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      border-radius: 8px;

      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        color: white;
        border: 1px solid $gray-border;
      }
    }
  }
  &__section {
    padding-bottom: 25px;
    padding: 60px 0;
    display: flex;
  }

}

@media(max-width: $desktop) {
  .rs-add-item-form {
    &__container {
      width: 90%;
    }
  }
}

@media(max-width: $laptop) {
  .rs-add-item-form {
    &__title {
      font-size: 30px;
      margin: 40px 0;
    }
    &__section {
      &-title {
        font-size: 18px;
        padding-bottom: 25px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-add-item-form {
    &__title {
      font-size: 20px;
      margin: 20px 0;
    }
    &__section {
      padding: 20px 0;
      padding-bottom: 25px;
      flex-direction: column;

      &-title {
        padding-top: 0;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &__actions {
      margin-bottom: 30px;

      button {
        font-size: 17px;
      }
    }
  }
}

.rs-fixed-left {
  left: 1rem;
}
.rs-fixed-right {
  right: 1rem;
}
