<app-popup>
  <div id="content">
    <div class="rs-add-item-form d-flex justify-content-center">
      <div class="rs-add-item-form__container">
        <div class="rs-add-item-form__title">{{ 'editors.add-new-descriptor' | translate }}</div>
          <form [formGroup]="newOntologyForm">
            <div class="rs-add-item-form__section">
              <mat-form-field class="w-100 rs-app__textarea" appearance="outline">
                <mat-label>{{"editors.ontology" | translate}}</mat-label>
                <textarea formControlName="json" placeholder="{{'editors.ontology' | translate}}"type="text" required matInput></textarea>
              </mat-form-field>
            </div>
            <div class="rs-add-item-form__section">
              <button
              class="rs-add-item-form__actions-button"
              mat-raised-button
              color="primary"
              [disabled]="newOntologyForm.invalid"
              (click)="save()"
          >{{'editors.save' | translate}}</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</app-popup>
