@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-select-reason {
  padding: 60px 100px;

  &__title {
    font-size: 20px;
    color: $dark;
    margin-bottom: 60px;
    text-align: center;
  }
  &__control {
    &:first-child {
      margin-bottom: 40px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-select-reason {
    padding: 10px;
  
    &__title {
      font-size: 16px;
      margin-bottom: 30px;
    }
    &__control {
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
}
