<div class="rs-select-reason" [formGroup]="reasonForm">
  <div class="rs-select-reason__title">{{caption | translate}}</div>
  <div class="rs-select-reason__content">
    <div class="rs-select-reason__control">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{'placeholders.reason' | translate}}</mat-label>
        <mat-select formControlName="reason">
          <mat-option *ngFor="let reason of reasons" [value]="reason">{{reason}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="rs-select-reason__control">
      <mat-form-field class="w-100 rs-app__textarea" appearance="outline">
        <mat-label>{{'placeholders.reason-details' | translate}}</mat-label>
        <textarea formControlName="reasonDetails" placeholder="{{'placeholders.reason-details' | translate}}" matInput></textarea>
      </mat-form-field>
    </div>
  </div>
</div>