<div class="rs-merchant-profile" *ngIf="businessEntity">
  <rs-merchant-profile-navigation [merchantProfileName]="businessEntity.name"></rs-merchant-profile-navigation>
  <div class="rs-merchant-profile__title d-flex">
    <div class="rs-merchant-profile__title-name">{{businessEntity.name}}</div>
  </div>
  <div class="rs-merchant-profile__info d-flex">
    <div class="rs-merchant-profile__info-item">
      <div class="rs-merchant-profile__info-item-value">{{businessEntity.businessInformation.category}}</div>
      <div class="rs-merchant-profile__info-item-value">{{businessEntity.businessInformation.legalAddress | location}}</div>
    </div>
    <div class="rs-merchant-profile__info-item">
      <div class="rs-merchant-profile__info-item-value">{{'merchants.merchant-id' | translate}}: {{merchantId}}</div>
      <div class="rs-merchant-profile__info-item-value">Current Plan: {{businessEntity.servicePackage.name}}</div>
    </div>
    <div class="rs-merchant-profile__info-item">
      <app-merchant-statuses [merchant]="businessEntity"></app-merchant-statuses>
    </div>
  </div>
  <div class="rs-merchant-profile__tabs">
    <mat-tab-group [selectedIndex]="defaultIndex" (selectedIndexChange)="reactOnGoToTab($event)" mat-stretch-tabs>
      <mat-tab label="{{'merchants.general-info-tab' | translate}}">
        <app-general-info [merchantProfile]="businessEntity"></app-general-info>
      </mat-tab>
      <mat-tab label="risk/underwriting">
        <rs-risk></rs-risk>
      </mat-tab>
      <mat-tab label="{{'merchants.devices-tab' | translate}}">
        <app-devices></app-devices>
      </mat-tab>
      <mat-tab label="{{'merchants.provisioning-tab' | translate}}">
        <app-provisioning></app-provisioning>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>