@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-merchant-profile {
  padding: 32px 180px 32px 40px;
  background-color: white;
  min-height: calc(100vh - 88px);

  &__navigation {
    font-size: 16px;
    color: $placeholder;
    margin-bottom: 24px;

    &-item {
      margin-right: 10px;

      &-value {
        margin-left: 10px;
      }
      &_bold {
        font-weight: bold;
      }
      &:first-child {
        margin-left: 0;

        .rs-merchant-profile__navigation-item-value {
          margin-left: 0;
        }
      }
      &:hover:not(.rs-merchant-profile__navigation-item_bold) &-value {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  &__title {
    margin-bottom: 20px;

    &-name {
      font-size: 26px;
      color: $dark;
      margin-right: 10px;
      font-weight: bold;
    }
  }
  &__info {
    font-size: 18px;
    color: $dark;
    margin-bottom: 70px;

    &-item {
      &:nth-child(1) {
        flex-basis: 20%;
      }
      &:nth-child(2) {
        flex-basis: 58%;
      }
      &:nth-child(3) {
        flex-basis: 22%;
      }
      &-value {
        margin-bottom: 5px;
      }
    }

  }
}

@media(max-width: $desktop) {
  .rs-merchant-profile {
    padding: 20px;

    &__info {
      flex-wrap: wrap;

      &-item {
        &:nth-child(1) {
          flex-basis: 50%;
        }
        &:nth-child(2) {
          flex-basis: 50%;
        }
        &:nth-child(3) {
          margin-top: 20px;
          flex-basis: 100%;
        }
      }
    }
  }
}

@media(max-width: $tablet) {
  .rs-merchant-profile {
    background-color: $mobile-background;
  }
}


@media(max-width: $mobile) {
  .rs-merchant-profile {
    padding: 0;

    &__navigation {
      padding: 10px 10px 0 10px;
      font-size: 15px;
      margin-bottom: 15px;
      flex-wrap: wrap;

      &-item {
        margin-right: 5px;

        &-value {
          margin-left: 5px;
        }
      }
    }
    &__title {
      padding: 10px 10px 0 10px;

      &-name {
        font-size: 20px;
      }
      &-plan {
        font-size: 14px;
      }
    }
    &__info {
      padding: 10px 10px 0 10px;
      flex-wrap: wrap;
      font-size: 15px;
      margin-bottom: 10px;

      &-item {
        flex-basis: 100% !important;

        &:nth-child(3) {
          margin-top: 10px;
        }
      }
    }
  }
}