<app-popup [caption]="dialogData.caption">
  <div id="content">
    <div class="rs-cropper" [class.rs-cropper_circle]="isCircle">
      <div class="rs-cropper__header d-flex justify-content-center">
        <mat-button-toggle-group value="circle" (change)="reactOnChangeAspectRatio($event)" appearance="legacy" #group="matButtonToggleGroup">
          <mat-button-toggle value="1:1">1:1</mat-button-toggle>
          <mat-button-toggle value="4:3">4:3</mat-button-toggle>
          <mat-button-toggle value="16:9">16:9</mat-button-toggle>
          <mat-button-toggle value="circle">circle</mat-button-toggle>
          <mat-button-toggle value="free">free</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="rs-cropper__content d-flex">
        <div class="rs-cropper__content-area">
          <angular-cropper #angularCropper [cropperOptions]="cropperConfig" [imageUrl]="imgUrl"></angular-cropper>
        </div>
        <div class="rs-cropper__content-preview-container d-flex align-items-center flex-column">
          <div class="rs-cropper__content-preview-title">Preview</div>
          <div class="rs-cropper__content-preview-wrapper d-flex justify-content-center align-items-center">
            <div class="rs-cropper__content-preview"></div>
          </div>
        </div>
      </div>
      <div class="rs-cropper__actions d-flex justify-content-center">
        <button mat-raised-button color="primary" (click)="crop()">Crop</button>
      </div>
    </div>
  </div>
</app-popup>
