@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-cropper {
  &__content {
    &>div {
      flex: 1;
    }
    &-preview {
      overflow: hidden;
      float: left;
      width: 200px;
      height: 200px;
      
      &-wrapper {
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid $blue;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      }
      &-title {
        font-size: 24px;
        font-weight: bold;
        color: $light-black;
        margin-bottom: 20px;
      }
    }
  }
  &__header {
    padding: 30px 0;
  }
  &__actions {
    margin: 30px 0;

    button {
      height: 70px;
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      width: 300px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-cropper {
    &__header {
      padding: 10px 0;
    }
    &__content {
      flex-direction: column;

      &-preview-title {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
