@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-status {
  &__value {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  &__progress {
    width: 100px;
    height: 5px;
    border-radius: 3px;
    background-color: $status;
    margin-top: 15px;
    overflow: hidden;

    &-value {
      height: 100%;
    }
  }
}

@media(max-width: $mobile) {
  .rs-status {
    &__value {
      font-size: 19px;
    }
    &__progress {
      width: 60px;
      margin-top: 7px;
    }
  }
}
