<div class="rs-status d-flex flex-column align-items-center">
  <div class="rs-status__value">{{value}}%</div>
  <div class="rs-status__progress">
    <div
      class="rs-status__progress-value"
      [ngStyle]="{
        'background-color': getColor(),
        'width': value + '%'
      }"
    ></div>
  </div>
</div>