@import "../../../css/mixins.scss";
@import "../../../css/colors.scss";
@import "../../../css/breakpoints.scss";

.rs-export {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  @include size(460px, 100vh);
  background-color: white;
  padding: 40px;
  overflow-y: auto;

  &__title {
    font-size: 36px;
    font-weight: bold;
    color: $dark;
  }
  &__header {
    margin-bottom: 40px;
  }
  &__caption {
    font-size: 24px;
    font-weight: 500;
    color: $dark;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: 500;
    color: $dark;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  &__formats {
    &-item {
      margin-bottom: 10px;

      button {
        font-size: 24px;
        text-transform: uppercase;
        @include size(100%, 60px);
        box-shadow: none;
        border-radius: 6px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-export {
    @include size(100%, 100vh);
    
    &__title {
      font-size: 28px;
    }
    &__header {
      margin-bottom: 30px;
    }
    &__caption {
      font-size: 18px;
    }
    &__subtitle {
      font-size: 14px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    &__formats {
      &-item {
        button {
          font-size: 20px;
          @include size(100%, 40px);
        }
      }
    }
  }
}