<div 
  *ngIf="exportVisibility"
  class="rs-export"
  @fromRightToLeft
  (clickOutside)="closeExport()"
  [exclude]="'.rs-merchants-list__actions-item, .rs-transactions__header-actions, .rs-devices__header-actions, .rs-module-header'"
>
  <div class="rs-export__header d-flex align-items-center justify-content-between">
    <div class="rs-export__title">{{'shared.export' | translate}}</div>
    <div class="rs-export__close">
      <button mat-icon-button (click)="closeExport()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="rs-export__caption">{{translationService.translate(caption) | async}}</div>
  <div class="rs-export__subtitle">{{'export.select-document-format' | translate}}</div>
  <div class="rs-export__formats">
    <div class="rs-export__formats-item">
      <button mat-raised-button color="primary">{{'export.export' | translate}} .csv</button>
    </div>
    <div class="rs-export__formats-item">
      <button mat-raised-button color="primary">{{'export.export' | translate}} .pdf</button>
    </div>
    <div class="rs-export__formats-item">
      <button mat-raised-button color="primary">{{'export.export' | translate}} .xls</button>
    </div>
  </div>
</div>
<div *ngIf="exportVisibility" class="rs-app__cover" @darkness></div>