<div class="rs-authentication d-flex justify-content-center align-items-center">
  <div class="rs-authentication__content">
    <div class="rs-authentication__header d-flex justify-content-center">
      <div class="rs-authentication__header-logo">
        <img src="assets/images/authentication/logo.png">
      </div>
      <div class="rs-authentication__header-subtitle">{{"shared.admin-portal" | translate}}</div>
    </div>
    <form class="rs-authentication__form" [formGroup]="authenticationForm">
      <div class="rs-authentication__form-control_email">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"authentication.email" | translate}}</mat-label>
          <input matInput formControlName="email" type="text" placeholder="{{'authentication.email' | translate}}" (keydown.enter)="login()">
        </mat-form-field>
      </div>
      <div class="rs-authentication__form-control_password">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{"authentication.password" | translate}}</mat-label>
          <input matInput formControlName="password" [type]="passwordVisibility ? 'text' : 'password'" placeholder="{{'authentication.password' | translate}}" (keydown.enter)="login()">
          <button rsClickAndHold (holding)="reactOnChangePasswordVisibility($event)" mat-icon-button matSuffix>
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="rs-authentication__forgot">
        <button mat-button color="primary">{{"authentication.forgot-your-password" | translate}}</button>
      </div>
      <div class="rs-authentication__form-control_button">
        <button mat-raised-button [disabled]="authenticationForm.invalid" color="primary" (click)="login()">{{"authentication.login" | translate}}</button>
      </div>  
    </form>
  </div>
</div>