@import "../../shared/css/extensions.scss";
@import "../../shared/css/mixins.scss";
@import "../../shared/css/colors.scss";
@import "../../shared/css/breakpoints.scss";

.rs-authentication {
  background-image: url('../../../assets/images/authentication/background.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    padding: 120px 150px;
    @include size(800px, 800px);
    background-color: $transparent-white;
    border-radius: 25px;
    box-shadow: 0 2px 4px 0 $shadow;
    border: solid 1px $shadow-border;
  }
  &__header {
    margin-bottom: 70px;
    position: relative;

    &-logo {
      @include size(326px, 128px);

      img {
        width: 100%;
      }
    }
    &-subtitle {
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      color: $dark;
      text-transform: uppercase;
      position: absolute;
      right: 90px;
      bottom: 25px;
    }
  }
  &__form {
    &-control {
      &_email {
        margin-bottom: 30px;
      }
    }
  }
  &__forgot {
    margin: 40px 0;

    button {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
    }
  }
  .mat-raised-button {
    width: 100%;
    height: 70px;
    box-shadow: none !important;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 0 !important;
  }
}

@media(max-width: $tablet) {
  .rs-authentication {
    &__content {
      @include size(500px, auto);
      padding: 30px 25px;
    }
    &__header {
      margin-bottom: 15px;

      &-subtitle {
        font-size: 14px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-authentication {
    &__content {
      @include size(90%, auto);
      padding: 30px 25px;
    }
    &__header {
      margin-bottom: 10px;

      &-subtitle {
        right: 0;
        font-size: 14px;
      }
      &-logo {
        @include size(auto, auto);
      }
    }
    &__forgot {
      margin: 15px 0;
    }
  }
  .mat-raised-button {
    height: 50px !important;
  }
  .mat-raised-button {
    font-size: 16px !important;
  }
}
