@import "../../../../../shared/css/breakpoints.scss";

.rs-provisioning {
  &__status {
    margin-top: 40px;
  }
  &__history {
    margin-top: 58px;
  }
}

@media(max-width: $mobile) {
  .rs-provisioning {
    &__history {
      margin-top: 20px;
    }
  }
}
