<div class="rs-provisioning">
  <div class="rs-provisioning__status">
    <app-provisioning-status [provisioning]="provisioning$ | async"></app-provisioning-status>
  </div>
  <div class="rs-provisioning__history">
    <app-history-table [isProvisioning]="true" [historyItems]="provisioningHistory$ | async"></app-history-table>
  </div>
  <div class="rs-provisioning__add">
    <app-add-button
      appOpenConfirmation
      popupTitle="dialogs.new-provisioning"
      caption="confirmation.add-provisioning"
      highlighted="Elavon and Ingenico"
      acceptTitle="shared.start"
      declineTitle="shared.cancel"
    ></app-add-button>
  </div>
</div>
