<app-merchant-accordion-item caption="merchants.restaurant-set-up">
  <div class="rs-merchants-general-info" [formGroup]="restaurantSetUpForm">
    <div class="rs-merchants-general-info__section">
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.number-of-tables' | translate}}</mat-label>
          <input appNumericControl formControlName="tablesCount" matInput type="text" placeholder="{{'placeholders.number-of-tables' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.maximum-number-of-servers' | translate}}</mat-label>
          <input appNumericControl formControlName="floorServersAmount" matInput type="text" placeholder="{{'placeholders.maximum-number-of-servers' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.number-of-kitchen' | translate}}</mat-label>
          <input appNumericControl formControlName="kitchenStationsCount" matInput type="text" placeholder="{{'placeholders.number-of-kitchen' | translate}}">
        </mat-form-field>
      </div>
    </div>
  </div>
</app-merchant-accordion-item>
