<div class="rs-data-list">
  <app-section-header
    [isSearch]="isSearch"
    [isFilters]="isFilters"
    [title]="headerTitle | translate"
    [searchPlaceholder]="searchPlaceholder"
    [filtersEndpoint]="filtersEndpoint"
    (search)="onSearch($event)"
  >
    <ng-content select=".rs-section-header-content"></ng-content>
  </app-section-header>
  <app-search
    *ngIf="isNotHeaderSearch"
    [placeholder]="(searchPlaceholder | translate)"
    (search)="onSearch($event)"
  >
  </app-search>
  <app-data-table
    [isTableDisabled]="isTableDisabled"
    [tableName]="tableName"
    [items]="filteredSource"
    [selectedItems]="selectedTableData"
    [columns]="tableColumns"
    [isPaginator]="isPaginator"
    (select)="onSelect($event)"
    (delete)="onDelete($event)"
  >
  </app-data-table>
  <app-add-button *ngIf="isAddButton" routerLink="add"></app-add-button>
</div>
