@import "../../../../../../shared/css/colors.scss";
@import "../../../../../../shared/css/mixins.scss";
@import "../../../../../../shared/css/breakpoints.scss";

.rs-data-list {
  ::ng-deep {
    .rs-search {
      width: 450px;
      background-color: $white;

      .mat-form-field-infix {
        bottom: 5px;
      }
  
      .mat-form-field-prefix {
        color: $blue;
        top: -3px;
      }
      
      .mat-form-field-appearance-outline .mat-form-field-flex {
        height: 50px !important;
        padding-left: 22px !important;
        margin-top: 0;
      }

      .mat-form-field-infix {
        border-top: none;
      }

      .mat-form-field-prefix > i {
        color: $blue;
      }

      .mat-form-field-label-wrapper {
        top: -5px;
      }

      .mat-form-field-appearance-outline .mat-form-field-label {
        margin-top: -8px;
      }

      input {
        @include font($dark, 22px);
        transform: translateY(3px);
        padding-top: 1px;
      }

      .mat-form-field-label {
        @include font($placeholder, 22px);
      }

      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1em) scale(0.65) !important;
      }
    }
  }
}
