<div class="rs-changelog-item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <div class="rs-changelog-item__title d-flex justify-content-between">
          {{changelog.madeBy}}
          <app-square-button color="primary" icon="list_alt" rsOpenChangelogDetails [changelog]="changelog"></app-square-button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rs-changelog-item__row d-flex">
        <div class="rs-changelog-item__key">{{'placeholders.date' | translate}}: </div>
        <div class="rs-changelog-item__value">{{changelog.date}} at {{changelog.time}}</div>
      </div>
      <div class="rs-changelog-item__row d-flex">
        <div class="rs-changelog-item__key">{{'merchants.made-by' | translate}}: </div>
        <div class="rs-changelog-item__value">{{changelog.madeBy}}</div>
      </div>
      <div class="rs-changelog-item__row d-flex">
        <div class="rs-changelog-item__key">{{'shared.change' | translate}}: </div>
        <div class="rs-changelog-item__value">{{changelog.change}}</div>
      </div>
      <div class="rs-changelog-item__row d-flex">
        <div class="rs-changelog-item__key">{{'merchants.action' | translate}}: </div>
        <div class="rs-changelog-item__value">{{changelog.action}}</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>