<div class="rs-permission-info">
  <div class="rs-permission-info__fields row" [formGroup]="formGroup">
    <div class="rs-permission-info__fields__name"
         [ngClass]="{ 'col-6': (isCreated$ | async) || infoType === 'edit', 'col-12': !((isCreated$ | async) || infoType === 'edit') }">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.name' | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="(isCreated$ | async) || infoType === 'edit'"
         class="rs-permission-info__fields__feature col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.code' | translate}}</mat-label>
        <input matInput formControlName="code">
        <mat-error *ngIf="formGroup.get('code').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-permission-info__fields__description col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="rs-permission-info__fields col-3">
      <mat-form-field class="rs-permission-permission-type-field"
                      appearance="outline">
        <mat-label>{{'orchestrator-b2b.permissions.permission-type' | translate}}</mat-label>
        <mat-select formControlName="permissionType">
          <mat-option *ngFor="let permissionTypeOption of permissionTypeOptions"
                      [value]="permissionTypeOption.value">
            {{ permissionTypeOption.title }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('permissionType').hasError('required')">
          {{'forms.required' | translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="isEdit" class="rs-permission-info__delete-button">
    <button mat-raised-button
            appOpenConfirmation
            popupTitle="orchestrator-b2b.permissions.delete-permission-title"
            caption="orchestrator-b2b.permissions.delete-permission-caption"
            acceptTitle="shared.Yes"
            (accept)="onDelete()">
      {{'orchestrator-b2b.permissions.delete-permission-title' | translate}}
    </button>
  </div>
  <div *ngIf="!isEdit && !(isCreated$ | async)" class="rs-permission-info__create-button">
    <button mat-raised-button (click)="onCreate()">
      {{'orchestrator-b2b.permissions.create-permission-title' | translate}}
    </button>
  </div>
  <div *ngIf="isEdit" class="rs-permission-info__delimiter"></div>
  <div *ngIf="isEdit" class="rs-permission-info__data-table">
    <app-section-header [title]="'orchestrator-b2b.permissions.related-features'"></app-section-header>
    <app-data-table [items]="relatedFeatures$ | async"
                    [columns]="columns"
                    [isPaginator]="false">
    </app-data-table>
  </div>
</div>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
