<div class="rs-items-list">
  <div class="rs-items-list__header">
    <rs-module-header
        caption="menu.items"
        exportTitle="menu.items"
        filtersEndpoint="global-items-approval-filter"
        placeholder="placeholders.search-items"
        (search)="filterGlobalItems($event)"
    ></rs-module-header>
    <mat-paginator class="paginator" [length]="itemsTotal" [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 50, 100]" #paginator></mat-paginator>
  </div>
  <div class="rs-items-list__content rs-app__table">
    <mat-table [dataSource]="dataSource" matSort *ngIf="tableVisibility()">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <ng-container matColumnDef="name">
        <mat-header-cell class="rs-items-list__table-name" *matHeaderCellDef mat-sort-header="name">
          <div class="rs-app__table-header">{{'editors.item-name' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-items-list__table-name" *matCellDef="let catalogItem">
          <div class="rs-app__table-bold">{{catalogItem.title}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell class="rs-items-list__table-id" *matHeaderCellDef mat-sort-header="category">
          <div class="rs-app__table-header">{{'editors.category' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-items-list__table-id" *matCellDef="let catalogItem">{{catalogItem.category}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="venue">
        <mat-header-cell class="rs-items-list__table-id" *matHeaderCellDef>
          <div class="rs-app__table-header">{{'editors.restaurant' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-items-list__table-id" *matCellDef="let catalogItem">{{venues[catalogItem.venueId]}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell class="rs-items-list__table-actions" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="rs-items-list__table-actions" *matCellDef="let catalogItem">
          <app-square-button
              icon="thumb_up"
              color="primary"
              (click)="approveItem(catalogItem)">
          </app-square-button>
          <app-square-button
              icon="visibility_off"
              color="primary"
              (click)="ignoreItem(catalogItem)">
          </app-square-button>
        </mat-cell>
      </ng-container>
      <mat-row *matRowDef="let catalogItem; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="rs-items-list__mobile" *ngIf="mobileItemsVisibility()">
      <div class="rs-items-list__mobile-item" *ngFor="let catalogItem of items;let i = index;">
        <app-global-item-mobile-item [item]="catalogItem"></app-global-item-mobile-item>
      </div>
    </div>
  </div>
