@import "../../../../shared/css/colors";
@import "../../../../shared/css/breakpoints";

.rs-items {
  color: $label;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  &__filters {
    min-width: 288px;
    max-width: 288px;
    border-right: 2px solid $border;
    padding: 40px;
  }
  &__content {
    padding: 20px;

    &-tabs {
      margin-top: 0 !important;

      &-mobile {
        margin-top: 20px;

        &-item {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.rs-items-list {
  mat-table {
    background-color: transparent;
  }
  mat-header-cell {
    font-size: 18px;
    font-weight: 500;
    color: $table-header;

    &:first-child {
      justify-content: flex-start;
    }
  }
  mat-cell {
    font-size: 16px;
    color: $light-black;
    height: 80px;

    &:first-child {
      justify-content: flex-start;
    }
  }
  app-square-button {
    margin-right: 16px;
    margin-left: 16px;
  }
  mat-row:hover {
    cursor: default;

    mat-cell {
      background-color: $table-hover !important;
      font-weight: bold;
    }
  }
}

@media(max-width: $laptop) {
  .rs-items__content {
    background-color: $table-hover;
  }
}

@media(max-width: $mobile) {
  .rs-items {
    &__content {
      padding: 20px 10px;

      &-filter {
        margin-bottom: 20px;

        button {
          width: 100%;
          font-size: 20px;
          text-transform: uppercase;
        }
      }
    }
    &::ng-deep {
      .mat-form-field-infix {
        line-height: normal !important;
      }
    }
  }
}

.rs-items-list {
  padding: 60px 20px 150px 40px;
  background-color:white;
  min-height: calc(100vh - 88px);

  &__header {
    margin-bottom: 70px;
  }
  &__content {
    app-square-button {
      width: 40px;
      height: 40px;
    }
  }
  &__table {
    flex: 1 1 auto;
    width: 100%;
    position: relative;
    &-name {
      flex-basis: 20%;
    }
    &-location {
      flex-basis: 20%;
    }
    &-id {
      flex-basis: 12%;
    }
    &-status {
      flex-basis: 12%;
    }
    &-plan {
      flex-basis: 12%;
    }
    &-actions {
      flex-basis: 6%;
      justify-content: flex-end;
    }
  }
  &__mobile {
    display: none;
  }
}

@media(max-width: $desktop) {
  .rs-items-list {
    padding: 40px 20px;
  }
}

@media(max-width: $tablet) {
  .rs-items-list {
    background-color: $table-hover;

    &__header {
      flex-direction: column;
    }
    mat-table {
      display: none;
    }
    .rs-app__title {
      margin-bottom: 20px;
    }
    &__mobile-item {
      margin-bottom: 20px;
    }
    &__mobile {
      display: block;
    }
  }
}

@media(max-width: $mobile) {
  .rs-items-list {
    padding: 40px 10px;

    &__header {
      margin-bottom: 20px;
    }
  }
}

.mat-table {
  position: absolute;
  top: 320px;
  bottom: 0;
  left: 300px;
  right: 5px;
  overflow: auto;
}

.paginator {
  padding-top: 60px;
}

.mat-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
