@import "../../../shared/css/colors.scss";
@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-header {
  background-color: $dark;
  height: 88px;
  padding: 0 20px;
  color: $white;

  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $white;
    cursor: pointer;
  }
  &__menu {
    button {
      @include size(30px, 30px);
    }
    mat-icon {
      @include size(20px, 20px);
      font-size: 27px;
      line-height: 11px;
    }
    .rs-nav-button-title {
      @include font($white, 24px, bold);
      position: relative;
      left: 7px;
    }
  }
  &__user {
    position: relative;
    cursor: pointer;

    &-icon {
      width: 62px;
      margin-left: 26px;
    }
    &-name {
      font-size: 22px;
      font-weight: bold;
    }
    &-menu {
      position: absolute;
      z-index: 3;
      right: 3px;
      top: calc(100% + 20px);
    }
  }
} 

@media(max-width: $tablet) {
  .rs-header {
    &__title {
      font-size: 20px;
    }
    &__user {
      &-icon {
        margin-left: 10px;
      }
      &-name {
        font-size: 18px;
      }
    }
  } 
}

@media(max-width: $mobile) {
  .rs-header {
    height: 50px;
    padding: 0 10px;

    &__title {
      font-size: 14px;
    }
    &__user {
      &-icon {
        width: 38px;
        margin-left: 5px;
      }
      &-name {
        display: none;
      }
      &-menu {
        right: -4px;
        top: calc(100% + 14px);
      }
    }
  } 
}
