<div class="rs-header d-flex align-items-center justify-content-between">
  <ng-container *ngIf="headerType === 'customer-support' else commonMenu">
    <ng-container *ngTemplateOutlet="customerSupportMenu"></ng-container>
  </ng-container>

  <div class="rs-header__title" [routerLink]="homeRoute">{{headerTitle | translate}}</div>
  <div class="rs-header__user d-flex align-items-center" (click)="openUserMenu()">
    <div class="rs-header__user-name">
      {{userProfileData | fullName}}
    </div>
    <div class="rs-header__user-icon">
      <app-user-icon [imgUrl]="userProfileData.employeePicture.hiResolution.url" [active]="true"></app-user-icon>
    </div>
    <div class="rs-header__user-menu" *ngIf="userMenuVisibility" (clickOutside)="hideUserMenu()"
      [exclude]="'.rs-header__user'" @scale>
      <app-user-menu></app-user-menu>
    </div>
  </div>
</div>

<ng-template #commonMenu>
  <div class="rs-header__menu">
    <button mat-icon-button (click)="openMenu()" *ngIf="isMenu() || isSidenav() || mobileMenuVisibility()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="homeRoute" *ngIf="isBack() && !mobileMenuVisibility()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="prevRoute" *ngIf="isClose() && !mobileMenuVisibility()">
      <mat-icon>close</mat-icon>
    </button>
    <span *ngIf="isNavigationButtonStatesTitle$ | async" class="rs-nav-button-title">{{navigationButtonStatesTitle$ | async | translate}}</span>
  </div>
</ng-template>

<ng-template #customerSupportMenu>
  <div class="rs-header__menu">
    <button mat-icon-button [routerLink]="homeRoute" *ngIf="isBack() && !mobileMenuVisibility()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="prevRoute" *ngIf="isClose() && !mobileMenuVisibility()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>
