<div class="rs-ontology-mobile-item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div class="rs-ontology-mobile-item__title">{{ontology.name}}</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="rs-ontology-mobile-item__content d-flex align-items-center justify-content-between">
          <div class="rs-ontology-mobile-item__content-left">
            <div class="rs-ontology-mobile-item__content-row d-flex">
              <div class="rs-ontology-mobile-item__content-value"> {{ontology.name}}</div>
            </div>
          </div>
          <div class="rs-ontology-mobile-item__content-right">
            <app-square-button
              (click)="openPreview($event)"
              icon="visibility"
              color="primary"
            ></app-square-button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>