<div class="rs-permission-edit">
  <mat-tab-group>
    <mat-tab [label]="('orchestrator-b2b.permissions.info' | translate)">
      <ng-template matTabContent>
        <app-permission-info [infoType]="infoType"></app-permission-info>
      </ng-template>
    </mat-tab>
    <mat-tab [disabled]="infoType === 'add' && !(isCreated$ | async)"
             [label]="('orchestrator-b2b.permissions.APIS' | translate)">
      <ng-template matTabContent>
        <app-permission-apis [infoType]="infoType"></app-permission-apis>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
