@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-access-rights {
  &__table {
    background-color: $gray;
    margin: 37px 140px;
    
    ::ng-deep {
      app-section-header {
        .rs-support-request-header {
          padding-top: 40px;
          padding-left: 40px;

          &__actions {
            &-item_search {
              .mat-form-field-prefix {
                @media(max-width: $mobile) {
                    top: 12px;
                    left: -5px;
                }
              }

              .mat-form-field-infix {
                @media(max-width: $mobile) {
                    line-height: 30px;
                }
              }
            }
          }

          @media(max-width: $desktop) {
            padding-left: 30px;
          }

          @media(max-width: $tablet) {
            padding-left: 10px;
          }
        }
      }
      
      app-data-table {
        @include customer-support-table;

        .rs-data-table {
          padding: 0 20px 35px 30px;

          @media(max-width: $tablet) {
            padding: 0 20px 35px 20px;
          }
        }

        mat-header-row,
        mat-row {
          padding-left: 30px;
          padding-right: 21px;

          @media(max-width: $desktop) {
            padding-left: 20px;
            padding-right: 10px;
          }

          @media(max-width: $tablet) {
            padding-left: 10px;
          }
        }

        mat-footer-row {
          mat-footer-cell:not(:nth-child(1)) {
            display: none;
          }

          mat-footer-cell:nth-child(1) {
            display: flex;
          justify-content: center;
          }
        }

        mat-header-cell,
        mat-cell {
          @media(max-width: $tablet) {
            height: 70px !important;
            word-break: break-word;
          }
        }

        mat-header-cell:nth-child(3),
        mat-cell:nth-child(3) {
          flex: 2;

          @media(max-width: $tablet) {
            flex: 1;
          }
        }

        mat-cell {
          @media(max-width: $mobile) {
            height: 100px !important;
          }
        }

        mat-cell:nth-child(3) {
          font-weight: bold;

          .rs-datetime-text {
            mat-icon {
              @media(max-width: $tablet) {
                display: none;
              }
            }

            span:last-child {
              margin-top: 5px;
            }

            @media(max-width: $tablet) {
              display: flex;
              flex-direction: column;
              justify-content: center;
              height: 100%;
            }
          }
        }

        mat-cell:nth-child(4) {
          app-square-button {
            .rs-square-button {
              button {
                @media(max-width: $mobile) {
                  @include size(35px, 35px);
                }
              }

              @media(max-width: $mobile) {
                @include size(35px, 35px);
              }
            }
          }
        }
      }
    }

    @media(max-width: $desktop) {
      margin: 37px 20px;
    }
  }
}
