<div class="rs-access-rights">
  <div class="rs-access-rights__table">
    <app-section-header
      [titleTranslationKey]="headerTitleKey"
      [searchPlaceholderTranslationKey]="headerSearchPlaceholderKey"
      [filtersEndpoint]="filtersEndpoint"
      (search)="onSearch($event)"
    >
    </app-section-header>
    <app-data-table
      [tableName]="'accessRights'"
      [items]="filteredSource"
      [columns]="displayedColumns"
      [isPaginator]="false"
    >
    </app-data-table>
  </div>
</div>