@import "../../../../css/breakpoints.scss";
@import "../../../../css/colors.scss";

.rs-changelog-details {
  padding: 60px 120px 100px 120px;

  &__section {
    &-title {
      font-size: 20px;
      font-weight: bold;
      color: #333;
      flex-basis: 37.5%;
    }
    &-content {
      flex-basis: 62.5%;

      &-row {
        margin-bottom: 40px;

        mat-form-field {
          &:first-child {
            margin-right: 40px;
          }
        }
      }
    }
    &:nth-child(2) {
      border-bottom: solid 1px #cccccc;
      margin-bottom: 50px;
      padding-bottom: 10px;
    }
  }
  &__title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 60px;
  }
  &__table {
    padding-top: 30px;

    mat-header-cell {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.31;
      color: $light-gray;
    }
    mat-cell {
      font-size: 18px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-changelog-details {
    padding: 20px 10px;

    &__title {
      margin-bottom: 30px;
    }
    &__section {
      flex-direction: column;

      &-title {
        margin-bottom: 20px;
      }
      &-content {
        flex-basis: 100%;
  
        &-row {
          margin-bottom: 30px;
  
          mat-form-field {
            width: 49% !important;

            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    }
    &__table {
      margin-top: -20px;
    }
  }
}
