<app-popup caption="Changelog Details" [black]="true">
  <div id="content">
    <div class="rs-changelog-details" [formGroup]="changelogForm">
      <div class="rs-changelog-details__title">{{'merchants.changelog' | translate}}</div>
      <div class="rs-changelog-details__section d-flex">
        <div class="rs-changelog-details__section-title">{{'fees.details' | translate}}</div>
        <div class="rs-changelog-details__section-content">
          <div class="rs-changelog-details__section-content-row d-flex">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'placeholders.date' | translate}}</mat-label>
              <input formControlName="date" matInput type="text" placeholder="{{'placeholders.date' | translate}}">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'placeholders.time' | translate}}</mat-label>
              <input formControlName="time" matInput type="text" placeholder="{{'placeholders.time' | translate}}">
            </mat-form-field>
          </div>
          <div class="rs-changelog-details__section-content-row d-flex">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'shared.change' | translate}}</mat-label>
              <input formControlName="change" matInput type="text" placeholder="{{'shared.change' | translate}}">
            </mat-form-field>
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'merchants.action' | translate}}</mat-label>
              <input formControlName="action" matInput type="text" placeholder="{{'merchants.action' | translate}}">
            </mat-form-field>
          </div>
          <div class="rs-changelog-details__section-content-row">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>{{'merchants.made-by' | translate}}</mat-label>
              <input formControlName="madeBy" matInput type="text" placeholder="{{'merchants.made-by' | translate}}">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="rs-changelog-details__section">
        <div class="rs-changelog-details__section-title">{{'merchants.change-details' | translate}}</div>
      </div>
      <div class="rs-changelog-details__table">
        <mat-table *ngIf="changelog" [dataSource]="changelog.changes" matSort>
          <ng-container matColumnDef="field">
            <mat-header-cell class="rs-changelog__table-date" *matHeaderCellDef mat-sort-header>{{'merchants.field' | translate}}</mat-header-cell>
            <mat-cell class="rs-changelog__table-date" *matCellDef="let change"><b>{{change.field}}</b></mat-cell> 
          </ng-container>
          <ng-container matColumnDef="from">
            <mat-header-cell class="rs-changelog__table-field" *matHeaderCellDef mat-sort-header>{{'merchants.from' | translate}}</mat-header-cell>
            <mat-cell class="rs-changelog__table-field" *matCellDef="let change">{{change.from}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="to">
            <mat-header-cell class="rs-changelog__table-action" *matHeaderCellDef mat-sort-header>{{'merchants.to' | translate}}</mat-header-cell>
            <mat-cell class="rs-changelog__table-action" *matCellDef="let change">{{change.to}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</app-popup>
