@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";

.rs-support-request__navigation-items {
  background-color: $gray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;

  &_item {
    margin: 10px 15px;

    ::ng-deep app-nav-item .rs-nav-item {
      @include size(250px, 250px);
      color: $black;
      font-size: 26px;
    }
  }
}