<div class="rs-support-request__navigation-items">
  <div class="rs-support-request__navigation-items_item" *ngFor="let navItem of navItems">
    <app-nav-item [navItem]="navItem"></app-nav-item>
  </div>
</div>
