<div class="rs-systems-health">
  <!-- <div class="rs-systems-health__info">
    <div class="rs-systems-health__info-positive">
      <mat-icon>info</mat-icon>
      <span>{{'support-requests.systems-health.what-is-working-out' | translate}}</span>
    </div>
    <div class="rs-systems-health__info-negative">
      <mat-icon>warning</mat-icon>
      <span>{{'support-requests.systems-health.what-is-not-working-out' | translate}}</span>
    </div>
  </div> -->
  <div class="rs-systems-health__filters">
    <app-button-filters [filters]="filters" (filter)="onButtonFilter($event)"></app-button-filters>
  </div>
  <div class="rs-systems-health__devices-availablitiy">
    <div class="rs-systems-health__devices-availablitiy__title">
      <div class="rs-systems-health__devices-availablitiy__title-left-delimitter"></div>
      <div class="rs-systems-health__devices-availablitiy__title-text">{{'support-requests.systems-health.devices-availability' | translate}}</div>
      <div class="rs-systems-health__devices-availablitiy__title-right-delimitter"></div>
    </div>
    <div class="rs-systems-health__devices-availablitiy-chart">
      <app-devices-availability-chart [chart]="devicesAvailabilityChart$ | async" (pointClick)="pointClick($event)"></app-devices-availability-chart>
    </div>
  </div>
  <div class="rs-systems-health__devices-status">
    <div class="rs-systems-health__devices-status-title">{{'support-requests.systems-health.devices-status' | translate}}</div>
    <app-devices-status-table [items]="filteredSource"></app-devices-status-table>
  </div>
</div>
