@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-systems-health {
  margin-top: -50px;

  &__info {
    font-size: 18px;
    color: $text;
    margin: 0px 180px;

    &-positive, &-negative {
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      margin: 10px;

      mat-icon {
        margin-right: 10px;
      }
    }
    &-positive {
      background-color: $table-hover;
    }

    &-negative {
      background-color: $light-orange;

      mat-icon {
        color: $red;
      }
    }

    @media(max-width: 1366px) {
      margin: 0px 110px
    }

    @media(max-width: $desktop) {
      margin: 0px 50px;
    }

    @media(max-width: $tablet) {
      margin: 20px 30px 0;
    }
  }

  &__filters {
    margin: 20px 195px;

    ::ng-deep {
      .rs-button-filters {
        &-item {
          &:nth-child(2) {
            @media(max-width: $tablet) {
              margin-left: 15px;
              margin-right: 15px;
            }
      
            @media(max-width: $mobile) {
              margin-left: unset;
              margin-right: unset;
            }
          }
      
          &:nth-child(3) {
            @media(max-width: $tablet) {
              margin-left: unset;
              margin-right: unset;
            }
          }
        }

        @media(max-width: $tablet) {
          flex-wrap: wrap;
          justify-content: center;
        }
      
        @media(max-width: $mobile) {
          justify-content: space-around;
        }
      }
    }

    @media(max-width: 1366px) {
      margin: 20px 120px;
    }

    @media(max-width: $desktop) {
      margin: 20px 70px;
    }

    @media(max-width: $tablet) {
      margin: 20px 40px 0;
    }
  }

  &__devices-availablitiy {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin: 20px 0;

    &__title {
      display: flex;
      align-items: center;
      margin: 20px 0px;

      &-right-delimitter, &-left-delimitter {
        flex-grow: 1;
        border: 1px solid $gray-2;
        border-radius: 10px;
      }

      &-right-delimitter {
        margin-right: 177px;
        margin-left: 15px;

        @media(max-width: 1366px) {
          margin-right: 100px;
        }

        @media(max-width: $desktop) {
          margin-right: 55px;
        }

        @media(max-width: $tablet) {
          margin-right: 25px;
        }
      }

      &-left-delimitter {
        margin-left: 177px;
        margin-right: 15px;

        @media(max-width: 1366px) {
          margin-left: 100px;
        }

        @media(max-width: $desktop) {
          margin-left: 55px;
        }

        @media(max-width: $tablet) {
          margin-left: 25px;
        }
      }

      &-text {
        font-size: 36px;
        font-weight: bold;
        color: $light-black-2;
      }
    }

    &-chart {
      background-color: $gray;
      width: 75%;
      min-width: 40%;
      margin: auto;

      @media(max-width: 1366px) {
        width: 80%;
      }

      @media(max-width: $tablet) {
        width: 90%;
      }
    }
  }

  &__devices-status {
    background-color: $gray;
    white-space: pre-wrap;
    margin: 47px 140px;

    &-title {
      font-size: 18px;
      font-weight: bold;
      margin-left: 20px;
      padding: 30px 30px 15px 15px;

      @media(max-width: 1366px) {
        margin-left: 5px;
      }

      @media(max-width: $desktop) {
        padding: 30px 30px 15px 15px;
      }
    }

    @media(max-width: 1366px) {
      margin: 47px 60px;
    }

    @media(max-width: $desktop) {
      margin: 47px 20px;
    }
  }
}
