<div class="rs-deployment-status">
  <div mat-dialog-title class="rs-tenants-deployment-status__title">
    <mat-icon>close</mat-icon>
    <span>{{'orchestrator-b2b.tenants-categories.view-deployment-status' | translate}}</span>
  </div>
  <div mat-dialog-content class="rs-tenants-deployment-status__content">
    <app-search></app-search>
    <app-data-table
      [items]="deploymentStatus$ | async"
      [columns]="columns"
      [isPaginator]="false"
    >
    </app-data-table>
  </div>
</div>
