@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-tenants-deployment-status {
  &__title {
    @include font($white, 28px, bold);
    display: flex;
    align-items: center;
    height: 70px;
    background-color: $text;

    mat-icon {
      @include size(28px, 28px);
      margin: 0 20px;
      font-size: 28px;
    }
  }

  &__content {
    padding: 50px;
    margin: 0;
    overflow: initial;

    app-search {
      ::ng-deep {
        mat-form-field {
          height: 60px;

          .mat-form-field-flex {
            height: 60px !important;
  
            .mat-form-field-prefix {
              top: 2px;
              width: 35px;

              @media(max-width: $mobile) {
                top: 1px;
                width: 30px;
              }
            }
  
            .mat-form-field-infix {
              margin-top: 3px;
              border-top: none;

              @media(max-width: $mobile) {
                margin-top: 7px;
              }
            }
          }
        }
      }
    }

    mat-table {
      margin-top: 25px;

      mat-header-cell:last-child,
      mat-cell:last-child {
        display: flex;
        justify-content: flex-end;
      }

      mat-header-cell {
        @include font($light-black, 14px, bold);
      }

      mat-cell {
        @include font($text, 14px, bold);

        .processed {
          @include font($customer-support-green-2, 14px, bold);
        }

        .pending {
          @include font($orange, 14px, bold);
        }
      }
    }
  }
}
