.title-holder {
    display: flex;
    border-bottom: 2px solid #eeeeee;
    padding-left: 40px;
    padding-right: 20px;
    >h2{
        flex: 1;
    }
    :first-child{
        flex: 2;
        text-align: left;
    }
}
.rows-holder {
    .rows-content{
        display: flex;
        height: 100px;
        padding-left: 40px;
        
        .mat-radio-group{
            flex: 3;
            margin-top: auto;
            margin-bottom: auto;
            display: grid;
            grid-template-columns: repeat(3, [col] 40px );
            grid-gap: 60px;
            margin: auto;
            justify-content: center;
        }
        >h3 {
            &:first-child{
                flex: 2;
                text-align: left;
                font-size: 22px;
            }
        }
        >* {
            margin-top: auto;
            margin-bottom: auto;
        }
        
        &:not(:last-child){
            border-bottom: 2px solid #eeeeee;
        }
        .table-form{
            margin-right: 10px;
        }
        .delete-button{
            margin-right: -50px;
            margin-left: -20px;
        }
    }
}
