<div class="table-component">
    <div class="title-holder">
        <h2 *ngFor="let col of columns;">{{col}}</h2>
    </div>
    <div class="rows-holder">
        <div class="rows-content" *ngFor="let key of getKeys();let i = index">
            <h3 *ngIf="!isArray(key.type)">{{key.displaySettings && key.displaySettings.name || key.name}}</h3>
            <mat-form-field *ngIf="isArray(key.type)" appearance="outline">
                <mat-label>Add new Allergen</mat-label>
                <input name="{{key.name}}{{index}}" [(ngModel)]="currentNewAllergen" (blur)="onBlurMethod()" matInput autocomplete="off" />
            </mat-form-field>
            <mat-radio-group [formControl]="getControlForKey(key)">
                <mat-radio-button *ngFor="let col of columns.slice(1);" [value]="col" ></mat-radio-button>
            </mat-radio-group>
            <button *ngIf="!key.type" class="close delete-button" mat-button (click)="remove(key)">X</button>
        </div>
    </div>
</div>