<div class="rs-layout" *ngIf="layoutVisibility">
  <div class="rs-layout__header">
    <app-header></app-header>
  </div>
  <div class="rs-layout__content d-flex">
    <app-side-nav *ngIf="!sideNavVisibility()"></app-side-nav>
    <router-outlet></router-outlet>
  </div>
</div>
