@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-layout__menu {
  width: 300px;
}
.rs-layout__content {
  background-color: $gray;
  min-height: calc(100vh - 88px);
}

@media(max-width: $desktop) {
  .rs-layout {
    &__header {
      position: fixed;
      width: 100%;
      z-index: 2;
    }
    &__content {
      padding-top: 88px;
      min-height: 100vh;
    }
  }
}

@media(max-width: $mobile) {
  .rs-layout {
    &__header {
      position: fixed;
      width: 100%;
      z-index: 2;
    }
    &__content {
      padding-top: 50px;
    }
  }
}
