<app-merchant-accordion-item caption="merchants.sales-information">
  <div class="rs-merchants-general-info" [formGroup]="salesForm">
    <div class="rs-merchants-general-info__section">
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.monthly-total-revenue' | translate}}</mat-label>
          <input appNumericControl formControlName="monthlyTotalRevenue" matInput type="text" placeholder="{{'placeholders.monthly-total-revenue' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.monthly-total-card-revenue' | translate}}</mat-label>
          <input appNumericControl formControlName="monthlyTotalCardRevenue" matInput type="text" placeholder="{{'placeholders.monthly-total-card-revenue' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.average-check' | translate}}</mat-label>
          <input appNumericControl formControlName="averageCheck" matInput type="text" placeholder="{{'placeholders.average-check' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.percentage-of-phone' | translate}}</mat-label>
          <input appNumericControl formControlName="mailPhoneTransactions" matInput type="text" placeholder="{{'placeholders.percentage-of-phone' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.percentage-of-internet' | translate}}</mat-label>
          <input appNumericControl formControlName="internetTransactions" matInput type="text" placeholder="{{'placeholders.percentage-of-internet' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.percentage-of-card-present' | translate}}</mat-label>
          <input appNumericControl formControlName="cardPresentTransactions" matInput type="text" placeholder="{{'placeholders.percentage-of-card-present' | translate}}">
        </mat-form-field>
      </div>
      <div class="rs-merchants-general-info__section-row d-flex">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>{{'placeholders.highest-card' | translate}}</mat-label>
          <input appNumericControl formControlName="highestCardTransactionYear" matInput type="text" placeholder="{{'placeholders.highest-card' | translate}}">
        </mat-form-field>
      </div>
    </div>
  </div>
</app-merchant-accordion-item>
