<div class="rs-transactions">
  <div class="rs-transactions__header d-flex align-items-center justify-content-between">
    <div class="rs-transactions__filter">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>{{'transactions.filter' | translate}}</mat-label>
        <mat-select [value]="transactionsOptions[0]">
          <mat-option *ngFor="let option of transactionsOptions" [value]="option">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="rs-transactions__header-actions d-flex" *ngIf="merchantProfile">
      <app-square-button color="primary" icon="launch" (click)="openExport()"></app-square-button>
      <app-square-button color="primary" icon="filter_alt" (click)="openFilters()"></app-square-button>
    </div>
  </div>
  <div class="rs-transactions__table" [class.rs-transactions__table_merchant-profile]="merchantProfile" *ngIf="tableVisibility()">
    <mat-table [dataSource]="sourceData" matSort>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.transaction-type' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">Refunded</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="merchant">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.merchant' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">{{transaction.merchant}}</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.transaction-id' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">
          <div class="rs-app__table-bold">{{transaction.id}}</div>
        </mat-cell> 
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.transaction-date-and-time' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">02/02/2020 at 10:57 AM</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.transaction-amount' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">$10.00</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.processing-cost' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">$1.00</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="netAmount">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.net-amount' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">$10.00</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="card">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.card' | translate}}</div>
        </mat-header-cell>
        <!-- <mat-cell *matCellDef="let transaction">{{transaction.cardInfo?.cardBrand}}</mat-cell>  -->
        <mat-cell *matCellDef="let transaction">Visa 0101</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="cardType">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.card-type' | translate}}</div>
        </mat-header-cell>
        <!-- <mat-cell *matCellDef="let transaction">{{transaction.cardInfo?.type}}</mat-cell>  -->
        <mat-cell *matCellDef="let transaction">Credit</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="batchId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.batch-id' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">12345678</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'transactions.status' | translate}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction">{{transaction.status}}</mat-cell> 
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header"></div>
        </mat-header-cell>
        <mat-cell *matCellDef="let transaction" class="d-flex justify-content-end">
          <app-square-button color="primary" icon="list_alt" appOpenTransactionReport></app-square-button>
          <app-square-button *ngIf="merchantProfile" color="primary" icon="attach_money" appOpenRefund></app-square-button>
        </mat-cell> 
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div class="rs-transactions__mobile" *ngIf="mobileItemsVisibility()">
    <div class="rs-transactions__mobile-item" *ngFor="let transaction of transactions">
      <app-transaction-mobile-item [transaction]="transaction"></app-transaction-mobile-item>
    </div>
  </div>
</div>
