@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-transactions {
  padding-top: 50px;

  &__filter {
    width: 260px;
  }
  &__header {
    margin-bottom: 30px;
    padding-right: 10px;

    &::ng-deep {
      .mat-form-field-flex {
        height: 60px;
      }
      .mat-select-value-text {
        font-size: 20px !important;
        font-weight: bold;
      }
      .mat-select-arrow {
        margin-right: 0 !important;
      }
      .mat-form-field-appearance-outline .mat-form-field-flex {
        padding-left: 20px !important;
      }
      .mat-form-field-infix {
        padding: 0 !important;
        margin: 0 !important;
        line-height: 37px;
      }
      .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.55em) scale(0.65) !important;
      }
    }
  }
  app-square-button:first-child {
    margin-right: 20px;
  }
  &::ng-deep {
    .rs-app__table-header {
      text-align: left;
    }
  }
  &__table {
    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
      padding-left: 10px;
    }
    mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
      padding-right: 10px;
    }
    mat-cell {
      word-break: break-all;
    }
    mat-header-cell {
      align-items: flex-start;
    }
    mat-header-cell:nth-child(1), mat-cell:nth-child(1) {
      flex-basis: 9%;
    }
    mat-header-cell:nth-child(2), mat-cell:nth-child(2) {
      flex-basis: 9%;
    }
    mat-header-cell:nth-child(3), mat-cell:nth-child(3) {
      flex-basis: 9%;
    }
    mat-header-cell:nth-child(4), mat-cell:nth-child(4) {
      flex-basis: 15%;
    }
    mat-header-cell:nth-child(5), mat-cell:nth-child(5) {
      flex-basis: 7%;
    }
    mat-header-cell:nth-child(6), mat-cell:nth-child(6) {
      flex-basis: 7%;
    }
    mat-header-cell:nth-child(7), mat-cell:nth-child(7) {
      flex-basis: 8%;
    }
    mat-header-cell:nth-child(8), mat-cell:nth-child(8) {
      flex-basis: 9%;
    }
    mat-header-cell:nth-child(9), mat-cell:nth-child(9) {
      flex-basis: 8%;
    }
    mat-header-cell:nth-child(10), mat-cell:nth-child(10) {
      flex-basis: 8%;
    }
    mat-header-cell:nth-child(11), mat-cell:nth-child(11) {
      flex-basis: 7%;
    }
    mat-header-cell:nth-child(12), mat-cell:nth-child(12) {
      flex-basis: 4%;
    }

    &_merchant-profile {
      mat-header-cell:nth-child(1), mat-cell:nth-child(1) {
        flex-basis: 8% !important;
      }
      mat-header-cell:nth-child(2), mat-cell:nth-child(2) {
        flex-basis: 10% !important;
      }
      mat-header-cell:nth-child(3), mat-cell:nth-child(3) {
        flex-basis: 15% !important;
      }
      mat-header-cell:nth-child(4), mat-cell:nth-child(4) {
        flex-basis: 7% !important;
      }
      mat-header-cell:nth-child(5), mat-cell:nth-child(5) {
        flex-basis: 7% !important;
      }
      mat-header-cell:nth-child(6), mat-cell:nth-child(6) {
        flex-basis: 7% !important;
      }
      mat-header-cell:nth-child(7), mat-cell:nth-child(7) {
        flex-basis: 12% !important;
      }
      mat-header-cell:nth-child(8), mat-cell:nth-child(8) {
        flex-basis: 8% !important;
      }
      mat-header-cell:nth-child(9), mat-cell:nth-child(9) {
        flex-basis: 9% !important;
      }
      mat-header-cell:nth-child(10), mat-cell:nth-child(10) {
        flex-basis: 7% !important;
      }
      mat-header-cell:nth-child(11), mat-cell:nth-child(11) {
        flex-basis: 10% !important;
      }
    }
  }
}

@media(max-width: $desktop) {
  .rs-transactions {
    .rs-app__table-header, mat-cell {
      font-size: 12px;
    }
    &__table {
      mat-header-cell:nth-child(9), mat-cell:nth-child(9) {
        flex-basis: 7%;
      }
      mat-header-cell:nth-child(11), mat-cell:nth-child(11) {
        flex-basis: 7%;
      }
      mat-header-cell:nth-child(12), mat-cell:nth-child(12) {
        flex-basis: 6%;
      }
    }
  }
}

@media(max-width: $laptop) {
  .rs-transactions {
    .rs-app__table-header, mat-cell {
      font-size: 10px;
    }
    &__mobile {
      &-item {
        margin-bottom: 20px;
      }
    }
    &__table {  
      &_merchant-profile {
        mat-header-cell:nth-child(1), mat-cell:nth-child(1) {
          flex-basis: 8% !important;
        }
        mat-header-cell:nth-child(2), mat-cell:nth-child(2) {
          flex-basis: 7% !important;
        }
        mat-header-cell:nth-child(8), mat-cell:nth-child(8) {
          flex-basis: 7% !important;
        }
        mat-header-cell:nth-child(11), mat-cell:nth-child(11) {
          flex-basis: 14% !important;
        }
      }
    }
  }
}

@media(max-width: $tablet) {
  .rs-transactions {
    ::ng-deep {
      .rs-app__mobile-content {
        flex-direction: column;
      }
      .rs-app__mobile-content-left {
        padding-right: 0;
      }
      .rs-app__mobile-content-right {
        padding-left: 0;
      }
    }
    &__mobile {
      width: 60%;
      margin: 0 auto;

      &-item {
        margin-bottom: 10px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-transactions {
    &__filter {
      width: 200px;
    }
    &__header {
      margin-bottom: 30px;
  
      &::ng-deep {
        .mat-form-field-flex {
          height: 60px;
        }
        .mat-form-field-label {
          font-size: inherit !important;
        }
        .mat-select-arrow {
          margin-top: inherit !important;
        }
        .mat-select-value-text {
          font-size: 15px !important;
          font-weight: bold;
        }
        .mat-select-arrow {
          margin-top: 7px !important;
        }
        .mat-form-field-infix {
          line-height: 24px;
        }
      }
    }
    &__mobile {
      width: 100%;

      &-item {
        margin-bottom: 10px;
      }
    }
  }
}
