<div class="rs-select-tenant-products">
  <div mat-dialog-title class="rs-select-tenant-products__title d-flex align-items-center">
    <mat-icon mat-dialog-close>close</mat-icon>
    <span>{{'orchestrator-b2b.tenants.add-product' | translate}}</span>
  </div>
  <div mat-dialog-content class="rs-select-tenant-products__content d-flex flex-column">
    <div class="rs-select-tenant-products__content__header">
      <app-search [placeholder]="'placeholders.search-products' | translate"
                  (search)="onSearch($event)">
      </app-search>
    </div>
    <div class="rs-select-tenant-products__content__products-list">
      <app-data-table [items]="filteredProductsNames"
                      [selectedItems]="selectedProductNames"
                      [columns]="columns"
                      [isPaginator]="false"
                      (select)="onTableSelectValues($event)">
      </app-data-table>
    </div>
    <div class="rs-select-tenant-products__content__save">
      <app-icon-button [caption]="'shared.save' | translate"
                       (click)="onSave()">
      </app-icon-button>
    </div>
  </div>
</div>
