<div class="rs-tenant-category-add-edit">
  <mat-tab-group>
    <mat-tab [label]="('orchestrator-b2b.tenants.info' | translate | uppercase)">
      <ng-template matTabContent>
        <app-tenant-info [infoType]="infoType"></app-tenant-info>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="('menu.products' | translate | uppercase)">
      <ng-template matTabContent>
        <app-tenant-products></app-tenant-products>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
