@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bu0nw3');
  src:  url('fonts/icomoon.eot?bu0nw3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bu0nw3') format('truetype'),
    url('fonts/icomoon.woff?bu0nw3') format('woff'),
    url('fonts/icomoon.svg?bu0nw3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-preview:before {
  content: "\e90a";
  color: #fff;
}
.icon-export:before {
  content: "\e90b";
  color: #fff;
}
.icon-delete:before {
  content: "\e906";
  color: #fff;
}
.icon-edit:before {
  content: "\e907";
  color: #fff;
}
.icon-filter:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-dashboard:before {
  content: "\e900";
}
.icon-editors:before {
  content: "\e901";
}
.icon-merchants:before {
  content: "\e902";
}
.icon-sales:before {
  content: "\e903";
}
.icon-staff:before {
  content: "\e904";
}
.icon-support:before {
  content: "\e905";
}
.icon-payment:before {
  content: "\e90c";
}
.icon-systems-health:before {
  content: "\e90d";
}
.icon-access-rights:before {
  content: "\e90e";
}
.icon-bluetooth-off:before {
  content: "\e90f";
  color: #999999;
  font-size: 25px;
}
.icon-bluetooth-active:before {
  content: "\e910";
  color: #00a7ef;
  font-size: 25px;
}
.icon-app .path1:before {
  content: "\e911";
  color: #999999;
  font-size: 25px;
}
.icon-app .path2:before {
  content: "\e912";
  color: #fff;
  position: relative;
  top: -3px;
  left: -21px;
}
.icon-android:before {
  content: "\e913";
  font-size: 25px;
  color: #999999;
}
.icon-clock:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e915";
}
.icon-import-data:before {
  content: "\e916";
  color: #00a7ef;
}
.icon-export-data:before {
  content: "\e917";
  color: #00a7ef;;
}
.icon-orchestrator-b2b:before {
  content: "\e918";
}
.icon-orchestrator-b2c:before {
  content: "\e919";
}
