<div class="rs-schedule-deployment">
  <div mat-dialog-title class="rs-schedule-deployment__title">
    <mat-icon>close</mat-icon>
    <span>{{'orchestrator-b2b.tenants-categories.schedule-deployment' | translate}}</span>
  </div>
  <div mat-dialog-content class="rs-schedule-deployment__content d-flex flex-column">
    <div class="rs-schedule-deployment__content__inputs d-flex flex-column">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput placeholder="Description" />
      </mat-form-field>
    </div>
    <div class="rs-schedule-deployment__content__datetime d-flex flex-column">
      <div class="rs-schedule-deployment__content__datetime_header">{{'orchestrator-b2b.tenants-categories.select-a-date-and-time' | translate}}</div>
      <div class="rs-schedule-deployment__content__datetime__inputs d-flex flex-row">
        <div class="rs-schedule-deployment__content__datetime__inputs__date-input">
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="rs-schedule-deployment__content__datetime__inputs__time-input">
          <mat-form-field appearance="outline" class="d-flex flex-row">
            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
            <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="rs-schedule-deployment__actions">
    <button mat-raised-button>
      <mat-icon>watch_later</mat-icon>
      <span>{{'orchestrator-b2b.tenants-categories.schedule-deployment' | translate}}</span>
    </button>
    <button mat-raised-button mat-dialog-close>{{'orchestrator-b2b.tenants-categories.skip-deployment' | translate}}</button>
  </div>
</div>
