@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";

.rs-schedule-deployment {
  &__content,
  &__actions {
    margin: 20px 70px;
  }

  &__title {
    @include font($white, 28px, bold);
    display: flex;
    align-items: center;
    height: 70px;
    background-color: $text;

    mat-icon {
      @include size(28px, 28px);
      margin: 0 20px;
      font-size: 28px;
    }
  }

  &__content {
    padding: 0;

    &__inputs {
      mat-form-field {
        margin: 20px 0;
      }
    }

    &__datetime {
      &_header {
        @include font($placeholder, 16px);
      }

      &__inputs {
        margin: 20px 0;

        

        &__date-input {
          input {
            @include font($text, 16px);
          }

          ::ng-deep mat-form-field {
            .mat-form-field-flex {
              display: flex;
              flex-direction: row-reverse;
              height: 60px;

              .mat-form-field-infix {
                border-top: 0;
                line-height: 40px;
              }

              .mat-form-field-suffix {
                margin-right: 15px;
                top: 5px;

                svg {
                  fill: $text;
                }
              }
            }
          }
        }

        &__time-input {
          input {
            @include font($text, 16px);
            margin-left: 15px;
          }

          ::ng-deep mat-form-field {
            .mat-form-field-flex {
              height: 60px;

              .mat-form-field-infix {
                display: flex;
                border-top: 0;
                line-height: 40px;
  
                ngx-material-timepicker-toggle {
                  margin-top: 2px;

                  svg {
                    fill: $text;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

   &__actions {
    button {
      @include size(260px, 50px);

      &:nth-child(1) {
        background-color: $blue;
        @include font($white, 16px, bold);

        mat-icon {
          margin-right: 10px;
        }
      }

      &:nth-child(2) {
        @include font($blue, 16px, bold);
      }
    }
  }
}
