@import "../../../../../shared/css/breakpoints.scss";

.rs-general-info {
  padding: 30px 0;

  &__changelog {
    margin-top: 40px;
  }
}

@media(max-width: $mobile) {
  .rs-general-info {
    padding: 10px 0;
  }
}
