<div class="rs-general-info">
  <div class="rs-general-info__accordion">
    <mat-accordion multi *ngIf="merchantProfile">
      <rs-legal-entity-information [merchant]="merchantProfile"></rs-legal-entity-information>
      <rs-bank-information [merchant]="merchantProfile"></rs-bank-information>
      <app-individual-owners-information [merchant]="merchantProfile"></app-individual-owners-information>
      <app-company-owners-information [merchant]="merchantProfile"></app-company-owners-information>
      <rs-sales-information [merchant]="merchantProfile"></rs-sales-information>
      <rs-restaurant-set-up [merchant]="merchantProfile"></rs-restaurant-set-up>
    </mat-accordion>
  </div>
  <div class="rs-general-info__changelog">
    <app-changelog-table [changelogItems]="changelog"></app-changelog-table>
  </div>
</div>
