<form class="rs-default-role-info" [formGroup]="formGroup" (submit)="onCreate()">
  <div class="rs-default-role-info__fields row">
    <div class="rs-default-role-info__fields__name"
         [ngClass]="{ 'col-6': (isCreated$ | async) || infoType === 'edit', 'col-12': !((isCreated$ | async) || infoType === 'edit') }">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.name' | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="(isCreated$ | async) || infoType === 'edit'"
         class="rs-default-role-info__fields__code col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.code' | translate}}</mat-label>
        <input matInput formControlName="code">
        <mat-error *ngIf="formGroup.get('code').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-default-role-info__fields__description col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="rs-default-role-info_actions">
    <button
      *ngIf="infoType === 'edit'"
      type="button"
      mat-raised-button
      appOpenConfirmation
      popupTitle="orchestrator-b2b.default-roles.delete-default-role-title"
      (accept)="onDelete()"
      caption="orchestrator-b2b.default-roles.delete-default-role-caption"
      acceptTitle="shared.Yes"
    >
      {{'orchestrator-b2b.default-roles.delete-default-role-title' | translate}}
    </button>
    <button *ngIf="infoType === 'add' && !(isCreated$ | async)" mat-raised-button type="submit">
      {{'orchestrator-b2b.default-roles.create-default-role-title' | translate}}
    </button>
  </div>
</form>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
