@import "../../../shared/css/colors.scss";
@import "../../../shared/css/mixins.scss";

.rs-action-message {
  &-title {
    @include font($white, 15px);
  }

  &-content {
    span {
      @include font($blue, 15px, bold);
    }
  }
}
