<div class="rs-additional-information" [formGroup]="additionalInformationForm">
  <div class="rs-additional-information__row" *ngIf="isSake()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.serving-style' | translate}}</mat-label>
      <mat-select formControlName="servingStyle">
        <mat-option *ngFor="let item of servingStyles" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="rs-additional-information__row" *ngIf="isWine()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.let-wine-breathe-in' | translate}}</mat-label>
      <mat-select formControlName="letWineBreathIn">
        <mat-option *ngFor="let item of letWineBreathIn" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="rs-additional-information__row" *ngIf="!isBerries()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.recommended-glassware' | translate}}</mat-label>
      <input formControlName="recommendedGlassware" matInput type="text" placeholder="{{'placeholders.recommended-glassware' | translate}}">
    </mat-form-field>
  </div>
  <div class="rs-additional-information__row rs-additional-information__row_double" *ngIf="isBeer()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.ebc' | translate}}</mat-label>
      <mat-select formControlName="EBC">
        <mat-option *ngFor="let item of EBC" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.ibu' | translate}}</mat-label>
      <mat-select formControlName="IBU">
        <mat-option *ngFor="let item of IBU" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="rs-additional-information__row" *ngIf="isBeer()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.lupus' | translate}}</mat-label>
      <input formControlName="lupus" matInput type="text" placeholder="{{'placeholders.lupus' | translate}}">
    </mat-form-field>
  </div>
  <div class="rs-additional-information__row" *ngIf="!isBerries()">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.pairing' | translate}}</mat-label>
      <input formControlName="pairing" matInput type="text" placeholder="{{'placeholders.pairing' | translate}}">
    </mat-form-field>
  </div>
  <div class="rs-additional-information__row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.extra-notes' | translate}}</mat-label>
      <input formControlName="extraNotes" matInput type="text" placeholder="{{'placeholders.extra-notes' | translate}}">
    </mat-form-field>
  </div>
</div>