@import "../../../shared/css/breakpoints.scss";

.rs-additional-information {
  &__row {
    display: flex;
    margin-bottom: 40px;

    &_double {
      mat-form-field:first-child {
        margin-right: 10px;
      }
      mat-form-field:last-child {
        margin-left: 10px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-additional-information {
    &__row {
      margin-bottom: 20px;

      &_double {
        flex-wrap: wrap;

        mat-form-field:first-child {
          margin-right: 0px;
          margin-bottom: 20px;
        }
        mat-form-field:last-child {
          margin-left: 0px;
        }
      }
    }
  }
}
