<div [formGroup]="fieldGroup.form" class="flex-input-fields">
    <div class="col-8">
        <div class="row">
            <app-global-property-wrapper  [class]="getKeyClass(subkey) || 'col-12'"  *ngFor="let subkey of key.keys" [key]="subkey" [fieldGroup]="fieldGroup"></app-global-property-wrapper>
        </div>
    </div>
</div>