@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/breakpoints.scss";
@import "../../../../../../../shared/css/mixins.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-default-roles {
  margin: 70px 120px;
  padding: 30px;
  background-color: $gray;

  ::ng-deep {
    app-search {
      .rs-search {
        width: 100%;
        margin: 30px 0 50px;

        .mat-form-field-prefix {
          @media(max-width: $mobile) {
            top: 3px;
          }
        }
  
        input {
          @media(max-width: $mobile) {
            position: relative;
            top: -3px;
          }
        }
  
        .mat-form-field-label {
          @media(max-width: $mobile) {
            margin-top: -13px !important;
          }
        }

        @media(max-width: $mobile) {
          margin: 30px 0;
        }
      }
    }

    mat-table {
      .form-check {
        @include size(26px, 26px);
  
        input {
          @include size(26px, 26px);
          margin-top: 0;
        }
      }

      mat-header-row {
        background-color: $gray;
        border-top: solid 1px $menu-border;

        @media(max-width: 1024px) {
          padding: 0 15px;
        }
  
        @media(max-width: $tablet) {
          padding: 0 7px;
        }
      }
  
      mat-row {
        border: none;

        &:nth-child(1) {
          border-top: solid 1px $menu-border;
        }
        
        &:nth-child(even) {
          background-color: $white;
        }

        @media(max-width: 1024px) {
          padding: 0 15px;
        }
  
        @media(max-width: $tablet) {
          padding: 0 7px;
        }
      }
  
      mat-header-cell,
      mat-cell {
        display: flex;
  
        &:last-of-type {
          @media(max-width: $desktop) {
            padding-right: 24px !important;
          }
  
          @media(max-width: 1024px) {
            padding-right: 0 !important;
          }
        }
      }
  
      mat-header-cell {
        @include font($light-black, 14px, bold);
      }
  
      mat-cell {
        &:nth-child(1),
        &:nth-child(3) {
          @include font($text, 14px, bold);
        }
  
        &:nth-child(2) {
          @include font($text, 14px);
        }

        &:last-child {
          justify-content: flex-end;
          padding-top: 10px;
          padding-bottom: 10px;
      
          .rs-pencil-icon {
            @include size(45px, 45px);
            display: inline-block;
            background-image: url('/assets/images/pencil.svg');
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }

        @media(max-width: 1024px) {
          word-break: break-all;
        }

        @media(max-width: $tablet) {
          height: 70px !important;
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 70px 60px;
  }

  @media(max-width: $tablet) {
    margin: 70px 30px;
  }
}
