@import "../../../shared/css/breakpoints.scss";

.rs-ratings {
  &__row {
    display: flex;
    margin-bottom: 40px;

    mat-form-field:first-child {
      margin-right: 10px;
      flex-basis: 55%;
    }
    mat-form-field:nth-child(2) {
      margin-left: 10px;
      flex-basis: 33%;
    }
    div {
      flex-basis: 12%;
      margin-top: -10px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-ratings {
    &__row {
      margin-bottom: 20px;

      mat-form-field {
        min-width: 100px;
      }
    }
  }
}
