<div class="rs-ratings">
  <div class="rs-ratings__row" *ngFor="let rating of ratings.value;let i = index;">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.rated-by' | translate}}</mat-label>
      <input [value]="rating.by" matInput type="text" placeholder="{{'placeholders.rated-by' | translate}}">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.rate-points' | translate}}</mat-label>
      <input appNumericControl [value]="rating.points" matInput type="text" placeholder="{{'placeholders.rate-points' | translate}}">
    </mat-form-field>
    <div class="d-flex justify-content-center align-items-center">
      <button mat-icon-button (click)="deleteRating(i);">
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="rs-ratings__row">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.rated-by' | translate}}</mat-label>
      <input matInput [(ngModel)]="newRatingBy" (keydown.enter)="addNewRating()" type="text" placeholder="{{'placeholders.rated-by' | translate}}">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>{{'placeholders.rate-points' | translate}}</mat-label>
      <input appNumericControl matInput [(ngModel)]="newRatingPoints" (keydown.enter)="addNewRating()" type="text" placeholder="{{'placeholders.rate-points' | translate}}">
    </mat-form-field>
    <div class="d-flex justify-content-center align-items-center"></div>
  </div>
</div>