@import "../../../shared/css/colors.scss";
@import "../../../shared/css/breakpoints.scss";

.rs-user-menu {
  width: 280px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 $shadow;
  border: solid 1px $shadow-border;
  background-color: white;
  color: $dark;
  padding: 5px 0px;
  font-size: 22px;
  position: relative;

  &__item {
    padding: 20px 0;
    border-bottom: 1px solid $menu-border;

    &-wrapper {
      padding: 0 20px;
      cursor: pointer;
      
      &:nth-child(2) .rs-user-menu__item {
        border: none;
      }
    }
  }
  &__triangle {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid $shadow-border;
    position: absolute;
    border-radius: 4px;
    transform: rotate(45deg);
    top: -12px;
    right: 12px;

    &-cover {
      width: 40px;
      height: 30px;
      background-color: white;
      position: absolute;
      top: 0px;
      right: 7px;
    }
  }
}

@media(max-width: $mobile) {
  .rs-user-menu {
    width: 200px;
    font-size: 17px;
  
    &__item {
      padding: 10px 0;
      border-bottom: 1px solid $menu-border;
  
      &-wrapper {
        padding: 0 20px;
      }
    }
    &__triangle {
      width: 20px;
      height: 20px;
      top: -9px;
    }
  }
}
