<div class="rs-user-menu">
  <div class="rs-user-menu__item-wrapper">
    <div class="rs-user-menu__item">{{'profile.my-profile' | translate}}</div>
  </div>
  <div class="rs-user-menu__item-wrapper" (click)="logout()">
    <div class="rs-user-menu__item">{{'profile.logout' | translate}}</div>
  </div>
  <div class="rs-user-menu__triangle"></div>
  <div class="rs-user-menu__triangle-cover"></div>
</div>