<div class="rs-default-role-add-edit">
  <mat-tab-group>
    <mat-tab [label]="('orchestrator-b2b.default-roles.info' | translate)" [disabled]="infoType === 'add' && !(isRoleCreated$ | async)">
      <ng-template matTabContent>
        <app-default-role-info [infoType]="infoType"></app-default-role-info>
      </ng-template>
    </mat-tab>
    <mat-tab [label]="('shared.PERMISSIONS' | translate)" [disabled]="infoType === 'add' && !(isRoleCreated$ | async)">
      <ng-template matTabContent>
        <app-default-role-permissions [infoType]="infoType"></app-default-role-permissions>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
