@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";

:host {
  width: 100%;
  background-color: $white;
}

.rs-default-role-add-edit {
  margin: 40px 130px;

  ::ng-deep {
    mat-tab-group {
      mat-tab-header {
        margin: 0 auto;

        .mat-tab-header-pagination-chevron {
          display: none;
        }

        @media(max-width: 1024px) {
          margin: auto;
        }
      }

      mat-tab-header {
        .mat-tab-label-content {
          @include font($text, 20px);
        }
      }

      mat-tab-body {
        .mat-tab-body-content {
          overflow: hidden;
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 40px 0;
  }
}
