<div class="rs-fee-mobile-item">
  <div class="rs-fee-mobile-item__title d-flex justify-content-between">
    {{fee.title}}
    <app-square-button
      icon="edit"
      color="primary"
      *ngIf="!isEdit"
      (click)="toggleIsEdit()"
    ></app-square-button>
    <app-square-button
      icon="save"
      color="primary"
      *ngIf="isEdit"
      rsOpenConfirmEditFee
      [fee]="fee"
      (close)="toggleIsEdit()"
      [disabled]="disabledSaveButton()"
    ></app-square-button>
  </div>
  <div class="rs-fee-mobile-item__items">
    <div 
      class="rs-fee-mobile-item__item"
      [class.rs-fee-mobile-item__item_active]="feeItem.selected"
      *ngFor="let feeItem of fee.items;let i = index;"
      [formGroup]="feeItemsForms[i]"
    >
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{feeItem.type}}
            <span class="rs-fee-mobile-item__item-active-title" *ngIf="feeItem.selected">({{'shared.active' | translate}})</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="rs-fee-mobile-item__item-content d-flex">
            <mat-form-field rsPercent appearance="outline">
              <mat-label>{{'fees.fee' | translate}} (%)</mat-label>
              <input placeholder="{{'fees.fee' | translate}} (%)" appNumericControl formControlName="percent" matInput>
              <div id="my-postfix">%</div>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>{{'fees.fee' | translate}} ($)</mat-label>
              <span matPrefix>$ &nbsp;</span>
              <input placeholder="{{'fees.fee' | translate}} ($)" rsPrice formControlName="price" matInput>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>