@import "../../../../shared/css/colors.scss";

.rs-fee-mobile-item {
  padding: 10px;

  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
  }
  &__item {
    margin-bottom: 15px;

    &-active-title {
      font-size: 13px;
      color: $light-gray;
    }
    &_active {
      transform: scale(1.02);
      font-weight: bold;
      
      mat-card {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.603);
      }
      &::ng-deep {
        input {
          font-weight: bold;
        }
        .mat-form-field-prefix {
          font-weight: bold;
        }
      }
      #my-postfix {
        font-weight: bold;
      }
    }
    &-content {
      justify-content: space-evenly;
      margin-top: 10px;
    }
  }
  &::ng-deep {
    #my-postfix {
      top: 18px;
    }
    .mat-radio-inner-circle, .mat-radio-outer-circle, .mat-radio-container {
      height: 30px !important;
      width: 30px !important;
    }
    .mat-radio-checked .mat-radio-inner-circle {
      transform: scale(.7);
    }
    .mat-radio-label {
      margin-bottom: 0;
    }
    .mat-form-field-flex {
      height: 60px;
      width: 104px;
    }
    input {
      font-size: 18px !important;
    }
    .mat-form-field-infix {
      border-top: none;
      padding-top: 1.2em;
    }
    .mat-form-field-prefix {
      font-size: 18px !important;
    }
    .mat-form-field-disabled {
      .mat-form-field-prefix, #my-postfix {
        color: #999999;
      }
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
      border-radius: 8px 0 0 8px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0 8px 8px 0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
      min-width: 8px;
    }
    .mat-form-field-appearance-outline .mat-form-field-prefix {
      top: 0;
      margin-right: -7px;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
      transform: translateY(-0.7em) scale(0.65);
    }
  }
}
