@import "../../../shared/css/mixins.scss";
@import "../../../shared/css/colors.scss";

.rs-data-table {
  ::ng-deep {
    mat-table {
      background-color: transparent;
      margin-top: 10px;
  
      mat-footer-row {
        &.hidden {
          display: none;
        }
      }
  
      mat-header-cell {
        padding-left: 30px;
        font-size: 18px;
        color: $table-header;
  
        .mat-sort-header-button[disabled="true"] {
          background-color: unset;
  
          .form-check {
            left: -3px;
          }
        }
    
        span {
          text-align: left;
        }
      }

      mat-cell {
        font-size: 18px;
        color: $black;
        height: 54px;
        padding-left: 30px;
    
        &.multiple-rows {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
        }

        .rs-datetime-text {
          .rs-delimiter {
            font-size: 12px;
            margin: 0 5px;
          }
        }

        .http-method {
          &_circle {
            @include size(10px, 10px);
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;

            &.http-method-get {
              background-color: $blue;
            }

            &.http-method-post {
              background-color: $customer-support-green-2;
            }

            &.http-method-put {
              background-color: $orange;
            }

            &.http-method-delete {
              background-color: $red;
            }
          }
        }
      }
  
      mat-footer-cell {
        padding: 0;
        font-size: 18px;
        
        &:nth-child(1) {
          display: flex;
          justify-content: center;
          width: 100%;
        }
    
        &:not(:nth-child(1)) {
          display: none;
        }
      }
  
      .rs-action {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }

    .rs-paginator {
      width: fit-content;
      position: relative;
      top: 15px;
      margin: auto;
      
      mat-paginator {
        background: inherit;
      }
    }
  }
}
