<div class="rs-data-table">
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.title">

      <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="column.isSortableDisabled">
        <ng-container *ngIf="column.valueType === 'select'">
          <div class="form-check ">
            <input
              id="checkbox-header-cell"
              class="form-check-input"
              type="checkbox"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [disabled]="isTableDisabled"
            >
            <label></label>
          </div>
        </ng-container>

        <ng-container *ngIf="column.headerType === 'icon' else columnHeaderText">
          <mat-icon>{{column.icon}}</mat-icon>
        </ng-container>

        <ng-template #columnHeaderText>
          <span>{{column.translationKey | translate}}</span>
        </ng-template>
      </mat-header-cell>

      <mat-cell *matCellDef="let item; let index = index">
        <ng-container *ngIf="column.valueType === 'select'">
          <div class="form-check">
            <input
              id="checkbox-cell"
              class="form-check-input"
              type="checkbox"
              (click)="$event.stopPropagation()"
              (change)="$event ? onChange(item) : null"
              [checked]="selection.isSelected(item)"
              [disabled]="isTableDisabled"
            >
            <label></label>
          </div>
        </ng-container>

        <ng-container *ngIf="column.valueType === 'action'">
          <div class="rs-action" *ngIf="column.actionType === 'squareButton'">
            <ng-container *ngIf="column.isDelete">
              <app-square-button
                [icon]="column.icon"
                color="primary"
                appOpenConfirmation
                [popupTitle]="column.popupTitle | translate"
                (accept)="onDelete(item)"
                [caption]="column.popupCaption | translate"
                [acceptTitle]="column.popupAcceptTitle | translate"
                [disabled]="isTableDisabled"
              >
              </app-square-button>
            </ng-container>

            <ng-container *ngIf="!column.isDelete && !column.parentInterractionAction">
              <app-square-button [icon]="column.icon" color="primary" [routerLink]="[item[column.actionDataKey], column.path]"></app-square-button>
            </ng-container>

            <ng-container *ngIf="!column.isDelete && column.parentInterractionAction">
              <app-square-button [icon]="column.icon" color="primary" (click)="onActionWithParentInterraction(item, column)"></app-square-button>
            </ng-container>
          </div>

          <div class="rs-action" *ngIf="column.actionType === 'customIcon'">
            <span [class]="column.icon" [routerLink]="[item[column.actionDataKey], column.path]"></span>
          </div>
        </ng-container>

        <ng-container *ngIf="column.valueType === 'dropdown'">
          <mat-form-field appearance="outline">
            <mat-select [value]="column.dropdownSelectedOption">
              <mat-option *ngFor="let dropdownOption of column.dropdownOptions" [value]="dropdownOption.value">{{dropdownOption.label}}</mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="column.valueType === 'radioButton'">
        <ng-container *ngIf="tableName === 'default-roles'">
          <mat-radio-group
            class="rs-radio-buttons"
            [class.rs-with-empty]="item.radioButtons.length === 2"
            [(ngModel)]="selectedItem"
          >
            <ng-container *ngIf="item.radioButtons.length === 2">
              <mat-radio-button></mat-radio-button>
            </ng-container>
            <mat-radio-button *ngFor="let radioButton of item.radioButtons" [value]="item[column.descriptiveColumnKey]">
              {{radioButton.label}}
            </mat-radio-button>
          </mat-radio-group>
        </ng-container>
        </ng-container>

        <ng-container *ngIf="column.valueType === 'link'">
          <a [routerLink]="[item[column.actionDataKey], column.path]">{{item[column.title]}}</a>
        </ng-container>

        <ng-container *ngIf="column.valueType === 'text'">
          <ng-container *ngIf="column.textType === 'datetime'">
            <div *ngIf="(tableName === 'accessRights' && item[column.title] === '-') else datetimeData" class="rs-datetime-text">
              <span>{{item[column.title]}}</span>
            </div>
            <ng-template #datetimeData>
              <div class="rs-datetime-text">
                <span>{{item[column.title] | datetime : 'ddd, MMM. DD YYYY'}}</span>
                <mat-icon *ngIf="tableName !== 'paymentTransactions'" class="rs-delimiter">fiber_manual_record</mat-icon>
                <span>{{item[column.title] | datetime : 'hh:mm:ss A'}}</span>
              </div>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="column.textType === 'bank-card'">
            <ng-container *ngIf="item[column.title] else emptyDataWithDash">
              <div *ngIf="item[column.title].brand === 'mastercard'" class="bank-card mastercard">
                <img src="assets/images/maestro.jpg" />
                <span>{{item[column.title].number}}</span>
              </div>
              <div *ngIf="item[column.title].brand === 'visa'" class="bank-card mastercard">
                <img src="assets/images/visa.jpg" />
                <span>{{item[column.title].number}}</span>
              </div>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="column.textType === 'http-method'">
            <div class="http-method">
              <span
                class="http-method_circle"
                appBehaviour
                [behaviourType]="'http-method'"
                [value]="item[column.title]"
              >
              </span>
              <span class="http-method_text">{{item[column.title] | translate}}</span>
            </div>
          </ng-container>

          <ng-container *ngIf="column.textType === 'simple'">
            <ng-container *ngIf="tableName === 'paymentTransactions' && !item[column.title] else simpleText">
              <ng-container *ngTemplateOutlet="emptyDataWithDash"></ng-container>
            </ng-container>

            <ng-template #simpleText>
              <span
                class="rs-text"
                appBehaviour
                [behaviourType]="getBehaviourType(tableName, column.title)"
                [value]="item[column.title]"
              >
                {{item[column.title] | translate}}
              </span>
            </ng-template>
          </ng-container>

          <ng-container *ngIf="column.textType === 'array'">
            <span class="rs-array-text" >
              {{item[column.title] | arrayToString : column.arrayItemTitle}}
            </span>
          </ng-container>

        </ng-container>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <span class="data-not-found">{{dataSource.data.length === 0 ? ('data-table.no-data-found' | translate) : ''}}</span>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnTitles"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnTitles;"></mat-row>
    <mat-footer-row [class.hidden]="dataSource.data.length !== 0" *matFooterRowDef="columnTitles"></mat-footer-row>
  </mat-table>
  <div *ngIf="isPaginator" class="rs-paginator">
    <mat-paginator
      #paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="setPagination()"
    >
    </mat-paginator>
  </div>
</div>

<ng-template #emptyDataWithDash>
  <div class="rs-emty-data">-</div>
</ng-template>
