<div class="rs-merchant-transactions">
  <div class="rs-merchant-transactions__header">
    <rs-module-header
      caption="menu.transactions"
      exportTitle="menu.transactions"
      filtersEndpoint="transactions-filters"
      placeholder="placeholders.search-transactions"
    ></rs-module-header>
  </div>
  <div class="rs-merchant-transactions__content">
    <app-transactions [transactions]="transactions"></app-transactions>
  </div>
</div>