@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-merchant-transactions {
  background-color: white;
  padding: 75px 40px;
  min-height: calc(100vh - 88px);
}

@media(max-width: $tablet) {
  .rs-merchant-transactions {
    padding: 30px 10px;
    background-color: $table-hover;
  }
}
