<app-popup>
  <div id="content">
    <div class="rs-add-item-form d-flex justify-content-center">
      <div class="rs-add-item-form__container">
        <div class="rs-add-item-form__title">{{ 'editors.add-new-one' | translate }}</div>
        <div class="rs-add-item-form__actions d-flex">
          <button
          class="rs-add-item-form__actions-button"
          mat-raised-button
          mat-dialog-close
          >{{'shared.cancel' | translate}}</button>
          <button
              class="rs-add-item-form__actions-button"
              mat-raised-button
              color="primary"
              [disabled]='fieldGroup.getInvalidKeys().length > 0'
              (click)="save()"
          >{{'editors.save' | translate}}</button>
        </div>
        <div class="rs-add-item-form__section row-right">
            <div class="col-8" ></div>
            <div class="rs-add-item-form__section-title col-4">{{'editors.status' | translate}}
            <div class="status-button" >
            <app-status [value]="status"></app-status>
        </div>
      </div>
          <!-- <form [formGroup]="newGlobalItemForm">
            <div class="rs-add-item-form__form-field">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>{{"editors.item-name" | translate}}</mat-label>
                <input matInput formControlName="name" type="text" placeholder="{{'editors.item-name' | translate}}" (keydown.enter)="save()" required>
              </mat-form-field>
            </div>
          </form> -->
        </div>
        <!-- AUTOGENERATE -->
        <app-global-field-group [index]="0" [key]="_itemDescriptor" [data]="item && item.metadata" [form]="newGlobalItemForm" [fieldGroup]="fieldGroup"></app-global-field-group>
      </div>
    </div>
  </div>
</app-popup>
