@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

::-webkit-scrollbar {
  height: 5px;
}
.status-button{
  padding-top: 20px;
}
.rs-add-item-form {
  padding-bottom: 60px;
  max-width: 960px;
  margin: auto;
  justify-items: center;
  text-align: center;
  
  .thumbnail:hover {
    transform: scale(2);
    position: absolute;
    z-index: 100;
  }

  &__general-packaged {
    margin-bottom: 28px;
  }

  form {
    width: 100%;
  }

  &__title {
    margin: 40px 0;
    font-size: 26px;
    color: $light-black;
    line-height: initial;
    font-weight: bold;
  }
  &__container {
    width: 95%;
  }
  &__actions {
    &-button {
      height: 70px;
      flex: 1;
      margin-right: 20px;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      box-shadow: 0 2px 4px 0 $shadow;
      border: solid 1px $shadow-border;

      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        color: white;
        border: 1px solid $gray-border;
        color: $blue;
      }
    }
  }
  &__section {
    padding: 40px 0;
    display: flex;

    &-title {
      font-size: 20px;
      font-weight: bold;
      color: $light-black;
      flex-basis: 35%;
    }
    &-content {
      flex-basis: 65%;
    }
  }
  &__control {
    margin-bottom: 40px;
  }
  &__img-wrapper {
    height: 130px;
    margin-right: 40px;
  }
  mat-radio-button {
    flex: 1;
  }
  &__attributes {
    margin-bottom: 10px;
    flex-wrap: wrap;

    &-item {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    & + button {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
  &__category {
    margin-bottom: 20px;

    & + button {
      width: 100%;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0;
    }
  }
}

@media(max-width: $desktop) {
  .rs-add-item-form {
    &__container {
      width: 90%;
    }
  }
}

@media(max-width: $laptop) {
  .rs-add-item-form {
    &__title {
      font-size: 30px;
      margin: 40px 0;
    }
    &__section {
      &-title {
        font-size: 18px;
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-add-item-form {
    &__control {
      margin-bottom: 20px;
    }
    &__title {
      font-size: 20px;
      margin: 20px 0;
    }
    &__section {
      padding: 20px 0;
      flex-direction: column;

      &-title {
        padding-top: 0;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    &__actions {
      margin-bottom: 30px;

      button {
        font-size: 17px;
      }
    }
    &__img-wrapper {
      margin-right: 15px;
      height: auto;

      &:last-child {
        margin-right: 0;
      }
    }
    &__attributes {
      & + button {
        font-size: 17px;
      }
    }
  }
}

.rs-editor-nav-button {
  position: fixed;
  margin: auto;
  height: 80px;
  width:80px;
  top: 0;
  bottom: 0;
  background-color: darkgray;
  opacity: 0.8;
  border-radius: 100%;
  font-size: 40px;
  font-weight: bold;
  color: white;
  cursor: pointer;

}

.rs-fixed-left {
  left: 1rem;
}
.rs-fixed-right {
  right: 1rem;
}
