<div class="rs-mobile-item">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{item.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="rs-mobile-item__content d-flex align-items-center">
        <div class="rs-mobile-item__content-info">
          <div class="rs-mobile-item__content-info-row d-flex">
            <div class="rs-mobile-item__content-info-key">{{'editors.frequency' | translate}}: </div>
            <div class="rs-mobile-item__content-info-value">{{item.frequency}}</div>
          </div>
          <div class="rs-mobile-item__content-info-row d-flex">
            <div class="rs-mobile-item__content-info-key">{{'editors.category' | translate}}: </div>
            <div class="rs-mobile-item__content-info-value">{{item.category}}</div>
          </div>
        </div>
        <div class="rs-mobile-item__content-status">
          <app-status [value]="item.status"></app-status>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="rs-mobile-item__footer">{{'editors.last-modified' | translate}} {{item.modified}} {{'editors.by' | translate}} {{item.lastEditedBy}}</div>
    </mat-card-actions>
  </mat-card>
</div>