@import "../../../shared/css/colors.scss";

.rs-mobile-item {
  &__footer {
    color: $light-gray;
    font-size: 12px;
    text-align: left;
  }
  &__content {
    &-info {
      font-size: 17px;

      &-row {
        margin-top: 5px;
      }
      &-key {
        margin-right: 5px;
      }
    }
    &>div {
      flex-basis: 50%;
    }
  }
}
