<div class="rs-merchants-list">
  <div class="rs-merchants-list__header">
    <rs-module-header
      caption="menu.merchants-list"
      exportTitle="menu.merchants-list"
      filtersEndpoint="merchants-filters"
      placeholder="placeholders.merchants"
      (search)="searchMerchants($event)"
    ></rs-module-header>
  </div>
  <div class="rs-merchants-list__content rs-app__table">
    <mat-table [dataSource]="dataSource" matSort *ngIf="tableVisibility()">
      <ng-container matColumnDef="name">
        <mat-header-cell class="rs-merchants-list__table-name" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.business-name' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-merchants-list__table-name" *matCellDef="let merchant">
          <div class="rs-app__table-bold">{{merchant.name}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="location">
        <mat-header-cell class="rs-merchants-list__table-location" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.location' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-merchants-list__table-location" *matCellDef="let merchant">{{merchant.location}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="id">
        <mat-header-cell class="rs-merchants-list__table-id" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.merchant-id' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-merchants-list__table-id" *matCellDef="let merchant">{{merchant.id}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell class="rs-merchants-list__table-status" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.merchant-status' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-merchants-list__table-status" *matCellDef="let merchant">{{merchant.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="plan">
        <mat-header-cell class="rs-merchants-list__table-plan" *matHeaderCellDef mat-sort-header>
          <div class="rs-app__table-header">{{'merchants.rockspoon-plan' | translate}}</div>
        </mat-header-cell>
        <mat-cell class="rs-merchants-list__table-plan" *matCellDef="let merchant">{{merchant.plan}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell class="rs-merchants-list__table-actions" *matHeaderCellDef></mat-header-cell>
        <mat-cell class="rs-merchants-list__table-actions" *matCellDef="let user;let i = index;">
          <app-square-button
            (click)="openMerchantPreview(user.id, $event)"
            icon="visibility"
            color="primary"
          ></app-square-button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row routerLink="/merchants/{{row.id}}" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="rs-merchants-list__mobile" *ngIf="mobileItemsVisibility()">
      <div class="rs-merchants-list__mobile-item" *ngFor="let merchant of displayedMerchants;let i = index;">
        <app-merchant-mobile-item routerLink="/merchants/{{merchant.id}}" [item]="merchant" (openPreviewEvent)="openMerchantPreview(i)"></app-merchant-mobile-item>
      </div>
    </div>
  </div>
</div>
<app-merchant-preview></app-merchant-preview>
