@import "../../../../shared/css/colors.scss";
@import "../../../../shared/css/breakpoints.scss";

.rs-merchants-list {
  padding: 60px 20px 150px 40px;
  background-color:white;
  min-height: calc(100vh - 88px);

  &__header {
    margin-bottom: 70px;
  }
  &__content {
    app-square-button {
      width: 40px;
      height: 40px;
    }
  }
  &__table {
    &-name {
      flex-basis: 20%;
    }
    &-location {
      flex-basis: 20%;
    }
    &-id {
      flex-basis: 12%;
    }
    &-status {
      flex-basis: 12%;
    }
    &-plan {
      flex-basis: 12%;
    }
    &-actions {
      flex-basis: 6%;
      justify-content: flex-end;
    }
  }
  &__mobile {
    display: none;
  }
}

@media(max-width: $desktop) {
  .rs-merchants-list {
    padding: 40px 20px;
  }
}

@media(max-width: $tablet) {
  .rs-merchants-list {
    background-color: $table-hover;
    
    &__header {
      flex-direction: column;
    }
    mat-table {
      display: none;
    }
    .rs-app__title {
      margin-bottom: 20px;
    }
    &__mobile-item {
      margin-bottom: 20px;
    }
    &__mobile {
      display: block;
    }
  }
}

@media(max-width: $mobile) {
  .rs-merchants-list {
    padding: 40px 10px;

    &__header {
      margin-bottom: 20px;
    }
  }
}
