<form class="rs-tenant-category-info" [formGroup]="formGroup" (ngSubmit)="onCreate()">
  <div class="rs-tenant-category-info__fields row">
    <div class="rs-tenant-category-info__fields__name col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.name' | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-tenant-category-info__fields__tags col-6">
      <mat-form-field appearance="outline">
        <mat-label>{{'orchestrator-b2b.tenants-categories.tags' | translate}}</mat-label>
        <app-input-with-chips formControlName="tags"
                              [autocompleteData]="tenantsCategoriesTagsNames$ | async"
                              (inputValueIsChanged)="handleNewTagInputChanges($event)">
        </app-input-with-chips>
        <mat-error *ngIf="formGroup.get('tags').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-tenant-category-info__fields__description col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  formControlName="description">
        </textarea>
      </mat-form-field>
    </div>
  </div>
  <div *ngIf="infoType === 'edit'" class="rs-tenant-category-info__delete-button">
    <button mat-raised-button
            type="button"
            appOpenConfirmation
            popupTitle="orchestrator-b2b.tenants-categories.delete-tenant-category-title"
            caption="orchestrator-b2b.tenants-categories.delete-tenant-category-caption"
            acceptTitle="shared.yes"
            (accept)="onDelete()">
      {{'orchestrator-b2b.tenants-categories.delete' | translate}}
    </button>
  </div>
  <div *ngIf="infoType === 'add' && !(isCreated$ | async) " class="rs-tenant-category-info__create-button">
    <button mat-raised-button type="submit">{{'orchestrator-b2b.tenants-categories.create' | translate}}</button>
  </div>
</form>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
