@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-tenant-category-info {
  margin: 50px 0;

  &__fields {
    & > div {
      margin: 20px 0;

      ::ng-deep mat-form-field {
        width: 100%;
        margin: 5px 0;

        mat-error {
          margin-top: 20px;
        }

        textarea, input {
          @include font($light-black, 18px);
          position: relative;
        }

        textarea {
          top: -13px;
          overflow: hidden;

          @media(max-width: 1024px) {
            top: -11px !important;
          }

          @media(max-width: $mobile) {
            top: -15px !important;
          }
        }

        input {
          top: -12px;

          @media(max-width: $mobile) {
            top: -10px !important;
          }
        }

        .mat-form-field-flex {
          height: 60px;
          line-height: 30px;

          .mat-form-field-label-wrapper {
            label {
              position: relative;
              top: 12px;

              @media(max-width: $mobile) {
                top: 3px;
              }
            }
          }
        }

        mat-chip-list {
          .mat-chip-list-wrapper {
            position: relative;
            top: -10px;

            mat-chip {
              @include font($light-black, 14px);
            }

            input {
              top: unset;

              @media(max-width: $mobile) {
                top: 3px !important;
              }
            }
          }

          &.empty {
            .mat-chip-list-wrapper {
              input {
                top: 3px;
              }
            }
          }
        }
      }

      &:nth-child(3) {
        ::ng-deep mat-form-field {
          .mat-form-field-flex {
            height: fit-content;

            .mat-form-field-label-wrapper {
              label {
                position: relative;
                top: 14px;

                @media(max-width: $mobile) {
                  top: unset;
                }
              }
            }
          }
        }
      }
    }
  }

  &__delete-button, &__create-button {
    button {
      @include size(350px, 50px);
      @include font($blue, 24px, bold);
      margin-top: 20px;
      padding: 5px;
    }
  }

  @media(max-width: 1024px) {
    margin: 50px;
  }

  @media(max-width: $tablet) {
    margin: 50px 30px;
  }
}

.badge {
  @include size(67px, 28px);
  background-color: $gray;
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($light-black, 14px);

  .close {
    margin-left: .25rem;
    color: inherit;
    @include font($light-black, 15px);
  }
}

::ng-deep .sn-title {
  font-size: 14px !important;
  line-height: unset !important;
}

::ng-deep .mat-dialog-container .rs-confirmation {
  &__title {
    @include font($black, 18px, bold);
    text-align: left !important;
    line-height: 1.44;
  }

  &__actions {
    margin-top: 50px !important;

    button:first-child {
      display: none;
    }
    button:last-child {
      @include size(130px, 50px);
    }
  }
}
