@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-select-permissions {
  &__title {
    @include font($white, 28px, bold);
    height: 70px;
    background-color: $text;

    mat-icon {
      @include size(28px, 28px);
      cursor: pointer;
      margin: 0 20px;
      font-size: 28px;
    }
  }

  &__content {
    padding: 10px 30px 30px;
    margin: 0;
    overflow: initial;

    &__header {
      ::ng-deep {
        mat-form-field {
          padding-left: 0;
          padding-right: 0;

          .mat-form-field-flex {
            height: 50px;
            align-items: center;
            margin-top: 0;
          }
    
          .mat-form-field-prefix > i {
            color: $blue;

            @media(max-width: $mobile) {
              top: -2px;
              position: relative;
            }
          }
    
          .mat-form-field-infix {
            top: -2px;
            border-top: 0;
            line-height: 1 !important;
    
            input {
              @include font($light-black, 18px);
            }
    
            mat-label {
              @include font($placeholder, 18px);
            }
    
            .mat-form-field-label-wrapper {
              @media(max-width: $mobile) {
                top: -6px;
              }
            }
    
            @media(max-width: $mobile) {
              line-height: normal;
            }
          }
  
          @media(max-width: $tablet) {
            width: 250px;
          }
        }

        app-search {
          padding-right: 0;
        }
      }
    }

    &__permissions-list {
      margin-top: 10px;

      ::ng-deep {
        mat-table {
          .form-check {
            @include size(26px, 26px);
      
            input {
              @include size(26px, 26px);
              margin-top: 0;
            }
          }

          mat-header-row {
            border-top: 1px solid $shadow;
          }
  
          mat-row {
            border: none;

            &:nth-child(odd) {
              background-color: $border;
            }
          }
  
          mat-header-cell, mat-cell {
            &:first-child {
              flex: unset;
              padding-left: 15px !important;
            }

            &:last-child {
              flex: 2;
            }
          }
  
          mat-header-cell {
            @include font($light-black, 14px, bold);
          }
  
          mat-cell {
            @include font($light-black, 14px);
  
            &:nth-child(2),
            &:nth-child(4) {
              @include font($light-black, 14px, bold);
            }

            &:nth-child(2),
            &:last-child {
              @media(max-width: $tablet) {
                word-break: break-all;
              }
            }
          }

          mat-footer-cell {
            height: 54px;
          }
        }
      }
    }

    &__save {
      ::ng-deep {
        .rs-filters {
          @include size(150px, 50px);
          margin: 20px 0;

          button {
            @include font($white, 24px, bold);
            background: $blue;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
