<div class="rs-select-permissions">
  <div mat-dialog-title class="rs-select-permissions__title d-flex align-items-center">
    <mat-icon mat-dialog-close>close</mat-icon>
    <span>{{'orchestrator-b2b.features.add-permissions' | translate}}</span>
  </div>
  <div mat-dialog-content class="rs-select-permissions__content d-flex flex-column">
    <div class="rs-select-permissions__content__header">
      <app-search [placeholder]="'placeholders.search-permissions' | translate" (search)="onSearch($event)"></app-search>
    </div>
    <div class="rs-select-permissions__content__permissions-list">
      <app-data-table
        [isTableDisabled]="(selectedVersion$ | async)?.isDisabled"
        [items]="filteredPermissions"
        [selectedItems]="data.permissions"
        [columns]="columns"
        [isPaginator]="false"
        (select)="selectedItems = $event"
      >
      </app-data-table>
    </div>
    <div class="rs-select-permissions__content__save">
      <app-icon-button [caption]="'shared.save' | translate" (click)="onSave()"></app-icon-button>
    </div>
  </div>
</div>
