@import "../../css/colors.scss";
@import "../../css/breakpoints.scss";

.rs-confirmation {
  padding: 80px 100px;

  &__title {
    font-size: 20px;
    text-align: center;
    color: $dark;
  
    &_bold {
      font-weight: bold;
    }
  }
  &__actions {
    margin-top: 84px;

    button {
      height: 60px;
      width: 280px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 24px;

      &:first-child {
        color: $blue;
      }
    }
  }
}

@media(max-width: $mobile) { 
  .rs-confirmation {
    padding: 10px;
  
    &__title {
      font-size: 16px;
    }
    &__actions {
      margin-top: 20px;
  
      button {
        height: 40px !important;
        width: 49%;
        font-size: 20px;
      }
    }
  }
}