<app-popup [caption]="dialogData.popupTitle" [black]="true">
  <div id="content">
    <div class="rs-confirmation">
      <div class="rs-confirmation__title">{{dialogData.caption | translate}} <span class="rs-confirmation__title_bold">{{dialogData.highlighted}}</span>?</div>
      <div class="rs-confirmation__actions d-flex justify-content-between">
        <button mat-raised-button mat-dialog-close>{{dialogData.declineTitle | translate}}</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true">{{dialogData.acceptTitle | translate}}</button>
      </div>
    </div>
  </div>
</app-popup>