@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-devices {
  padding-top: 30px;
  padding-bottom: 50px;

  &__header {
    app-square-button {
      margin-left: 20px;
    }
  }
  .rs-app__merchant-profile-title {
    padding-right: 50px;
  }
  &__mobile {
    &-item {
      margin-bottom: 10px;
    }
  }
  &__content {
    mat-header-cell:nth-child(1), mat-cell:nth-child(1) {
      flex-basis: 15%;
    }
    mat-header-cell:nth-child(2), mat-cell:nth-child(2) {
      flex-basis: 30%;
    }
    mat-header-cell:nth-child(3), mat-cell:nth-child(3) {
      flex-basis: 13%;
    }
    mat-header-cell:nth-child(4), mat-cell:nth-child(4) {
      flex-basis: 13%;
    }
    mat-header-cell:nth-child(5), mat-cell:nth-child(5) {
      flex-basis: 13%;
    }
    mat-header-cell:nth-child(6), mat-cell:nth-child(6) {
      flex-basis: 15%;
    }
  }
}

@media(max-width: $desktop) {
  .rs-devices {
    .rs-app__table-header, mat-cell {
      font-size: 13px !important;
    }
  }
}

@media(max-width: $laptop) {
  .rs-devices {
    .rs-app__table-header, mat-cell {
      font-size: 12px !important;
    }
    &__mobile {
      &-item {
        width: 60%;
        margin: 20px auto;

        &::ng-deep {
          .rs-app__mobile-content {
            flex-direction: column;
          }
          .rs-app__mobile-content-left {
            padding-right: 0;
          }
          .rs-app__mobile-content-right {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media(max-width: $mobile) {
  .rs-devices {
    &__mobile {
      padding: 0 10px;

      &-item {
        width: 100%;
      }
    }
  }
}
