<div class="rs-devices">
  <div class="rs-devices__header">
    <div class="rs-app__merchant-profile-title d-flex justify-content-between align-items-center">
      {{'devices.devices-list' | translate}}
      <div class="rs-devices__header-actions d-flex">
        <app-square-button color="primary" icon="launch" (click)="openExport()"></app-square-button>
        <app-square-button color="primary" icon="filter_alt" (click)="openFilters()"></app-square-button>
      </div>
    </div>
    <div class="rs-devices__content">
      <mat-table *ngIf="tableVisibility()" [dataSource]="sourceData" matSort>
        <ng-container matColumnDef="terminalID">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'devices.terminal-id' | translate}}</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let device">
            <div class="rs-app__table-bold">{{device.terminalID}}</div>
          </mat-cell> 
        </ng-container>
        <ng-container matColumnDef="locationAddresses">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'devices.location-addresses' | translate}}</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let device">{{device.locationAddresses}}</mat-cell> 
        </ng-container>
        <ng-container matColumnDef="venue">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'devices.venue' | translate}}</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let device">{{device.venue}}</mat-cell> 
        </ng-container>
        <ng-container matColumnDef="brand">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'devices.brand' | translate}}</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let device">{{device.brand}}</mat-cell> 
        </ng-container>
        <ng-container matColumnDef="model">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'devices.model' | translate}}</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let device">{{device.model}}</mat-cell> 
        </ng-container>
        <ng-container matColumnDef="serialNumber">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="rs-app__table-header">{{'devices.serial-number' | translate}}</div>
          </mat-header-cell>
          <mat-cell *matCellDef="let device">{{device.serialNumber}}</mat-cell> 
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="rs-devices__mobile" *ngIf="mobileItemsVisibility()">
        <div class="rs-devices__mobile-item" *ngFor="let device of devices">
          <app-device-mobile-item [device]="device"></app-device-mobile-item>
        </div>
      </div>
    </div>
  </div>
</div>