@import "../../../../../shared/css/colors.scss";
@import "../../../../../shared/css/mixins.scss";
@import "../../../../../shared/css/breakpoints.scss";

.rs-support-request-batches {
  background-color: $gray;

  ::ng-deep {
    app-section-header {
      .rs-support-request-header {
        padding-top: 40px;
        padding-left: 40px;

        @media(max-width: $desktop) {
          padding-left: 30px;
        }
      }
    }

    app-data-table {
      @include customer-support-table;

      .rs-data-table {
        padding: 0 20px 35px 30px;
      }

      mat-header-row,
      mat-row {
        padding-left: 30px;
        padding-right: 21px;

        @media(max-width: $desktop) {
          padding-left: 20px;
          padding-right: 10px;
        }
      }

      mat-footer-row {
        mat-footer-cell:not(:nth-child(1)) {
          display: none;
        }

        mat-footer-cell:nth-child(1) {
          display: flex;
          justify-content: center;
        }
      }

      mat-header-cell {
        display: flex;
        align-items: flex-start;

        @media(max-width: 1024px) {
          word-break: break-all;
        }
      }
      
      mat-header-cell:nth-child(1),
      mat-cell:nth-child(1) {
        flex: 3;
      }

      mat-cell {
        color: $black;

        &:nth-child(1) {
          .rs-datetime-text {
            mat-icon {
              @media(max-width: $tablet) {
                display: none;
              }
            }

            @media(max-width: $tablet) {
              display: flex;
              flex-direction: column;
            }
          }
        }
    
        &:nth-child(1),
        &:nth-child(3) {
          font-weight: bold;
        }
    
        &:nth-child(3) {
          a {
            text-decoration: underline;
            color: $black;
          }
        }

        @media(max-width: 1366px) {
          word-break: break-all;
        }
      }
    }
  }
}
