<div class="rs-support-request-batches">
  <app-section-header
    [titleTranslationKey]="headerTitleKey"
    [searchPlaceholderTranslationKey]="headerSearchPlaceholderKey"
    [filtersEndpoint]="filtersEndpoint"
    (search)="onSearch($event)"
  >
  </app-section-header>
  <app-data-table
    [items]="filteredSource"
    [columns]="displayedColumns"
    [totalItems]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [isPaginator]="false"
  >
  </app-data-table>
</div>
