@import "../../../../../../../shared/css/colors.scss";
@import "../../../../../../../shared/css/mixins.scss";
@import "../../../../../../../shared/css/breakpoints.scss";

.rs-feature-info {
  margin: 30px 0;

  &__fields {
    & > div {
      margin: 20px 0;

      mat-form-field {
        width: 100%;

        mat-error {
          margin-top: 20px;
        }
      }
    }

    ::ng-deep mat-form-field {
      textarea, input {
        @include font($light-black, 18px);
        position: relative;
      }

      textarea {
        top: -13px;
        overflow: hidden;

        @media(max-width: 1024px) {
          top: -11px !important;
        }

        @media(max-width: $mobile) {
          top: -15px !important;
        }
      }

      input {
        top: -8px;

        @media(max-width: $mobile) {
          top: -10px !important;
        }
      }

      .mat-form-field-flex {
        height: fit-content;
        line-height: 30px;

        .mat-form-field-label-wrapper {
          top: -17px;
        }
      }
    }

    &_actions {
      padding-left: 16px;

      button {
        @include size(250px, 50px);
        @include font($blue, 24px, bold);
        padding: 5px;
      }
    }
  }

  &__delimiter {
    margin: 30px 0;
    height: 1px;
    background-color: $gray-border;
  }

  &__data-table {
    ::ng-deep {
      app-data-table {
        mat-table {
          margin-top: 20px;
          background-color: $gray;
          border-radius: 8px;
          padding: 20px;

          mat-row {
            &:nth-child(odd) {
              background-color: $white;
            }
          }

          mat-header-cell,
          mat-cell {
            padding-left: 15px !important;
          }

          mat-header-cell {
            @include font($light-black, 14px, bold);
          }

          mat-cell {
            @include font($text, 14px, bold);
          }
        }
      }
    }
  }

  @media(max-width: 1024px) {
    margin: 50px;
  }

  @media(max-width: $tablet) {
    margin: 50px 30px;
  }
}

::ng-deep .sn-title {
  font-size: 15px !important;
  line-height: unset !important;
}

::ng-deep .mat-dialog-container .rs-confirmation {
  &__title {
    @include font($black, 18px, bold);
    text-align: left !important;
    line-height: 1.44;
  }

  &__actions {
    margin-top: 50px !important;

    button:first-child {
      display: none;
    }
    button:last-child {
      @include size(130px, 50px);
    }
  }
}
