<div class="rs-feature-info">
  <form class="rs-feature-info__fields row" [formGroup]="formGroup" (submit)="onCreate()">
    <div class="rs-feature-info__fields__name"
         [ngClass]="{ 'col-9': (isCreated$ | async) || infoType === 'edit', 'col-12': !((isCreated$ | async) || infoType === 'edit') }">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.name' | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="formGroup.get('name').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="(isCreated$ | async) || infoType === 'edit'"
         class="rs-feature-info__fields__code col-3">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.code' | translate}}</mat-label>
        <input matInput formControlName="code">
        <mat-error *ngIf="formGroup.get('code').hasError('required')">{{'forms.required' | translate}}</mat-error>
      </mat-form-field>
    </div>
    <div class="rs-feature-info__fields__description col-12">
      <mat-form-field appearance="outline">
        <mat-label>{{'shared.description' | translate}}</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="description"></textarea>
      </mat-form-field>
    </div>
    <div class="rs-feature-info__fields_actions">
      <button
        *ngIf="infoType === 'edit'"
        type="button"
        mat-raised-button
        appOpenConfirmation
        popupTitle="orchestrator-b2b.features.delete"
        caption="orchestrator-b2b.features.delete-confirmation"
        acceptTitle="shared.Yes"
        (accept)="onDelete()"
      >
        {{'orchestrator-b2b.features.delete' | translate}}
      </button>
      <button *ngIf="infoType === 'add' && !(isCreated$ | async)" mat-raised-button type="submit">
        {{'orchestrator-b2b.features.create-feature-title' | translate}}
      </button>
    </div>
  </form>
  <div *ngIf="infoType === 'edit'" class="rs-feature-info__delimiter"></div>
  <div *ngIf="infoType === 'edit'" class="rs-feature-info__data-table">
    <app-section-header [title]="'orchestrator-b2b.features.related-products'"></app-section-header>
    <app-data-table [items]="relatedProducts$ | async" [columns]="columns" [isPaginator]="false"></app-data-table>
  </div>
</div>

<ng-template #actionMessage let-title="title">
  <app-auto-save-notification-template [title]="title"></app-auto-save-notification-template>
</ng-template>
